<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-8 border border-secondary pt-3 text-light">
            {% if __text is not empty %}
                <p class="bg-gray">{{ __text | raw }}</p>
            {% endif %}
            <p class="bg-gray">[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container episode">
    <section class=" container py-2">
        [%breadcrumbs%]
    </section>
    <div class="text-center text-secondary border border-secondary bg-light my-2">
        <h5>{{ titleRu }}</h5>
        <small class="text-dark">{{ titleEn }}</small>
        <div class="col-12 text-center">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="badge badge-fadge">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                    width="100%" height="700px" allowfullscreen></iframe>
        </div>
    </div>
</section>
[%youtube_adding%]