<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-8 border border-secondary pt-3 text-light">
            {% if __text is not empty %}
                <p class="bg-gray">{{ __text | raw }}</p>
            {% endif %}
            <p class="bg-gray">[[seo_text]]</p>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for item in items %}
            <div class="row col-lg-4 col-md-4 col-sm-6 col-xs-6 massacre-style">
                <img src="{{ item.photo }}" alt="{{ item.titleRu }}"/>
                <div class="col-7 text-right text-light div-content pt-5 pr-4">
                    <a href="{{ item.__link  }}"><h5>{{ item.titleRu }}</h5></a>
                    <ul>
                        <li><em>IMdb: <i class="far fa-star"></i> {{ item.imdbRating }}/10</em>
                        <li><em>Kinopoisk: <i class="far fa-star"></i> {{ item.kinopoiskRating }}/10</em>
                        <li>{% if item.__tags is defined %}
                                {% for tag in item.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-fadge">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}</li>
                    </ul>
                </div>
                <div class="col-5 pt-lg-4 pt-md-4 pt-sm-3 pt-xs-3">
                    <a href="{{ item.__link }}"><i class="far fa-play-circle fa-2x m-1"></i>
                        <img src="{{ item.photo }}" alt="{{ item.titleRu }}"/>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>