<section class="container-fluid">
    <div class="row">
    <div class="col-12">
        <h1 class="text-center">[[seo_h1]]</h1>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            [%movies_list#6%]
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-8 border border-secondary pt-3 text-light">
            <p class="bg-gray">[[seo_text]]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            [%tv_series_list#6%]
        </div>
    </div>
</section>