<section>
    <h2>{{ name }}</h2>
    <section class="row">
        {% for artist in artists %}
            <div class="col-md-6">
                <a href="{{ artist.__link }}">
                    <img class="card-img-top img-responsive" src="{{ artist.photo }}" alt="{{ artist.name }}">
                    <div class="my-4 bg-success rounded">
                        <h5 class="rounded py-1 bg-success text-light text-center">
                            {{ artist.name }}
                        </h5>
                        <div class="text-dander text-center bg-light py-3">
                            {{ artist.totalAlbums }} альбомов,  {{ artist.listeners }} слушателей
                        </div>
                    </div>
                    <div class="bg-light rounded text-center text-dark py-3 my-4">
                        <div>
                            {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badge badge-success">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            <hr>

        {% endfor %}
    </section>
    {% if pages|length > 0 %}
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{ pages[1].url }}">Ещe артисты &rarr;</a>
        </div>
    {% endif %}
</section>