<ul class="navbar-nav">
    {% for nav in links %}
        <li class="nav-item active">
            <a class="nav-link rounded text-center text-dark" href="{{ nav.__link }}">{{ nav.name }}
                <span class="sr-only">(current)</span>
            </a>
        </li>
    {% endfor %}
</ul>