<section class="container pt-3 pb-3">
    <div class="row">
        <img src="{{ photo }}" alt="{{ name }}">
        <h3>{{ name }}</h3>
    </div>
    <div class="row">
        {% for artist in items %}
            <!-- post -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="post post-thumb">
                    <a class="post-img" href="{{ artist.__link }}">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                    </a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="active">
                    {% else %}
                        <li class="gray">
                    {% endif %}
                    <a class="" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>