<section class="container">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5><small>{{ artistName }}</small> {{ name }}</h5>
            <div class="row">
                <div class="col-md-10">
                    <audio src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls
                           preload="none"></audio>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-secondary" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if __relations is defined %}
                        {% for relation in __relations %}
                            <a href="{{ relation.__link }}">{{ relation.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>