<div class="uk-container">
    <h2 class="uk-heading-primary top-list">Топ {{ total }} <span>треков</span></h2>
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        {% for track in tracks %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m uk-animation-slide-top-small">
                <h3 class="uk-card-title">{{ track.name }}</h3>
                <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                <p>
                    <a href="{{ track.__link }}" class="uk-button uk-button-default">Перейти</a>
                </p>
            </div>
        {% endfor %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>