<section class="container-fluid">
    <div class="row first-block mt-5">
        <div class="col-12">
            <h1 class="text-center py-5">[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container main-background">
    <div class="row py-4 pl-2">
        <div class="col-12 text-center">
            <h3>{{ titleRu }}</h3>
            <small>{{ titleEn }}</small>
            <div class="py-2">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-light">
                            {{ tag.name }}
                        </a>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 text-center align-self-center">
        </div>
    </div>
    <section class=" container py-2">
        [%breadcrumbs%]
    </section>
    <section class="container episode">
        <div class="row">
            <div class="col">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                        width="100%" height="700px" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</section>
<section class="container-fluid">
    <div class="row first-block mt-5">
        <div class="col-12">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
[%youtube_adding%]