<section class="container-fluid">
    <div class="row first-block mt-5 pt-5">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row block-height content-block pt-1">
        <div class="col-12 order-3">
            <div id="roller-box">
                <div id="content">
                    <p>[[seo_text]]</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <ul class="nav nav-pills justify-content-center nav-styling" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active light-side" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="false">Фильмы</a>
                </li>
                <li class="nav-item dark-side">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="true">Сериалы</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    [%movies_list#6%]
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel"
                     aria-labelledby="profile-tab">
                    [%tv_series_list#6%]
                </div>
            </div>
        </div>
    </div>
</section>
