<section class="container-fluid">
    <div class="row first-block mt-5 pt-5">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container main-background section-height">
    <div class="row py-4 pl-2">
        <div class="col-12 text-center">
            <div class="py-2">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-light">
                            {{ tag.name }}
                        </a>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 text-center align-self-center">
        </div>
    </div>
    <section class=" container py-2">
        [%breadcrumbs%]
    </section>
    <div class="container episode">
        <div class="row">
            <div class="row col-12">
                {% for episode in episodes %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                        <a href="{{ episode.__link }}" class="button btn-secondary">
                            <p class="py-2">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <section class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center py-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 d-flex justify-content-center py-3">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row first-block mt-5">
        <div class="col-12">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>