<section class="container-fluid">
    <div class="row first-block mt-5 pt-5">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container main-background section-height">
    <div class="row py-4 pl-2">
        <div class="row col-12">
            <div class="col-6 text-center">
                <div class="rates py-2">
                    <em>IMdb: <i class="fas fa-star"></i> <b>{{ imdbRating }}</b>/10</em>
                </div>
                <div class="img-deco">
                    <img src="{{ photo }}"/>
                </div>
            </div>
            <div class="col-6">
                <h4 class="text-light">{{ titleRu }}</h4>
                <small>{{ titleEn }}</small>
                <div class="py-2">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-light">
                                {{ tag.name }}
                            </a>

                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <section class=" container py-2">
        [%breadcrumbs%]
    </section>
    <div class="container episode">
        <div class="row">
            <div class="row col-12 py-3">
                {% for index,season in seasons %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                        <a href="{{ season.__link }}" class="btn-style">
                            <p class="py-2">{{ season.season }} Сезон</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row first-block mt-5">
        <div class="col-12">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
[%youtube_adding%]