<section class="container-fluid list-screen">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pt-5">
            <h1>[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p class="list-seo pl-2 ml-2">{{ __text | raw }}</p>
            {% endif %}

            <p class="list-seo pl-2 ml-2 mt-5">[[seo_text]]</p>
        </div>
    </div>
    <div class="row pt-5 mt-5">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    {% for artist in artists %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-2
                                    d-flex justify-content-xs-center justify-content-sm-center
                                    justify-content-md-start justify-content-lg-start">
                            <div>
                                <a href="{{ artist.__link }}" class="name">{{ artist.name }}</a>
                                <div>
                                    {% if artist.__tags is defined %}
                                        {% for tag in artist.__tags %}
                                            <a href="{{ tag.__link }}" class="badge badge-secondary">{{ tag.name }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <a href="{{ artist.__link }}" class="text-light">
                                    <div class="photo">
                                        <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <section class="container-fluid mt-5">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>