<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center my-1">
<a href="{{ season.__link }}" class="season-link">
    <h3>{{ season.name }} - Сезон {{ season.season }}</h3>
</a>
</div>