<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ name }}</h3>
            </div>
        </div>
        <!-- row -->
        <div id="hot-post" class="row hot-post">
            <div class="col-md-12 hot-post-right row">
                {% for artist in artists %}
                    <!-- post -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="post post-thumb">
                            <a class="post-img" href="{{ artist.__link }}">
                                <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                            </a>
                            <div class="post-body">
                                <h3 class="post-title"><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                                {% if artist.__tags is defined %}
                                    <ul class="post-meta">
                                        {% for tag in artist.__tags %}
                                            <li>
                                                <a href="{{ tag.__link }}">
                                                <span class="badge badge-default">{{ tag.name }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                {% endfor %}
            </div>
        </div>
        <!-- /row -->
        {% if pages|length > 0 %}
            <div class="row">
                <div class="col">

                    <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                        <a href="{{ pages[1].url }}">
                            <button type="button" class="btn btn-block btn-info">Больше</button>
                        </a></div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
