<section class="facilities-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-80 header-text">
                <h3>{{ name }}</h3>
            </div>
        </div>
        <div class="row">
            {% for track in tracks %}
                <div class="sigle-facilities col-lg-4 col-md-6">
                    <h4><a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a></h4>
                    <p>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </p>
                </div>
            {% endfor %}

        </div>
        {% if pages|length > 0 %}
        <div class="row">
            <div class="col">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px"><a
                            href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-block btn-info ">Больше</button>
                    </a></div>
            </div>
        </div>
        {% endif %}
    </div>
</section>