<div class="footer-widget">
    <div class="tags-widget">
        <ul>
            {% for link in links %}
                <li><a href="{{ link.link }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>