{% if links is defined %}
    <nav aria-label="breadcrumb bg-dark">
        <ul class="breadcrumb bg-dark">
            {% for link in links %}
                <li class="breadcrumb-item text-light"><a href="{{ link.uri }}"class="text-light">
                        {{ link.title }}
                    </a></li>
            {% endfor %}
            <li class="breadcrumb-item active text-secondary">{{ active.title }}</li>
        </ul>
    </nav>
{% endif %}