<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-func.js"></script>
    <!--[if IE 6]><link rel="stylesheet" href="/css/ie6.css" type="text/css" media="all" /><![endif]-->
    </head>
    <body>
    [[ad_block_top]]
    <!-- START PAGE SOURCE -->
    <div class="container">
        <div id="header">
            <a href="/" id="logo">{{domain}}</a>
            <div id="navigation">
                [%nav_links%]
            </div>
        </div>
        <div style="clear:both;"></div>

        <div id="main">
            <h1>[[seo_h1]]</h1>

        {{ template | raw }}

        </div>
        {% if __text is not empty %}
            <div style="color:#fff">{{ __text | raw }}</div>
        {% endif %}
        <div style="color:#fff">
            [[seo_text]]
        </div>
        <div id="footer">
            <p class="lf">Copyright &copy; 2018 <a href="#">{{ domain }}</a> - All Rights Reserved</p>
            <div style="clear:both;"></div>
        </div>
    </div>
    [[ad_block_bottom]]
    <script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>