<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">

    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]

    [[seo_meta_schema]]
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            background-color: #141313;
        }

        nav {
            background-color: #141313;
            border-bottom: 2px groove #dad6dc;
        }

        .btn-wow {
            border: 1px solid #686aee;
            background-image: linear-gradient(to right, #2be1e1 0%, #6667d1 51%, #dd75e0 100%);
            color: #fff2f2;
            transition: 0.5s;
            background-size: 200% auto;
            box-shadow: 0 0 10px #686aee;
            border-radius: 10px;
        }

        .btn-wow:hover {
            background-position: right center;
        }

        .navbar-brand {
            color: #fff2f2;
            box-shadow: 0 0 20px #ee308c;
            background-color: rgba(238, 140, 185, 0.63);
            border-radius: 25px;
            padding: 5px;
        }

        .orange-light-box {
            box-shadow: 0 0 10px #eeab00;
            background-color: rgba(238, 171, 0, 0.45);
            border-radius: 5px;
            border: 4px solid #e79e21;
        }

        .blue-light-box {
            box-shadow: 0 0 10px #0039ee;
            background-color: rgba(101, 144, 238, 0.45);
            border-radius: 5px;
            border: 4px solid #5c8de7;
        }

        .red-light-box {
            box-shadow: 0 0 10px #ee2a10;
            background-color: rgba(238, 112, 80, 0.45);
            border-radius: 5px;
            border: 4px solid #e73e36;
        }

        .yellow-light-box {
            box-shadow: 0 0 10px #eee203;
            background-color: rgba(238, 232, 107, 0.45);
            border-radius: 5px;
            border: 4px solid #e7e14c;
        }

        .content-box-full {
            margin-top: 20vh;
        }

        h1 {
            color: #ee8cac;
            text-shadow: 0 0 10px #ee308c;
            text-transform: uppercase;
            font-family: 'Pacifico', cursive;
            box-shadow: 0 0 10px #ee308c;
            border-radius: 5px;
            border: 4px solid #f861a3;
        }

        img {
            max-width: 200px;
            margin: 10px;
            border: 1px solid #3e3e3e;
        }

    </style>
</head>

<body>
[[ad_block_top]]
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            [%nav_links%]
        </div>
    </div>
</nav>

<header class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            <h1 class="pl-5">[[seo_h1]]</h1>
        </div>
    </div>
</header>

<!-- /.row -->
<div class="container-fluid">

    {{ template | raw }}

    {% if __text is not empty %}
        <div class="col-md-12 ml-2 mr-2 mt-5 mb-5" style="color: white">{{ __text | raw }}</div>
    {% endif %}


    <div class="col-md-12 ml-2 mr-2 mt-5 mb-5" style="color: white">
        [[seo_text]]
    </div>
</div>

<div class="container-fluid">
    [%cross_links%]
</div>

<footer class="container-fluid bg-light">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-1 small">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>

<!-- /.container -->


<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
[[ad_block_bottom]]
</body>

</html>
