<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    [[seo_geo]]

    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_meta_tags]]
    [[seo_meta_schema]]
    <link rel="stylesheet" href="/css/index.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    [[seo_global_meta_tags]]
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            [%nav_links%]
        </div>
    </div>
</nav>
[[ad_block_top]]
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
    </div>
</header>
<section style="margin-top: 60px">
    {{ template | raw }}
</section>
{% if __text is not empty %}
    <section>{{ __text | raw }}</section>
{% endif %}
<section>
    [[seo_text]]
</section>
[[ad_block_bottom]]
<section class="footer">
    <div class="container center">
        <div class="row justify-content-center">
            <a class="nav-link js-scroll-trigger" href="/">{{ domain }}</a>
        </div>
    </div>
    <div class="container center">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
    </div>

</section>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>