<section class="container-fluid bg-light pb-5">
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-start">
                [%breadcrumbs%]
            </div>
        </div>
    </div>
    <div class="row mt-lg-5 mt-md-5">
        <div class="col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center">
            <div class="m-3 mb-5">
                <img src="{{ photo }}" alt="{{ name }}"/>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 m-3">
            <h1>[[seo_h1]]</h1>
            <div class="small">
                <p class="m-0">Страна: {{ country }}</p>
                <p class="m-0">Всего альбомов: {{ totalAlbums }}</p>
                <p class="m-0">Всего треков: {{ totalSongs }}</p>
            </div>
            <div>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <p class="mt-lg-4 mt-md-4">[[seo_text]]</p>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            {% for album in albums %}
                <div class="d-flex col-lg-4 col-md-4 col-sm-10 col-xs-12 justify-content-center">
                    <div>
                        <a href="{{ album.__link }}">{{ album.name }}</a>
                        <p class="small">{{ album.year }}</p>
                        <div>
                            <a href="{{ album.__link }}"><img src="{{ album.photo }}" alt="{{ album.name }}"
                                                              class="artists-img border border-secondary border-rounded mt-2 mb-4 shadow"/></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>