<section class="container-fluid screen-fit">
    <div class="row screen-fit-50 d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center align-self-center">
            <h1 class="text-uppercase main-h1">[[seo_h1]]</h1>
        </div>
        <div class="col-md-5 d-flex justify-content-center">
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row py-3">
        <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-2">
                <h4>Топ песен</h4>
            </div>
            [%audio_tracks_list#5%]
        </div>
        <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center border-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Топ исполнителей</h4>
            </div>
            [%audio_artists_list%]
        </div>
    </div>
</section>