<div class="row">
    [%breadcrumbs%]
</div>

<h1>[[seo_h1]]</h1>

<div class="row">
    <h5>Треки в альбоме {{ name }} </h5>

    <ol class="collection">
        {% for track in tracks %}
            <li class="collection-item" style="display: list-item !important">
                <a href="{{ track.__link }}">
                    {{ track.name }}
                </a>

                <span style="float:right">
                {{ track.duration | date('i:s', '+00:00 GMT') }}
            </span>
            </li>
        {% endfor %}
    </ol>
</div>

<div class="row">
    <div class="col">
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
