<div class="row">
    [%breadcrumbs%]
</div>

<h1>[[seo_h1]]</h1>

<div class="row">
    <div class="col s4 m4">
        <div class="card">
            <div class="card-image">
                <img src="{{ photo }}">
                <span class="card-title" style="text-shadow: 0 0 5px black">{{ name }}</span>
            </div>
            <div class="card-content">
                <ul>
                    <li>Всего альбомов {{ totalAlbums }}</li>
                    <li>Всего треков {{ totalSongs }}</li>
                </ul>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-default" style="text-shadow: 0 0 5px black">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
    <div class="col s8 m8">
        <ul class="collection">
            {% for album in albums %}
                <a href="{{ album.__link }}" class="collection-item avatar">
                    <img src="{{ album.photo }}" alt="{{ album.name }}" class="circle">
                    <span class="title">{{ album.name }}</span>
                </a>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>