<h1>[[seo_h1]]</h1>

<section>
    <div class="row">
        <h5>{{ name }}</h5>
        {% for artist in items %}
            <div class="col s3 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                        <span class="card-title">{{ artist.name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ artist.__link }}">Перейти</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>