<div class="row">
    [%breadcrumbs%]
</div>

<h1>[[seo_h1]]</h1>

<div class="row">
    <h5 class="card-title">{{ name }}</h5>

    <div class="row">
        <div class="col s12 m12">
            {{ text | raw }}
        </div>
    </div>
</div>