<section class="container">
    <div class="row">
        <div class="col s12">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col s12 m6">
                <div class="card ">
                    <div class="card-image __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                        <img src="{{ item.src }}" maestro-youtube-id='{{ item.id }}'>
                        <span class="card-title" style="text-shadow: 0 0 5px black" maestro-youtube-id='{{ item.id }}'>{{ item.title }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>