<div class="row">
    [%breadcrumbs%]
</div>

<h1>[[seo_h1]]</h1>

<div class="row">
    <h5 class="card-title">{{ name }} <small>{{ artistName }}</small></h5>

    <div class="row">
        <div class="col s10 m10">
            <audio src="{{ url }}" style="width: 100%" controls preload="none"></audio>
        </div>
        <div class="col s2 m2">
            <a class="btn btn-outline-secondary" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
        </div>
        <div class="col s12 m12">
            {% if __relations is defined %}
                {% for relation in __relations %}
                    <a href="{{ relation.__link }}">{{ relation.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="card-footer text-muted">
        <i class="fa fa-user"></i>Сейчас слушают {{ totalListeners }} человека |
        <i class="fa fa-download"></i>Всего скачали {{ totalDownloads }} раз |
        <i class="fa fa-play"></i>Прослушали {{ totalListening }} раз
    </div>
</div>