html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

.top-list {
    text-transform: uppercase;
    font-size: 2em;
    color: black;
}

.top-list span {
    color: white;
    display: inline-block;
    padding: 3px 9px;
    border-radius: 3px;
    background-color: black;
}

