<nav aria-label="breadcrumb">
    <ul class="breadcrumb bc-bg">
        {% for link in links %}
            <li class="breadcrumb-item small">
                <a href="{{ link.uri }}">{{ link.title }}</a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active small" aria-current="page">
            {{ active.title }}
        </li>
    </ul>
</nav>