<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        {% for seria in series %}
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 d-flex stilizator py-2 mt-2 justify-content-center">
                <a href="{{ seria.__link }}">
                    <p class="text-center">{{ seria.titleRu }}</p>
                    <div class="imger">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"/>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>