<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/material-kit.min.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.3.7/plyr.css">
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
</head>
<body>

[%nav_links%]

[[ad_block_top]]
<header class="container-fluid">
    <div class="intro-text">
        <div class="intro-lead-in">
            <h1 class="h2">[[seo_h1]]</h1>
        </div>
    </div>
</header>
<section class="container-fluid">
    {{ template | raw }}
</section>
{% if __text is not empty %}
    <section class="container-fluid">{{ __text | raw }}</section>
{% endif %}
<section class="container">
    [[seo_text]]
</section>
<footer class="container-fluid">
    <div class="row">
        <div class="col">
            [%cross_links%]
        </div>
    </div>
    <div class="container">
        <span class="text-muted">{{ domain }}</span>
    </div>
</footer>
[[ad_block_bottom]]
<script src="/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/js/core/popper.min.js" type="text/javascript"></script>
<script src="/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="/js/material-kit.js?v=2.0.3" type="text/javascript"></script>
<script src="https://cdn.plyr.io/3.3.7/plyr.js"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script>

    $.each($('audio'), function () {
        let e = new Plyr($(this));
    })

    $(document).ready(function () {
        //init DateTimePickers
        materialKit.initFormExtendedDatetimepickers();

        // Sliders Init
        materialKit.initSliders();
    });


    function scrollToDownload() {
        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>
</body>
</html>