<section class="container">
    <div class="row">
        <h3>{{ name }}</h3>
        <img src="{{ photo }}" alt="{{ name }}">
    </div>
    <div class="row">
        <ul class="list-group">

            {% for artist in items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <img class="rounded-circle" width="50px" style="object-fit: cover" src="{{ artist.photo }}" alt="">
                    <a href="{{ artist.__link }}">{{ artist.name }}</a>
                    <span class="badge badge-primary badge-success"> {{ artist.listeners }} слушателей</span>
                </li>
            {% endfor %}
        </ul>

    </div>

    <br />
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
