{#<section class="container">
    <div class="row">
        <div class="col">
            [%audio_artists_list%]
        </div>
        <div class="col">
            [%audio_tracks_list%]
        </div>
    </div>
</section>#}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="row">
            <div class="col">
                [%audio_artists_list%]
            </div>
        </div>
        <!-- Pager -->

    </div>
</div>