<div class="uk-section">
    <h2 class="top-list">Топ <span>треков</span></h2>
    <div class="uk-container">
        <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
            {% for track in tracks %}
                <div class="uk-tile uk-tile-muted">
                    <a href="{{ track.__link }}">
                        <p class="uk-h5">
                            {{ track.name }}
                            <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                        </p>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if pages|length > 0 %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="uk-button uk-button-default">Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>