{% if __youtube is not empty %}
    <section class="uk-container">
        <div uk-grid>
            {% for youtube in __youtube %}
                <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m">
                    <h5>{{ youtube.title }}</h5>
                    <img src="{{ youtube.src }}"
                         alt="{{ youtube.title }}"
                         class="img-thumbnail img-fluid __modal_trigger"
                         maestro-youtube-id='{{ youtube.id }}'/>
                    <p>{{ youtube.description }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}