nav {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.navbar-dark {
    padding: 0 !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-dark .pager {
    margin: 0;
}

.center {
    margin: 0 auto;
}

body {
    background-color: #3b4660;
}

.section-heading {
    color: white;
}

.card {
    margin-bottom: 20px;
    background-color: #34495E;
    color: #ECF0F1
}

.card:hover {
    color: #E74C3C
}

a:hover {
    color: #E74C3C;
}

.page-link {
    background-color: transparent;
}

.pagination li > a:hover, .pagination li > a:focus, .pagination li > span:hover, .pagination li > span:focus {
    background-color: #3498DB;
}
.tile-hot{
    background-color: #34495E;
    color: white;
    border: solid 2px white;
}
.white{
    color: white;
}