<div class="container">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for episode in episodes %}
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="sermon element-animate fadeInUp element-animated">
                    <div class="sermon-text">
                        <h4>{{ episode.titleRu }}</h4>
                        <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                        <a href="{{ episode.__link }}" class="btn btn-block btn-lg btn-inverse">
                            Смотреть
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item gray">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>