<section class="container-fluid">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="card">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <img src="{{ photo }}" alt="" class="img-fluid img-thumbnail">
    </div>
</section>
<div style="margin-top: {{ random(  [5,7,9]) }}px; ">
    <ol class="list-group" style="list-style: decimal inside !important; ">
        {% for track in tracks %}
            <li class="list-group-item" style="display: list-item !important">
                <a href="{{ track.__link }}">
                    {{ track.name }}
                </a>

                <span style="float:right">
                    {{ track.duration | date('i:s', '+00:00 GMT') }}
                </span>
            </li>
        {% endfor %}
    </ol>
</div>
<div class="row">
    <div class="col">
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>