<section class="container-h1 container-fluid">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h1 class="pb-1">[[seo_h1]]</h1>
            <p class=" bg-dark text-light border border-light rounded py-2 px-4">[[seo_text]]</p>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row bg-con">
            <div class="col-12">
                [%breadcrumbs%]
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 align-self-center">
                    <h5 class="text-light text-center">{{ name }}</h5>
                <div class="img-con-in">
                    <img src="{{ photo }}" alt="{{ name }}">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-6">
                <div class="row justify-content-center bg-con text-center text-dark">
                        {% for track in tracks %}
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 my-2">
                            <div class="text-center mt-2">
                                <a href="{{ track.__link }}" class="text-light">{{ track.name }}</a>
                                {% if track.artistName == "" %}
                                    <div>
                                        <small class="my-1">Unknown</small>
                                    </div>
                                {% else %}
                                    <p>
                                        <small class="my-1">{{ track.artistName }}</small>
                                    </p>
                                {% endif %}
                            </div>
                            <div>
                                <audio src="{{ track.source_url }}" controls preload="none" class="width-full"></audio>
                            </div>
                    </div>
                        {% endfor %}
                    <section class="container-fluid mt-5">
                        <div class="row py-4">
                            <div class="col-12 d-flex justify-content-center">
                                <ul class="pagination">
                                    {% for page in pages %}
                                        {% if page.isCurrent %}
                                            <li class="page-item active">
                                        {% else %}
                                            <li class="page-item">
                                        {% endif %}
                                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>