<section class="hi-sect container-fluid">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h1 class="pb-1">[[seo_h1]]</h1>
            <p class=" bg-dark text-light border border-light rounded py-2 px-4">[[seo_text]]</p>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row bg-con">
            <div class="col-12">
                [%breadcrumbs%]
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="img-con-in">
                    <img src="{{ photo }}" alt="{{ name }}">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div>
                    <h5 class="text-light">{{ name }}</h5>
                    <ul class="text-light">
                        <li><span class="text-info">{{ totalAlbums }}</span> альбомов</li>
                        <li><span class="text-info">{{ totalSongs }}</span> треков</li>
                        <li><span class="text-info">{{ listeners }}</span> слушают</li>
                        {% if __tags is defined %}
                                {% for tag in __tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-secondary">{{ tag.name }}</a>
                                {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="row justify-content-center bg-secondary mr-1 mb-2">
                    {% for album in albums %}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 my-2 justify-content-center">
                            <div>
                                <a href="{{ album.__link }}" class="text-light">
                                    <div class="img-con">
                                        <img src="{{ album.photo }}" alt="{{ album.name }}"/>
                                    </div>
                                </a>
                                <div class="text-center">
                                    <a href="{{ album.__link }}" class="text-light text-center">{{ album.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <section class="container-fluid mt-5">
                    <div class="row py-4">
                        <div class="col-12 d-flex justify-content-center">
                            <ul class="pagination">
                                {% for page in pages %}
                                    {% if page.isCurrent %}
                                        <li class="page-item active">
                                    {% else %}
                                        <li class="page-item">
                                    {% endif %}
                                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>