<section class="container-fluid">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
    <div class="container-fluid py-5 bg-bark">
        <div class="row justify-content-center bg-con">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 shadow my-4">
                <div class="img-bg">
                <img src="{{ photo }}" alt="{{ name }}">
                </div>
                <div class="con-genre">
                    <h3 class="text-light px-5"><strong>{{ name }}</strong></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-con py-3 px-5">
            {% for artist in items %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 d-flex justify-content-center back-yolk border border-dark">
                    <a href="{{ artist.__link }}" class="text-dark p-3">
                        <div class="img-con">
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                            <div class="text-center name-con bg-con text-light">
                                <p class="py-3">{{ artist.name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center py-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 d-flex justify-content-center py-3">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-start align-self-xs-start">
                <p class="pl-5 py-3 mb-5 bg-light text-dark">[[seo_text]]</p>
            </div>
        </div>
    </div>
</section>