<section class="container-fluid hi-sect">
    <h1 class="text-center">[[seo_h1]]</h1>
    <div class="col-12 bg-dark text-light py-2 mb-3">
        <p class="py-3 mb-2 mt-1 bg-light text-dark">[[seo_text]]</p>
    </div>
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <section class="section pt-5 pb-2 my-2">
        <div class="container">
            <div class="card-body">
                <h3 class="text-center text-dark">
                    {{ name }}
                </h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12 mb-2 text-center">
                            <p class="text-light">
                                {{ text | raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>