<section class="container-fluid hi-sect">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row bg-con border border-light my-2 justify-content-center">
        [%breadcrumbs%]
        <div class="col-md-12 text-center mt-3">
            <h2 class="text-light">{{ name }}</h2>
            <div>
                <a href="{{ __link }}"><p class="text-light">{{ name }}</p></a>
            </div>
            <div>
                <audio src="{{ source_url }}" controls preload="none" class="width-full"></audio>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-1">
            <a href="{{ url }}" download="{{ name }}" class="btn btn-success my-4 mx-1">Скачать</a>
            {% if __relations is defined %}
                {% for relation in __relations %}
                    <a href="{{ relation.__link }}" class="btn btn-info my-4 mx-1">Текст</a>
                {% endfor %}
            {% endif %}
        </div>
        <section class="container-fluid mt-5">
            <div class="row py-4">
                <div class="col d-flex justify-content-center">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <div class="col-12 bg-dark text-light py-3 mb-3">
            <p class="pl-5 py-3 mb-5 mt-3 bg-light text-dark">[[seo_text]]</p>
        </div>
    </div>
</section>