<section>
    <h5>{{ name }}</h5>
    <section class="row">
        {% for artist in artists %}
            <div class="card col-5" style="margin: {{ random([ 4, 5, 6]) }}px">
                <img class="card-img-top img-responsive" src="{{ artist.photo }}" alt="{{ artist.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <a href="{{ artist.__link }}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        {% endfor %}
    </section>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>