<div class="container-fluid">
    <div class="col-md-12 my-5">
        <div class="px-2 py-3 text-dark">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                        [%movies_list#6%]
                        [%tv_series_list#6%]
                </div>
            </div>
        </div>
    </div>
</div>