<section class="container-fluid mt-5 pt-3">
    <section class="container-fluid py-2">
        [%breadcrumbs%]
    </section>

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-3 text-center align-self-center py-2">
                <div>
                    <img src="{{ photo }}" alt="{{ titleRu }}">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 py-2 text-dark text-center">
                <h1 class="pl-2">[[seo_h1]]</h1>
                <h4 class="text-danger">{{ titleEn }}</h4>
                <div class="text-light">
                    <em>
                        imdb:
                        <i class="fas fa-star"></i>
                        <b>{{ imdbRating }}</b>/10</em>
                </div>
                <hr>
                <div class="col-12 text-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-dark">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                {% if __text is not empty %}
                    <p>{{ __text | raw }}</p>
                {% endif %}
                <p>[[seo_text]]</p>
                <p class="text-light">{{ __text }}</p>
            </div>
        </div>
        <div class="row text-center">
            {% for index,season in seasons %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center my-1">
                    <a href="{{ season.__link }}" class="bg-violet">
                        <h5 class="py-3 px-3">Сезон {{ season.season }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>