{% if links is defined %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% for link in links %}
                    <a href="{{ link.uri }}" class="text-soft">{{ link.title }}</a><span> / </span>
                {% endfor %}
                <p>{{ active.title }}</p>
            </div>
        </div>
    </div>
{% endif %}
