<section class="container my-5">
    <div class="row">
        <div class="col-6 justify-content-start">
            <h4 class="pt-3 pl-3 text-light text-uppercase">Лучшие фильмы</h4>
        </div>
        {% if pages|length > 0 %}
            <div class="col-6 justify-content-end mt-3">
                <a href="{{ pages[1].url }}">
                    <p class="text-light more-link pl-5">больше</p></a>
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="row col-12 justify-content-center">
            {% for film in films %}
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center pt-1">
                    <a href="{{ film.__link }}" class="linkator p-3">
                        <div class="textator text-center">
                            <p class="py-3">{{ film.titleRu }}</p>
                        </div>
                        <div class="img-container">
                            <i class="far fa-play-circle fa-5x py-5 px-5"></i>
                            <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                            <div class="rater">
                                <em><i class="fas fa-star"></i> <b>{{ film.imdbRating }}</b>/10</em>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>