<section class="testimonial" id="testimonial-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial-image"></div>
            </div>
            <div class="col-md-8">
                <h3 class="text-center">Топ Артистов</h3>
                <div id="owl-testimonial" class="owl-carousel owl-theme">
                    {% for artist in artists %}
                        <div class="item col-md-12">
                            <h4>{{ artist.name }}</h4>
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}">

                            <div class="white-button">
                                <a href="{{ artist.__link }}">Перейти</a>
                            </div>
                        </div>
                    {% endfor %}
                    {% if pages|length > 0 %}
                    <div class="item col-md-12">
                        <h4>Больше</h4>
                        <img src="/img/graphicnotes.png">
                        <div class="white-button">
                            <a href="{{ pages[1].url }}">
                                Перейти
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>