<section class="events" id="events-section">
    <div class="content-wrapper">
        <div class="inner-container container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-md-offset-1">
                    <div class="projects-holder">
                        <div class="event-list">
                            <ul>
                                {% for track in tracks %}
                                    <li class="project-item first-child mix web">
                                        <ul class="event-item web">
                                            <li>
                                                <h4>{{ track.name }}</h4>
                                            </li>
                                            <li>
                                                <audio src="{{ track.url }}" style="width: 60%" controls
                                                       preload="none"></audio>
                                            </li>
                                            <li>
                                                <div class="white-button">
                                                    <a href="{{ track.__link }}">Подробнее</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                {% if pages|length > 0 %}
                                    <li class="project-item first-child mix web">
                                        <ul class="event-item web">
                                            <li>
                                                <div class="date">
                                                   <span>MORE</span>
                                                </div>
                                            </li>
                                            <li>
                                                <h4>Слушать больше треков</h4>
                                            </li>
                                            <li>
                                                <div class="white-button">
                                                    <a href=" {{ pages[1].url }}">Больше</a>
                                                </div>

                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>