body {
    overflow-x: hidden;
}

html {
    font-size: 12px;
}

.mb1 {
    margin-bottom: 15px;
}

.breadbar {
    border: 1px solid #979797;
    box-shadow: 2px 2px 5px 1px rgba(110, 110, 110, 0.26);
    padding: 0 5px;
    margin: 0 10px;
}

.bread-list {
    display: inline-block;
}

.bread-list .crumb, .bread-list .crumb ~ a  {
    padding: 8px 3px;
}

.bread-list .crumb:hover {
    text-decoration: underline;
}

.badgehog {
    color: white;
    background-color: #00a1cb;
    padding: 5px;
    margin: 2px;
}

.sm {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.h-on-page {
    min-height: 80vh;
}