<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ name }}</h2>
            </div>
        </div>
        <div class="row">
            {% for seria in items %}
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a class="portfolio-link" href="{{ seria.__link }}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-arrow-circle-o-right fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ seria.photo }}" alt="{{ seria.titleRu }}" style="width: 100%">
                    </a>
                    <div class="portfolio-caption">
                        <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
