<div class="container">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Сезон {{ season }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="card-text">
                <img class="img-thumbnail float-left" src="{{ photo }}" alt="{{ season }}" style="margin: 10px">
                [[seo_text]]
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for episode in episodes %}
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="sermon element-animate fadeInUp element-animated card">
                    <div class="card-body">
                        <b>{{ episode.titleRu }}</b>
                        <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                        <div>
                            <a href="{{ episode.__link }}">
                                <button type="button" class="btn btn-raised btn-info">Смотреть</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>