<div class="container">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="card-title">
                {{ titleRu }}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p class="card-text">
                <img class="img-thumbnail float-left" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
            </p>
            <a href="{{ imdbUrl }}">
                <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
            </a>
            <a href="{{ kinopoiskUrl }}">
                <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
            </a>
        </div>
        <section class="col-9 row">
            {% for index,season in seasons %}
                <div class="col-md-4 col-sm-6">
                    <div class="card ">
                        <div class="card-body">
                            <h3> Сезон {{ season.season }}</h3>
                            <div>
                                <a href="{{ season.__link }}">
                                    <button type="button" class="btn btn-raised btn-info">Подробнее</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
