<!-- Start facilities Area -->
<section class="facilities-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-80 header-text">
                <h3>Топ {{ total }} исполнителей</h3>
            </div>
        </div>
        <div class="row">
            {% for artist in artists %}
                <div class="sigle-facilities col-lg-4 col-md-6">
                    <a class="" href="{{ artist.__link }}">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}" style="margin: 0 auto">
                        <h4>{{ artist.name }}</h4>
                    </a>
                    <p>
                        {% if artist.__tags is defined %}
                            {% for tag in artist.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-default" style="color:#007bff">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item disabled">
                        {% else %}
                            <li class="page-item active">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End facilities Area -->
