<!-- Start facilities Area -->
<section class="facilities-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-80 header-text">
                <h3>Список треков</h3>
            </div>
        </div>
        <div class="row">
            {% for track in tracks %}
            <div class="sigle-facilities col-lg-4 col-md-6">
                <h4><a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a></h4>
                <p>
                    <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End facilities Area -->

