{% if links is defined %}
    <div class="container">
        <div class="row">
            <div class="col-12 bg-dark text-light text-center">
                {% for link in links %}
                    <a class="text-light" href="{{ link.uri }}">
                        <small>{{ link.title }}</small>
                    </a><span> / </span>
                {% endfor %}
                <small>{{ active.title }}</small>
            </div>
        </div>
    </div>
{% endif %}
