<div class="col-md-12 mt-3">
    {% if links %}
        <div class="row justify-content-lg-center justify-content-md-center
                    justify-content-sm-start justify-content-xs-start">
            {% for link in links %}
                <div class="col-6">
                    <a href="{{ link.link }}" class="text-light">
                        <small>{{ link.name }}</small>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 text-center my-3 small bg-dark pt-3">
        <p class="text-light">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | {{ domain }}</p>
    </div>
</div>