<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="pt-5 pb-3 px-2">Лучшие сериалы</h4>
        </div>
        {% for seria in series %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 my-3 text-center">
                <div class="container-3d">
                    <div class="front">
                        <a href="{{ seria.__link }}">
                            <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}" class="img-responsive">
                        </a>
                    </div>
                    <div class="back text-center">
                        <div class="back-wrap px-2 m-3 py-2 border border-light">
                            <a href="{{ seria.__link }}" class="text-light"><p>{{ seria.titleRu }}</p></a>
                            <em class="text-light"><i class="fas fa-star"></i> {{ seria.imdbRating }}/10</em>
                            <div class="py-3">{% if seria.__tags is defined %}
                                    {% for tag in seria.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-pill badge-danger">
                                            {{ tag.name }}
                                        </a>
                                    {% endfor %}
                                {% endif %}</div>
                            <a href="{{ seria.__link }}" class="btn btn-info btn-sm mt-2">
                                Просмотр
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if pages|length > 0 %}
            <div class="col-12 pb-5">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-secondary btn-sm btn-block"><i class=""></i> Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
</section>