{% if links %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ui" style="background: none">
            {% for link in links %}
                <li class="breadcrumb-item mdl-chip">
                    <a href="{{ link.link }}" class="mdl-chip__text">{{ link.name }}</a>
                    <i class="right chevron icon divider"></i>
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endif %}