<section class="container-fluid light-first-box">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-12">
            <p class="text-light pl-2 ml-2 mt-5">[[seo_text]]</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            {% for track in tracks %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
                <a href="{{ track.__link }}">{{ track.name }}</a>
                {% if track.artistName == "" %}
                    <div>
                        <small>Unknown</small>
                    </div>
                {% else %}
                    <p>
                        <small>{{ track.artistName }}</small>
                    </p>
                {% endif %}
            </div>
            <div>
                <audio src="{{ track.source_url }}" controls preload="none" class="width-full"></audio>
            </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <section class="container-fluid mt-5">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>