<section class="container">
    <div class="row">
        {% for film in films %}
            <div class="col-lg-4 col-md-4 col-sm-6 films-row card" style="margin-bottom: 30px;">
                <a href="{{ film.__link }}">
                    <img class="card-img-top" src="{{ film.photo }}" alt="">
                </a>
                <div class="card-body">
                    <a href="{{ film.__link }}" class="card-title">{{ film.titleRu }}</a>
                    <div style="height:25px;">
                        {% if film.__tags is defined %}
                            {% for tag in film.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge red">{{ tag.name }}</span>
                                </a>
                            {% endfor %}

                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% if pages|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-secondary">Больше</button>
                </a></div>
        </div>
    </div>
{% endif %}
