<section>
    <section class="row">
        {% for film in films %}
            <div class="post-preview" style="width: 100%">
                <a href="{{ film.__link }}">
                    <span class="post-title">
                        {{ film.titleRu }}
                    </span>
                </a>
                <p>
                    {% if film.__tags is defined %}
                        {% for tag in film.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-success">{{ tag.name }}</span>
                            </a>
                        {% endfor %}

                    {% endif %}
                </p>
            </div>
            <hr>

        {% endfor %}
    </section>
    {% if pages|length > 0 %}
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{ pages[1].url }}">Ещe фильмы &rarr;</a>
        </div>
    {% endif %}
</section>