<section>
    <section class="row">
        {% for seria in series %}
            <div class="post-preview" style="width: 100%">
                <a href="{{ seria.__link }}">
                    <span class="post-title">
                        {{ seria.titleRu }}
                    </span>
                </a><p>
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-success">{{ tag.name }}</span>
                            </a>
                        {% endfor %}

                    {% endif %}
                </p>

            </div>
            <hr>

        {% endfor %}
    </section>
    {% if pages|length > 0 %}
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{ pages[1].url }}">Ещe сериалы &rarr;</a>
        </div>
    {% endif %}
</section>