<nav aria-label="breadcrumb">

    <ol class="breadcrumb breadcrumb-dot sermon-block">
        {% for link in links %}
            <li class="breadcrumb-item">
                <a href="{{ link.uri }}">{{ link.title }}</a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">
            {{ active.title }}
        </li>
    </ol>

</nav>