<section id="service1" class="service1 margin-top-120">
    <div class="container-fluid">
        [%breadcrumbs%]
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center margin-top-80">
                    <h1 class="h3">[[seo_h1]]</h1>
                    <strong>{{ name }}</strong>
                </div><!-- End of head title -->

                <div class="main_about_area">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="signle_about_left">
                                <img src="{{ photo }}" alt="" />
                                <div class="single_about_left_text">
                                    <div class="separator2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5 col-sm-push-1">
                            <div class="single_about">
                                <div class="separator2"></div>
                                <h3 class="my-4">Треки {{ name }} </h3>
                                <div style="margin-top: {{ random(  [5,7,9]) }}px; ">
                                    <ol class="list-group" style="list-style: decimal inside !important; ">
                                        {% for track in tracks %}
                                            <li class="list-group-item" style="display: list-item !important">
                                                <a href="{{ track.__link }}">
                                                    {{ track.name }}
                                                </a>
                                                <span style="float:right">{{ track.duration | date('i:s', '+00:00 GMT') }}</span>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="pagination">
                                            {% for page in pages %}
                                                {% if page.isCurrent %}
                                                    <li class="page-item active">
                                                {% else %}
                                                    <li class="page-item">
                                                {% endif %}
                                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
    <hr />
</section>
