<section id="service1" class="service1 margin-top-120">
    <div class="container-fluid">
        [%breadcrumbs%]
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center margin-top-80">
                    <h1 class="h3">[[seo_h1]]</h1>
                    <strong>{{ name }}</strong>
                </div><!-- End of head title -->

                <div class="main_about_area">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="signle_about_left">
                                <img src="{{ photo }}" alt="" />
                                <div class="single_about_left_text">
                                    <div class="separator2"></div>
                                    <h4>
                                        <ul>
                                            <li>Всего альбомов {{ totalAlbums }}</li>
                                            <li>Всего треков {{ totalSongs }}</li>
                                        </ul>
                                    </h4>
                                    <div class="separator2"></div>
                                    <div>
                                        {% if __tags is defined %}
                                            {% for tag in __tags %}
                                                <a href="{{ tag.__link }}">
                                                    <span class="tag is-dark">{{ tag.name }}</span>
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5 col-sm-push-1">
                            <div class="single_about">
                                <div class="separator2"></div>
                                <h3 class="my-4">Альбомы {{ name }} </h3>
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group" style="margin-bottom: 20px">
                                            {% for album in albums %}
                                                <a href="{{ album.__link }}"
                                                   class="list-group-item d-flex justify-content-between align-items-center">
                                                    <div class="row" style="width: 100%">
                                                        <div class="col-md-2">
                                                            <img src="{{ album.photo }}" alt="{{ album.name }}" class="rounded-circle">
                                                        </div>
                                                        <div class="col-md-7" style="margin-top: 5px;font-size: 25px;">
                                                            {{ album.name }}
                                                        </div>
                                                    </div>

                                                </a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="pagination">
                                            {% for page in pages %}
                                                {% if page.isCurrent %}
                                                    <li class="page-item active">
                                                {% else %}
                                                    <li class="page-item">
                                                {% endif %}
                                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
    <hr />
</section>
