<section id="service1" class="service1 margin-top-120">
    <div class="container-fluid">
        [%breadcrumbs%]
    </div>
    <div class="container">
        <div class="main_contact sections">
            <div class="head_title text-center">
                <h1 class="h3">[[seo_h1]]</h1>
                <strong>{{ name }}</strong>
            </div>
            <div class="row">
                <div class="contact_contant">
                    <div class="col-md-12">
                        {{ text | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
