<section class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="h2">[[seo_h1]]</h1>
        </div>
    </div>
    [%audio_artists_list%]
    [%audio_tracks_list%]
</section>
