<section id="service1" class="service1 margin-top-120">
    <div class="container-fluid">
        [%breadcrumbs%]
    </div>
    <div class="container">
        <div class="main_contact sections">
            <div class="head_title text-center">
                <h1 class="h4">{{ name }}
                    <small>{{ artistName }}</small>
                </h1>
            </div>
            <div class="row">
                <div class="contact_contant">
                    <div class="col-md-7">
                        <audio src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls
                               preload="none"></audio>
                        <a class="btn btn-outline-secondary" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
                    </div>
                    <div class="col-md-5">
                        <i class="fa fa-user"></i> Сейчас слушают {{ totalListeners }} человека <br/>
                        <i class="fa fa-download"></i> Всего скачали {{ totalDownloads }} раз <br/>
                        <i class="fa fa-play"></i> Прослушали {{ totalListening }} раз
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if __relations is defined %}
                        {% for relation in __relations %}
                            <a href="{{ relation.__link }}">{{ relation.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
