<h3 class="title is-3" style="margin-top: 25px;">{{ name }}</h3>

<div class="columns" style="flex-wrap: wrap">
    {% for index,artist in artists %}
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}" style="object-fit: cover">
                    </figure>
                </div>
                <div class="card-content">
                    <a href="{{ artist.__link }}">{{ artist.name }}</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if pages|length > 0 %}
        <a class="button is-success is-outlined" style="margin: 12px" href="{{ pages[1].url }}">
            Больше</a>
    {% endif %}
</div>