{% for track in tracks %}
    <div>
        <a href="{{ track.__link }}" class="mt-1">
            {{ track.name }}
        </a>
    </div>
    <span>
        <audio src="{{ track.url }}" controls="controls" preload="none" value="1.0"></audio>
    </span>
{% endfor %}
{% if pages|length > 0 %}
            <div>
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-outline-warning btn-lg text-uppercase mt-4">Больше</button>
                </a>
            </div>
{% endif %}