<nav aria-label="breadcrumb">
    <ol class="breadcrumb bc-style">
        {% for link in links %}
        <li class="breadcrumb-item small">
            <a href="{{ link.uri }}">{{ link.title }}</a>
        </li>
        {% endfor %}
        <li class="breadcrumb-item active text-dark small" aria-current="page">
           {{ active.title }}
        </li>
    </ol>
</nav>