{% if links %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb bc-style">
        {% for link in links %}
            <li class="breadcrumb-item mt-2">
                <a href="{{ link.link }}">{{ link.name }}</a>
            </li>
            {% endfor %}
    </ol>
    </nav>
{% endif %}