<section class="events" id="events-section">
    <div class="content-wrapper">
        <div class="inner-container container-fluid">
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="best-offer" id=best-offer-section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="best-offer-right-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="{{ photo }}" alt="{{ name }}">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>{{ name }}</h2>
                            <p>
                                {{ description | raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 content-tracks text-center">
                {% for track in tracks %}
                    <div class="card" style="width: 400px">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ track.__link }}">
                                    {{ track.name }}
                                    <small>{{ track.artistName }}</small>
                                </a>
                            </h5>
                            <p>
                                <audio src="{{ track.url }}" style="width: 300px" controls
                                       preload="none"></audio>

                                <span class="white-button">
                                    <a href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                                </span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 text-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>