<section class="events" id="events-section">
    <div class="content-wrapper">
        <div class="inner-container container-fluid">
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="best-offer" id=best-offer-section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 content-albums">
                {% for album in albums %}
                    <div class="col-lg-4 col-md-6 grid-item text-center">
                        <img src="{{ album.photo }}" alt="{{ album.name }}" class="img-thumbnail img-responsive">
                        <div class="white-button">
                            <a href="{{ album.__link }}">Подробнее</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-12 text-center">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="best-offer-right-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h2>{{ name }}</h2>
                            <div>
                                <ul>
                                    <li>Всего альбомов {{ totalAlbums }}</li>
                                    <li>Всего треков {{ totalSongs }}</li>
                                </ul>
                                {% if __tags is defined %}
                                    {% for tag in __tags %}
                                        <a href="{{ tag.__link }}">
                                            <span class="badge badge-success">{{ tag.name }}</span>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <img src="{{ photo }}" alt="{{ name }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>