<section class="best-offer">
    <div class="best-offer-right-content">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h2>
                    <img src="{{ photo }}" alt="{{ name }}" class="img-thumbnail">
                    {{ name }}
                </h2>
            </div>
            <div class="col-md-9 col-sm-12">
                {% for artist in items %}
                    <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                        <div class="card h-100">
                            <a href="{{ artist.__link }}"><img class="card-img-top" src="{{ artist.photo }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ artist.__link }}">{{ artist.name }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>