<section class="events" id="events-section">
    <div class="content-wrapper">
        <div class="inner-container container-fluid">
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="best-offer">
    <div class="best-offer-right-content">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>{{ name }}</h2>
                <p>
                    {{ text | raw }}
                </p>
            </div>
        </div>
    </div>
</section>
