<section class="container">
    <div class="row">
<<<<<<< HEAD
=======
        <div class="col py-5 ml-5">
            <h3>Результаты поиска: "{{ query }}"</h3>
        </div>
    </div>
    <div class="row">
>>>>>>> master
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12">
                <div style="height: 300px">
                    <img src="{{ item.src }}" class="img-fluid __modal_trigger" maestro-youtube-id='{{ item.id }}' height="250">
                    <small>{{ item.title }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
</section>