<section class="events" id="events-section">
    <div class="content-wrapper">
        <div class="inner-container container-fluid">
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="best-offer">
    <div class="best-offer-right-content">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>{{ name }}
                    <small>{{ artistName }}</small>
                </h2>
                <ul>
                    <li><i class="fa fa-user"></i> Сейчас слушают {{ totalListeners }} человека</li>
                    <li><i class="fa fa-download"></i> Всего скачали {{ totalDownloads }} раз</li>
                    <li><i class="fa fa-play"></i> Прослушали {{ totalListening }} раз</li>
                </ul>
                <p>
                    <audio src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls
                           preload="none"></audio>
                </p>
            </div>
            <div class="white-button">
                <a href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if __relations is defined %}
                    {% for relation in __relations %}
                        <a href="{{ relation.__link }}">{{ relation.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
