<section class="container-fluid">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
    <div class="container-fluid py-5 bg-bark">
        <div class="row">
            <div class="col-12 justify-content-start">
                <h5 class="text-uppercase text-light text-left"><strong>Всего песен: <span>{{ total }}</span></strong></h5>
            </div>
        </div>
        <div class="row justify-content-center bg-con text-center text-dark">
                {% for track in tracks %}
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 my-2">
                    <div class="text-center mt-2">
                        <a href="{{ track.__link }}" class="text-light">{{ track.name }}</a>
                        {% if track.artistName == "" %}
                            <div>
                                <small class="my-1">Unknown</small>
                            </div>
                        {% else %}
                            <p>
                                <small class="my-1">{{ track.artistName }}</small>
                            </p>
                        {% endif %}
                    </div>
                    <div>
                        <audio src="{{ track.source_url }}" controls preload="none" class="width-full"></audio>
                    </div>
            </div>
                {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center py-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 d-flex justify-content-center py-3">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-start align-self-xs-start">
                <p class="pl-5 py-3 mb-5 bg-light text-dark">[[seo_text]]</p>
            </div>
        </div>
    </div>
</section>