<div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            {{ season.name }} / Сезон {{ season.season }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{{ season.__link }}">
                    <button type="button" class="btn btn-raised btn-link">Подробнее</button>
                </a>
            </li>
        </ul>
    </div>
</div>