body {
    background: linear-gradient(155deg, #401f7a, #203a6e, #278485, #359c43);
}

.brander {
    background-color: rgba(205, 215, 221, 0.56);
    color: #50615d;
}

.light-first-box {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(140, 140, 140, 0.5), rgba(255, 255, 255, 0))20%,
                url(../img/main-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.first-block-height-30 {
    min-height: 30vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.77), rgba(255, 255, 255, 0))20%,
    url(../img/main-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 3px 3px 1px rgba(20,16,16,0.16)
}

.light-first-box h1 {
    color: #d9e435;
    padding-top: 3vh;
    font-weight: bold;
    text-shadow: 1px 1px 1px #767676;
}

.light-first-box p {
    color: #20d8d0;
}

.width-full {
    width: 100%;
}

.hei-75 {
    min-height: 55vh;
}

.genre-style img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.imger img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.imger img:hover {
    box-shadow: -1px 1px 2px 1px #278485;
}

a {
    color: #f1f5f6;
}

a:hover {
    color: #c8c5d1;
}

a p, h3 {
    background-color: #2B333F;
    font-size: smaller;
    height: 60px;
    text-align: center;
}

h3 {
    font-size: medium;
}

.mad-btn {
    width: 100%;
    color: #fff2f2;
    font-weight: bold;
    background: transparent;
    border: 1px solid #fff2f2;
}

.mad-btn:hover {
    background: rgba(255, 242, 242, 0.1);
}

.stilizator {
    background-color: rgba(118, 115, 115, 0.56);
}

.bc-bg {
    background: transparent;
}

ul li {
    list-style-type: none;
}

ul li span {
    font-size: 3vh;
    font-weight: 900;
    color: #96c8da;
}