body {
    background: linear-gradient(rgba(25, 25, 37, 0.81), rgba(25, 25, 37, 0.81)),
                url(../img/bg-star.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
}

.section-height {
    min-height: 80vh;
}

.main-background {
    background-color: #3c3d45;
    padding: 10px 0;
}

.first-block h1 {
    font-family: 'Exo 2', sans-serif;
    color: #ffdc32;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffdc32;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: -2px;
}

small {
    color: #ffdc32;
}

.total-style {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-radius: 0;
}

.fun-link {
    color: #6f6c6e;
    text-decoration: #6f6c6e;
    text-decoration-line: underline;
}

.fun-link:hover {
    text-decoration: none;
    color: #6f6c6e;
}

h5 {
    font-size: medium;
}

h5:hover {
    background-color: #ffdc32;
    padding: 0 5px;
}

.bg-item {
    color: #fff2f2;
    background-color: #1c1456;
}

.bg-item:hover {
    color: #fff2f2;
    text-decoration: none;
    background-color: #1ebb5c;
}

.img-deco {
    width: 150px;
    height: auto;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.img-deco img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn-style p {
    border: 1px solid #ffdc32;
    color: #ffdc32;
}

.btn-style:hover {
    text-decoration: none;
}

.btn-style p:hover {
    border: 1px solid #ffdc32;
    color: #3c3d45;
    background-color: #ffdc32;
    text-decoration: none;
}

.nav-styling {
    background-color: #3c3d45;
}

.first-block {
    min-height: 25vh;
}

.nav-styling a {
    color: #a8a8a8;
}

.dark-side:hover {
    box-shadow: 0 0 3px #ff2e33;
    transition: box-shadow 1s;
    background: rgba(255, 46, 51, 0.31);
}


.nav-pills .nav-item:last-child .nav-link.active {
    background-color: #ff2e33;
}

.light-side:hover {
    box-shadow: 0 0 5px #2826ff;
    transition: box-shadow 1s;
    background: rgba(95, 88, 255, 0.3);
}

ul li:nth-child(1) a:hover {
    color: #bebeff;
    transition: 1s;
}

ul li:nth-child(2) a:hover {
    color: #ffc9c1;
    transition: 1s;
}

.content-block {
    background-color: #1d2124;
}

.block-height {
    min-height: 80vh;
}

#content p {
    color: #fff05f;
    background-color: #3c3d45;
    padding: 1vh 0.5vw;
}

.first-block p {
    color: #fff05f;
    padding: 10px;
    border-top: 1px solid #fff05f;
}

.rates {
    color: #fff05f;
}

h3 {
    color: #131142;
    background-color: #fff2f2;
}

.pagination .page-link {
    background-color: #131142;
    color: #fff2f2;
}

.pagination .page-link:hover {
    background-color: #fff05f;
    color: #131142;
}

@media (min-width: 992px) {
    .first-block h1 {
        font-family: 'Exo 2', sans-serif;
        color: #fff33e;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #ffdc32;
        text-transform: uppercase;
        font-size: 4vw;
        letter-spacing: -2px;
    }

    #roller-box
    {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 100vh;
        font-size: 300%;
        text-align: justify;
        overflow: hidden;
        transform-origin: 50% 100%;
        transform: perspective(200px) rotateX(27deg);
    }

    #content
    {
        position: absolute;
        top: 100%;
        animation: scroll 60s linear infinite;
    }

    #content p {
        color: #fff05f;
        background-color: transparent;
        padding: 0 0;
    }

    @keyframes scroll {
        0% {
            top: 100%;
        }
        100% {
            top: -180%;
        }
    }

    .first-block {
        min-height: 15vh;
    }

    .img-deco img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}