body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card.small .card-image {
    max-height: 87%;
}

.breadcrumb {
    color: #000000 !important;
}

.breadcrumb:before {
    color: #000000 !important;
}

.breadcrumb.active {
    color: grey !important;
    pointer-events: none;
}

.card-title{
    background-color: rgba(0,0,0,.6);
    padding: 5px;
    width: 100%;
}

.min-hei {
    min-height: 10vh;
}

.badger {
    font-size: small;
    text-transform: lowercase;
    color: #00627b;
    border: 1px solid #747474;
    padding: 2px;
    border-radius: 7px;
}

.badger:hover {
    color: #e9e9e7;
    border: 1px solid #747474;
    padding: 2px;
    border-radius: 7px;
    background-color: #747474;
    box-shadow: 1px 1px 1px rgba(116, 116, 116, 0.73);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.mb1 {
    margin-bottom: 15px;
}

.breadbar {
    border: 1px solid #979797;
    box-shadow: 2px 2px 5px 1px rgba(110, 110, 110, 0.26);
    padding: 0 5px;
    margin: 0 10px;
}

.bread-list {
    display: inline-block;
}

.bread-list .crumb, .bread-list .crumb ~ a  {
    padding: 8px 3px;
}

.bread-list .crumb:hover {
    text-decoration: underline;
}