<section class="container">
    <div class="row d-flex">
        <div class="col-12">
            <a href="{{ pages[1].url }}"><h3 style="text-transform: uppercase">лучшие сериалы</h3></a>
        </div>
        {% for seria in series %}
            <div class="col-4">
                <div class="artist-photo" style="text-align: center">
                    <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                </div>
                <a href="{{ seria.__link }}"><p class="text-center">{{ seria.titleRu }}</p></a>
            </div>
        {% endfor %}
    </div>
</section>