<footer>
    {% if links|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col">
                <h2>{{ domain }}</h2>
            </div>
            <div class="col-md-8 col">
                <h5>Смотрите так же</h5>
                    <ul class="flex" >
                        {% for link in links %}
                            <li >
                                <a href="{{ link.link }}" >{{ link.name }}</a>
                                <i ></i>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="ft-copyright">
        <div class="ft-left">
            <p>© 2017 [{{ domain }}]. All Rights Reserved.</p>
        </div>
        <div class="backtotop">
            <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
        </div>
    </div>
</footer>