<section>
    <h3>Лучшие сериалы</h3>
</section>
<div class="owl-carousel owl-theme">
    {% for seria in series %}
        <a href="{{ seria.__link }}" class="item">
            <img src="/img/iload.gif" alt="" data-src="{{ seria.photo }}">
            <p>
                <span>{{ seria.titleRu }}</span>
                <em><i class="zmdi zmdi-star-circle"></i> <b>{{ seria.imdbRating }}</b>/10</em>
            </p>
        </a>
    {% endfor %}
</div>

<section>

    {% if pages|length > 0 %}
        <a href="{{ pages[1].url }}">
            <button type="button" class="btn btn-dark"><i class="zmdi zmdi-more"></i> Больше</button>
        </a>
    {% endif %}
</section>