<section class="container-fluid mt-5 pt-3">
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center align-self-center py-2">
                <div class="col-12 text-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-dark">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid py-2">
        [%breadcrumbs%]
    </section>
    <section class="container mt-5">
        <div class="row text-center">
            {% for episode in episodes %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center
                            my-1">
                    <a href="{{ episode.__link }}" class="bg-violet">
                        <h5 class="px-3 py-3">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>