<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="small text-danger">топ исполнителей</h4>
        </div>
        {% for artist in artists %}
            <div class="row col-12 pt-3 text-light justify-content-center bg-light">
                <div class="col-3">
                    <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                </div>
                <div class="col-6">
                    <h6>{{ artist.name }}</h6>
                    <ul>
                        <li>{{ artist.totalSongs }}</li>
                        <li>{{ artist.totalAlbums }}</li>
                        <li>{{ artist.totalListening }}</li>
                        <li>{{ artist.listeners }}</li>
                    </ul>
                </div>
                <div class="col-3">
                    <div>
                        <a href="{{ artist.__link }}">
                            <i class="fas fa-play-circle fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>