<h5 class="title-section">{{ name }}</h5>

{% for artist in artists %}
    <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
        <figure>
            <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt="{{ artist.name }}" class="img-responsive"></a>
        </figure>
        <h2 class="fh5co-article-title"><a href="{{ artist.__link }}">{{ artist.name }}</a></h2>
        <div>
            {% if artist.__tags is defined %}
                {% for tag in artist.__tags %}
                    <a href="{{ tag.__link }}">
                        <span class="badge badge-default">{{ tag.name }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </article>
{% endfor %}
{% if pages|length > 0 %}


    <div class="col-md-12">
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endif %}