<div class="row fh5co-post-entry">
    <div class="col-lg-12">
        <ul class="list-group">
            {% for track in tracks %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-10">
                            <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                        </div>
                        <div class="col-md-10">
                            <audio class="js-player" controls preload="none">
                                <source src="{{ track.url }}" type="audio/mp3">
                            </audio>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-secondary" style="margin-top: 5px" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if pages|length > 0 %}

            <div class="col-md-12">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="clearfix visible-xs-block"></div>
</div>