<section style="margin-top: 25px;">
    <h3 class="title is-3">{{ name }}</h3>

    <div class="box content">

        {% for track in tracks %}
            <article class="post" style="margin-bottom: 1rem;border-bottom: 1px solid #E6EAEE;">
                <h5 class="title is-5"><a href="{{ track.__link }}">{{ track.name }}</a></h5>
                <div class="media">
                    <div class="media-content">
                        <div class="content">
                        <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}

        {% if pages|length > 0 %}
            <a class="button is-success is-outlined" href="{{ pages[1].url }}">
                Больше</a>
        {% endif %}

    </div>
</section>