<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
    <ul>
        {% for link in links %}
            <li><a href="{{ link.uri }}">{{ link.title }}</a></li>
        {% endfor %}

        <li class="is-active"><a href="#" aria-current="page">{{ active.title }}</a></li>
    </ul>
</nav>