<section >
    <div >
        <h5 >{{ name }}</h5>
        <img src="{{ photo }}" alt="" >
    </div>
</section>
<div style="margin-top: {{ random(  [5,7,9]) }}px; ">
    <ol >
        {% for track in tracks %}
            <li >
                <a href="{{ track.__link }}">
                    {{ track.name }}
                </a>

                <span style="float:right">
                    {{ track.duration | date('i:s', '+00:00 GMT') }}
                </span>
            </li>
        {% endfor %}
    </ol>
</div>
<div >
    <div >
        <ul >
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li >
                {% else %}
                    <li >
                {% endif %}
                <a >{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>