
<h3 >Альбомы {{ name }} </h3>
{% if __tags is defined %}
    {% for tag in __tags %}
        <a href="{{ tag.__link }}">
            {{ tag.name }}
        </a>
    {% endfor %}
{% endif %}

{% for album in albums %}
    <a href="{{ album.__link }}"
       >
        <div style="width: 100%">
            <div class="col-md-2">
                <img src="{{ album.photo }}" alt="{{ album.name }}">
            </div>
            <div style="margin-top: 5px;font-size: 25px;">
                {{ album.name }}
            </div>
        </div>

    </a>
{% endfor %}

{% for page in pages %}
    {% if page.isCurrent %}
        <li>
    {% else %}
        <li>
    {% endif %}
    <a href="{{ page.url }}">{{ page.num }}</a>
    </li>
{% endfor %}