<img src="{{ photo }}">
<h2>{{ name }}</h2>
{% for artist in items %}
    <a href="{{ artist.__link }}"><img  src="{{ artist.photo }}" alt=""></a>
    <a href="{{ artist.__link }}">{{ artist.name }}</a>
    <hr>
{% endfor %}

{% for page in pages %}
    {% if page.isCurrent %}
    {% else %}
    {% endif %}
    <a href="{{ page.url }}">{{ page.num }}</a>
{% endfor %}