<ul>
    {% for item in results %}
        <li>
            <img src="{{ item.src }}" class="__modal_trigger" maestro-youtube-id='{{ item.id }}'>
            <span>{{ item.title }}</span>
            <hr>
        </li>
    {% endfor %}
</ul>