<h5>{{ name }}
    <small>{{ artistName }}</small>
</h5>
<audio src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls preload="none"></audio>
<a href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
<div>
    {% if __relations is defined %}
        {% for relation in __relations %}
            <a href="{{ relation.__link }}">{{ relation.name }}</a>
        {% endfor %}
    {% endif %}
</div>
