<div class="ui segment">
    [%breadcrumbs%]
</div>

<div class="ui stackable grid" style="margin: 50px 0;">
    <div class="ui segment" style=" width: 100%">
        <div class="item">
            <div class="content">
                <div class="header">
                    <h3>{{ titleRu }}</h3>
                    <div><small>{{ titleEn }}</small></div>
                </div>
                <div class="ui stackable grid" style="margin: 20px 0">
                    <div class="sixteen wide column">
                        <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                                width="100%" height="700px" allowfullscreen
                        ></iframe>
                    </div>

                </div>
                <div class="ui divider"></div>
                <div class="ui grid">
                    <div class="row">
                        <div class="eight wide column left aligned column">
                            {% if(__prev) %}
                                <a href="{{ __prev }}">
                                    <button class="ui button">
                                        Предыдущая серия
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                        <div class="eight wide column right aligned column">
                            {% if(__next) %}
                                <a href="{{ __next }}">
                                    <button class="ui button">
                                        Следующая серия
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                        <div class="sixteen wide column">
                            [%tree_items%]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


