<div class="ui segment">
    [%breadcrumbs%]
</div>

<div class="ui stackable grid" style="margin: 50px 0;">
    <div class="ui segment" style=" width: 100%">
        <div class="item">
            <div class="content">
                <div class="header">
                    <h3>{{ titleRu }}</h3>
                    <div><small>{{ titleEn }}</small></div>
                    <div>
                        {% if __tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}" class="ui teal horizontal label">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="ui stackable grid" style="margin: 20px 0">
                    <div class="sixteen wide column">
                        <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                                width="100%" height="700px" allowfullscreen
                        ></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


