<div class="ui stackable grid">
    <div class="wide column">
        [%tv_series_list%]
    </div>
</div>
<div class="ui stackable grid">
    <div class="wide column">
        [%movies_list%]
    </div>
</div>