<section class="container">
    <h1 class="ui header">[[seo_h1]]</h1>
</section>

{% for type,collection in items %}
    {% if (type == 21) %}
        <section class="container">
            <h3>Фильмы</h3>
        </section>
        <div class="ui six column grid">
            {% for film in collection %}
                {% include 'driver/video/semantic-kit/block/element/film.twig' with {'film':film} %}
            {% endfor %}
        </div>
    {% elseif(type == 13) %}
        <section class="container">
            <h3>Сериалы</h3>
        </section>
        <div class="ui six column grid">
            {% for seria in collection %}
                {% include 'driver/video/semantic-kit/block/element/seria.twig' with {'seria':seria} %}
            {% endfor %}
        </div>
    {% elseif(type == 12) %}
        <section class="container">
            <h3>Епизоды</h3>
        </section>
        <div class="sixteen wide column">
            <div class="ui cards">
                {% for episode in collection %}
                    {% include 'driver/video/semantic-kit/block/element/episode.twig' with {'episode':episode} %}
                {% endfor %}
            </div>
        </div>
    {% elseif(type == 14) %}
        <section class="container">
            <h3>Сезоны</h3>
        </section>
        <div class="ten wide column">
            <div class="ui stackable grid">
                <div class="ui four column grid">
                    {% for season in collection %}
                        {% include 'driver/video/semantic-kit/block/element/season.twig' with {'season':season} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

<section class="container">
    <h1 class="ui header">Смотрите больше</h1>
</section>

<div class="ui items">
    {% for item in results %}
        <div class="item">
            <div class="ui tiny image">
                <img src="{{ item.src }}">
            </div>
            <div class="middle aligned content">
                <a class="header __modal_trigger" maestro-youtube-id='{{ item.id }}'>{{ item.title }}</a>
            </div>
        </div>
    {% endfor %}
</div>
