<div class="ui segment">
    [%breadcrumbs%]
</div>
<div class="ui grid" style="margin: 50px 0">
    <div class="sixteen wide column">
        <div class="ui segment">
            <h3>Сезон {{ season }}</h3>
            <p>
                [[seo_text]]
            </p>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui cards">
            {% for episode in episodes %}
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {{ episode.titleRu }}
                        </div>
                        <div class="meta">
                            {{ episode.season }} Сезон / {{ episode.episode }} Епизод
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a href="{{ episode.__link }}">
                                <div class="ui basic green button">Смотреть</div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if pages|length > 0 %}

            <div class="ui pagination menu">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <a class="active item" href="{{ page.url }}">{{ page.num }}</a>
                    {% else %}
                        <a class="item" href="{{ page.url }}">{{ page.num }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>