<div class="ui segment">
    [%breadcrumbs%]
</div>

<div class="ui stackable grid" style="margin-bottom: 50px">
    <div class="six wide column">
        <div class="ui link cards">
            <div class="card">
                <div class="image">
                    <img src="{{ photo }}" alt="{{ titleRu }}">
                </div>
                <div class="content">
                    <div class="header">{{ titleRu }}</div>
                    <div>
                        {% if __tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}" class="ui teal horizontal label">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="extra content">
                    <a href="{{ imdbUrl }}" class="ui label">
                        Imdb {{ imdbRating }}
                    </a>
                    <a href="{{ kinopoiskUrl }}" class="ui label">
                        Kinopoisk {{ kinopoiskRating }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui stackable grid">
            <div class="ui four column grid">
                {% for index,season in seasons %}
                    <div class="column">
                        <div class="ui card">
                            <div class="content">
                                <a class="header" href="{{ season.__link }}">Сезон {{ season.season }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="ui inverted section divider"></div>

        {% if pages|length > 0 %}

            <div class="ui pagination menu">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <a class="active item" href="{{ page.url }}">{{ page.num }}</a>
                    {% else %}
                        <a class="item" href="{{ page.url }}">{{ page.num }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>