{% for track in tracks %}
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="mx-4 my-5 p-3 bg-dark text-light">
            <a href="{{ track.__link }}" style="color:white">{{ track.name }}</a>
            {% if track.artistName == "" %}
                <p>Unknown</p>
            {% else %}
                <p>{{ track.artistName }}</p>
            {% endif %}
            <audio src="{{ track.source_url }}" controls="controls" preload="none" class="large"></audio>
        </div>
    </div>
{% endfor %}
{% if pages|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                <a href="{{ pages[1].url }}">Ещё</a></div>
        </div>
    </div>
{% endif %}