{% for artist in artists %}
    <div class="col-4 d-flex align-items-center py-3">
    <div class="img-container">
        <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
    </div>
        <span class="ml-2"><a href="{{ artist.__link }}">{{ artist.name }}</a></span>
    </div>
    <hr>
{% endfor %}
{% if pages|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                <a href="{{ pages[1].url }}">Ещё</a></div>
        </div>
    </div>
{% endif %}