<div class="col-md-12">
    <div class="mx-4 my-5 p-3 bg-dark text-light">
        Топ {{ total }} артистов
    </div>
</div>
<div class="col-md-12">
    <div class="mx-4 my-5 p-3 borderator row">
        {% for artist in artists %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="artist-photo">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h3><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                    <hr>
                    <div>
                        <small>Всего альбомов: {{ artist.totalAlbums }}</small>
                    </div>
                    <div>
                        <small>Всего треков: {{ artist.totalSongs }}</small>
                    </div>
                    <div>
                        {% if artist.__tags is defined %}
                            {% for tag in artist.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-12">
    <ul class="pagination">
        {% for page in pages %}
            {% if page.isCurrent %}
                <li class="page-item active">
            {% else %}
                <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
            </li>
        {% endfor %}
    </ul>
</div>