<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/css/zoomslider.css"/>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script type="text/javascript" src="/js/modernizr-2.6.2.min.js"></script>

    <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <!--/web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="demo-1" class="banner-inner">
    <div class="banner-inner-dott">
        <!--/header-w3l-->
        <div class="header-w3-agileits" id="home">
            <div class="inner-header-agile part2">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/">{{ domain }}</a>
                    </div>
                    <!-- navbar-header -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            [%nav_links%]
                        </ul>

                    </div>
                    <div class="clearfix"></div>
                </nav>
            </div>
        </div>
    </div>
</div>
[[ad_block_top]]
<div class="container">
    <section class="row">
        <div class="col">
            <h1 style="color: black">[[seo_h1]]</h1>
        </div>
    </section>
</div>
<div>
    {{ template | raw }}
</div>
{% if __text is not empty %}
    <div>{{ __text | raw }}</div>
{% endif %}
<div>
    [[seo_text]]
</div>
[[ad_block_bottom]]
<!--/footer-bottom-->
<div class="contact-w3ls" id="contact">
    <div class="footer-w3lagile-inner">
        <div class="footer-grids w3-agileits">
            <div class="col-md-12 footer-grid">
                [%cross_links%]
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
<div class="w3agile_footer_copy">
    <p>© 2018 {{ domain }}. All rights reserved</p>
</div>

<script src="/js/jquery-1.11.1.min.js"></script>

<!-- search-jQuery -->
<script src="/js/main.js"></script>
<!-- //search-jQuery -->

<!-- pop-up-box -->
<script src="/js/jquery.magnific-popup.js" type="text/javascript"></script>
<!--//pop-up-box -->

<script>
    $(document).ready(function () {
        $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
<script src="/js/easy-responsive-tabs.js"></script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>

<!--/script-->
<script type="text/javascript" src="/js/easing.js"></script>

<!--end-smooth-scrolling-->
<script src="/js/bootstrap.js"></script>
<script src="/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-block").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds
            autoPlay: true,
            navigation: true,

            items: 5,
            itemsDesktop: [640, 4],
            itemsDesktopSmall: [414, 3]

        });

    });
</script>

</body>
</html>