<div class="card">
    <div class="content">
        <div class="header">
            {{ episode.titleRu }}
        </div>
        <div class="meta">
            {{ episode.season }} Сезон / {{ episode.episode }} Епизод
        </div>
    </div>
    <div class="extra content">
        <div class="ui two buttons">
            <a href="{{ episode.__link }}">
                <div class="ui basic green button">Смотреть</div>
            </a>
        </div>
    </div>
</div>