<div class="five wide tablet three wide computer column">
    <div class="ui card">
        <a class="image" href="{{ film.__link }}">
            <img src="{{ film.photo }}">
        </a>
        <div class="content">
            <a class="header" href="{{ film.__link }}">{{ film.titleRu }}</a>
            <div>
                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}" class="ui teal tag label">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>