<div class="column">
    <div class="ui card">
        <div class="content">
            <a class="header" href="{{ season.__link }}">{{ season.name }} - Сезон {{ season.season }}</a>
        </div>
    </div>
</div>