<div class="container" id="portfolio">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ name }}</h2>
        </div>
    </div>
    <div class="row">
        {% for seria in series %}
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a class="portfolio-link" href="{{ seria.__link }}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ seria.photo }}" alt="{{ seria.titleRu }}" style="width: 100%">
                </a>
                <div class="portfolio-caption">
                    <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
                </div>
                <p>
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-success">{{ tag.name }}</span>
                            </a>
                        {% endfor %}

                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</div>