<section class="container-fluid bg-dark">
    <div class="row">
        [%breadcrumbs%]
    </div>
    <div class="col">
        <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                width="100%" height="700px" allowfullscreen></iframe>
    </div>
</section>