<section class="container-fluid bg-dark">
    <div class="row">
        <div class="row col-12 d-flex justify-content-center pl-lg-5 pl-md-5">
            [%movies_list#6%]
        </div>
    </div>
    <div class="row">
        <div class="row col-12 d-flex justify-content-center pl-lg-5 pl-md-5">
            [%tv_series_list#6%]
        </div>
    </div>
</section>