<section class="container-fluid bg-dark">
    <div class="row">
        [%breadcrumbs%]
    </div>
    <div class="row my-5">
        {% for index,episode in episodes %}
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 text-center seria-link my-1">
                <a href="{{ episode.__link }}" class="pt-2">
                    <p class="py-3">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center pb-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>