<section class="container-fluid bg-dark">
    <div class="row">
        [%breadcrumbs%]
        <div class="row col-12 py-4">
            <div class="col-md-6">
                <div>
                    <small>{{ titleEn }}</small>
                </div>
                <img src="{{ photo }}"/>
                <ul class="text-light">
                    <li><em>IMdb: <i class="far fa-star"></i> {{ imdbRating }}/10</em>
                    <li><em>Kinopoisk: <i class="far fa-star"></i> {{ kinopoiskRating }}/10</em>
                    <li>{% if __tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}" class="badge badge-danger">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% endif %}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row my-3">
        {% for index,season in seasons %}
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 text-center seria-link-one my-1">
                <a href="{{ season.__link }}" class="pt-2">
                    <p class="py-5">{{ season.season }} Сезон</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center pb-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>