<section class="container-fluid list-screen">
    <div>
        [%breadcrumbs%]
    </div>
    <section class="section pt-5 pb-2 mt-5">
        <div class="container">
            <div class="card-body">
                <h1 class="card-title text-center">
                    {{ name }}
                </h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-12 mb-2 text-center">
                            <p class="text-light">
                            {{ text | raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>