<section class="container-fluid section-root">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 py-5 mt-5">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row mt-5 pt-5">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            [%audio_artists_list#5%]
        </div>
        {% if __text is not empty %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <p>{{ __text | raw }}</p>
            </div>
        {% endif %}
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p>[[seo_text]]</p>
        </div>
    </div>
    <div class="col-12">
        [%audio_tracks_list%]
    </div>
</section>