<section class="container-fluid list-screen">
    <div>
        [%breadcrumbs%]
    </div>
    <div class="row d-flex justify-content-center head">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 py-5 d-flex justify-content-center">
            <div>
                <h1 class="text-center">[[seo_h1]]</h1>
                <hr>

                {% if __text is not empty %}
                <p class="list-seo pl-2 ml-2">{{ __text | raw }}</p>
                {% endif %}
                <p class="list-seo pl-2 ml-2">[[seo_text]]</p>

            </div>
        </div>
    </div>
    <div class="row pt-5 mt-5">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12
                    order-sm-2 order-xs-2 order-lg-1 order-md-1 my-3">
                        <div>
                            <a href="{{ __link }}"><p>{{ name }}</p></a>
                        </div>
                        <div>
                            <audio src="{{ source_url }}" controls preload="none" class="block-width-30"></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-1">
            <a href="{{ url }}" download="{{ name }}">
                <button type="button" class="btn creative-btn my-4 mx-1">Скачать</button>
            </a>
            {% if __relations is defined %}
                {% for relation in __relations %}
                    <a href="{{ relation.__link }}">
                        <button type="button" class="btn creative-btn-text my-4 mx-1">
                            Текст
                        </button>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <section class="container-fluid mt-5">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>