<section>
    <h2>Топ {{ total }} сериалов</h2>
    <hr>
    {% for seria in series %}
        <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt=""></a>
        <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
        <div>
            {% if seria.__tags is defined %}
                {% for tag in seria.__tags %}
                    <a href="{{ tag.__link }}" style="display:inline-block; background: grey; color: black">
                        <span>{{ tag.name }}</span>
                    </a>
                {% endfor %}

            {% endif %}
        </div>
        <hr>
    {% endfor %}
    <ul>
        {% for page in pages %}
            {% if page.isCurrent %}
                <li>
            {% else %}
                <li>
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a>
            </li>
        {% endfor %}
    </ul>
</section>