<section class="container">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 row">
            {% for track in tracks %}
                <div class="sigle-facilities col-lg-4 col-md-6">
                    <h4><a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a></h4>
                    <p>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </p>
                </div>
            {% endfor %}
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h5 class="card-title">{{ name }}</h5>
            <img src="{{ photo }}" alt="{{ name }}" class="img-fluid img-thumbnail">
        </div>
    </div>
</section>