<section class="container">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="my-4">{{ name }}</h3>
            <img class="img-fluid" src="{{ photo }}" alt="">
            <div>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-default" style="color:#007bff" >{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-8 row">
            {% for album in albums %}
                <a href="{{ album.__link }}" class="col-md-4">
                    <div class="card" style="margin-bottom: 20px">
                        <img src="{{ album.photo }}" alt="{{ album.name }}" class="card-img-top image-in-card">
                        <div class="card-body">
                            <div class="card-title">{{ album.name }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div class="col-12">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</section>