<section class="container pt-3 pb-3">
    <div class="row">
        <img src="{{ photo }}" alt="{{ name }}">
        <h3>{{ name }}</h3>
    </div>
    <div class="row">
        {% for artist in items %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <h3 class="tile-title">{{ artist.name }}</h3>
                    <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                    <a class="btn btn-primary btn-large btn-block" href="{{ artist.__link }}">Подробней</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="active">
                    {% else %}
                        <li class="gray">
                    {% endif %}
                    <a class="" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>