<section class="container">
    <div class="row">
        <div class="col-md-12">
            [%audio_artists_list%]
        </div>
        <div class="col-md-12">
            [%audio_tracks_list%]
        </div>
    </div>
</section>