<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="[[seo_description]]">
    <meta name="author" content="">

    <title>[[seo_title]]</title>
    [[seo_meta_schema]]
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    [[seo_meta_tags]]
    <!-- Custom styles for this template -->
    <link href="/css/index.css" rel="stylesheet">
    [[seo_global_meta_tags]]
</head>

<body>

<div id="wrapper" class="toggled">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" id="menu-toggle" href="#menu-toggle">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- Sidebar -->
    [%nav_links%]
    <!-- /#sidebar-wrapper -->
    [[ad_block_top]]
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>[[seo_h1]]</h1>
        </div>
        <div class="container-fluid">
            {{ template | raw }}
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
    <footer class="container-fluid">
        [%cross_links%]
    </footer>
    [[ad_block_bottom]]
</div>

<!-- /#wrapper -->

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="/js/index.js"></script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        console.log('i am clicked')
    });
</script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>

</html>