<div class="container" id="portfolio" style="margin-top: 75px">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ name }}</h2>
        </div>
    </div>
    <div class="row">
        {% for seria in series %}
            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card">
                    <h5 class="card-title text-center">{{ seria.titleRu }}</h5>
                    <a href="{{ seria.__link }}" ><img class="card-img-top" src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                    <p>
                        {% if seria.__tags is defined %}
                            {% for tag in seria.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="new badge red" style="color:red;">{{ tag.name }}</span>
                                </a>
                            {% endfor %}

                        {% endif %}
                    </p>
                    <div class="card-body text-center">
                        <a href="{{ seria.__link }}" class="btn btn-primary">Смотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-primary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</div>