<div class="container">
    <div class="row">
        <div class="col">
            [%tv_series_list#6%]
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            [%movies_list#6%]
        </div>
    </div>
</div>