{% if links is defined %}
    <div class="container bread">
        <div class="row">
            <div class="col crumbs">
                {% for link in links %}
                    <a href="{{ link.uri }}">{{ link.title }}</a>
                {% endfor %}
                <b class="white">{{ active.title }}</b>
            </div>
        </div>
    </div>
{% endif %}
