<nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="#">{{ domain }}</a>
</nav>
<nav class="navbar navbar-embossed navbar-expand-lg navbar-dark">
    <div class="container">
        <div class="row center">
            <div class="col">
                <ul class="pager">
                    {% for nav in links %}
                        <li>
                            <a href="{{ nav.__link }}">
                                <span>{{ nav.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>
