<div class="container" id="portfolio">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ name }}</h2>
        </div>
    </div>
    <div class="row">
        {% for seria in series %}
            <div class="col-md-3 col-sm-6">
                <a class="card" href="{{ seria.__link }}">
                    <img class="card-img-top" src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                    <div class="card-body">
                        <p class="card-text">{{ seria.titleRu }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</div>