{% for film in films %}
<div class="col-lg-2 col-md-2 d-flex justify-content-center trap">
        <div class="artists-block">
            <a href="{{ film.__link }}"><img src="{{ film.photo }}" alt="{{ film.titleRu }}"/></a>
        </div>
    <div class="art-link text-center">
            <a href="{{ film.__link }}">{{ film.titleRu }}</a>
    </div>
</div>
{% endfor %}