{% for seria in series %}
    <div class="col-lg-2 col-md-2 d-flex justify-content-center trap">
        <div class="artists-block">
            <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"/></a>
        </div>
        <div class="art-link text-center">
            <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
        </div>
    </div>
{% endfor %}