
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By TANIOS
 */
body,html {
	font-family: 'Abel', sans-serif;
	color:#846C63;
}

body {
	background-color: #F6F4F1!important;
}
/* COLORS */
a {
	color:#88AAA9!important;
}
/*a:hover {
  color:#88AAA9!important;
}*/
.abrown {
	background-color: #BDB1AD !important;
}
.abrown-footer {
	background-color: rgba(189,177,173,0.1)!important;
}
.agray {
	background-color: #EEEEEE !important;
}
.ablue {
	background-color:#86A8A8 !important;
}
.alblue {
	background-color: #B4C9C8 !important;
}
.alcaramel {
	background-color: #F0E5D7 !important;
}
.aover {
	background-color: rgba(51,51,51,0.2);
}
.acaramel-text {
	color: #E0BB8E !important;
}
.ablue-text {
	color:#86A8A8 !important;
}

.ablue-text.lighten-4 {
	color: #B3C8C7 !important; }
hr {
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #846C63;
}
.agray h4, .alcaramel h4 {
	color:#846C63;
}
.btn {
	margin:2px;
}
.btn, .btn-large {
	background-color:#86A8A8!important;
	color:white !important;
}
.btn:hover, .btn-large:hover {
	background-color: #E0BB8E!important;
}
.brown-text.text-darken-4 {
	color:#846C63!important;
}
/* HEADER */
#logo-container {
	/*position: absolute;*/
}
.brand-logo {
	color:#846C63 !important;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	left:50px;
}
.icon {
	position: absolute;
	padding-top: 13px;
	margin-right: 5px;
}
nav ul a:hover {
	background-color: #BDB1AD;
	color:white!important;
}
/*.parallax-container {
    height: 600px;
  }*/
.search {
	margin-bottom: 5px;
}
.cities {
	padding-top: 10px;
}

/* SIDE NAV */

/* INDEX */
.area {
	font-size: 12px;
	line-height: 0.75rem;
}
.card .card-title {
	font-size: 20px;
}
/*
.card-image {
  max-height: 223px;
  overflow: hidden;
}
.card .card-image img {
  min-height: 230px;
}
*/

.card-image {

	overflow: hidden;

	width: 100%;

	position: relative;

}

.card-image:before {

	content: '';

	display: block;

	padding-bottom: 75%; /* 600 / 800 = 0,75 */

}

.team-member .card-image:before {

	padding-bottom: 100%;

}

.card-image > * {

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

}

.card-image > img {

	bottom: auto;
	right: auto;

	width: 100%;

	height: auto !important;

}

.card .card-content {
	min-height: 105px;
}
.card .card-content .card-title {
	line-height: 22px;
	padding-top: 10px;
}
.title {
	color:#846C63!important;
	text-transform: uppercase;
}

/* BLOG */
.blog-date {
	display: block;
}
.card-title {
	text-transform: uppercase;
}
.card .card-action a {
	color: white!important;

}
/* POST */
.opening-hours {
	margin:0;
}
.detail-title {
	font-weight: 700;
	display: block;
	/*text-transform: uppercase;*/
}
.post h2, .blog h2 {
	text-transform: uppercase;
}
.single-blog p {
	font-size: 18px;
}
/*.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  vertical-align: middle;
}*/
/*.post img {
  width: 100%;
  height: auto;
}*/

/* CTA */
.search-box {
	/*display: none;*/
}
.email-cta {
	display: none;
}
.success {
	display: none;
}
.progress {
	display: none;
}
#emailField {
	height: 2.5rem;
}

/* BETA */
#joinedBeta {
	display: none;
}

/* OWNER DASHBOARD */
nav.white .breadcrumb:before {

	color: inherit !important;

}


/* FOOTER */
.social-icons ul li {
	display: inline;
}
.social-icons [data-icon]:before {
	font-size: 30px;
}
.page-footer h5 {
	text-transform: uppercase;
}
@media only screen and (min-width : 601px) {

	.parallax-container {
		min-height: 420px;
	}
}
/* MOBILE */
@media only screen and (max-width : 600px) {
	nav .brand-logo{
		font-size: 14px !important;
	}
	.container {
		padding:0 0rem;
	}
	ul.side-nav a {
		font-size: 21px;
		text-transform: uppercase;
		/*line-height: 35px;*/
		/*padding: 20px 15px*/
	}
	.parallax-container {
		min-height: 275px;
	}
}

/* BEFORE */
nav ul a,
nav .brand-logo {
	color: #444;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	/*height: 600px;*/
	/*min-height: 380px;*/
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

/* SEARCH */
input.search {
	display: none;
	width: 400px;
	background: #846C63!important;
	color: white;
	padding: 0px 10px;
}

@media only screen and (max-width : 992px) {

	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}


.icon-block {
	padding: 0 15px;
}

footer.page-footer {
	margin: 0;
}

/* Empty Card */
.card-empty {

	display: table;

	height: 100%;
	width: 100%;
	min-height: 175px;
	margin-top:20px;
	border: dashed 2px;
	border-color: inherit;

	text-align: center;
	vertical-align: middle;

	padding: 0 30px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.card-empty span {

	font-size: 16px;
	text-transform: uppercase;

	display: table-cell;

	text-align: center;
	vertical-align: middle;
}

.card-empty span:before {

	content: '+';

	font-size: 2em;

	display: block;

	margin: 0 auto;

}

.sub-title {

	text-decoration: underline;
	font-weight: 700;
	margin: 7px 0;

}


#instagram-import .photo-item {

	cursor: pointer;

}

#instagram-import .photo-item.active {

	border: solid 6px #846C63;

}

#instagram-photos .instagram-photo {

	display: inline-block;

}

#instagram-photos .instagram-photo img {

	display: block;

	margin-bottom: 0;
	padding-bottom: 0;

}

#instagram-photos .instagram-photo.active{

	border: solid 3px #846C63;

}

#message-us {

	margin-left: 7px;

}

#message-us > span {

	vertical-align: middle !important;

}

.card.card-small .card-content {

	text-align: center;

}

.card.card-small .card-title {

	display: block;

	font-size: 16px;
	margin-top: 0px;

}
.card {
	background: transparent;
}
.card .card-image .card-title {
	padding: 20px 0 10px 20px;
	font-size: 50px;
	line-height: 50px;
	font-weight: 100;
}
.card .card-image img{
	object-fit: cover;
}

.card-title.home{
	text-shadow: 0 0 5px black;
}

.card-content{
	min-height: 0 !important;
}