<section class="block wow fadeInLeft animated">
    {% for link in links %}
        <a class="non-color-box" href="{{ link.uri }}">{{ link.title }}</a>
            <span> /</span>
    {% endfor %}
        <span class="color-box">{{ active.title }}</span>
</section>