<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h2>Топ <span>Фильмов</span></h2>
                    </div>
                    <div id="owl-movies" class="owl-carousel">
                        {% for film in films %}
                            <div class="series-item">
                                <a href="{{ film.__link }}">
                                    <h5 class="text-center">{{ film.titleRu }}</h5>
                                    <img class="img-responsive"
                                         src="{{ film.photo }}"
                                         alt="{{ film.titleRu }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
            <div class="col-md-12 text-center">
                {% if pages|length > 0 %}
                    <a href="{{ pages[1].url }}">
                        <span>Больше</span>
                    </a>
                {% endif %}
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section>