<section class="container">
    <div class="row">
        <h3>{{ name }}</h3>
    </div>
    <div class="row">
        {% for film in items %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ film.__link }}"><img class="card-img-top" src="{{ film.photo }}" alt=""></a>
                    <div class="card-body">
                        <a href="{{ film.__link }}" class="card-title">{{ film.titleRu }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <ul class="pagination pagination-sm">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>