<section class="container">
    <div class="row">
        <div class="col-12">
            [%tv_series_list%]
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            [%movies_list%]
        </div>
    </div>
</section>