<section class="container">
    <div class="row">
        {% for type,collection in items %}
            {% if (type == 21) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Фильмы</h3>
                </div>
                {% for film in collection %}
                    {% include 'driver/video/simple-sidebar/block/element/film.twig' with {'film':film} %}
                {% endfor %}
            {% elseif(type == 13) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Сериалы</h3>
                </div>
                {% for seria in collection %}
                    {% include 'driver/video/simple-sidebar/block/element/seria.twig' with {'seria':seria} %}
                {% endfor %}
            {% elseif(type == 12) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Епизоды</h3>
                </div>
                <div class="col-xs-12">
                    <ol class="list-group" style="list-style: decimal inside !important; ">
                        {% for episode in collection %}
                            {% include 'driver/video/simple-sidebar/block/element/episode.twig' with {'episode':episode} %}
                        {% endfor %}
                    </ol>
                </div>
            {% elseif(type == 14) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Сезоны</h3>
                </div>
                <div class="col-xs-12">
                    <ul class="list-group" style="margin-bottom: 20px">
                        {% for season in collection %}
                            {% include 'driver/video/simple-sidebar/block/element/season.twig' with {'season':season} %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <h3>Смотрите больше</h3>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12 mb-5">
                <a style="height: 300px" href="{{ item.__link }}" target="_blank">
                    <img src="{{ item.src }}" class="img-fluid __modal_trigger" maestro-youtube-id='{{ item.id }}'
                         height="250">
                    <div>{{ item.title }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>