<section class="container-fluid">
    [%breadcrumbs%]
</section>
<section class="card">
    <div class="card-body">
        <h5 class="card-title">Сезон {{ season }}</h5>
    </div>
</section>
<div style="margin-top: {{ random(  [5,7,9]) }}px; ">
    <ol class="list-group" style="list-style: decimal inside !important;">
        {% for episode in episodes %}
            <li class="list-group-item" style="display: list-item !important">
                <a href="{{ episode.__link }}">
                    {{ episode.season }} Сезон / {{ episode.episode }} Эпизод
                </a>
            </li>
        {% endfor %}
    </ol>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center py-3">
        {% include "driver/base/paginate_limit.twig" %}
    </div>
    <div class="col-12 d-flex justify-content-center py-3">
        <ul class="pagination pagination-sm">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>