<section class="container-fluid">
    [%breadcrumbs%]
</section>
<section>
    <div class="container">
        <h3 class="my-4">{{ titleRu }}</h3>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ photo }}" alt="{{ titleRu }}">
                <div><a href="{{ imdbUrl }}">
                        <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
                    </a>
                    <a href="{{ kinopoiskUrl }}">
                        <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
                    </a></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-warning">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h3 class="my-4">Сезоны {{ titleRu }} </h3>
    <div class="row">
        <div class="col">
            <ul class="list-group" style="margin-bottom: 20px">
                {% for season in seasons %}
                    <a href="{{ season.__link }}"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="row" style="width: 100%">
                            <div class="col-md-7" style="margin-top: 5px;font-size: 25px;">
                                Сезон {{ season.season }}
                            </div>
                        </div>

                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <ul class="pagination pagination-sm">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
