body {
    font-family:Georgia, "Times New Roman", Times, serif;
    background:#f8f8ff !important;
}

.bg-blue {
    background: #26a0d7;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: #ebebeb !important;
}

.title-elegant h3 {
    color:#0b75c9;
    margin:0 0 20px 15px;
}

.h1-100 {
    border:1px solid #9191b4;
}

.serial-elegant-title a{
    font-weight:bold;
    font-size:17px;
    text-align:center;
    color:#0b0a0f;
}

.serial-elegant-title a:hover {
    color:#3998ff;
    text-decoration:none;
}

.elegant-more-info {
    background:#c1def9;
    border:1px solid #9797e3 !important;
    color:#666;
}

.serials-top h3{
    color:#0b75c9;
    margin:0 0 20px 15px;
}

.page-item.active .elegant-page-link {
    background:#26a0d7 !important;
    color:#fff;
    border:#53555c;
}

.elegant-page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #53555c;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination-block {
    margin:0 auto;
}

.badge {
    color:#c2cfff !important;
}

.elegant-card-2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.elegant-card-body-2 {
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align:center;
    border:1px solid #cacaff;
}

.elegant-card-title-2 {
    text-align:center;
}

.elegant-card-body-2 a{
    background:#26a0d7 !important;
    border:1px solid #f7f7ff;
}

.elegant-episode-info {
    font-weight:bold;
}

.breadcrumb-block {
    margin:10px 0;
    border:1px solid #cecbff;
}

ol.breadcrumb {
    margin-bottom:0;
}

button.btn-secondary {
    background:#7c9bff;
}

button.btn-secondary:hover {
    background:#7193ff;
}

button.btn-dark {
    background:#5766cd;
}

button.btn-dark:hover {
    background:#495ce0;
}