<section class="container-fluid first-page">
    <div class="row justify-content-end">
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12 justify-content-start">
            <h1 class="text-light">[[seo_h1]]</h1>
            <p class="text-light text-left">[[seo_text]]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            [%tv_series_list#6%]
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            [%movies_list#6%]
        </div>
    </div>
</section>