@media (min-width: 992px)  {
    header > nav {
        height: 100vh;
        width: 15vw;
    }

    body {
        background: url(../img/main-block-bg.jpg) no-repeat center fixed;
        background-size: cover;
        min-height: 100vh;
        padding-left: 15vw;
    }

    .block-width-70 {
        width: 70vw;
    }

}

body {
    background: url(../img/main-block-bg.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    background-color: #0b0a0f;
}

.nav > :nth-child(1):hover {
    box-shadow: 0px 0px 50px 5px #e1008d;
    background-color: rgba(225, 0, 141, 0.8);
    transform: rotate(-20deg);
    transition: 0.3s;
    font-weight: bolder;
}

.nav > :nth-child(2):hover {
    box-shadow: 0px 0px 50px 5px #00e0e1;
    background-color: rgba(0, 224, 225, 0.81);
    transform: rotate(20deg);
    transition: 0.3s;
    font-weight: bolder;
}

.nav > :nth-child(3):hover {
    box-shadow: 0px 0px 50px 5px #aee100;
    background-color: rgba(174, 225, 0, 0.8);
    transform: rotate(-20deg);
    transition: 0.3s;
    font-weight: bolder;
}

a {
    color: #fff2f2;
}

a:hover {
    color: #fff2f2;
    text-decoration: none;
}

.main-text {
    font-family: 'Pacifico', cursive;
    color: rgba(225, 57, 105, 0.81);
    text-shadow: 0px 0px 30px #ff437f;
    transform: rotate(-10deg);
}

.block-height-30 {
    min-height: 30vh;
}

.screen-height {
    min-height: 100vh;
}

.block-height-60 {
    min-height: 60vh;
    margin-bottom: 10vh;
}

.seo-text-bg {
    background-color: #0b0a0f;
    box-shadow: 0px 0px 50px 5px #e1008d;
}

p {
    color: #9d7dce;
}

.block-width-60 {
    width: 60vw;
}

ol {
    color: rgba(225, 57, 105, 0.81);
    text-shadow: 0px 0px 30px #ff437f;
}

.second-screen {
    background-color: #0b0a0f;
    box-shadow: 0px 0px 50px 5px #00e0e1;
}

.third-screen {
    background-color: #0b0a0f;
    box-shadow: 0px 0px 50px 5px #8f00ce;
}

.fourth-screen {
    background-color: #0b0a0f;
    box-shadow: 0px 0px 50px 5px #aee100;
}

.artist-img {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
}

.artist-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.h1-style-1 {
    font-family: 'Pacifico', cursive;
    color: #00e0e1;
    text-shadow: 0px 0px 30px rgba(0, 224, 225, 0.81);
    transform: rotate(-10deg);
}

.h1-style-2 {
    font-family: 'Pacifico', cursive;
    color: #aee100;
    text-shadow: 0px 0px 30px rgba(174, 225, 0, 0.8);
    transform: rotate(-10deg);
}

.h1-style-3 {
    color: #8f00ce;
    text-shadow: 0px 0px 30px rgba(143, 0, 206, 0.8);
}

.list-link > a:hover {
    text-shadow: 0px 0px 30px #fff2f2;
    font-weight: bold;
    transition: 0.3s;
}

.badge:hover {
    box-shadow: 0px 0px 20px 5px #8f00ce;
}

.border-style {
    border: 1rem solid;
    margin: 5px;
}

.bc-style {
    background-color: transparent;
}

strong {
    color: #d8d8d8;
}

.description-block {
    background-color: #1d2124;
}

.audio-width {
    width: 60vw;
}

.dwnl-btn {
    padding: 4px 8px 4px 8px;
    background-color: rgba(13, 210, 199, 0.61);
    color: rgba(252, 250, 255, 0.82);
}

.dwnl-btn:hover {
    box-shadow: 0px 0px 20px 5px #00e0e1;
}