<section class="container-fluid">
    <h3>{{ name }}</h3>
    <div class="row">
        {% for seria in items %}
            <div class="col-lg-4 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ seria.__link }}">
                        <img class="card-image" src="{{ seria.photo }}" alt="">
                    </a>
                    <div class="card-body">
                        <a href="{{ seria.__link }}" class="card-title">{{ seria.titleRu }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pages %}
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="active  blue-grey darken-1">
                {% else %}
                    <li class="waves-effect">
                {% endif %}
                <a href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>