<div class="container">
    <div class="row">
        <div class="col">
            <h2>Топ Сериалов</h2>
        </div>
    </div>
    <div class="row">
        [%tv_series_list%]
    </div>
    <div class="row">
        <div class="col">
            <h2>Топ Фильмов</h2>
        </div>
    </div>
    <div class="row">
        [%movies_list%]
    </div>
</div>