<section class="container">
    <div class="row">
        <div class="col s12">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row">
        {% for type,collection in items %}
            {% if (type == 21) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Фильмы</h3>
                </div>
                {% for film in collection %}
                    {% include 'driver/video/material_3/block/element/film.twig' with {'film':film} %}
                {% endfor %}
            {% elseif(type == 13) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Сериалы</h3>
                </div>
                {% for seria in collection %}
                    {% include 'driver/video/material_3/block/element/seria.twig' with {'seria':seria} %}
                {% endfor %}
            {% elseif(type == 12) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Епизоды</h3>
                </div>
                {% for episode in collection %}
                    {% include 'driver/video/material_3/block/element/episode.twig' with {'episode':episode} %}
                {% endfor %}
            {% elseif(type == 14) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Сезоны</h3>
                </div>
                {% for season in collection %}
                    {% include 'driver/video/material_3/block/element/season.twig' with {'season':season} %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <h3>Смотрите больше</h3>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <a href="{{ item.__link }}" class="card horizontal" target="_blank">
                <div class="card-image">
                    <img width="50px" height="70px"
                         class="card-img-top img-responsive"
                         src="{{ item.src }}" alt="{{ item.title }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content" maestro-youtube-id='{{ item.id }}'>
                        {{ item.title }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>