<section class="container">
    [%breadcrumbs%]
</section>
<section class="container">
    <div class="row">
        <div style="margin-top: {{ random(  [5,7,9]) }}px; ">
            <div class="container">
                <div class="row">
                    {% for episode in episodes %}
                    <div class="col-3 season-block">
                        <b class="card-title">{{ episode.titleRu }}</b>
                        <p class="episode-title">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                        <a href="{{ episode.__link }}" class="btn btn-primary">Смотреть</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if pages %}
        <div class="pagination-block">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="active  blue-grey darken-1">
                    {% else %}
                        <li class="waves-effect">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</section>