<section class="container">
    [%breadcrumbs%]
</section>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2 class="seria-title">{{ titleRu }}</h2>
            <img class="thumbnail-img" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
            <div class="row">
                <a href="{{ imdbUrl }}">
                    <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
                </a>
                <a href="{{ kinopoiskUrl }}"><span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
                </a>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                {% for index,season in seasons %}
                    <div class="col-sm-5 mb-2 season-block">
                        <b class="card-title">Сезон {{ season.season }}</b>
                        <a href="{{ season.__link }}" class="btn btn-primary">Подробнее...</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="pagination  blue-grey darken-1">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>