body {
    background-color: #0c121f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

nav {
    background-color: #0c121f;
}

main {
    min-height: 85vh;
}

.item {
    display: block;
    position: relative;
}

.item p {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
    background-color: rgba(0,0,0,.7);
}

.item p span {
    font-size: 1.1em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    display: block;
    text-shadow: black 2px 1px 1px;
}

.item p em {
    background-color: rgba(0, 0, 0, .5);
    width: auto;
    padding: 5px;
    margin-top: 5px;
    color: white;
}

.item p em i {
    color: yellow;
    font-size: 1.3em;
}

.item p em b {
    font-size: 1.2em;
}

.navbar-brand span {
    font-size: 110%;
    background-color: #673AB7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.bg {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-blend-mode: multiply;
    background-color: #0c121f;
}

.bg-a {
    height: 40vh !important;
}

@media (max-width: 600px) {
    .bg {
        height: 100vh;
    }
}

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #0c121f no-repeat center center;
    display: flex;
    align-items: center;
}

.spinner {
    width: 240px;
    height: 240px;
    margin: 100px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

footer {
    background: url(../img/ft-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 10vh;
    font-size: .7em;
    display: block;
}

.ft-copyright {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #405266;
    background-color: #020d18;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    filter: alpha(opacity=70);
    padding: 20px 3vw 10px;
}

footer .col {
    margin-top: 15px;
    margin-bottom: 20px;
}

.flex {
    list-style: none;
    margin-left: 0;
}

.flex li {
    margin-bottom: 5px;
}

.flex a {
    color: white;
    transition: .5s;
    display: inline-block;
}

.flex a:hover {
    text-decoration: none;
    color: #673AB7;
    transform: scale(1.1);
}

.grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.grid-item {
    display: inline-block;
    position: relative;
    margin: 15px;
    -webkit-box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.75);
}

.grid-item img {
    border-radius: 5px;
    max-height: 300px;
    object-fit: cover;
}

.grid-item:hover .link {
    opacity: 1;
}

.link i {
    margin: 0 auto;
    font-size: 5em;
    color: white;
    transition: .5s;
}

.link i:hover {
    color: #673AB7;
}

.grid-item .link {
    background-color: rgba(64, 82, 102, 0.9);
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
    opacity: 0;
    transition: .4s;
    text-align: center;
    align-items: center;
}

.topbar {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
    text-align: left;
}

.topbar span {
    color: #673AB7
}

.list-inline-item.active a {
    color: #dcf836 !important;
}

.paginate {
    margin: 0 0 0 auto;
    text-align: right;
    float: right;
}

.list-inline-item a {
    color: #405266;
    transition: .3s;
}

.list-inline-item a:hover {
    color: #dcf836;
}

.bottombar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.seria-block {
    margin-top: 25px;
}

.seria-image {
    border-radius: 5px;
    -webkit-box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.75);
}

.bread {
    margin-top: 15px;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid #020d18;
    border-radius: 3px;
}

.crumbs {
    padding: 10px;
    color: #abb7c4;
    background-color: #233a50;
}

.crumbs a {
    border-right: 1px solid #020d18;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    padding-right: 10px;
}

.crumbs b {
    padding-left: 5px;
    display: inline-block;
}

.rating {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.rating i {
    display: inline-block;
    font-size: 3em;
    color: yellow;
}

.rating em {
    display: inline-block;
    font-style: normal;
}

.rating em a {
    display: block;
    width: 100%;
    color: white
}

.card-season {
    color: white;
    background-color: #233a50;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.card-season .btn {
    margin-right: -5px;
    margin-left: -5px;
}

.seasons {
    padding-top: 15px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #673AB7;
}

.episode {
    margin-bottom: 15px;
    margin-top: 15px;
}

.btn-dark:hover {
    background-color: #dcf836;
    color: #233a50;
}

.season {
    margin-bottom: 15px;
    margin-top: 15px;
}

iframe {
    border: none !important;
}