._pusher_notify{
    background-color: #040813 !important;
    background-image: none !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
._pusher_popup{
    background-image: url(../img/bg.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #0c121f !important;
}