<section class="container-h1 container-fluid">
    <div class="row justify-content-lg-end justify-content-md-end justify-content-center-sm
                justify-content-xs-center py-5">
        <div class="col-12 text-center">
            <h1>[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="bg-bark">
    <div class="row height-30 justify-content-center">
        <div class="col-md-12 text-center">
            <h2 class="text-light">{{ titleRu }}</h2>
            <small class="text-warning">{{ titleEn }}</small>
            <hr>
            <div class="col-12 text-center pb-2">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-pill badge-success">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row">
        <div class="col">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                    width="100%" height="700px" allowfullscreen></iframe>
        </div>
    </div>
</section>