<section class="container-h1 container-fluid">
    <div class="row justify-content-lg-end justify-content-md-end justify-content-center-sm
                justify-content-xs-center py-5">
        <div class="col-6 align-self-lg-center align-self-md-center align-self-sm-start align-self-xs-start">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="page-full-height justify-content-center container-fluid">
</section>
<section class="container-fluid">
    <div class="row page-half-height justify-content-lg-start justify-content-md-start justify-content-center-sm
                justify-content-xs-center py-5">
        <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-start align-self-xs-start">
            <p class="pl-5 py-3 mb-5 bg-light">[[seo_text]]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            [%movies_list#6%]
            [%tv_series_list#6%]
        </div>
    </div>
</section>