<section class="container">
    <div class="row">
        <div class="col py-5 ml-5">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Смотрите больше</h3>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12 mb-5">
                <div style="height: 300px">
                    <img src="{{ item.src }}" class="img-fluid __modal_trigger" maestro-youtube-id='{{ item.id }}'
                         height="250">
                    <div>{{ item.title }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>