<section class="container-h1 container-fluid">
    <div class="row justify-content-lg-end justify-content-md-end justify-content-center-sm
                justify-content-xs-center py-5">
        <div class="col-12 text-center">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2 pl-5 pt-5">
            [%breadcrumbs%]
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-success">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-center mb-2 pl-5 pt-5">
            <div>
                {% if __text is not empty %}
                    <p class="py-5 text-dark container-border py-2 px-4">{{ __text | raw }}</p>
                {% endif %}
                <p class="py-5 text-dark container-border py-2 px-4">[[seo_text]]</p>
            </div>
        </div>
    </div>
    <div class="row bg-light">
        <div class="row col-12 justify-content-center">
            {% for episode in episodes %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center my-1">
                    <a href="{{ episode.__link }}" class="season-link">
                        <h3 class="text-light bg-bark text-center mt-4 border border-dark py-3 px-2">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</h3>
                    </a>
                </div>
            {% endfor %}
            <section class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center pb-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 d-flex justify-content-center py-3">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>