<div class="container">
    <div class="row">
        <div class="col">
            <h3>Топ {{ total }} исполнителей</h3>
        </div>
    </div>
    <div class="row">
        {% for artist in artists %}
            <div class="grid-item col-lg-3 col-md-4">
                <!-- work -->
                <div class="work card">
                    <a href="{{ artist.__link }}">
                        <div class="hoverbox ef-slide-bottom light">
                            <div class="hb_front">
                                <img src="{{ artist.photo }}" alt="{{ artist.name }}" width="250" height="300"/>
                            </div>
                            <div class="hb_back">
                                <h2 class="work__title">{{ artist.name }}</h2>
                                {% if artist.__tags is defined %}
                                    {% for tag in artist.__tags %}
                                        <a href="{{ tag.__link }}">
                                            <span class="badge badge-default">{{ tag.name }}</span>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>