<section>
    <section class="container-fluid head-bg-img">
    </section>
    <section class="container-fluid extra-pd screen-height">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 d-flex justify-content-center">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 d-flex justify-content-center">
            <p>[[seo_text]]</p>
        </div>
        <div class="row pt-5 justify-content-center">
            {% for film in films %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 py-5 border border-danger">
                    <div class="text-center">
                        <div class="text-block text-center">
                            <a href="{{ film.__link }}" class="text-left">
                                <strong>{{ film.titleRu }}</strong>
                                <strong><i class="fas fa-star"></i> <b>{{ film.imdbRating }}</b>/10</strong>
                            </a>
                            <div>
                                {% if film.__tags is defined %}
                                    {% for tag in film.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-danger">
                                            <small class="text-light">
                                                {{ tag.name }}</small>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="album-photo">
                            <a href="{{ film.__link }}">
                                <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>