<section id="service" class="service sections lightbg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1 class="h3">[[seo_h1]]</h1>
                    <strong>топ {{ total }} исполнителей</strong>
                </div>

                <div class="main_service_area">
                    {% for index,artist in artists %}
                    <div class="single_service_area">
                        <div class="row">
                            {% if index is odd %}<div class="col-sm-6 col-sm-push-6">{% else %}<div class="col-sm-6">{% endif %}
                                    <div class="signle_service_left">
                                        <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                                    </div>
                                </div>
                                {% if index is odd %}<div class="col-sm-5 col-sm-pull-6">{% else %}<div class="col-sm-5 col-sm-push-1">{% endif %}

                                        <div class="single_service">
                                            <h3>{{ artist.name }}</h3>
                                            <div class="separator2"></div>
                                            <a href="{{ artist.__link }}" class="btn btn-primary">Перейти</a>
                                            <div class="separator2"></div>
                                            <div>
                                                {% if artist.__tags is defined %}
                                                    {% for tag in artist.__tags %}
                                                        <a href="{{ tag.__link }}">
                                                            <span class="tag is-dark">{{ tag.name }}</span>
                                                        </a>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End of single service area -->
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="pagination">
                                    {% for page in pages %}
                                        {% if page.isCurrent %}
                                            <li class="page-item active">
                                        {% else %}
                                            <li class="page-item">
                                        {% endif %}
                                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div><!-- End of col-sm-12 -->
                </div>
            </div>
</section>