<section class="service sections lightbg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1 class="h3">[[seo_h1]]</h1>
                    <strong>топ {{ total }} треков</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for track in tracks %}
                        <li class="list-group-item">
                            <div>
                                <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                            </div>
                            <div>
                    <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                                {#  <span>
                                      <a class="btn btn-outline-secondary" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                                  </span>#}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>