<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        {% for link in links %}
            <li class="breadcrumb-item">
                <a href="{{ link.uri }}" class="text-dark"><strong>{{ link.title }}</strong></a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active text-dark" aria-current="page">
            {{ active.title }}
        </li>
    </ul>
</nav>