{% if links %}
    <div class="pt-3">
        <ul class="breadcrumb justify-content-lg-center justify-content-md-center
                    justify-content-sm-start justify-content-xs-start cross-link-bar">
            {% for link in links %}
                <li class="mt-1">
                    <p class="pl-1">
                        &#x2666
                        <a href="{{ link.link }}" class="text-dark">
                            <small>{{ link.name }}</small>
                        </a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}