<section class="container">
    <div class="row d-flex">
        <div class="col-12">
            <a href="{{ pages[1].url }}"><h3 style="text-transform: uppercase">ТОП ФИЛЬМОВ</h3></a>
        </div>
        {% for film in films %}
            <div class="col-4">
                    <div class="artist-photo" style="text-align: center">
                        <a href="{{ film.__link }}"><img src="{{ film.photo }}" alt="{{ film.titleRu }}"></a>
                    </div>
                <a href="{{ film.__link }}"><p class="text-center">{{ film.titleRu }}</p></a>
            </div>
        {% endfor %}
    </div>
</section>