<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>[[seo_title]]</title>
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <meta name="description" content="[[seo_description]]">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    [[seo_meta_schema]]
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            background-color: #313131;
            padding: 0;
        }

        header {
            position: relative;
            height: 300px;
            background-image: linear-gradient(#258829, #1f5d22);
        }

        h1 {
            padding: 100px 0;
            font: 44px "Arial";
            text-align: center;
        }

        svg {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
        }

        .nav-pills .nav-link.active {
            background-color: #d1cece;
        }

        input {
            width: 50%;
        }

        img {
            max-width: 200px;
            margin: 10px;
        }

    </style>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand text-uppercase" href="/">{{ domain }}</a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                [%nav_links%]
            </ul>
        </div>
    </div>
</nav>

[[ad_block_top]]

<!-- Page Content -->

<section class="container-fluid">

    <header>
        <h1 class="text-light">[[seo_h1]]</h1>
        <svg viewBox="0 0 200 100" preserveAspectRatio="none">
            <circle fill="#313131" cx="0" cy="100" r="100"/>
            <circle fill="#313131" cx="200" cy="100" r="100"/>
        </svg>
    </header>
</section>

{{ template | raw }}


{% if __text is not empty %}
    <section>{{ __text | raw }}</section>
{% endif %}

<section>
    <div class="text-light text-center m-5 border border-light rounded"><p class="p-5">[[seo_text]]</p></div>
</section>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
    </div>
    <div class="container center">
        <div class="row justify-content-center">
            <a class="nav-link js-scroll-trigger" href="/">{{domain}}</a>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
[[ad_block_bottom]]
</body>

</html>
