<section>
    <h4 class="title is-4">Топ {{ total }} фильмов</h4>

    <div class="columns" style="flex-wrap: wrap">
        {% for film in films %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="{{ film.__link }}"> <img src="{{ film.photo }}" alt="{{ film.titleRu }}" style="object-fit: cover"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <a href="{{ film.__link }}">{{ film.titleRu }}</a>
                        <p>
                            {% if film.__tags is defined %}
                                {% for tag in film.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="tag is-primary">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}

                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% for page in pages %}
                <li>
                    <a class="pagination-link {% if page.isCurrent %}is-current{% endif %}" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>