{% for artist in artists %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 py-2">
        <div class="artist-photo">
            <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <h3><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
        <div>
            <small>Всего альбомов: {{ artist.totalAlbums }}</small>
        </div>
        <div>
            <small>Всего треков: {{ artist.totalSongs }}</small>
        </div>
        <div>
            {% if artist.__tags is defined %}
                {% for tag in artist.__tags %}
                    <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
    </div>
{% endfor %}
{% if pages|length > 0 %}
    <div class="col-12 d-flex justify-content-center mt-1">
        <a href="{{ pages[1].url }}">
            <button type="button" class="btn btn-primary btn-lg my-3">Больше</button>
        </a>
    </div>
{% endif %}