{% for track in tracks %}
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 py-4">
        <div>
            <a href="{{ track.__link }}">{{ track.name }}</a>
            {% if track.artistName == "" %}
                <p>
                    <small>Unknown</small>
                </p>
            {% else %}
                <p>
                    <small>{{ track.artistName }}</small>
                </p>
            {% endif %}
            <div>
                <audio src="{{ track.source_url }}" controls preload="none" class="audio-block">
                </audio>
            </div>
        </div>
    </div>
{% endfor %}
{% if pages|length > 0 %}
    <div class="col-12 d-flex justify-content-center py-3">
        <a href="{{ pages[1].url }}">
            <button type="button" class="btn btn-primary btn-lg mt-4">Больше</button>
        </a>
    </div>
{% endif %}