<div class="container bg-nav">
    <div class="row nav d-flex justify-content-center bg-nav">
        {% for nav in links %}
            <div class="col-lg-3 col-md-3 col-xs-4 col-sm-4 mt-1 d-flex mb-1
                        justify-content-center align-self-end bg-nav">
                <a class="nav-style text-center text-uppercase" href="{{ nav.__link }}">
                    {{ nav.name }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>