<section class="container">
    <div class="row">
        {% for youtube in __youtube %}
            <div class="col-lg-3">
                <h5>{{ youtube.title }}</h5>
                <img src="{{ youtube.src }}"
                     alt="{{ youtube.title }}"
                     class="img-thumbnail img-fluid __modal_trigger"
                     maestro-youtube-id='{{ youtube.id }}'/>
                <p>{{ youtube.description }}</p>
            </div>
        {% endfor %}
    </div>
</section>