<section>
    <h5>{{ name }}</h5>
    <ul class="list-group">
        {% for track in tracks %}
            <li class="list-group-item">
                <div>
                    <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                </div>
                <div>
                    <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                    {#  <span>
                          <a class="btn btn-outline-secondary" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                      </span>#}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if pages|length > 0 %}

        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px"><a
                            href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>