        <div class="row my-5">
            <div class="col-8">
                <h5 class="text-light">Лучшие фильмы</h5>
            </div>
            <div class="col-4 text-right px-5">
                {% if pages|length > 0 %}
                    <a href="{{ pages[1].url }}">
                        Больше
                    </a>
                {% endif %}
            </div>
            {% for film in films %}
                <div class="row col-md-12 justify-content-center my-2">
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 my-2">
                        <a href="{{ film.__link }}">
                            <img class="project-img text-center" src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 my-2 bg-light cont-cont text-center">
                        <h5 class="mt-3">{{ film.titleRu }}</h5>
                        <hr>
                        <div><em>IMdb: <i class="fa fa-star text-info"></i> {{ film.imdbRating }}/10</em></div>
                        <div><em>Kinopoisk: <i class="fa fa-star text-info"></i> {{ film.kinopoiskRating }}/10</em></div>
                            <div>{% if film.__tags is defined %}
                                    {% for tag in film.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-secondary">
                                            {{ tag.name }}
                                        </a>
                                    {% endfor %}
                                {% endif %}</div>
                        <div class="my-2">
                            <a href="{{ film.__link }}" class="btn btn-outline-info">В кинозал<i class="far fa-play-circle px-2"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
