<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>[[seo_title]]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
    <meta content="[[seo_description]]" name="description">
    [[seo_meta_tags]]
    [[seo_geo]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">
[%nav_links%]

<section id="home">
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12 text-light">
                    <h1>[[seo_h1]]</h1>
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    <p>[[seo_text]]</p>
                </div>
            </div>
        </div>
        <!--/ .container -->
    </div>
    <!--/ #headerwrap -->
</section>
[[ad_block_top]]
{{ template | raw }}
[[ad_block_bottom]]
<div id="copyrights">
    <div class="container">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
        <p>
            &copy; Copyrights <strong>{{ domain }}</strong>. All Rights Reserved
        </p>
    </div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


<!-- Template Main Javascript File -->
<script src="/js/main.js"></script>

</body>
</html>
