<section class="card">
    <div class="card-body">
        <h5 class="card-title">{{ name }} <small>{{ artistName }}</small></h5>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {{ text | raw }}
                </div>
            </div>
        </div>
    </div>
</section>