<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="[[seo_description]]">
    <meta name="author" content="">

    <title>[[seo_title]]</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/index.css" rel="stylesheet">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
</head>

<body>

<header>
    [%nav_links%]
</header>

[[ad_block_top]]
<!-- Page Content -->

<main class="container-fluid back-deco border">
    <div class="container">
        <h1>[[seo_h1]]</h1>
        {% if __text is not empty %}
            <p class="my-3">{{ __text | raw }}</p>
        {% endif %}
    </div>
    <div class="container">
        {{ template | raw }}
    </div>
</main>

<div class="container my-3">
    [[seo_text]]
</div>
<footer class="container-fluid">
    [%cross_links%]
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-3 small bg-light">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>


[[ad_block_bottom]]

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>

</html>