<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    [[seo_geo]]

    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <noscript>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </noscript>

</head>
<body>
{{ lazy_css("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")|raw }}
{{ lazy_css("https://fonts.googleapis.com/icon?family=Material+Icons")|raw }}

<nav>
    <div class="nav-wrapper teal">

                <a href="/" class="brand-logo"><i class="material-icons dp48">library_music</i> {{domain}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    [%nav_links%]
                </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    [%nav_links%]
</ul>
[[ad_block_top]]
<div class="container">
    <div class="section">
        [%breadcrumbs%]
        <h1 class="header">[[seo_h1]]</h1>
        <!--   Icon Section   -->
        <div class="row">
                {{template | raw}}
        </div>
        
        {% if __text is not empty %}
            <div  class="row">{{ __text | raw }}</div>
        {% endif %}

        <div class="row">
            [[seo_text]]
        </div>


    </div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
            </div>
            <div class="col l3 s12">
            </div>
            <div class="col l3 s12">
                <ul>
                    [%cross_links%]
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">

        </div>
    </div>
</footer>
[[ad_block_bottom]]

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });

</script>
</body>
</html>
