<div class="container" style="flex-wrap: wrap">
    {% for film in films %}
        <div class="card g--2 m--1">
            <a href="{{ film.__link }}">
                <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                <div class="center text-center">{{ film.titleRu }}</div>
                <div>
                    {% if film.__tags is defined %}
                        {% for tag in film.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-default">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% if pages|length > 0 %}
    <a href="{{ pages[1].url }}">
        <button class="btn--raised btn--primary">Дальше</button>
    </a>
{% endif %}