<section style="display: flex; overflow: scroll">
    {% for link in links %}
        {% if link.__link == __link %}
            <button class="btn--raised" type="button">{{ link.name }}</button>
        {% else %}
            <a href="{{ link.__link }}" style="margin: 0 1px" title="{{ link.name }}">
                <button class="btn--flat" type="button">{{ link.name }}</button>
            </a>
        {% endif %}
    {% endfor %}
</section>