<div class="container" style="flex-wrap: wrap">
    {% for seria in series %}
        <div class="card g--2 m--1">
            <a href="{{ seria.__link }}">
                <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                <div class="center text-center">{{ seria.titleRu }}</div>
                <div>
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-default">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% if pages|length > 0 %}
    <a href="{{ pages[1].url }}">
        <button class="btn--raised btn--primary">Дальше</button>
    </a>
{% endif %}