<div class="container">
    <div class="row mb-4">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-light text-uppercase">Топ {{ total }} фильмов</h2>
        </div>
    </div>
    <div class="row">
        {% for film in films %}
            {% include 'driver/video/games1/block/element/film.twig' with {'film':film} %}
        {% endfor %}
    </div>

    <div class="row mt-4">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="gray page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

