body {
    overflow-x: hidden;
    background: linear-gradient(346deg, #245766, #249083, #49a9b4, #6cc898, #27bb68, #195c7b);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    -o-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0 27%}
    50%{background-position:100% 74%}
    100%{background-position:0 27%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0 27%}
    50%{background-position:100% 74%}
    100%{background-position:0 27%}
}
@-o-keyframes AnimationName {
    0%{background-position:0 27%}
    50%{background-position:100% 74%}
    100%{background-position:0 27%}
}
@keyframes AnimationName {
    0%{background-position:0 27%}
    50%{background-position:100% 74%}
    100%{background-position:0 27%}
}

.back-deco {
    background-image: linear-gradient(125deg, transparent 10%, #2f61ae 10%, #428bca 75%, transparent 75%);
    background-size: 100% 100%;
    background-attachment: fixed;
}