<!-- Start facilities Area -->
<section class="facilities-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-80 header-text">
                <h5>{{ name }}</h5>
            </div>
        </div>
        <div class="row">
            {% for artist in artists %}
                <div class="sigle-facilities col-lg-4 col-md-6">
                    <a class="" href="{{ artist.__link }}">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}" style="margin: 0 auto">
                        <h4>{{ artist.name }}</h4>
                    </a>
                    <p>
                        {% if artist.__tags is defined %}
                            {% for tag in artist.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-default" style="color:#007bff">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
        {% if pages|length > 0 %}
            <div class="row">
                <div class="col">

                    <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                        <a href="{{ pages[1].url }}">
                            <button type="button" class="btn btn-block btn-info">Больше</button>
                        </a></div>
                </div>
            </div>
        {% endif %}

    </div>
</section>
<!-- End facilities Area -->