<!-- Start Header Area -->
<header class="default-header">
    <div class="container">
        <div class="header-wrap">
            <div class="header-top d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="/">{{ domain }}</a>
                </div>
                <div class="main-menubar d-flex align-items-center">
                    <nav class="hide">
                        {% for nav in links %}
                            <a href="{{ nav.__link }}">{{ nav.name }}</a>
                        {% endfor %}
                    </nav>
                    <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->