body {
    background-color: #0b0a0f;
}

.section-root {
    min-height: 100vh;
}

.section-root h1 {
    text-transform: lowercase;
    font-weight: lighter;
    font-size: medium;
    letter-spacing: 20px;
    color: #8b8b8b;
    text-align: center;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}