body {
    background: linear-gradient(125deg, rgba(16, 16, 17, 0.7), rgba(7, 6, 17, 0.7),
    rgba(67, 63, 67, 0.7), rgba(231, 231, 255, 0.7)),
    url(../img/bg-body.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.round-image {
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 10px groove #25466f;
    transition: 0.5s;
}

.round-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.round-image + p:hover {
    color: #276d6d;
}

.round-image:hover {
    width: 200px;
    height: 200px;
    border: 1px groove #25466f;
    transition: 0.5s;
}

.box-stylish {
    border: 3px dashed #fbff6f;
}

.col-bg {
    background-color: #fbff6f;
}

a {
    color: #fff2f2;
}

a small:hover {
    background: #fbff6f;
}

a:hover {
    text-decoration: none;
}

.raterer {
    color: #fbff6f;
    background-color: #276d6d;
    padding: 0.5vh 1vw;
    border-radius: 25px;
}

.height-col-30:nth-child {
    min-height: 400px;
}

.height-col-30:nth-child(2n) {
    min-height: 400px;
    background-color: rgba(99, 93, 93, 0.43);
}

.badge-edge {
    border: 1px solid #fbff6f;
    color: #fff2f2;
}

.badge-edge:hover {
    background-color: #fbff6f;
    color: #292828;
    transition: 0.3s;
}

.bg-none {
    background-color: transparent;
}

.seo-style {
    background-color: rgba(118, 118, 118, 0.53);
}

.super-link p {
    padding: 5px 5px;
    background-color: #276d6d;
}

.super-link:hover {
    color: #0b0a0f;
}

.super-link p:hover {
    background-color: #fbff6f;
}

h1 {
    color: #fbff6f;
}

@media (max-width: 992px) {
    .content-sector {
        height: 50vh;
        overflow: hidden;
        position: relative;
        padding-top: 0;
        padding-left: 0;
    }
}