<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Scada:700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    [[seo_meta_schema]]
</head>
<body>
<!-- Preloader -->

<section class="main-page">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light text-light">
            <a class="navbar-brand" href="#">{{ domain }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                [%nav_links%]
            </div>
        </nav>
    </header>
    [[ad_block_top]]
    <section>
        {% if __text is not empty %}
            <p>{{ __text | raw }}</p>
        {% endif %}
        {{ template | raw }}
    </section>


    <footer class="container-fluid">
        <div class="container bg-dark">
            [%cross_links%]
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center my-3 small">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | {{ domain }}</p>
            </div>
        </div>
    </footer>
    [[ad_block_bottom]]
</section>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script>
    jQuery(document).ready(function ($) {

        $(window).on('load', function () {
            $('#preloader').hide('slow', function () {
                $(this).remove();
            });
        });
    });
</script>
</body>