<div class="container mt-25">
    <div class="row">
        {% for track in tracks %}
            <div class="grid-item col-lg-6 col-md-6">
                <!-- work -->
                <div class="work card">
                    <div class="card-body">
                    <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                    <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div content="row">
            <div class="awe-text-center mt-50">
                <a class="md-btn md-btn--outline-primary" href="{{ pages[1].url }}">Больше</a>
            </div>
        </div>
    {% endif %}

</div>