<div class="container">
    <div class="row">
        {% for artist in artists %}
            <div class="grid-item col-lg-3 col-md-4">
                <!-- work -->
                <div class="work card">
                    <a href="{{ artist.__link }}">
                        <div class="hoverbox ef-slide-bottom light">
                            <div class="hb_front">
                                <img src="{{ artist.photo }}" alt="{{ artist.name }}" width="250" height="300"/>
                            </div>
                            <div class="hb_back">
                                <h2 class="work__title">{{ artist.name }}</h2>
                                {% if artist.__tags is defined %}
                                    {% for tag in artist.__tags %}
                                        <a href="{{ tag.__link }}">
                                            <span class="badge badge-default">{{ tag.name }}</span>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div content="row">
            <div class="awe-text-center mt-50">
                <a class="md-btn md-btn--outline-primary" href="{{ pages[1].url }}">Больше</a>
            </div>
        </div>
    {% endif %}

</div>