<!-- overlay-menu -->
<nav class="overlay-menu">
    <!--  -->
    <ul class="wil-menu-list">
        {% for nav in links %}
        <li><a href="{{ nav.__link }}">{{ nav.name }}</a></li>
        {% endfor %}
    </ul><!--  -->

</nav><!-- End / overlay-menu -->