<section class="container-fluid screen-height">
    <div class="container screen-height second-screen block-width-60">
        <div class="row">
            <div class="col-12 py-5 ml-2">
                <h1 class="h1-style-1 pb-5">[[seo_h1]]</h1>
                <p class="p-5">[[seo_text]]</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            {% for artist in artists %}
                <div class="row col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-1 d-flex py-2 border-style">
                    <div class="col-12 list-link">
                        <a href="{{ artist.__link }}"><h4>{{ artist.name }}</h4></a>
                    </div>
                    <div class="col-12">
                        {% if artist.__tags is defined %}
                            {% for tag in artist.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-12 artist-img">
                        <a href="{{ artist.__link }}">
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>