<section class="container-fluid screen-height">
    <div class="container screen-height fourth-screen block-width-70">
        <div class="row">
            <div class="col-12 py-5 ml-2">
                <h1 class="h1-style-2 py-4">[[seo_h1]]</h1>
                <p class="p-5">[[seo_text]]</p>
            </div>
        </div>
        <div class="row pl-lg-5 pl-md-5">
            {% for track in tracks %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 py-2">
                    <div class="list-link">
                        <a href="{{ track.__link }}">{{ track.name }}</a>
                    </div>
                    <div>
                        {% if track.artistName == "" %}
                            <p>Unknown</p>
                        {% else %}
                            <p>{{ track.artistName }}</p>
                        {% endif %}
                    </div>
                    <audio src="{{ track.source_url }}" controls preload="none"></audio>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>