<div class="col-md-4 col-sm-6">
    <div class="tile tile-hot">
        <b class="mt-0">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</b>
        <span>{{ episode.titleRu }}</span>
        <p class="post-meta">
            <a href="{{ episode.__link }}">Смотреть</a></p>
    </div>
</div>