<div class="col-md-3 col-sm-6">
    <a class="card" href="{{ film.__link }}">
        <img class="card-img-top" src="{{ film.photo }}" alt="{{ film.titleRu }}">
        <div class="card-body">
            <p class="card-text">{{ film.titleRu }}</p>
            <p>
                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a class="a" href="{{ tag.__link }}">
                            <span class="badge badge-success">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </p>
        </div>
    </a>
</div>