<div class="col-md-4 col-sm-6">
    <div class="tile tile-hot">
        <b class="mt-0">{{ season.name }} // Сезон {{ season.season }}</b>
        <p class="post-meta">
            <a href="{{ season.__link }}">Подробнее</a></p>
    </div>
</div>