<div class="col-md-3 col-sm-6">
    <a class="card" href="{{ seria.__link }}">
        <img class="card-img-top" src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
        <div class="card-body">
            <p class="card-text">{{ seria.titleRu }}</p>
            <p>
                {% if seria.__tags is defined %}
                    {% for tag in seria.__tags %}
                        <a class="a" href="{{ tag.__link }}">
                            <span class="badge badge-success">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </p>
        </div>
    </a>
</div>