<section>
    <h5>{{ name }}</h5>
    <ul class="collection with-header">
        {% for artist in artists %}
            <li class="collection-item">
                {{ loop.index }}. <a href="{{ artist.__link }}" style="color: #000;">{{ artist.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if pages|length > 0 %}

        <div class="container ">
            <div class="row">
                <div class="left">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn purple lighten-1">next</button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</section>