<div class="container">
    <div class="row">
        {% if links is not empty %}
        <div class="column breadbar">
            <ul class="bread-list">
                {% for link in links %}
                    <a href="{{ link.uri }}" class="crumb grey-text text-darken-4">{{ link.title }}</a>
                    <span> /</span>
                {% endfor %}
                <a class="grey-text text-darken-2">{{ active.title }}</a>
            </ul>
        </div>
        {% endif %}
    </div>
</div>