<section class="container-fluid section-height">
    <div class="row first-block mt-5">
        <div class="col-12">
            <h1 class="text-center py-5">[[seo_h1]]</h1>
            <div class="total-style my-2">Всего фильмов: <span>{{ total }}</span></div>
        </div>
    </div>
    <div class="row d-flex justify-content-center main-background py-5">
        {% for film in films %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center pt-1">
                <a href="{{ film.__link }}" class="bg-item">
                    <div class="rates">
                        <em><i class="fas fa-star"></i> <b>{{ film.imdbRating }}</b>/10</em>
                    </div>
                    <div class="img-deco">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="text-center">
                            <p class="py-2 px-2">{{ film.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row first-block mt-5">
        <div class="col-12">
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>