{% for artist in artists %}
    <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt=""></a>
    <a href="{{ artist.__link }}">{{ artist.name }}</a>
    {% if artist.__tags is defined %}
        {% for tag in artist.__tags %}
            <a href="{{ tag.__link }}">
                {{ tag.name }}
            </a>
        {% endfor %}
    {% endif %}
    <hr>
{% endfor %}

{% for page in pages %}
    {% if page.isCurrent %}
    {% else %}
    {% endif %}
    <a href="{{ page.url }}">{{ page.num }}</a>
{% endfor %}