{% for track in tracks %}
    <a href="{{ track.__link }}" style="color: #000; padding-top: 40px;">{{ track.name }}</a>
    <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
    <br>
    <a href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a><br>
    <hr>
{% endfor %}
        {% for page in pages %}
            {% if page.isCurrent %}
            {% else %}
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a>
        {% endfor %}
