<div class="row align-items-center mb-30px">
    <div class="col-md-8">
        <h2>Топ {{ total }} фильмов</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row et-items masonry_layout mb-20px">

            {% for film in films %}
                <article class="col-md-6 col-lg-4 et-item illustration">
                    <div class="et-banner">
                        <figure class="effect-default">
                            <a href="{{ film.__link }}" ><img src="{{ film.photo }}" alt="{{ film.titleRu }}" width="450" height="536" /></a>
                            <figcaption>
                                <a class="banner-link-cover" href="{{ film.__link }}">View More</a>
                            </figcaption>
                        </figure>
                        <div class="banner-title mt-20px">{{ film.titleRu }}</div>
                        <div>
                            {% if film.__tags is defined %}
                                {% for tag in film.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}

        </div>
    </div>
    {% if pages|length > 0 %}
        <nav class="pagination_holder">
            <ul class="pagination mb-70px">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</div>