<section>
    <h3>Топ {{ total }} исполнителей</h3>
    <div>
        {% for artist in artists %}
            <div>
                <a href="{{ artist.__link }}">
                    <img src="{{ artist.photo }}" alt=""></a>
                <div>
                    <h4>
                        <a href="{{ artist.__link }}">{{ artist.name }}</a>
                    </h4>
                </div>
            </div>
        {% endfor %}
        <ul>
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li>
                {% else %}
                    <li>
                {% endif %}
                <a href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>