<div>
    <ul>
        {% for track in tracks %}
            <li>
                <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>

                <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>

                <a href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>

            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for page in pages %}
            {% if page.isCurrent %}
                <li>
            {% else %}
                <li>
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

