<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]

    [[seo_meta_schema]]
    <style type="text/css">
        p,a,h2,h3,h4,h5 {font-size: 16px; padding: 10px; }
        li {list-style: none; text-indent: 0;}
        ul {padding: 0}
        img {width: 60px; height: 60px; object-fit: cover; border-radius: 50%;}
        button {border: 1px solid #ccc; padding: 10px}
    </style>

</head>
<body>
<div>
    [%nav_links%]
</div>
[[ad_block_top]]
<header style="text-align: center">
    <h1>[[seo_h1]]</h1>
</header>
{{ template | raw }}
{% if __text is not empty %}
    <div>{{ __text | raw }}</div>
{% endif %}
<div>
    [[seo_text]]
</div>
[[ad_block_bottom]]
<footer>
    [%cross_links%]
</footer>
</body>
</html>