* {
    font-family: 'Poiret One', cursive;
}

.bg-1 {
    background-color: #3e3c3e;
}

.main-screen {
    height: 85vh;
    color: #edeae7;
}

.secondary-bg-img {
    background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)), url(../img/main-bg.jpg) no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height: 30vh;
}

.bg-img {
    background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)), url(../img/main-bg.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 85vh;
}

.main-text {
    position: absolute;
    z-index: 9997;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    top: 40%;
    left: 12%
}

.artists-block {
    background-color: rgb(237, 234, 231);
    min-height: auto;
    color: #0b0a0f;
    width: auto;
}

@media (min-width: 992px) {

    header {
        background-color: rgba(11, 10, 15, 0.67);
        width: 100%;
        position: absolute;
        z-index: 9996;
        bottom: 15vh;
    }

    .secondary-screen > header {
        bottom: 70vh;
        color: rgb(237, 234, 231);
    }

    .block-bg {
        background-color: #be4097;
        position: absolute;
        float: left;
        height: 85vh;
        width: 22%;
    }

    .secondary-block-bg {
        background-color: #be4097;
        position: absolute;
        float: left;
        height: 30vh;
        width: 22%;
    }

    .main-bg {
        background-color: transparent !important;
    }

    ol li:nth-last-child(-n + 3), ol li:nth-child(4), ol li:nth-child(5), ol li:nth-child(6) {
        /*position: relative;*/
        margin-left: 50%;
    }
}

a {
    color: #edeae7;
    text-decoration: none;
}

a:hover {
    color: #be4c98;
    text-decoration-style: solid;
    text-decoration-color: #ede438;
    text-decoration-line: line-through;
}

.tracks-block {
    background: linear-gradient(rgba(80, 80, 80, 0.8), rgba(79, 79, 79, 0.8)), url(../img/block-bg.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    color: #edeae7;
}

button, .artists-button {
    background-color: transparent;
    border-width: 0.1px;
    border: solid;
    border-color: #be4c98;
    border-radius: 0px;
    color: #be4c98;
    padding: 10px 15px 10px 15px;
    font-size: large;
}

button:hover, .artists-button:hover {
    color: #232323;
    background-color: #be4c98;
    text-decoration: none;
}

.artists-button:hover {
    color: #edeae7;
}

.artists-list {
    color: #0b0a0f;
}

.card-size {
    width: 250px;
}

.tracks-bg {
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #edeae7;
}

.card-body-size {
    height: 70px;
}

.domain-style:hover {
    color: #edeae7;
    text-decoration: none;
}

.artist-bg {
    min-height: 20vh;
    background: rgb(237, 234, 231);
}

.breadcrumb {
    background-color: transparent;
    color: #0b0a0f;
}

.track-link:hover {
    text-decoration: none;
    color: #0b0a0f;
}

.track-bg {
    height: 53vh;
    background: rgba(11, 10, 15, 0.4);
    font-weight: bold;
}

.page-item.active .page-link {
    background-color: #be4c98;
    border: #913d70;
}

small {
    color: #be4c98;
}

.link-design {
    background-color: #616362;
    border: #be4c98;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #be1f9e;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}