<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-top align-self-xs-top">
                <h1 class="mb-4">[[seo_h1]]</h1>
                {% if __text is not empty %}
                    <p>{{ __text | raw }}</p>
                {% endif %}
                <p>[[seo_text]]</p>
            </div>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item border border-dark"
                src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                allowfullscreen></iframe>
    </div>
    <div class="row my-1 justify-content-center">
        <div class="col-12 mb-4">
            [%breadcrumbs%]
        </div>
        <div class="col-12 text-light text-center">
            <h5 class="text-light"><strong>{{ titleRu }}</strong></h5>
            <small class="text-light">{{ titleEn }}</small>
            <div class="my-2">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-secondary">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 text-center">
            <p class="border border-light my-2 p-3 text-light">[[seo_text]]</p>
        </div>
    </div>
</section>