<section>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-top align-self-xs-top">
                <h1 class="text-right">[[seo_h1]]</h1>
            </div>
        </div>
    </div>
    <div class="cotainer">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                [%movies_list#5%]
                [%tv_series_list#5%]
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 align-self-center px-4 text-light">
                <p class="border border-secondary rounded px-2 py-2">[[seo_text]]</p>
            </div>
        </div>
    </div>
</section>

