<section>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-top align-self-xs-top">
                <h1 class="text-right">[[seo_h1]]</h1>
                {% if __text is not empty %}
                    <p>{{ __text | raw }}</p>
                {% endif %}
                <p>[[seo_text]]</p>
            </div>
        </div>
    </div>
    <div class="row my-1 text-center">
        <div class="col-12 mb-4 text-center">
            [%breadcrumbs%]
        </div>
        <div class="col-12">
            {% for episode in episodes %}
                <a href="{{ episode.__link }}" class="btn btn-info mx-2 my-3">
                    {{ episode.season }} Сезон / {{ episode.episode }} Эпизод
                </a>
            {% endfor %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center pb-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <p class="border border-light my-2 p-3 text-light">[[seo_text]]</p>
    </div>
</section>