<section>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-top align-self-xs-top">
                <h1 class="text-right">[[seo_h1]]</h1>
                {% if __text is not empty %}
                    <p>{{ __text | raw }}</p>
                {% endif %}
                <p>[[seo_text]]</p>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-12 mb-4 text-center">
            [%breadcrumbs%]
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 my-2">
            <img class="project-img" src="{{ photo }}" alt="{{ titleRu }}">
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 my-2 bg-light cont-cont text-center">
            <h5 class="mt-3">{{ titleRu }}</h5>
            <hr>
            <div><em>IMdb: <i class="fa fa-star text-info"></i> {{ imdbRating }}/10</em></div>
            <div><em>Kinopoisk: <i class="fa fa-star text-info"></i> {{ kinopoiskRating }}/10</em>
            </div>
            <div>{% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-secondary">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}</div>
        </div>
        <div class="col-12 my-4 text-center">
            <h5 class="text-light">Сезоны:</h5>
            {% for index,season in seasons %}
                <a href="{{ season.__link }}" class="btn btn-outline-info mx-2 my-3">Сезон {{ season.season }}</a>
            {% endfor %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 justify-content-center py-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 justify-content-center py-3">
                        <ul class="pagination pagination-sm">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <p class="border border-light my-2 p-3 text-light">[[seo_text]]</p>
        </div>
    </div>
</section>