<section class="section pt-5 pb-2 mt-5">
    <div class="container">
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>
                <img src="{{ photo }}" alt="{{ name }}" class="img-thumbnail">
                {{ name }}
            </h3>
        </div>
    </div>
    <div class="row">
        {% for artist in items %}
            <div class="col-md-3">
                <a href="{{ artist.__link }}">
                    <div class="card">
                        <img class="card-image-top" src="{{ artist.photo }}">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="color: black">{{ artist.name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>