<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Топ {{ total }} треков</h2>
            </div>
        </div>
        <div class="row">
            <ul class="list-group" style="width: 100%">
                {% for track in tracks %}
                    <li class="list-group-item">
                        <div>
                            <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                        </div>
                        <div>
                    <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="row mt-2">
                <div class="col">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
