<li class="list-group-item">
    <div class="sermon element-animate fadeInUp element-animated">
        <div class="sermon-text">
            <a href="{{ episode.__link }}" style="color: #000;">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</a>
            <b>{{ episode.titleRu }}</b>
        </div>
    </div>
</li>