<div class="grid-item col-lg-3 col-md-4">
    <!-- work -->
    <div class="work card">
        <a href="{{ film.__link }}">
            <div class="hoverbox ef-slide-bottom light">
                <div class="hb_front">
                    <img src="{{ film.photo }}" alt="{{ film.titleRu }}" width="250" height="300"/>
                </div>
                <div class="hb_back">
                    <h2 class="work__title">{{ film.titleRu }}</h2>
                </div>
            </div>
            <p>
                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-success">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </p>
        </a>
    </div>
</div>