<div class="grid-item col-lg-4 col-md-6">
    <!-- work -->
    <a href="{{ season.__link }}">
        <div class=" ef-slide-bottom " style="border: 1px solid grey;padding: 0px 12px;border-radius: 10px;">
            <div class="">
                <b class="">{{ season.name }} - Сезон {{ season.season }}</b>
            </div>
        </div>
    </a>
</div>