audio {
    margin: 0 auto;
    display: inline-block;
}

.image-in-card {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.breadcrumb-item a {
    background-color: #e91e63;
    padding: 0 8px;
    border-radius: 3px;
    color: white;
    transition: .3s;
    display: inline-block;
}

.breadcrumb-item a:hover {
transform: scale(1.1);
}