<section>
    <h5>{{ name }}</h5>
    <img src="{{ photo }}" alt="" width="200" height="300">
    <ol>
        {% for track in tracks %}
            <li>
                <a href="{{ track.__link }}">
                    {{ track.name }}
                </a>
                <span style="float:right">
                    {{ track.duration | date('i:s', '+00:00 GMT') }}
                </span>
            </li>
        {% endfor %}
    </ol>
    <ul>
        {% for page in pages %}
            {% if page.isCurrent %}
                <li>
            {% else %}
                <li>
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a></li>
        {% endfor %}
    </ul>
</section>