<section>
    <div>
        <h3>{{ name }}</h3>
        <div>
            <img src="{{ photo }}" alt="{{ name }}" width="200" height="300">
            <ul>
                <li>Всего альбомов {{ totalAlbums }}</li>
                <li>Всего треков {{ totalSongs }}</li>
            </ul>
        </div>
    </div>
</section>