<section>
    <div>
        <h5>{{ __widget_artists.name }}</h5>
        {% for artist in __widget_artists.artists %}
            <div>
                <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                <h5>{{ artist.name }}</h5>
                <a href="{{ artist.__link }}">Перейти</a>
            </div>
        {% endfor %}
        {% if __widget_artists.pages|length > 0 %}
            <div>
                <a href="{{ __widget_artists.pages[1].url }}">
                    <button type="button">Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
    <div>
        <h5>{{ __widget_tracks.name }}</h5>
        <ul>
            {% for track in __widget_tracks.tracks %}
                <li>
                    <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                    <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                </li>
            {% endfor %}
        </ul>
        {% if __widget_tracks.pages|length > 0 %}
            <a href="{{ __widget_tracks.pages[1].url }}">
                <button type="button">Больше</button>
            </a>
        {% endif %}
    </div>
</section>