<section class="container">
    <div class="row">
        <div class="col">
            <h1>Результаты поиска: "{{ query }}"</h1>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col-md-4">
                <div class="card" >
                    <div class="card-header">
                        <span>{{ item.title }}</span>
                    </div>
                    <div class="card-body">
                        <img src="{{ item.src }}" class="__modal_trigger" maestro-youtube-id='{{ item.id }}'>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>