<section>
    <h5>{{ name }}
        <small>{{ artistName }}</small>
    </h5>


    <audio src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls preload="none"></audio>

    <a href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
    <div>
        Сейчас слушают {{ totalListeners }} человека |
        Всего скачали {{ totalDownloads }} раз |
        Прослушали {{ totalListening }} раз
    </div>
</section>