body {
    background-color: #a69e9e;
}

header, .content-cover {
    background-color: #332d31;
    box-shadow: 1px 1px 3px #101011;
}


.brand-style {
    background-color: #ffea54;
    border-radius: 10px;
    padding: 5px;
    color: #292929;
}

.back-yolk {
    background-color: #ffea54;
}

.color-button {
    background-color: #706c72;
    color: #fff2f2;
    border-radius: 10px;
    margin: 0 3px;
    box-shadow: inset 0 0 10px 1px #272629;
}

.color-button:hover {
    background-color: #514e53;
}

.color-button a {
    width: inherit;
    height: inherit;
}

.bg-cover {
    background: url(../img/bg-cover.jpg);
    background-size: cover;
}

h1 {
    font-family: 'Seymour One', sans-serif;
    color: #fff2f2;
}

h1::first-letter {
    color: #ffea54;
    background-color: #292929;
}

h2 {
   color: #ffea54;
}

.img-con-in {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.img-con-in img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.img-con img {
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
}

.img-con img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.name-con {
    height: 80px;
}

small {
    background-color: #ffea54;
    padding: 3px;
    color: #0c0d0d;
}

a:hover {
    color: #252424;
    background-color: #c4c037;
    border-radius: 10px;
}

.bg-con {
    background-color: #4e4d4d;
}

.page-item.active .page-link {
    background-color: #fffa47;
    border: 1px solid #fff745;
    color: #333134;
}

.page-item .page-link {
    color: #514e53;
}

.width-full {
    width: 100%;
}

a.hov {
    background-color: transparent;
}

.img-bg {
    height: 200px;
    width: inherit;
    object-fit: cover;
    position: relative;
}

.img-bg img {
    height: 200px;
    width: inherit;
    object-fit: cover;
    position: relative;
    filter:blur(4px);
}

.con-genre {
    height: 200px;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    background: linear-gradient(90deg, rgba(69, 69, 69, 0.51), rgba(255, 255, 255, 0.5), rgba(36, 36, 36, 0.51));
}

.con-genre h3 {
    padding-top: 15%;
}

h3 {
    font-family: 'Lobster', cursive;
}

.hi-sect {
    min-height: 90vh;
}