<section class="container">
    <div class="row">
        <h3>Топ {{ total }} исполнителей</h3>
    </div>
    <div class="row">
        <ul class="list-group" style="width: 100%;">

            {% for artist in artists %}
                <li class="list-group-item justify-content-between align-items-center">
                    <div style="width: 100%">
                        <img class="rounded-circle" width="50px" style="object-fit: cover" src="{{ artist.photo }}"
                             alt="">
                        <a href="{{ artist.__link }}">{{ artist.name }}</a>
                        <span class="badge badge-primary badge-success text-right" style="float: right"> {{ artist.listeners }} слушателей</span>
                    </div>
                    <div class="mb-1">
                        {% if artist.__tags is defined %}
                            {% for tag in artist.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-info">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>

    <br/>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
