<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="[[seo_description]]">

    <title>[[seo_title]]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    [[seo_global_meta_tags]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
    [[seo_geo]]
    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>

        body {
            background-color: black;
        }

        img {
            max-width: 200px;
            margin: 10px;
        }

        .headtext {
            font-family: 'Rubik Mono One', sans-serif;
            margin-top: 10vh;
            text-transform: uppercase;
            font-size: 5vw;
            background: -webkit-linear-gradient(45deg, #52ecee 15%, #e4e0e4, #c968bc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }

        .headtext + p {
            background: -webkit-linear-gradient(45deg, #52ecee 15%, #e4e0e4, #c968bc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        nav {
            margin-top: 3vh;
            min-height: 5vh;
            background: linear-gradient(135deg, #082121, #222222, #1f0f1c);
        }

        .height-60 {
            min-height: 50vh;
        }

        .content-row {
            background: linear-gradient(135deg, rgba(60, 227, 220, 0.5), rgba(70, 227, 140, 0.5));
            min-height: 30vh;
        }

        .content-row > div:first-child {
            background: linear-gradient(135deg, rgba(227, 44, 83, 0.5), rgba(214, 99, 196, 0.5));
            margin-top: -6vh;
            margin-bottom: -3vh;
        }

        .stylized-border {
            border: 2px solid #b757ff;
        }

        .stylized-border-2 {
            border: 2px solid #72ff6a;
        }

        .stylized-border-3 {
            border: 2px dotted #77f5ff;
            background: linear-gradient(135deg, rgba(75, 160, 227, 0.3), rgba(112, 99, 227, 0.3));
        }

    </style>
</head>

<body>
[[ad_block_top]]
<section class="container-fluid">

    <!-- Navigation -->
    [%nav_links%]

    <!-- Page Content -->
    <div class="container-fluid">

        <div class="row mt-5 mb-3 height-60">

            <!-- Blog Entries Column -->
            <div class="col-md-12">

                <h1 class="text-center px-5 pt-5 pb-1 headtext">[[seo_h1]]</h1>
                {% if __text is not empty %}
                    <p class="text-center pb-5 pt-3 px-5">{{ __text | raw }}</p>
                {% endif %}
                <p class="text-center pb-5 pt-3 px-5">[[seo_text]]</p>

            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">

        <!-- Blog Post -->
        <div class="row px-5 my-3 content-row">
            <div class="col-md-8">
                {{ template | raw }}
            </div>
            <div class="col-md-4 mt-5">

                <!-- Categories Widget -->
                <div class="my-2">
                    <div class="my-2 stylized-border-2 text-light p-3">
                        [%cross_links%]
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- /.row -->

[[ad_block_bottom]]
<!-- /.container -->


<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
