<header class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            [%nav_links%]
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            <h1 class="pl-5">[[seo_h1]]</h1>
        </div>
    </div>
</header>
<section class="container my-5">
    <div class="row">
        <div class="col-6 justify-content-start">
            <h4 class="pt-3 pl-3 text-light text-uppercase">Лучшие сериалы</h4>
        </div>
        {% if pages|length > 0 %}
            <div class="col-6 justify-content-end mt-3">
                <p class="text-light red-line  pl-5">Всего сериалов: <span class="red-text">
                        {{ total }}
                    </span></p>
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="row col-12 justify-content-center">
            {% for seria in series %}
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center pt-1">
                    <a href="{{ seria.__link }}" class="linkator p-3">
                        <div class="textator text-center">
                            <p class="py-3">{{ seria.titleRu }}</p>
                        </div>
                        <div class="img-container">
                            <i class="far fa-play-circle fa-5x py-5 px-5"></i>
                            <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                            <div class="rater">
                                <em><i class="fas fa-star"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>

<section class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <p class="py-5 pl-5 text-light red-line">[[seo_text]]</p>
        </div>
    </div>
</section>