<section class="container-fluid first-page">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h1>[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
            <h2>{{ titleRu }}</h2>
            <small>{{ titleEn }}</small>
        </div>
        <div class="col-12 text-center">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="badge badge-pill badge-style">
                        {{ tag.name }}
                    </a>

                {% endfor %}
            {% endif %}
        </div>
    </div>
    <section class=" container py-2">
        [%breadcrumbs%]
    </section>
    <section class="container episode">
        <div class="row">
            <div class="col">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                        width="100%" height="700px" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</section>
[%youtube_adding%]