<section class="container-fluid first-section">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 pt-2">
            [%movies_list#5%]
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12
                    text-center py-5">
            <h1 class="pt-5">[[seo_h1]]</h1>
            <p>[[seo_text]]</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 pt-2">
            [%tv_series_list#5%]
        </div>
    </div>
</section>