<section class="container-fluid first-page">
    <h1 class="text-center">[[seo_h1]]</h1>
    {% if __tags is defined %}
        <div>
            {% for tag in __tags %}

                <a href="{{ tag.__link }}" class="badge badge-pill badge-style">
                    {{ tag.name }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row justify-content-center">
    <div class="col-12">
        <section class=" container py-2">
            [%breadcrumbs%]
        </section>
    </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center justify-content-center">
            {% for episode in episodes %}
                    <a href="{{ episode.__link }}">
                        <div class="link-box">
                            <p class="py-2">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</p>
                        </div>
                    </a>
            {% endfor %}
        </div>
        <section class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center pb-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <hr>
    <div class="row justify-content-center py-5">
        <div class="col-8 description-p">
            {% if __text is not empty %}
                <p class="py-2">{{ __text | raw }}</p>
            {% endif %}
            <p class="py-2">[[seo_text]]</p>
        </div>
    </div>
</section>