<section class="container-fluid first-page">
    <h1 class="text-center">[[seo_h1]]</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
            <img src="{{ photo }}"/>
            <h2>{{ titleRu }}</h2>
            <small>{{ titleEn }}</small>
            {% if __tags is defined %}
                <div>
                    {% for tag in __tags %}

                        <a href="{{ tag.__link }}" class="badge badge-pill badge-style">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="row col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center justify-content-center">
            <div class="col-12">
                <section class=" container py-2">
                    [%breadcrumbs%]
                </section>
            </div>
            {% for index,season in seasons %}
                <div class="col-10">
                    <a href="{{ season.__link }}">
                        <div class="link-box">
                        <p class="py-2">Сезон {{ season.season }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <section class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center pb-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <hr>
    <div class="row justify-content-center pt-5">
        <div class="col-8 description-p">
            {% if __text is not empty %}
                <p class="py-2">{{ __text | raw }}</p>
            {% endif %}
            <p class="py-2">[[seo_text]]</p>
        </div>
    </div>
</section>
[%youtube_adding%]