<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        [[seo_geo]]

        <title>[[seo_title]]</title>
        <meta name="description" content="[[seo_description]]">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        [[seo_meta_tags]]
        [[seo_global_meta_tags]]

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/index.css">
        [[seo_meta_schema]]
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">{{domain}}</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                [%nav_links%]
            </div>

        </nav>
        [[ad_block_top]]
        <header class="">

        </header>

        <section class="container" style="margin-top: 60px">
            <div class="row">
                <div class="col">
                    {{template | raw}}
                </div>
            </div>
            <div class="row">
                <div class="col">

                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}

                    <p>[[seo_text]]</p>

                </div>
            </div>
        </section>

        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; {{domain}} 2018</p>
            </div>
            <!-- /.container -->
        </footer>
        [[ad_block_bottom]]
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>