<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    [[seo_geo]]

    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]

    <noscript>
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    </noscript>
    [[seo_meta_schema]]
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<script type="text/javascript">
    /* First CSS File */
    var s = document.createElement('link');
    s.rel = 'stylesheet';
    s.href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
    s.type = 'text/css';
    var a = document.getElementsByTagName('link')[0];
    a.parentNode.insertBefore(s, a);
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            [%nav_links%]
        </div>
    </div>
</nav>
[[ad_block_top]]
<header class="">

</header>
<div class="container" style="margin-top: 60px">
    <div class="row">
        <div class="col">
            {{ template | raw }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if __text is not empty %}
                <div>
                  {{ __text | raw }}
                </div>
            {% endif %}
            <div>[[seo_text]]</div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
    </div>
    <div class="container">
        <span class="text-muted">{{ domain }}</span>
    </div>
</footer>
[[ad_block_bottom]]
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>