body {
    background: url("../img/main-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.screen-fit {
    min-height: 93vh;
}

.screen-fit-50 {
    min-height: 70vh;
}

.main-h1 {
    color: rgba(255, 0, 0, 0.4);
    text-shadow: 6px 0px 0px rgba(0, 0, 255, 0.4);
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
}

.nav > :nth-child(1):hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.nav > :nth-child(2):hover {
    background-color: rgba(0, 255, 0, 0.4);
}

.nav > :nth-child(3):hover {
    background-color: rgba(0, 0, 255, 0.4);
}

p {
    color: #948d69;
}

.img-container {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
}

.img-container .img-container > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.audio-width {
    width: 40vw;
}

.artist-photo {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: rgba(241, 236, 233, 0.3) 4mm ridge;
}

.artist-photo .artist-photo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.artist-screen {
    background: #fff2f2;
    min-height: 100vh;
}

.tracks-bg {
    background: url(../img/tracks-bg.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
}

.track-bg {
    background-color: rgba(10, 58, 122, 0.18);
}

.large {
    width: 50vw;
}

.height-full {
    height: 100vh;
}