<div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
    <div class="card h-100">
        <a href="{{ film.__link }}"><img class="card-img-top" src="{{ film.photo }}" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ film.__link }}">{{ film.titleRu }}</a>
            </h4>
            <div>
                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}" class="badge badge-default">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>