<a href="{{ season.__link }}"
   class="list-group-item d-flex justify-content-between align-items-center">
    <div class="row" style="width: 100%">
        <div class="col-md-7" style="margin-top: 5px;font-size: 25px;">
            {{ season.name }} | Сезон {{ season.season }}
        </div>
    </div>

</a>