<section class="section">
    <div class="container">
        <div class="row mb-5 justify-content-center element-animate">
            <div class="col-md-12">
                <span class="section-heading">Фильмы</span>
                <h2>Топ {{ total }} фильмов</h2>
            </div>
        </div>
        <div class="row">
            {% for film in films %}
                <div class="col-md-6 col-lg-4 mb-4 element-animate">
                    <div class="media custom-media">
                        <a href="{{ film.__link }}"><img class="mr-3" width="30" src="{{ film.photo }}" alt="{{ film.titleRu }}"></a>
                        <div class="media-body">
                            <a href="{{ film.__link }}" class="mt-0">{{ film.titleRu }}</a>
                        </div>
                    </div>
                    <div class="mt-1">
                        {% if film.__tags is defined %}
                            {% for tag in film.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-success">{{ tag.name }}</span>
                                </a>
                            {% endfor %}

                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>