<!DOCTYPE html>
<html>
<head>
    <title>[[seo_title]]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="assets/fonts/pe-icon/pe-icon.css">-->
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="assets/vendors/magnific-popup/magnific-popup.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="assets/vendors/swiper/swiper.css">-->
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700">
    <link rel="stylesheet" type="text/css" id="app-stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" id="app-stylesheet" href="/css/cl.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <meta name="description" content="[[seo_description]]">
    <![endif]-->
    [[seo_meta_tags]]
    [[seo_geo]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
</head>

<body>
<div class="page-wrap" id="root">

    <!-- header -->
    <header class="header header--fixed">
        <div class="header__inner">
            <div class="header__logo"><a href="/">{{ domain }}</a>
            </div>
            <div class="navbar-toggle" id="fs-button">
                <div class="navbar-icon"><span></span></div>
            </div>
        </div>

        <!-- fullscreenmenu__module -->
        <div class="fullscreenmenu__module" trigger="#fs-button">
            [%nav_links%]

        </div><!-- End / fullscreenmenu__module -->

    </header><!-- End / header -->
    [[ad_block_top]]
    <!-- Content-->
    <div class="wil-content">

        <!-- Section -->
        <section class="awe-section">
            <div class="container">

                <!-- page-title -->
                <div class="page-title">
                    <h1 class="page-title__title">[[seo_h1]]</h1>
                    <div class="page-title__divider"></div>
                </div><!-- End / page-title -->

            </div>
        </section>
        <!-- End / Section -->


        <!-- Section -->
        <section class="awe-section bg-gray">
            {{ template | raw }}
        </section>
        <!-- End / Section -->

        {% if __text is not empty %}
            <section>
                <p class="page-title__text">{{ __text | raw }}</p>
            </section>
        {% endif %}

        <section>
            <p class="page-title__text">[[seo_text]]</p>
        </section>
    </div>
    <!-- End / Content-->

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 ">
                    <p class="footer__coppy">2018 &copy; Copyright {{ domain }}. All rights
                        Reserved.</p>
                </div>
                <div class="col-md-6 col-lg-6">
                    [%cross_links%]
                </div>
            </div>
        </div>
    </div><!-- End / footer -->
    [[ad_block_bottom]]
</div>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
{#<script type="text/javascript"#}
        {#src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>#}
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"></script>#}
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>