<div class="page_main_title mb-70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="breadcrumbs mt-10px mt-lg-0">
                    {% for link in links %}
                        <span>
                            <a href="{{ link.uri }}">{{ link.title }}</a>
                        </span>
                        <span class="separator">/</span>
                    {% endfor %}
                    <span class="last-item">{{ active.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>