<div class="row align-items-center mb-30px">
    <div class="col-md-8">
        <h2>{{ name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row et-items masonry_layout mb-20px">

            {% for seria in series %}
                <article class="col-md-6 col-lg-4 et-item illustration">
                    <div class="et-banner">
                        <figure class="effect-default">
                            <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"
                                                              width="450" height="536"/></a>
                            <figcaption>

                                <a class="banner-link-cover" href="{{ seria.__link }}">View More</a>
                            </figcaption>
                        </figure>
                        <div class="banner-title mt-20px">{{ seria.titleRu }}</div>
                        <div>
                            {% if seria.__tags is defined %}
                                {% for tag in seria.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}

        </div>
    </div>
    {% if pages|length > 0 %}
        <div class="clearfix mb-3">
            <a class="btn btn-outline-dark float-right" href="{{ pages[1].url }}">Ещe артисты &rarr;</a>
        </div>
    {% endif %}
</div>