<section class="container">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5 class="card-title">{{ name }}</h5>
            <img src="{{ photo }}" alt="" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-8">
            <ol class="list-group" style="list-style: decimal inside !important; ">
                {% for track in tracks %}
                    <li class="list-group-item card" style="display: list-item !important">
                        <a href="{{ track.__link }}">
                            {{ track.name }}
                        </a>
                        <span style="float:right">{{ track.duration | date('i:s', '+00:00 GMT') }}</span>
                        <div class="">
                            <audio type="audio/mp3" src="{{ track.url }}" style="width: 100%" controls
                                   preload="none"></audio>
                        </div>
                    </li>
                {% endfor %}
            </ol>
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>