<section class="section">
    <div class="container">
        <div class="row">
            {% for seria in series %}
                <div class="col-md-6 col-lg-4 mb-4 element-animate">
                    <div class="media short-story" style="min-width:450px;">
                        <a href="{{ seria.__link }}" ><img class="mr-3" width="30" src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                        <div class="media-body">
                            <a href="{{ seria.__link }}" class="mt-0">{{ seria.titleRu }}</a>
                            <div style="height:25px;">
                                {% if seria.__tags is defined %}
                                    {% for tag in seria.__tags %}
                                        <a href="{{ tag.__link }}">
                                            <span class="badge red">{{ tag.name }}</span>
                                        </a>
                                    {% endfor %}

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if pages|length > 0 %}
                <div class="more-series">
                    <div class="row">
                        <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                            <a href="{{ pages[1].url }}">
                                <button type="button" class="btn btn-secondary">Больше</button>
                            </a></div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</section>