<section class="section pt-5 pb-2">
    <div class="container">
        <div class="row mb-5 justify-content-center element-animate">
            <div class="col-md-12">
                <span class="hub-section-heading">Трэки</span>
                <h2>{{ name }}</h2>
            </div>
        </div>
        <div class="row">

            {% for track in tracks %}

                <div class="col-12 col-sm-6 col-lg-4 mb-5">
                    <div class="hub-sermon element-animate">
                        <div class="sermon-text">
                            <h2><a href="{{ track.__link }}">{{ track.name }}</a></h2>
                        </div>
                        <div class="player">
                            <audio id="player2" preload="none" controls style="max-width: 100%">
                                <source src="{{ track.url }}" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if pages|length > 0 %}

                <div class="container">
                    <div class="row">
                        <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px"><a
                                    href="{{ pages[1].url }}">
                                <button type="button" class="btn-large">Больше →</button>
                            </a></div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</section>