<div class="wil-content">
    <section class="section-awe">
        <div class="container">
            <!-- page-title -->
            <div class="page-title">
                <span class="post-detail__cat">
                    [%breadcrumbs%]
                </span>
                <h2 class="page-title__title">{{ titleRu }} <small>{{ titleEn }}</small></h2>

                <div class="page-title__divider"></div>
            </div><!-- End / page-title -->

        </div>
    </section>
    <section class="section-awe bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span class="entity_title">{{ titleRu }} <small>{{ titleEn }}</small></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                                width="100%" height="700px" allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
[%youtube_adding%]