<div class="container">
    <div class="row">
        <div class="col">
            <h3>{{ name }}</h3>
        </div>
    </div>
    <div class="row">
        {% for seria in items %}
            <div class="movie-block col-lg-3 col-md-4">
                <!-- work -->
                <div class="work card">
                    <a href="{{ seria.__link }}">
                        <div class="hoverbox slide-ef-bottom light">
                            <div class="hb_front">
                                <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}" width="250" height="300"/>
                            </div>
                            <div class="hb_back">
                                <b class="title_work">{{ seria.titleRu }}</b>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination mt-3 mb-3">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="link_page_nav" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>