<div class="wil-content">
    <section class="section-awe">
        <div class="container">
            <div class="page-title">
                <span class="post-detail__cat">
                    [%breadcrumbs%]
                </span>
                <h2 class="page-title__title">Сезон {{ season }}</h2>

                <div class="page-title__divider"></div>
            </div><!-- End / page-title -->

        </div>
    </section>
    <section class="section-awe bg-white">
        <div class="container">
            <div>
                <div class="post-detail__entry row">
                    <div class="col-lg-12 col-md-6">
                        <ul class="list-group">
                            {% for episode in episodes %}
                                <li class="list-group-item">
                                    <div class="sermon element-animate fadeInUp element-animated">
                                        <div class="sermon-text">
                                            <a href="{{ episode.__link }}" style="color: #000;">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</a>
                                            <b>{{ episode.titleRu }}</b>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="pagination mt-3">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="link_page_nav" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>