<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h1 class="py-1 pl-1 text-center text-light h5">[[seo_h1]]</h1>
            <small class="text-light">{{ titleEn }}</small>
        </div>
        <div class="col-12 text-center">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="badge badge-pill badge-edge">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <section class="container py-2">
        [%breadcrumbs%]
    </section>
    <section class="container">
        <div class="row">
            <div class="col">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                        width="100%" height="700px" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <div class="row justify-content-center">
        <div class="col-10">
            {% if __text is not empty %}
                <p class="text-light">{{ __text | raw }}</p>
            {% endif %}
            <p class="text-light">[[seo_text]]</p>
        </div>
    </div>
</section>
