<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="py-1 pl-1 text-center text-light h5">[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        {% for item in items %}
            <div class="row col-lg-3 col-md-3 col-xs-6 col-sm-6 justify-content-center
                        height-col-30">
                <div class="col-lg-8 col-md-8 col-xs-6 col-sm-6 my-3">
                    <em class="raterer"><i class="fas fa-star"></i> <b>{{ item.imdbRating }}</b>/10</em>
                    <a href="{{ item.__link }}">
                        <div class="round-image">
                            <img src="{{ item.photo }}" alt="{{ item.photo }}">
                        </div>
                        <p class="text-light text-center">{{ item.titleRu }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <div class="row justify-content-center">
        <div class="col-10">
            {% if __text is not empty %}
                <p class="text-light">{{ __text | raw }}</p>
            {% endif %}
            <p class="text-light">[[seo_text]]</p>
        </div>
    </div>
</section>