<section class="container-fluid first-section">
    <div class="row justify-content-center">
        <div class="row col-lg-6 col-md-6 col-xs-12 col-sm-12 justify-content-start">
            <h1 class="text-left">[[seo_h1]]</h1>
            <p class="text-light text-left mb-5 px-3">[[seo_text]]</p>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 pt-2 px-5 box-stylish">
            [%tv_series_list%]
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 px-5 pt-2">
            [%movies_list%]
        </div>
    </div>
</section>