<section class="container-fluid">
    <div class="row mt-5 pt-5">
        <div class="col-12">
            <h1 class="py-4 pl-1 text-center text-light h5 seo-style">[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container">
    <div class="row pl-2">
        <div class="row col-12">
            <div class="col-6 text-center">
                <div class="py-2">
                    <em class="raterer">IMdb: <i class="fas fa-star"></i> <b>{{ imdbRating }}</b>/10</em>
                </div>
                <div class="img-deco">
                    <img src="{{ photo }}"/>
                </div>
            </div>
            <div class="col-6">
                <h4 class="text-light">{{ titleRu }}</h4>
                <small>{{ titleEn }}</small>
                <div class="py-2">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-edge">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        {% if __text is not empty %}
                            <p class="text-light">{{ __text | raw }}</p>
                        {% endif %}
                        <p class="text-light">[[seo_text]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container episode">
        <div class="row">
            <div class="row col-12 justify-content-center">
                <section class="container py-2">
                    [%breadcrumbs%]
                </section>
                {% for index,season in seasons %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                        <a href="{{ season.__link }}" class="super-link">
                            <p class="py-2">{{ season.season }} Сезон</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>