<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    [[seo_geo]]

    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    [[seo_meta_schema]]
</head>

<body>

    <nav>
        <div class="nav-wrapper green accent-3">
            <a href="/" class="brand-logo center">{{ domain }}</a>
            [%nav_links%]
        </div>
    </nav>
    [[ad_block_top]]
    <div class="container" style="margin-top: 60px">
        {{template | raw}}
    </div>
    {% if __text is not empty %}
        <div class="container">{{ __text | raw }}</div>
    {% endif %}

    <div class="container">
        [[seo_text]]
    </div>

    <footer class="page-footer green accent-3">
        <div class="container">
            [%cross_links%]
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright {{ domain }}
            </div>
        </div>
    </footer>
    [[ad_block_bottom]]
    <script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>
</html>