<section class="section">
    <div class="container">
        <div class="row mb-5 justify-content-center element-animate">
            <div class="col-md-12">
                <h2>Топ {{ total }} фильмов</h2>
            </div>
        </div>
        <div class="row">
            {% for film in films %}
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                    <div class="card h-100">
                        <a href="{{ film.__link }}">
                            <img class="card-img-top" src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        </a>
                        <div class="card-body">
                            <a href="{{ film.__link }}" class="card-title">{{ film.titleRu }}</a>
                            <div class="mt-1">
                                {% if film.__tags is defined %}
                                    {% for tag in film.__tags %}
                                        <a href="{{ tag.__link }}">
                                            <span class="badge badge-success">{{ tag.name }}</span>
                                        </a>
                                    {% endfor %}

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col text-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>