<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        [[seo_geo]]

        <title>[[seo_title]]</title>
        <meta name="description" content="[[seo_description]]">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        [[seo_meta_tags]]

        [[seo_global_meta_tags]]
        <!-- Bootstrap CSS -->

        <noscript>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        </noscript>
        [[seo_meta_schema]]
        <link rel="stylesheet" href="/css/index.css">

    </head>
    <body>
        <script type="text/javascript">
            var giftofspeed = document.createElement('link');
            giftofspeed.rel = 'stylesheet';
            giftofspeed.href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
            giftofspeed.type = 'text/css';
            var godefer = document.getElementsByTagName('link')[0];
            godefer.parentNode.insertBefore(giftofspeed, godefer);
        </script>

        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar--is-touch rd-navbar-fixed" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <div class="rd-navbar-panel">
                        <div class="rd-navbar-brand">
                            <a class="brand-name primary-color">
                                {{domain}}
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">
                        <h1>[[seo_h1]]</h1>
                    </div>
                </div>
            </div>
        </header>
        [[ad_block_top]]
        <div class="container-fluid" style="margin-top: 60px">
            <div class="row">
                <div class="col">
                    {{template | raw}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if __text is not empty %}
                        <p>
                            {{ __text | raw }}
                        </p>
                        <br>
                    {% endif %}

                  [[seo_text]]
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        [%cross_links%]
                    </div>
                </div>
            </div>
            <div class="container center">
                <div class="row justify-content-center">
                    <a class="nav-link js-scroll-trigger" href="/">{{domain}}</a>
                </div>
            </div>
        </footer>
        [[ad_block_bottom]]
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                     crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <script src="/js/index.js"></script>

    </body>
</html>