{% if links is defined %}
    <ul class="breadcrumb justify-content-center bg-transer">
        {% for link in links %}
            <li class="breadcrumb-item small"><a href="{{ link.uri }}" class="text-light text-underline">
                        {{ link.title }}
                    </a></li>
        {% endfor %}
        <li class="breadcrumb-item active text-secondary small">{{ active.title }}</li>
    </ul>
{% endif %}
