<section class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-light mb-3">
            <strong class="h5">Лучшие фильмы</strong>
            <a href="{{ pages[1].url }}" class="la-link ml-4">
            больше</a>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for film in films %}
            <div class="row col-lg-4 col-md-4 col-sm-6 col-xs-6 massacre-style">
                <img src="{{ film.photo }}" alt="{{ film.titleRu }}"/>
                <div class="col-7 text-right text-light div-content pt-5 pr-4">
                    <a href="{{ film.__link  }}"><h5>{{ film.titleRu }}</h5></a>
                    <ul>
                        <li><em>IMdb: <i class="far fa-star"></i> {{ film.imdbRating }}/10</em>
                        <li><em>Kinopoisk: <i class="far fa-star"></i> {{ film.kinopoiskRating }}/10</em>
                        <li>{% if film.__tags is defined %}
                                {% for tag in film.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-fadge">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}</li>
                    </ul>
                </div>
                <div class="col-5 pt-lg-4 pt-md-4 pt-sm-3 pt-xs-3">
                    <a href="{{ film.__link }}"><i class="far fa-play-circle fa-2x m-1"></i>
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}"/>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>