<section class="container-fluid mb-3">
    <div class="row justify-content-center">
        <div class="col-12 text-light mb-3">
            <strong class="h5">Лучшие сериалы</strong>
            <a href="{{ pages[1].url }}" class="la-link ml-4">
                больше</a>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for seria in series %}
            <div class="row col-lg-4 col-md-4 col-sm-6 col-xs-6 massacre-style">
                <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"/>
                <div class="col-7 text-right text-light div-content pt-5 pr-4">
                    <a href="{{ seria.__link  }}"><h5>{{ seria.titleRu }}</h5></a>
                    <ul>
                        <li><em>IMdb: <i class="far fa-star"></i> {{ seria.imdbRating }}/10</em>
                        <li><em>Kinopoisk: <i class="far fa-star"></i> {{ seria.kinopoiskRating }}/10</em>
                        <li>{% if seria.__tags is defined %}
                                {% for tag in seria.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-fadge">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}</li>
                    </ul>
                </div>
                <div class="col-5 pt-4">
                    <a href="{{ seria.__link }}"><i class="far fa-play-circle fa-2x m-1"></i>
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"/>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>