<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<section class="container-fluid">
    <div class="row pt-3">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-8 border border-secondary pt-3 text-light">
            {% if __text is not empty %}
                <p class="bg-dark text-light">{{ __text | raw }}</p>
            {% endif %}
            <p class="bg-dark text-light">[[seo_text]]</p>
        </div>
    </div>
    <section class="container">
        <section class=" container py-2">
            [%breadcrumbs%]
        </section>
        <div class="text-center text-light border border-secondary bg-dark my-2">
            <h5>{{ titleRu }}</h5>
            <small>{{ titleEn }}</small>
            <div class="col-12 text-center">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-warning">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                        width="100%" height="700px" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</section>