<section class="main-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="bg-img">
        <div class="block-bg"></div>
    </div>
    <div class="main-text">
        <h1 class="display-3">[[seo_h1]]</h1>
    </div>
</section>
<section class="container-fluid artists-block py-5">
    <div class="row">
        [%movies_list#6%]
    </div>
</section>
<section class="container-fluid tracks-block">
    <div class="row d-flex justify-content-start py-5 pl-5">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            [%tv_series_list#6%]
        </div>
        <div class="col-md-7 col-lg-7 col-xs-12 col-sm-12 d-flex pt-xs-4 pt-sm-4 align-self-center justify-content-start">
            [[seo_text]]
        </div>
    </div>
</section>
