<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-8 border border-secondary pt-3 text-light">
            {% if __text is not empty %}
                <p class="bg-dark">{{ __text | raw }}</p>
            {% endif %}
            <p class="bg-dark">[[seo_text]]</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row my-5">
        {% for index,episode in episodes %}
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 text-center my-1">
                <a href="{{ episode.__link }}" class="pt-2">
                    <div class="link-design">
                    <p class="py-3">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center pb-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>