<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<section class="container-fluid">
    <h1 class="text-center">[[seo_h1]]</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
            <img src="{{ photo }}"/>
            <h2>{{ titleRu }}</h2>
            <small>{{ titleEn }}</small>
            {% if __tags is defined %}
                <div>
                    {% for tag in __tags %}

                        <a href="{{ tag.__link }}" class="badge badge-warning">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="row col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center justify-content-center">
            <div class="col-12">
                <section class=" container py-2">
                    [%breadcrumbs%]
                </section>
            </div>
            {% for index,season in seasons %}
                <div class="col-10">
                    <a href="{{ season.__link }}">
                        <div class="link-design">
                            <p class="py-2">Сезон {{ season.season }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <section class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center pb-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <hr>
    <div class="row justify-content-center pt-5">
        <div class="col-8">
            {% if __text is not empty %}
                <p class="py-2">{{ __text | raw }}</p>
            {% endif %}
            <p class="py-2">[[seo_text]]</p>
        </div>
    </div>
</section>