{% if links is defined %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            {% for link in links %}
                <li class="breadcrumb-item"><a href="{{ link.uri }}" class="text-light">
                            {{ link.title }}
                        </a></li>
            {% endfor %}
            <li class="breadcrumb-item active">{{ active.title }}</li>
        </ul>
    </nav>
{% endif %}
