<footer class="container-fluid nav-styling">
    <div class="row">
        <div class="col-12">
            {% if links %}
                <div class="container pt-3">
                    <h4 class="text-left text-light">Смотрите также</h4>
                    <div class="row justify-content-start">
                        {% for link in links %}
                            <div class="col-4 mt-1">
                                <p class="pl-1">
                                    <a href="{{ link.link }}" class="link-hover text-light">
                                        <small>{{ link.name }}</small>
                                    </a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center text-light my-3 small nav-styling">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>

