<div class="container-fluid">
    <div class="row pt-3 pb-1">
        <div class="col-12 d-flex justify-content-center">
            {% if pages|length > 0 %}
                <a href="{{ pages[1].url }}" class="fun-link">
                    <h5>все лучшие фильмы</h5>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% for film in films %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center pt-1">
                <a href="{{ film.__link }}" class="bg-item">
                    <div>
                        <em><i class="fas fa-star"></i> <b>{{ film.imdbRating }}</b>/10</em>
                    </div>
                    <div class="img-deco">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="text-center">
                            <p class="py-2 px-2">{{ film.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>