<section>
    <h5>{{ name }}</h5>

    {% for artist in items %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="{{ artist.__link }}">
                        <img width="305" height="429"
                             src="{{ artist.photo }}"
                        /> <span class="card-title home">{{ artist.name }}</span>
                    </a>
                </div>
                <div class="">
                    {% if artist.__tags is defined %}
                        {% for tag in artist.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-default">{{ tag.name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>


    {% endfor %}

    {% if pages|length > 0 %}

        <div class="container ">
            <div class="row">
                <div class="left"><a
                            href="{{ pages[1].url }}">
                        <button type="button" class="btn  lighten-1">next</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>