<section class="container">
    <div class="row">
        {% for item in results %}
            <div class="card horizontal __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                <div class="card-stacked" >
                    <div class="card-content" maestro-youtube-id='{{ item.id }}'>
                        <img width="100px" height="70px"
                             class="card-img-top img-responsive"
                             src="{{ item.src }}" alt="{{ item.title }}">
                        {{ item.title }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>