
<ul class="collection">
    <li class="collection-item avatar">
        <p>
            <audio  src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls preload="none"></audio>
        </p>
        <p class="center">
            <a class="btn blue" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
        </p>
        <p>
        <div class="card-footer text-muted" style="padding: 10px">
            <i class="fa fa-user"></i>Сейчас слушают {{ totalListeners }} человека |
            <i class="fa fa-download"></i>Всего скачали {{ totalDownloads }} раз |
            <i class="fa fa-play"></i>Прослушали {{ totalListening }} раз
        </div>
        </p>
    </li>
</ul>
<div>
    {% if __relations is defined %}
        {% for relation in __relations %}
            <a href="{{ relation.__link }}">{{ relation.name }}</a>
        {% endfor %}
    {% endif %}
</div>