<div class="ui segment" style="margin-bottom: 50px">
    <div class="ui four column  stackable grid">
        {% for film in films %}
            <div class="column">
                <div class="ui card">
                    <a class="image" href="{{ film.__link }}">
                        <img src="{{ film.photo }}">
                    </a>
                    <div class="content">
                        <a class="header" href="{{ film.__link }}">{{ film.titleRu }}</a>
                        <div>
                            {% if film.__tags is defined %}
                                {% for tag in film.__tags %}
                                    <a href="{{ tag.__link }}" class="ui teal horizontal label">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="ui inverted section divider"></div>
    {% if pages|length > 0 %}
        <a href="{{ pages[1].url }}">
            <button class="ui primary basic button">Больше</button>
        </a>
    {% endif %}
</div>