<div class="field">
    <select class="ui fluid search dropdown" onchange="location = this.value;">
        {% for link in links %}
            {% if link.__link == __link %}
                <option value="{{ link.__link }}" selected>{{ link.name }}</option>
            {% else %}
                <option value="{{ link.__link }}">{{ link.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>