<div class="col-sm-6 mb-2">
    <div class="card">
        <div class="card-body">
            <span class="card-title">{{ episode.titleRu }}</span>
            <p class="card-text">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
            <a href="{{ episode.__link }}" class="more-info upper-text">Смотреть</a>
        </div>
    </div>
</div>