<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                {% for link in links %}
                    <li><a class="badge badge-rose" href="{{ link.link }}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
