<section class="container main-screen-artists pb-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 d-flex justify-content-center">
            <h1 class="mt-5">[[seo_h1]]</h1>
            <p class="mt-5">[[seo_text]]</p>
        </div>
        {% for artist in artists %}
            <div class="row col-lg-6 col-md-6 col-xs-12 col-sm-12 d-flex justify-content-center text-center">
                <div class="col-12 mt-4">
                    <a href="{{ artist.__link }}">{{ artist.name }}</a>
                </div>
                <div class="col-12">
                <div class="artists-img shadow">
                    <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt="{{ artist.name }}"/></a>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col text-center d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>