<section class="container main-screen-artists pb-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 d-flex justify-content-center">
            <h1 class="mt-5">[[seo_h1]]</h1>
            <p class="mt-5">[[seo_text]]</p>
        </div>
        <div class="row justify-content-center mt-3">
            {% for track in tracks %}
                <div class="col-md-8 row rounded my-3">
                    <div class="col-md-10 align-self-center">
                        <a href="{{ track.__link }}" class="h5">
                            {{ track.name }}
                        </a>

                        <div>
                            {% if track.artistName == "" %}
                                <p>Unknown</p>
                            {% else %}
                                <p>{{ track.artistName }}</p>
                            {% endif %}
                        </div>

                        <div>
                            <audio src="{{ track.url }}" controls="controls" preload="none" value="1.0"></audio>
                        </div>
                    </div>
                    <div class="col-md-2 align-self-end mb-2">
                        <a href="{{ track.url }}" download="{{ track.name }}" class="btn btn-success">
                            Скачать
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col text-center d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>