a.brand-logo:hover,
#nav-mobile li a:hover{
    color:#bdbdbd;
    text-decoration: none;
}

.element-title {
    text-align:center;
}

.element-title a {
    color:#333;
    text-decoration:underline;
}

.element-title a:hover {
    color:#666;
    text-decoration:none;
}

h3.top-serial-text {
    text-align:center;
}

.more-elements a{
    margin:0 auto;
}

.btn-secondary {
    background-color: #245b8c;
}

.btn-secondary:hover {
    background-color: #143757;
}

.card-img-top {
    height: 100%;
}

.card-action {
    border-left:1px dotted black;
    border-right:1px dotted black;
    border-bottom:1px dotted black;
    padding:20px;
}

.pagination {
    margin:0 auto;
}

a.footer-text {
    color:#fff;
    border:1px dotted white;
    padding:1px;
    margin:5px 0;
}

.breadcrumb-element.active {
    color: #333;
}

.breadcrumb-element.active a {
    color:#666;
}

.breadcrumb-element+.breadcrumb-element::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}

h5.card-title {
    color:#fff;
    float:left;
}

.card-body a {
    margin:10px 0 0 0;
}

span.badge {
    color:#fff;
}

.card-title-element {
    font-size:25px;
}

.carousel {
    overflow:visible;
    height:700px;
}

.carousel-inner {
    overflow:visible;
}

.carousel .carousel-item {
    width:100%;
    visibility: visible;
}

.pagination-section {
    margin:0 auto;
}