.rd-navbar {
    background: #2dcd75;
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
}

.rd-navbar-toggle span {
    position: relative;
    display: block;
    margin: auto;
    transition: .3s all ease;
}
.rd-navbar-toggle span:after, .rd-navbar-toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    transition: .3s all ease;
}
.rd-navbar-toggle span:after {
    top: 8px;
}
.rd-navbar-toggle span:after, .rd-navbar-toggle span:before, .rd-navbar-toggle span {
    width: 24px;
    height: 4px;
    background-color: #fff;
    backface-visibility: hidden;
    border-radius: 2px;
}
.rd-navbar-toggle span {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rd-navbar-toggle span:before, .rd-navbar-toggle span:after {
    -webkit-transform-origin: 1.71429px center;
    transform-origin: 1.71429px center;
    -webkit-transform-origin: 1.71429px center;
    transform-origin: 1.71429px center;
}
.rd-navbar-toggle.active span {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rd-navbar-toggle.active span:before, .rd-navbar-toggle.active span:after {
    top: 0;
    width: 15px;
}
.rd-navbar-toggle.active span:before {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
    transform: rotate3d(0, 0, 1, -40deg);
}
.rd-navbar-toggle.active span:after {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
}

.rd-navbar-brand {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.rd-navbar-brand .brand-name {
    position: relative;
    padding-left: 60px;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #fff;
}
@media (min-width: 768px) {
    .rd-navbar-brand .brand-name {
        padding-left: 70px;
    }
}
@media (min-width: 1200px) {
    .rd-navbar-brand .brand-name {
        padding-left: 82px;
    }
}

.rd-navbar-collapse-toggle span {
    top: 50%;
    margin-top: -3.625px;
}
.rd-navbar-collapse-toggle span, .rd-navbar-collapse-toggle span:before, .rd-navbar-collapse-toggle span:after {
    position: absolute;
    width: 7.25px;
    height: 7.25px;
    line-height: 7.25px;
    text-align: center;
    background: #fff;
    left: 50%;
    margin-left: -3.625px;
    border-radius: 50%;
    transition: .3s all ease;
}
.rd-navbar-collapse-toggle span:before, .rd-navbar-collapse-toggle span:after {
    content: '';
}
.rd-navbar-collapse-toggle span:before {
    bottom: 100%;
    margin-bottom: 3.625px;
}
.rd-navbar-collapse-toggle span:after {
    top: 100%;
    margin-top: 3.625px;
}
.rd-navbar-collapse-toggle.active span {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}
.rd-navbar-collapse-toggle.active span:before {
    -webkit-transform: translateY(21.75px);
    transform: translateY(21.75px);
}
.rd-navbar-collapse-toggle.active span:after {
    -webkit-transform: translateY(-21.75px);
    transform: translateY(-21.75px);
}

.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-search-toggle:after {
    content: '\f00d';
    transition: .3s all ease;
    -webkit-transform: scale(0) rotate(-90deg);
    transform: scale(0) rotate(-90deg);
}
.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-search-toggle.active:before {
    -webkit-transform: scale(0) rotate(90deg);
    transform: scale(0) rotate(90deg);
}
.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-search-toggle.active:after {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}
.rd-navbar-fixed .rd-navbar-search-toggle, .rd-navbar-fixed .rd-navbar-search-toggle:before {
    width: 60px;
    line-height: 60px;
}

.rd-navbar-live-search-results .search-quick-result {
    padding-left: 8px;
    font-size: 14px;
    line-height: 30px;
    color: #757575;
}
.rd-navbar-live-search-results .search_list {
    margin-top: 4px;
    font-size: 16px;
    line-height: 30px;
}
.rd-navbar-live-search-results .search_list li + li {
    margin-top: 2px;
}
.rd-navbar-live-search-results .search_list .search_list li + li:last-child {
    margin-top: 8px;
    border-top: 1px solid #EBEBEB;
    padding-top: 7px;
}
.rd-navbar-live-search-results .search_link {
    display: block;
    padding: 8px;
    color: #757575;
    border-radius: 2px;
}
.rd-navbar-live-search-results .search_link:hover {
    background: #F7F7F7;
}
.rd-navbar-live-search-results .search_link p {
    margin-top: 0;
    font-size: 14px;
    display: none;
}
.rd-navbar-live-search-results .search_title {
    color: #212121;
    font-weight: 400;
}
.rd-navbar-live-search-results .search_submit {
    display: block;
    text-align: center;
    padding: 8px;
    font-weight: 700;
    color: #2dcd75;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.rd-navbar-live-search-results .search_submit:hover {
    background: #F7F7F7;
}

@media (min-width: 1200px) {
    .rd-navbar-live-search-results .search_link p {
        display: block;
    }
}

.rd-navbar-search.active .rd-navbar-live-search-results {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.rd-navbar-search.active .rd-navbar-live-search-results.not-empty {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    opacity: 1;
    visibility: visible;
}

.rd-navbar--has-sidebar body {
    padding-left: 270px;
}


.rd-navbar.rd-navbar-fixed + .rd-navbar.rd-navbar--is-clone,
.rd-navbar.rd-navbar-sidebar + .rd-navbar.rd-navbar--is-clone {
    display: none;
}

.rd-navbar.rd-navbar--is-stuck.rd-navbar--loading {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

/*
* @subsection   Hybrid  Styles
*/
.rd-navbar-static, .rd-navbar-sidebar, .rd-navbar-fullwidth {
    position: relative;
    z-index: 10;
}
.rd-navbar-static .rd-navbar-search-form-input, .rd-navbar-sidebar .rd-navbar-search-form-input, .rd-navbar-fullwidth .rd-navbar-search-form-input {
    display: block;
}
.rd-navbar-static .rd-navbar-search-form-input ::-webkit-input-placeholder, .rd-navbar-sidebar .rd-navbar-search-form-input ::-webkit-input-placeholder, .rd-navbar-fullwidth .rd-navbar-search-form-input ::-webkit-input-placeholder {
    color: #fff;
}
.rd-navbar-static .rd-navbar-search-form-input :-moz-placeholder, .rd-navbar-sidebar .rd-navbar-search-form-input :-moz-placeholder, .rd-navbar-fullwidth .rd-navbar-search-form-input :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}
.rd-navbar-static .rd-navbar-search-form-input ::-moz-placeholder, .rd-navbar-sidebar .rd-navbar-search-form-input ::-moz-placeholder, .rd-navbar-fullwidth .rd-navbar-search-form-input ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}
.rd-navbar-static .rd-navbar-search-form-input :-ms-input-placeholder, .rd-navbar-sidebar .rd-navbar-search-form-input :-ms-input-placeholder, .rd-navbar-fullwidth .rd-navbar-search-form-input :-ms-input-placeholder {
    color: #fff;
}
.rd-navbar-static .rd-navbar-search-form-input input, .rd-navbar-sidebar .rd-navbar-search-form-input input, .rd-navbar-fullwidth .rd-navbar-search-form-input input {
    display: block;
    width: 100%;
    padding: 12px 40px 12px 18px;
    height: 58px;
    font-size: 16px;
    line-height: 34px;
    color: #fff;
    background: #28b869;
}
.rd-navbar-static .rd-navbar-search-form-submit, .rd-navbar-sidebar .rd-navbar-search-form-submit, .rd-navbar-fullwidth .rd-navbar-search-form-submit {
    position: absolute;
    top: 0;
    right: 0;
}

.rd-navbar-static .rd-navbar-brand, .rd-navbar-static .rd-navbar-nav > li > a, .rd-navbar-static .rd-navbar-search-toggle, .rd-navbar-fullwidth .rd-navbar-brand, .rd-navbar-fullwidth .rd-navbar-nav > li > a, .rd-navbar-fullwidth .rd-navbar-search-toggle {
    position: relative;
    z-index: 2;
}
.rd-navbar-static .rd-navbar-nav-wrap, .rd-navbar-fullwidth .rd-navbar-nav-wrap {
    padding-right: 94px;
}
.rd-navbar-static .rd-navbar-nav > li > a, .rd-navbar-fullwidth .rd-navbar-nav > li > a {
    display: block;
    margin: 42px 0;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 25px;
}
@media (min-width: 992px) {
    .rd-navbar-static .rd-navbar-nav > li > a, .rd-navbar-fullwidth .rd-navbar-nav > li > a {
        font-size: 16px;
    }
}
.rd-navbar-static .rd-navbar-nav > li.focus > a, .rd-navbar-static .rd-navbar-nav > li > a:hover, .rd-navbar-static .rd-navbar-nav > li.active > a, .rd-navbar-fullwidth .rd-navbar-nav > li.focus > a, .rd-navbar-fullwidth .rd-navbar-nav > li > a:hover, .rd-navbar-fullwidth .rd-navbar-nav > li.active > a {
    color: #2dcd75;
    background: #363c3f;
}
.rd-navbar-static .rd-navbar-nav > li.focus > a:after, .rd-navbar-static .rd-navbar-nav > li > a:hover:after, .rd-navbar-static .rd-navbar-nav > li.active > a:after, .rd-navbar-fullwidth .rd-navbar-nav > li.focus > a:after, .rd-navbar-fullwidth .rd-navbar-nav > li > a:hover:after, .rd-navbar-fullwidth .rd-navbar-nav > li.active > a:after {
    color: #2dcd75 !important;
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > ul, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu > ul {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu li, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu li {
    font-size: 14px;
    line-height: 1.2;
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > .rd-navbar-dropdown, .rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu > .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu > .rd-navbar-megamenu {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > .rd-navbar-dropdown li + li, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu > .rd-navbar-dropdown li + li {
    margin-top: 6px;
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu.focus > .rd-navbar-dropdown, .rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu.focus > .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu.focus > .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu.focus > .rd-navbar-megamenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu .rd-navbar-submenu.focus > .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu .rd-navbar-submenu.focus > .rd-navbar-dropdown {
    display: block;
}
.rd-navbar-static .rd-navbar-inner, .rd-navbar-fullwidth .rd-navbar-inner {
    position: relative;
    max-width: 2080px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-dropdown {
    display: block;
    position: absolute;
    text-align: left;
    margin-top: 10px;
    left: 50%;
    margin-left: -63.6px;
    width: 159px;
    background: #363c3f;
    z-index: 5;
}
@media (min-width: 1200px) {
    .rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-dropdown {
        margin-top: -32px;
    }
}
.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-dropdown {
    background: #363c3f;
    padding: 25px 0;
    position: relative;
}
.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-dropdown {
    position: absolute;
    left: 100%;
    top: 60%;
    padding: 27px 0 31px;
    width: 159px;
    background: #2e3335;
}
.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown > li > a, .rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-dropdown > li > a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.rd-navbar-static .rd-navbar-dropdown > li > a, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a {
    display: block;
    padding: 2px 20px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
}
.rd-navbar-static .rd-navbar-dropdown > li > a:hover, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a:hover {
    color: #2dcd75;
    background: transparent;
}
.rd-navbar-static .rd-navbar-dropdown > li.focus > a, .rd-navbar-fullwidth .rd-navbar-dropdown > li.focus > a {
    color: #2dcd75;
    background: transparent;
}
.rd-navbar-static .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-megamenu {
    display: table;
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    margin-top: -30px;
    border-spacing: 10px 60px;
    table-layout: fixed;
    width: 100%;
    max-width: 2050px;
    font-family: "Roboto", sans-serif;
    background: #363c3f;
    z-index: 4;
}
@media (min-width: 768px) {
    .rd-navbar-static .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-megamenu {
        padding-left: 2%;
    }
}
@media (min-width: 1900px) {
    .rd-navbar-static .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-megamenu {
        padding-left: 18.5%;
        padding-right: 16%;
    }
}
.rd-navbar-static .rd-navbar-megamenu img, .rd-navbar-fullwidth .rd-navbar-megamenu img {
    width: 100%;
}
.rd-navbar-static .rd-navbar-megamenu .image-wrap, .rd-navbar-fullwidth .rd-navbar-megamenu .image-wrap {
    float: right;
}
.rd-navbar-static .rd-navbar-megamenu h1, .rd-navbar-static .rd-navbar-megamenu h2, .rd-navbar-static .rd-navbar-megamenu h3, .rd-navbar-static .rd-navbar-megamenu h4, .rd-navbar-static .rd-navbar-megamenu h5, .rd-navbar-static .rd-navbar-megamenu h6,
.rd-navbar-static .rd-navbar-megamenu .heading-1, .rd-navbar-static .rd-navbar-megamenu .heading-2, .rd-navbar-static .rd-navbar-megamenu .heading-3, .rd-navbar-static .rd-navbar-megamenu .heading-4, .rd-navbar-static .rd-navbar-megamenu .heading-5, .rd-navbar-static .rd-navbar-megamenu .heading-6, .rd-navbar-fullwidth .rd-navbar-megamenu h1, .rd-navbar-fullwidth .rd-navbar-megamenu h2, .rd-navbar-fullwidth .rd-navbar-megamenu h3, .rd-navbar-fullwidth .rd-navbar-megamenu h4, .rd-navbar-fullwidth .rd-navbar-megamenu h5, .rd-navbar-fullwidth .rd-navbar-megamenu h6,
.rd-navbar-fullwidth .rd-navbar-megamenu .heading-1, .rd-navbar-fullwidth .rd-navbar-megamenu .heading-2, .rd-navbar-fullwidth .rd-navbar-megamenu .heading-3, .rd-navbar-fullwidth .rd-navbar-megamenu .heading-4, .rd-navbar-fullwidth .rd-navbar-megamenu .heading-5, .rd-navbar-fullwidth .rd-navbar-megamenu .heading-6 {
    margin-top: 22px;
    color: #2dcd75;
    font-family: "Roboto", sans-serif;
}
.rd-navbar-static .rd-navbar-megamenu > li, .rd-navbar-fullwidth .rd-navbar-megamenu > li {
    position: relative;
    display: table-cell;
    font-size: 16px !important;
    color: #a2a1a2;
}
.rd-navbar-static .rd-navbar-megamenu > li:first-child, .rd-navbar-fullwidth .rd-navbar-megamenu > li:first-child {
    width: 22%;
    display: none;
}
@media (min-width: 992px) {
    .rd-navbar-static .rd-navbar-megamenu > li:first-child, .rd-navbar-fullwidth .rd-navbar-megamenu > li:first-child {
        display: table-cell;
    }
}
.rd-navbar-static .rd-navbar-megamenu > li:nth-child(2), .rd-navbar-fullwidth .rd-navbar-megamenu > li:nth-child(2) {
    width: 43.1%;
}
@media (min-width: 992px) {
    .rd-navbar-static .rd-navbar-megamenu > li:nth-child(2), .rd-navbar-fullwidth .rd-navbar-megamenu > li:nth-child(2) {
        width: 34.1%;
        padding-left: 4.5%;
        padding-right: 3%;
    }
}
.rd-navbar-static .rd-navbar-megamenu > li > p, .rd-navbar-fullwidth .rd-navbar-megamenu > li > p {
    line-height: 26px;
    margin-top: 38px;
}
.rd-navbar-static .rd-navbar-megamenu > li p + p, .rd-navbar-fullwidth .rd-navbar-megamenu > li p + p {
    margin-top: 24px;
}
.rd-navbar-static .rd-navbar-megamenu > li > ul, .rd-navbar-fullwidth .rd-navbar-megamenu > li > ul {
    padding: 8px 9px;
}
.rd-navbar-static .rd-navbar-megamenu > li > ul a, .rd-navbar-fullwidth .rd-navbar-megamenu > li > ul a {
    display: inline-block;
    color: #a2a1a2;
    background: transparent;
}
.rd-navbar-static .rd-navbar-megamenu > li > ul a:hover, .rd-navbar-fullwidth .rd-navbar-megamenu > li > ul a:hover {
    color: #2dcd75;
    background: transparent;
}
.rd-navbar-static .rd-navbar-megamenu > li > ul a.icon-contrast-variant-2, .rd-navbar-fullwidth .rd-navbar-megamenu > li > ul a.icon-contrast-variant-2 {
    border-color: rgba(162, 161, 162, 0.2);
}
.rd-navbar-static.rd-navbar--is-clone, .rd-navbar-fullwidth.rd-navbar--is-clone {
    display: none;
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
}
.rd-navbar-static.rd-navbar--is-clone.rd-navbar--is-stuck, .rd-navbar-fullwidth.rd-navbar--is-clone.rd-navbar--is-stuck {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.rd-navbar-static .rd-navbar-search-form, .rd-navbar-fullwidth .rd-navbar-search-form {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 5px 15px;
    z-index: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.rd-navbar-static .rd-navbar-search-form:before, .rd-navbar-fullwidth .rd-navbar-search-form:before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    bottom: 0;
    width: 5000px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
.rd-navbar-static .rd-navbar-search-form:before, .rd-navbar-fullwidth .rd-navbar-search-form:before {
    right: 100%;
}
.rd-navbar-static .rd-navbar-search-form:after, .rd-navbar-fullwidth .rd-navbar-search-form:after {
    left: 100%;
}
.rd-navbar-static .rd-navbar-search-form:before, .rd-navbar-fullwidth .rd-navbar-search-form:before {
    background: #2dcd75;
    box-shadow: inset 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
}
.rd-navbar-static .rd-navbar-search-form-submit, .rd-navbar-fullwidth .rd-navbar-search-form-submit {
    right: 15px;
    margin-top: 5px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}
.rd-navbar-static .rd-navbar-search-form-submit:hover, .rd-navbar-fullwidth .rd-navbar-search-form-submit:hover {
    color: #363c3f;
}
.rd-navbar-static .rd-navbar-search-form-input, .rd-navbar-fullwidth .rd-navbar-search-form-input {
    position: relative;
}
.rd-navbar-static .rd-navbar-search-toggle, .rd-navbar-fullwidth .rd-navbar-search-toggle {
    position: absolute;
    right: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    outline: none;
}
.rd-navbar-static .rd-navbar-search-toggle:hover, .rd-navbar-fullwidth .rd-navbar-search-toggle:hover {
    color: #363c3f;
}
.rd-navbar-static .rd-navbar-search.active .rd-navbar-search-form, .rd-navbar-fullwidth .rd-navbar-search.active .rd-navbar-search-form {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.rd-navbar-static .rd-navbar-live-search-results, .rd-navbar-fullwidth .rd-navbar-live-search-results {
    top: calc(100% + 70px);
    z-index: 0;
}
.rd-navbar-static.rd-navbar--is-stuck, .rd-navbar-static.rd-navbar--is-clone, .rd-navbar-fullwidth.rd-navbar--is-stuck, .rd-navbar-fullwidth.rd-navbar--is-clone {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}
.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-collapse, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-collapse, .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-collapse, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-collapse {
    display: none;
}
.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li > a, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav > li > a, .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav > li > a, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav > li > a {
    margin: 10px 0;
    padding: 10px 20px;
}
.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav .rd-navbar-megamenu, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav .rd-navbar-megamenu, .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav .rd-navbar-megamenu, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav .rd-navbar-megamenu {
    margin-top: 0;
}
.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li.rd-navbar--has-dropdown, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav > li.rd-navbar--has-dropdown, .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav > li.rd-navbar--has-dropdown, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav > li.rd-navbar--has-dropdown {
    position: relative;
}
.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li.rd-navbar--has-dropdown > ul.rd-navbar-dropdown, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav > li.rd-navbar--has-dropdown > ul.rd-navbar-dropdown, .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav > li.rd-navbar--has-dropdown > ul.rd-navbar-dropdown, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav > li.rd-navbar--has-dropdown > ul.rd-navbar-dropdown {
    margin-top: 10px;
}
.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li.rd-navbar--has-dropdown > a, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav > li.rd-navbar--has-dropdown > a, .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav > li.rd-navbar--has-dropdown > a, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav > li.rd-navbar--has-dropdown > a {
    position: relative;
    padding: 10px 35px 10px 10px;
}
.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li.rd-navbar--has-dropdown > a:after, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav > li.rd-navbar--has-dropdown > a:after, .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav > li.rd-navbar--has-dropdown > a:after, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav > li.rd-navbar--has-dropdown > a:after {
    content: '\f107';
    position: absolute;
    left: 77px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    font-family: 'FontAwesome', sans-serif;
    color: #fff;
}
.rd-navbar-static .rd-navbar-nav > li.rd-navbar--has-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li.rd-navbar--has-dropdown {
    position: relative;
}
.rd-navbar-static .rd-navbar-nav > li.rd-navbar--has-dropdown > a, .rd-navbar-fullwidth .rd-navbar-nav > li.rd-navbar--has-dropdown > a {
    position: relative;
    padding: 10px 35px 10px 10px;
}
.rd-navbar-static .rd-navbar-nav > li.rd-navbar--has-dropdown > a:after, .rd-navbar-fullwidth .rd-navbar-nav > li.rd-navbar--has-dropdown > a:after {
    content: '\f107';
    position: absolute;
    right: 17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    font-family: 'FontAwesome', sans-serif;
    color: #fff;
    transition: .3s ease-out all;
}
.rd-navbar-static .rd-navbar-nav > li.rd-navbar--has-dropdown.focus > a::after, .rd-navbar-fullwidth .rd-navbar-nav > li.rd-navbar--has-dropdown.focus > a::after {
    color: #2dcd75;
}

.rd-navbar-fixed .rd-navbar-collapse-toggle, .rd-navbar-sidebar .rd-navbar-collapse-toggle {
    display: inline-block;
    z-index: 1;
}
.rd-navbar-fixed .rd-navbar-dropdown, .rd-navbar-sidebar .rd-navbar-dropdown {
    display: block;
}
.rd-navbar-fixed .rd-navbar-collapse-items, .rd-navbar-sidebar .rd-navbar-collapse-items {
    position: absolute;
    width: 260px;
    padding: 25px 15px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
    color: #fff;
    background: #2dcd75;
    font-size: 16px;
    line-height: 34px;
}
.rd-navbar-fixed .rd-navbar-collapse-items li > *, .rd-navbar-sidebar .rd-navbar-collapse-items li > * {
    vertical-align: middle;
}
.rd-navbar-fixed .rd-navbar-collapse-items li + li, .rd-navbar-sidebar .rd-navbar-collapse-items li + li {
    margin-top: 10px;
}
.rd-navbar-fixed .rd-navbar-collapse-items .icon, .rd-navbar-fixed .rd-navbar-collapse-items a, .rd-navbar-sidebar .rd-navbar-collapse-items .icon, .rd-navbar-sidebar .rd-navbar-collapse-items a {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
}
.rd-navbar-fixed .rd-navbar-collapse-items .icon, .rd-navbar-fixed .rd-navbar-collapse-items a[class*="fa"]:before, .rd-navbar-sidebar .rd-navbar-collapse-items .icon, .rd-navbar-sidebar .rd-navbar-collapse-items a[class*="fa"]:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.rd-navbar-fixed .rd-navbar-nav,
.rd-navbar-sidebar {
    position: fixed;
    width: 270px;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 16px;
    line-height: 34px;
    color: #fff;
    background: #2dcd75;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
    z-index: 998;
    padding: 10px 4px;
}
@media (min-width: 1200px) {
    .rd-navbar-fixed .rd-navbar-nav,
    .rd-navbar-sidebar {
        width: 340px;
    }
}
.rd-navbar-fixed .rd-navbar-nav:before, .rd-navbar-fixed .rd-navbar-nav:after,
.rd-navbar-sidebar:before,
.rd-navbar-sidebar:after {
    content: '';
    display: block;
    height: 70px;
}
.rd-navbar-fixed .rd-navbar-nav::-webkit-scrollbar,
.rd-navbar-sidebar::-webkit-scrollbar {
    width: 4px;
}
.rd-navbar-fixed .rd-navbar-nav::-webkit-scrollbar-thumb,
.rd-navbar-sidebar::-webkit-scrollbar-thumb {
    background: #54d990;
    border: none;
    border-radius: 0;
    opacity: .2;
}
.rd-navbar-fixed .rd-navbar-nav::-webkit-scrollbar-track,
.rd-navbar-sidebar::-webkit-scrollbar-track {
    background: #2dcd75;
    border: none;
    border-radius: 0;
}

.rd-navbar-fixed .rd-navbar-nav h1, .rd-navbar-fixed .rd-navbar-nav h2, .rd-navbar-fixed .rd-navbar-nav h3, .rd-navbar-fixed .rd-navbar-nav h4, .rd-navbar-fixed .rd-navbar-nav h5, .rd-navbar-fixed .rd-navbar-nav h6,
.rd-navbar-fixed .rd-navbar-nav .heading-1, .rd-navbar-fixed .rd-navbar-nav .heading-2, .rd-navbar-fixed .rd-navbar-nav .heading-3, .rd-navbar-fixed .rd-navbar-nav .heading-4, .rd-navbar-fixed .rd-navbar-nav .heading-5, .rd-navbar-fixed .rd-navbar-nav .heading-6,
.rd-navbar-sidebar .rd-navbar-nav h1,
.rd-navbar-sidebar .rd-navbar-nav h2,
.rd-navbar-sidebar .rd-navbar-nav h3,
.rd-navbar-sidebar .rd-navbar-nav h4,
.rd-navbar-sidebar .rd-navbar-nav h5,
.rd-navbar-sidebar .rd-navbar-nav h6,
.rd-navbar-sidebar .rd-navbar-nav .heading-1,
.rd-navbar-sidebar .rd-navbar-nav .heading-2,
.rd-navbar-sidebar .rd-navbar-nav .heading-3,
.rd-navbar-sidebar .rd-navbar-nav .heading-4,
.rd-navbar-sidebar .rd-navbar-nav .heading-5,
.rd-navbar-sidebar .rd-navbar-nav .heading-6 {
    padding: 5px 10px 5px 10px;
}
.rd-navbar-fixed .rd-navbar-nav p,
.rd-navbar-sidebar .rd-navbar-nav p {
    padding: 5px 10px 5px 10px;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}
.rd-navbar-fixed .rd-navbar-nav p > a,
.rd-navbar-sidebar .rd-navbar-nav p > a {
    display: block;
    margin: -5px -40px -5px -15px;
    padding: 5px 40px 5px 15px;
    font-weight: 400;
    color: #fff;
}
.rd-navbar-fixed .rd-navbar-nav p > a:hover,
.rd-navbar-sidebar .rd-navbar-nav p > a:hover {
    color: #FFF;
    background: #2dcd75;
    text-decoration: none;
}
.rd-navbar-fixed .rd-navbar-nav li,
.rd-navbar-sidebar .rd-navbar-nav li {
    position: relative;
}
.rd-navbar-fixed .rd-navbar-nav li li > a,
.rd-navbar-sidebar .rd-navbar-nav li li > a {
    padding-left: 20px;
}
.rd-navbar-fixed .rd-navbar-nav li > a,
.rd-navbar-sidebar .rd-navbar-nav li > a {
    position: relative;
    display: block;
    padding: 5px 45px 5px 15px;
}
.rd-navbar-fixed .rd-navbar-nav li > a:first-letter,
.rd-navbar-sidebar .rd-navbar-nav li > a:first-letter {
    text-transform: uppercase;
}
.rd-navbar-fixed .rd-navbar-nav li.active > a,
.rd-navbar-sidebar .rd-navbar-nav li.active > a {
    color: #fff;
    background: #28b869;
}
.rd-navbar-fixed .rd-navbar-nav li.focus > a, .rd-navbar-fixed .rd-navbar-nav li > a:hover,
.rd-navbar-sidebar .rd-navbar-nav li.focus > a,
.rd-navbar-sidebar .rd-navbar-nav li > a:hover {
    color: #FFF;
    background: #2dcd75;
}
.rd-navbar-fixed .rd-navbar-nav li + li, .rd-navbar-fixed .rd-navbar-nav li > img + a, .rd-navbar-fixed .rd-navbar-nav li > a + a, .rd-navbar-fixed .rd-navbar-nav li > a + ul,
.rd-navbar-sidebar .rd-navbar-nav li + li,
.rd-navbar-sidebar .rd-navbar-nav li > img + a,
.rd-navbar-sidebar .rd-navbar-nav li > a + a,
.rd-navbar-sidebar .rd-navbar-nav li > a + ul {
    margin-top: 6px;
}
.rd-navbar-fixed .rd-navbar-nav li .inline-list,
.rd-navbar-sidebar .rd-navbar-nav li .inline-list {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    margin-bottom: -30px;
    margin-left: -16px;
    text-align: center;
}
@media (min-width: 768px) {
    .rd-navbar-fixed .rd-navbar-nav li .inline-list,
    .rd-navbar-sidebar .rd-navbar-nav li .inline-list {
        text-align: left;
    }
}
.rd-navbar-fixed .rd-navbar-nav li .inline-list > li,
.rd-navbar-sidebar .rd-navbar-nav li .inline-list > li {
    display: inline-block;
    text-align: left;
    margin-top: 30px;
    margin-left: 9px;
}
.rd-navbar-fixed .rd-navbar-nav li .image-wrap,
.rd-navbar-sidebar .rd-navbar-nav li .image-wrap {
    text-align: center;
}
@media (min-width: 768px) {
    .rd-navbar-fixed .rd-navbar-nav li .image-wrap,
    .rd-navbar-sidebar .rd-navbar-nav li .image-wrap {
        display: block;
    }
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-dropdown > li > a,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-dropdown > li > a {
    padding-left: 20px;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-dropdown ul > li > a,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-dropdown ul > li > a {
    padding-left: 25px;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h1, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h2, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h3, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h4, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h5, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h6,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-1, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-2, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-3, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-4, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-5, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-6,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h1,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h2,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h3,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h4,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h5,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h6,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-1,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-2,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-3,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-4,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-5,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-6,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h2,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h3,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h4,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h5,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h6,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-2,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-3,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-4,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-5,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-6,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h2,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h3,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h4,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h5,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown h6,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-2,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-3,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-4,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-5,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .heading-6 {
    text-align: center;
    color: white;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .inline-list,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .inline-list,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .inline-list,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .inline-list {
    text-align: center;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .inline-list > li > a,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .inline-list > li > a,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .inline-list > li > a,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .inline-list > li > a {
    padding: 0;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .inline-list-1,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .inline-list-1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .inline-list-1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .inline-list-1 {
    display: block;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .inline-list-1 + .inline-list-1,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .inline-list-1 + .inline-list-1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .inline-list-1 + .inline-list-1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .inline-list-1 + .inline-list-1 {
    margin-left: 0;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .icon-contrast-variant-2,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .icon-contrast-variant-2,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .icon-contrast-variant-2,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown .icon-contrast-variant-2 {
    color: #fff;
    border: 1px solid #fff;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu > li,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu > li {
    margin-top: 40px;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h1, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h2, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h3, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h4, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h5, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h6,
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-1, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-2, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-3, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-4, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-5, .rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-6,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h2,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h3,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h4,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h5,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu h6,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-1,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-2,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-3,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-4,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-5,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu .heading-6 {
    text-align: left;
}
.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu a.icon-contrast-variant-2:hover,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu a.icon-contrast-variant-2:hover {
    color: #2dcd75 !important;
    background: #fff !important;
    border-color: #fff !important;
}

header.masthead {
    text-align: center;
    color: #000000;
    background: linear-gradient(rgba(56, 60, 67, 0.49), #fff) no-repeat scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}