<section>
    <h3>Топ {{ total }} исполнителей</h3>
    <div class="collection-artists">
        {% for artist in artists %}
            <div style="background-image: url({{ artist.photo }})">
                <a class="artist-block" href="{{ artist.__link }}">
                    <span class="title">
                        {{ artist.name }}
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% for page in pages %}
            {% if page.isCurrent %}
                <a class="active" href="{{ page.url }}">{{ page.num }}</a>
            {% else %}
                <a class="" href="{{ page.url }}">{{ page.num }}</a>
            {% endif %}

        {% endfor %}
    </div>
</section>