<div class="collection-tracks">
    {% for track in tracks %}
    <div>
        <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
        <a class="btn btn-outline-secondary" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% for page in pages %}
        {% if page.isCurrent %}
            <a class="active" href="{{ page.url }}">{{ page.num }}</a>
        {% else %}
            <a class="" href="{{ page.url }}">{{ page.num }}</a>
        {% endif %}

    {% endfor %}
</div>