<div class="col-md-3 col-sm-6 mb-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ episode.titleRu }}</h5>
            <p class="card-text">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
            <a href="{{ episode.__link }}" class="btn btn-primary">Смотреть</a>
        </div>
    </div>
</div>