<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card h-100">
        <a href="{{ film.__link }}">
            <img class="card-img-top" src="{{ film.photo }}" alt="">
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ film.__link }}">{{ film.titleRu }}</a>
            </h4>
            <p>
                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-danger">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
</div>