body {
    background: url("../img/bg-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 95vh;
}

.first-page {
    min-height: 95vh;
    background-color: rgba(11, 10, 15, 0.81);
}


.img-style {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 5px inset #767676;
}


.img-style img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.text-style {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    opacity: 0;
    background-color: rgba(90, 121, 225, 0.9);
    transition: 0.4s;
    transform: rotateX(100deg);
}

.text-style div {
    width: 200px;
    height: 200px;
    top: 40%;
    position: absolute;
    padding: 0 10px;
    color: #00a1e1;
    font-weight: bold;
}

.img-link:hover .text-style {
    opacity: 1;
    transition: 0.8s;
    transform: rotateX(0deg);
}

.height-screen {
    min-height: 50vh;
}

a, p {
    color: #fff8d6;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff2f2;
}

em, small {
    color: #fff8d6;
}

h3, h1, h5 {
    color: #993a3c;
    padding: 0 5px 5px 5px;
    border-bottom: 1px solid #993a3c;
    border-radius: 15px;
}

.bg-crimson {
    background-color: #993a3c;
}

button:hover {
    background-color: #993a3c;
}

.text-darker {
    color: #993a3c;
}

a h5:hover {
    text-decoration: #7b0c32;
    color: #c13d3f;
}

li {
    list-style-type: none;
}

.badge-style {
    background-color: #7718be;
}

.posterizator {
    border: 3px inset #811b25;
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.btn-funny {
    padding: 2px 8px;
    background-color: #393939;
    color: #fff8d6;
}

.pagination {
    display: compact;
}

.round-posterizator {
    height: 180px;
    width: 180px;
    border: 5px groove #7b0c32;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.round-posterizator img {
    width: 100%;
    height: auto;
}

.link-box {
    background-color: #7b0c32;
    position: relative;
    border-radius: 5px;
}

.link-box:hover > p {
    background-color: #0b0a0f;
    border: 1px solid #7b0c32;
    border-radius: 5px;
}


.description-p {
    border-left: 1px solid #993a3c;
    border-radius: 10px;
    background: #0b0a0f;
}