<section class="container-h1 container-fluid">
    <div class="row justify-content-lg-end justify-content-md-end justify-content-center-sm
                justify-content-xs-center py-5">
        <div class="col-6 align-self-lg-center align-self-md-center align-self-sm-start align-self-xs-start">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container-fluid py-5 bg-bark">
    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <h5 class="text-uppercase text-light text-left"><strong>Всего фильмов: <span class="text-danger">{{ total }}</span></strong></h5>
        </div>
    </div>
    <div class="row d-flex justify-content-center no-gutters bg-light py-3 px-5 container-border">
        {% for film in films %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center">
                <a href="{{ film.__link }}" class="all-container p-3">
                    <div class="rat">
                        <em class="bg-bark px-2 py-1"><i class="fas fa-star"></i> <b>{{ film.imdbRating }}</b>/10</em>
                    </div>
                    <div class="img-container">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="text text-center">
                            <p class="py-3 bg-bark">{{ film.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <section class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center py-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="row py-5">
        <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-start align-self-xs-start">
            <p class="pl-5 py-3 mb-5 bg-light">[[seo_text]]</p>
        </div>
    </div>
</section>