<section>
    <section class="container-fluid head-bg-img">
    </section>
    <section class="container-fluid extra-pd screen-height">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-lg-end
                        justify-content-xs-center justify-content-md-end justify-content-sm-center">
                <div class="head-img">
                    <img src="{{ photo }}" alt="{{ name }}" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 align-self-start justify-content-center">
                <h1>[[seo_h1]]</h1>
                <ul>
                    <li>
                        <small>Всего альбомов: {{ totalAlbums }}</small>
                    </li>
                    <li>
                        <small>Всего треков: {{ totalSongs }}</small>
                    </li>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-danger">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-lg-end
                        justify-content-xs-start justify-content-md-end justify-content-sm-start">
                [%breadcrumbs%]
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {% if __text is not empty %}
                    <div>{{ __text | raw }}</div>
                {% endif %}
                <div>[[seo_text]]</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-fluid">
                    <div class="row border-style">
                        {% for album in albums %}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 py-1
                                        d-flex justify-content-start block-bg">
                                <div class="py-3">
                                    <div class="name sm">
                                        <a href="{{ album.__link }}" class="text-left">
                                            {{ album.name }}
                                        </a>
                                        <p>
                                            <small>{{ album.year }}</small>
                                        </p>
                                    </div>
                                    <div class="album-photo">
                                        <a href="{{ album.__link }}">
                                            <img src="{{ album.photo }}" alt="{{ album.name }}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#[%youtube_adding%]#}
</section>