<section>
    <section class="container-fluid head-bg-img">
    </section>
    <section class="container-fluid extra-pd screen-height">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-lg-end
                        justify-content-xs-center justify-content-md-end justify-content-sm-center">
                <div class="head-img">
                    <img src="{{ photo }}" alt="{{ name }}" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 align-self-start justify-content-center">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-lg-end
                        justify-content-xs-start justify-content-md-end justify-content-sm-start">
                [%breadcrumbs%]
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {% if __text is not empty %}
                    <div>{{ __text | raw }}</div>
                {% endif %}
                <div>[[seo_text]]</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-fluid">
                    <div class="row border-style">
                        {% for artist in items %}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 py-1
                                        d-flex justify-content-start block-bg">
                                <div class="p-3">
                                    <div class="name">
                                        <a href="{{ artist.__link }}" class="text-left">
                                            {{ artist.name }}
                                        </a>
                                        {% if __tags is defined %}
                                            {% for tag in __tags %}
                                                <a href="{{ tag.__link }}" class="badge badge-danger">{{ tag.name }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="album-photo">
                                        <a href="{{ artist.__link }}">
                                            <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination pagination-sm">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>