<section>
    <section class="container-fluid main-page-bg-img">
        <div class="row p-lg-5 p-md-5 ">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center">
                <h1>[[seo_h1]]</h1>
                {% if __text is not empty %}
                    <div>{{ __text | raw }}</div>
                {% endif %}
                <div>[[seo_text]]</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <section class="container-fluid">
                    <div class="row">
                        [%audio_tracks_list#5%]
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="screen-height l-bg py-5">
        <div class="container-fluid">
            <div class="row">
                [%audio_artists_list%]
            </div>
        </div>
    </section>
</section>