<section>
    <section class="container-fluid head-bg-img">
    </section>
    <section class="container-fluid extra-pd screen-height">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 align-self-start">
                <h1>[[seo_h1]]</h1>
                <ul>
                    <li>
                        <small>Всего прослушано: {{ totalListeners }}</small>
                    </li>
                    <li>
                        <small>Всего загрузок: {{ totalDownloads }}</small>
                    </li>
                    <li>
                        <small>Слушают: {{ totalListening }}</small>
                    </li>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-danger">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-lg-end
                        justify-content-xs-start justify-content-md-end justify-content-sm-start">
                [%breadcrumbs%]
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {% if __text is not empty %}
                    <div>{{ __text | raw }}</div>
                {% endif %}
                <div>[[seo_text]]</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-fluid">
                    <div class="row block-bg">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 py-1">
                            <div class="name">
                                <a href="{{ __link }}">{{ name }}</a>
                                {% if artistName == "" %}
                                    <p>
                                        <small>Unknown</small>
                                    </p>
                                {% else %}
                                    <p>
                                        <small>{{ artistName }}</small>
                                    </p>
                                {% endif %}
                                <audio src="{{ source_url }}" controls preload="none"
                                       class="full-width"></audio>
                            </div>
                        </div>
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 align-self-end
                                                            justify-content-center mb-2">
                            <a href="{{ url }}" download="{{ name }}">
                                <button type="button" class="btn btn-danger text-light">
                                    Скачать
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#[%youtube_adding%]#}
</section>