<div class="col col-md-2 col-xs-6">
    <div class="card card-season">
        <h3>{{ episode.season }} Сезон / {{ episode.episode }} Епизод</h3>
        <h5>{{ episode.titleRu }}</h5>
        <a class="btn btn-dark" href="{{ episode.__link }}">Смотреть</a>
    </div>
</div>