<div class="col col-md-2 col-xs-6">
    <div class="grid-item">
        <a href="{{ film.__link }}">
            <div class="item">
                <img src="{{ film.photo }}" alt="" width="200" height="300">
                <p>
                    <span>{{ film.titleRu }}</span>
                    <em><i class="zmdi zmdi-star-circle"></i> <b>{{ film.imdbRating }}</b>/10</em>
                </p>
            </div>
            <div class="link">
                <i class="zmdi zmdi-play-circle"></i>
            </div>
        </a>
    </div>
</div>