<div class="col-md-3 col-xs-6 col">
    <div class="card card-season">
        <h3>{{ season.name }} Сезон {{ season.season }}</h3>
        <a class="btn btn-dark" href="{{ season.__link }}">Подробнее</a>
    </div>
</div>