<div class="grid-item">
    <a href="{{ seria.__link }}">
        <div class="item">
            <img src="{{ seria.photo }}" alt="">
            <p>
                <span>{{ seria.titleRu }}</span>
                <em><i class="zmdi zmdi-star-circle"></i> <b>{{ seria.imdbRating }}</b>/10</em>
            </p>
        </div>
        <div class="link" data-toggle="tooltip" data-html="true" title="">
            <i class="zmdi zmdi-play-circle"></i>
        </div>
    </a>
</div>