<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Font-awesome.min css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/animate.min.css">

    <link rel="stylesheet" href="/css/main.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Js -->
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
    [[seo_meta_schema]]
</head>
<body>
<section id="hero-area">
    <h1>[[seo_h1]]</h1>
    <img src="/images/header.jpg" alt="">
</section>
[%nav_links%]
[[ad_block_top]]
{{ template | raw }}
{% if __text is not empty %}
<div>
        {{ __text | raw }}
</div>
{% endif %}
<div>
    [[seo_text]]
</div>

<section id="footer">
    [%cross_links%]
</section>
<footer id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <p>Copyright &copy; 2018 - {{ domain }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
[[ad_block_bottom]]
</body>
</html>