<section class="container-fluid bg-dark">
    <ol class="pl-lg-5 pl-md-5 pl-sm-2 pl-xs-2 py-5">
        {% for track in tracks %}
            <li>
            <h4><a href="{{ track.__link }}">{{ track.name }}</a></h4>
            {% if track.artistName == "" %}
            <p>Unknown</p>
        {% else %}
            <p>{{ track.artistName }}</p>
            {% endif %}
                <audio src="{{ track.source_url }}" controls="controls" preload="none" class="large"></audio>
            </li>
        {% endfor %}
    </ol>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <ul class="pagination pagination-sm">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>