<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>Топ <span>Артистов</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        {% for artist in artists %}
                            <div class="artist-item">
                                <a href="{{ artist.__link }}">
                                    <h5 class="text-center">{{ artist.name }}</h5>
                                    <img class="img-responsive" src="{{ artist.photo }}" alt="{{ artist.name }}">
                                </a>
                            </div>
                        {% endfor %}
                        {% if pages|length > 0 %}
                            <div class="artist-item">
                                <a href="{{ pages[1].url }}">
                                    <h5 class="text-center">Больше</h5>
                                    <img class="img-responsive" src="/images/r.jpg">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section>

