<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="pricing-list">
                        <div class="title">
                            <h3>Топ <span>Треков</span></h3>
                        </div>
                        <ul>
                            {% for index, track in tracks %}
                                <li class="wow fadeInUp" data-wow-duration="{{ (index+3)*100 }}ms"
                                    data-wow-delay="{{ (index+3)*100 }}ms">
                                    <div class="item">
                                        <div class="item-title">
                                            <h2>{{ track.name }}</h2>
                                            <div class="border-bottom"></div>
                                        </div>
                                        <p>
                                            <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if pages|length > 0 %}
                            <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms"
                               data-wow-delay="1200ms" href="{{ pages[1].url }}" role="button">Больше</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>