<section class="block wow fadeInLeft animated">
    {% for link in links %}
        <a class="btn btn-big wow"  href="{{ link.uri }}">{{ link.title }}</a>
    {% endfor %}
        <span class="btn btn-big btn-main">{{ active.title }}</span>
</section>