<div class="container">
    <div class="row">
        {% for link in links %}
            <div class="col-md-3">
                <div class="block wow fadeInLeft" data-wow-delay="200ms">
                    <div class="info">
                        <a href="{{ link.link }}" class="mdl-chip__text">{{ link.name }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>