<h5>{{ name }}</h5>
{% for artist in artists %}

    <a href="{{ artist.__link }}" class="btn btn-primary">
        <img src="{{ artist.photo }}" alt="{{ artist.name }}">
        <h5 class="card-title">{{ artist.name }}</h5></a>
    <br>
{% endfor %}
{% if pages|length > 0 %}
    <a href="{{ pages[1].url }}">
        <button type="button" class="btn btn-secondary">Больше</button>
    </a></div>
{% endif %}
