<section>
    [%breadcrumbs%]
</section>
<section style="margin-top: 25px">
    <div class="box content">
        {% for track in tracks %}
            <a href="{{ track.__link }}"
               class="post" style="margin: 1rem;padding-bottom: 1rem;border-bottom: 1px solid #E6EAEE;display: block">
                <div class="media">
                    <div class="media-left">
                        <img src="{{ photo }}" alt="{{ track.name }}" style="height: 40px; width: 40px; object-fit: cover">
                    </div>
                    <div class="media-content">
                        <div class="content">
                            {{ track.name }}
                        </div>
                    </div>
                    <div class="media-right">
                        <span>
                            {{ track.duration | date('i:s', '+00:00 GMT') }}
                        </span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% for page in pages %}
                <li>
                    <a class="pagination-link {% if page.isCurrent %}is-current{% endif %}" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>