<section>
    [%breadcrumbs%]
</section>
<section style="margin-top: 25px">
    <div class="columns">
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ photo }}" alt="{{ name }}" style="object-fit: cover">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ name }}</p>

                            <p class="is-6">Всего альбомов: {{ totalAlbums }}</p>
                            <p class="is-6">Всего треков: {{ totalSongs }}</p>
                            <div>
                                {% if __tags is defined %}
                                    {% for tag in __tags %}
                                        <a href="{{ tag.__link }}">
                                            <span class="tag is-dark">{{ tag.name }}</span>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-9">
            <div class="box content">
                {% for album in albums %}
                    <a href="{{ album.__link }}"
                       class="post" style="margin: 1rem;padding-bottom: 1rem;border-bottom: 1px solid #E6EAEE;display: block">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ album.photo }}" alt="{{ album.name }}" style="height: 70px; width: 70px; object-fit: cover">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    {{ album.name }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    {% for page in pages %}
                        <li>
                            <a class="pagination-link {% if page.isCurrent %}is-current{% endif %}" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

    </div>
</section>