<section>
    [%breadcrumbs%]
</section>
<section style="margin-top:25px">
    <div class="box content">
        <article class="post" style="margin: 1rem;padding-bottom: 1rem;border-bottom: 1px solid #E6EAEE;">
            <h5 class="title is-5"><a href="{{ __link }}">{{ name }}</a></h5>
            <div class="media">
                <div class="media-content">
                    <div class="columns">
                        <div class="column is-12" style="padding-top: 30px">
                            {{ text | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>