<section>
    <div class="title is-4">
        <h1>[[seo_h1]]</h1>
    </div>
    <div class="columns"  style="flex-wrap: wrap">
        {% for item in results %}
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ item.src }}" class="__modal_trigger" alt="{{ item.title }}"
                                 style="object-fit: cover" maestro-youtube-id='{{ item.id }}'>
                        </figure>
                    </div>
                    <div class="card-content">
                        {{ item.title }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>