<section>
    [%breadcrumbs%]
</section>
<section style="margin-top:25px">
    <div class="box content">
        <article class="post" style="margin: 1rem;padding-bottom: 1rem;border-bottom: 1px solid #E6EAEE;">
            <h5 class="title is-5"><a href="{{ __link }}">{{ name }}</a></h5>
            <div class="media">
                <div class="media-content">
                    <div class="columns">
                        <div class="column is-10" style="padding-top: 30px">
                            <audio src="{{ url }}" style="width: 100%" controls preload="none"></audio>
                        </div>
                        <div class="column is-2">
                            <a class="button is-primary is-outlined" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns" style="margin-top: 45px">
                <div class="column">
                    <i class="fa fa-user"></i> Сейчас слушают {{ totalListeners }} человека <br/>
                </div>
                <div class="column">
                    <i class="fa fa-play"></i> Прослушали {{ totalListening }} раз
                </div>
                <div class="column">
                    <i class="fa fa-download"></i> Всего скачали {{ totalDownloads }} раз <br/>
                </div>
            </div>
        </article>
    </div>
</section>
<section>
    {% if __relations is defined %}
        {% for relation in __relations %}
            <a href="{{ relation.__link }}">{{ relation.name }}</a>
        {% endfor %}
    {% endif %}
</section>