<card>
    <div class="uk-card uk-card-default uk-card-small">
        <div class="uk-card-header">
            <h3 class="uk-card-title">{{ article.title }}</h3>
        </div>
        <div class="uk-card-body">{{ article.__text | raw | slice(0,200)|striptags }}</div>
        <div class="uk-card-footer">
            <a class="uk-button uk-button-default" href="{{ article.__link }}">Read</a>
        </div>
    </div>
</card>