.footer {
    margin: 0;
    border-radius: 0;
    padding: 4em 0 4em 0;
    clear: both;
}

.full{
    min-height: 100vh;
}

audio {
 margin: 0 auto;
 display: inline-block;
}

.album_name {
    margin-top: 5px;
    font-size: 25px;
}