<li class="wow fadeInUp" data-wow-duration="1000ms"
    data-wow-delay="1000ms">
    <a class="item" href="{{ episode.__link }}">
        <div class="item-title">
            <b>{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</b>
            <div class="border-bottom"></div>
        </div>
    </a>
</li>