<li class="wow fadeInLeft" data-wow-duration="{{ (index+3)*100 }}ms"
    data-wow-delay="{{ (index+3)*100 }}ms">
    <div class="blog-img">
        <a href="{{ film.__link }}" ><img src="{{ film.photo }}" alt="{{ film.titleRu }}"  style="width: 250px !important;"></a>
    </div>
    <div class="content-right">
        <h3>{{ film.titleRu }}</h3>
        <div>
            {% if film.__tags is defined %}
                {% for tag in film.__tags %}
                    <a href="{{ tag.__link }}" class="badge badge-default">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <p>
            <a href="{{ film.__link }}" class="btn btn-big" >Подробнее</a>
        </p>
    </div>
</li>