<li class="wow fadeInLeft" data-wow-duration="1000ms"
    data-wow-delay="1000ms">
    <div class="blog-img">
        <a href="{{ seria.__link }}" ><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}" style="width: 250px !important;"></a>
    </div>
    <div class="content-right">
        <h3>{{ seria.titleRu }}</h3>
        <div>
            {% if seria.__tags is defined %}
                {% for tag in seria.__tags %}
                    <a href="{{ tag.__link }}" class="badge badge-default">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <p>
            <a href="{{ seria.__link }}" class="btn btn-big" >Подробнее</a>
        </p>
    </div>
</li>