header {
    background-color: #59728c;
    height: 20vh;
    border-bottom: 3px outset #3e2b0d;
}

header a {
    color: #3e2b0d;
    text-decoration: none;
    text-shadow: 1px 1px 1px #2d1d0b;
}

header a:hover {
    color: #FFECCC;
    text-decoration: none;
}

header > .row {
    height: 8vh;
}

header .nav {
    height: 10vh;
}

.main-bg {
    min-height: 80vh;
    background: linear-gradient(rgba(49, 67, 91, 0.7), rgba(62, 85, 122, 0.7)),
    url(../img/main-bg.jpg);
    background-position: center;
    background-size: cover;
}

.main-h1 {
    padding: 10px 20px;
    border: 5px solid #3e2b0d;
}

.nav-style {
    border: 2px dashed #3e2b0d;
    padding: 3px 5px;
}

.block-height-60 {
    min-height: 60vh;
}

.second-block {
    background-color: #8C7357;
    min-height: 60vh;
    margin-top: -10px;
}

.third-block {
    background-color: #59728c;
}

.audio-block {
    width: 100%;
}

h2 {
    border: 2px dashed #3e2b0d;
    padding: 3px 5px;
    color: #3e2b0d;
}

ul li {
    list-style-type: none;
    width: 100px;
    border: 1px solid #3e2b0d;
}

ul li > strong {
    font-size: 30px;
    color: #00a1e1;
}

ul {
    margin-left: 0;
    padding-left: 0;
    display: inline-flex;
}

.artist-photo {
    position: relative;
    width: 250px;
    height: 250px;
    display: inline-block;
    overflow: hidden;
}

.artist-photo .artist-photo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.screen-height {
    min-height: 80vh;
}

.half-screen {
    background-color: #8C7357;
}

p, a {
    color: #3e2b0d;
}

small {
    color: rgba(75, 47, 15, 0.81);
}

.bg-foo {
    background-color: #3e2b0d;
}