<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-itunes-app" content="app-id=878517979">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>[[seo_title]]</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    [[seo_global_meta_tags]]
    <meta name="description" content="[[seo_description]]">
    [[seo_meta_tags]]
    <noscript>
        <link rel="stylesheet" type="text/css"
              href="/css/index.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </noscript>
    [[seo_meta_schema]]
</head>

<body class="home page-template page-template-page-home page-template-page-home-php page page-id-6146">

{{ lazy_css("/css/index.css")|raw }}
{{ lazy_css("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")|raw }}

{{ lazy_css("https://fonts.googleapis.com/icon?family=Material+Icons")|raw }}
{{ lazy_css("//fonts.googleapis.com/css?family=Abel")|raw }}

<div class="navbar-fixed">
    <nav class="white " role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <div id="logo-container">
                    <a href="/" class="brand-logo">{{ domain }}</a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    [%nav_links%]
                </ul>

            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    [%nav_links%]
</ul>
[[ad_block_top]]
<div class="container">
    <div class="section">
        [%breadcrumbs%]
        <h1 class="header">[[seo_h1]]</h1>
        <div class="row">
            {{ template | raw }}
        </div>
        {% if __text is not empty %}
            <div  class="row">{{ __text | raw }}</div>
        {% endif %}

        <div class="row">
            [[seo_text]]
        </div>

    </div>
</div>

<footer class="page-footer abrown-footer">
    <div class="container">
        <div class="row">
            <div class="col l3 s12 m6">
            </div>
            <div class="col l3 s12 m6">
            </div>
            <div class="col l3 s12 m6">
                <article id="categories-2" class="panel widget widget_categories">
                    <h5 class="abrown-text">
                        Популярное</h5>
                    <ul>
                        [%cross_links%]
                    </ul>
                </article>
            </div>
            <div class="col l3 s12 m6">
            </div>
        </div>
    </div>
</footer>
[[ad_block_bottom]]
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });

</script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>