<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a >{{ domain }}</a>
        </li>
        {% for nav in links %}
            <li>
                <a href="{{ nav.__link }}">{{ nav.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>