body {
    background: url(../img/main-bg.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
}

header > nav {
    background-color: rgb(217, 61, 83);
}

.block-width-30 {
    width: 100%;
}

.screen-height {
    min-height: 100vh;
    margin-top: 5vh;
}

.list-style {
    background: rgba(114, 255, 118, 0.3);
}

.btn-creative {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff2f2;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-creative-small {
    font-weight: 600;
    color: #fff2f2;
    width: 100px;
    cursor: pointer;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 25px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-creative:hover, .btn-creative-small:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-creative:focus, .btn-creative-small:focus {
    outline: none;
}

.btn-creative.btn-gradient, .btn-creative-small.btn-gradient {
    background-image: linear-gradient(to right, #00a1e1, #00e4ce, #02dd81, #08c500);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.heading-text {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 2.85rem;
    background: linear-gradient(135deg, #8351ee, #ff53a4);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    text-align: left;
}

a {
    color: #fff2f2;
}

li > a:hover {
    color: #7d7d7d;
}

.artist-photo {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: rgba(105, 61, 125, 0.8) dotted;
}

.artist-photo .artist-photo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.album-photo {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border: 5px rgb(120, 222, 88) solid;
}

.album-photo .album-photo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.list-block {
    background: rgba(114, 255, 118, 0.3);
    min-height: 100vh;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 2rem;
    color: #8351ee;
}

.name > a {
    font-weight: bold;
    color: #14485c;
}

.photo > img {
    border: 3px #fff2f2 double;
}

.block-height-5 {
    height: 5vh;
}

.lists-bg {
    background-color: rgba(41, 41, 41, 0.71);
}

small {
    color: #fff2f2;
}

a:hover {
    color: rgb(217, 61, 83);
    transition: 0.5s;
    text-decoration: none;
}

.cross-link-bar {
    background-color: rgba(65, 62, 62, 0.2);
}

.link-hover > small {
    color: #211e1f;
}

.link-hover > small:hover {
    color: rgb(217, 61, 83);
    text-decoration: underline;
}

.block-height-80 {
    min-height: 80vh;
}

.search_youtube {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    margin-bottom: 15px;
    height: 350px;
}

.search_youtube img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.search_youtube .card-body {
    padding: 0;
    height: 250px;
}