<div class="wil-content">
    <section class="awe-section">
        <div class="container">
            <div class="page-title">
                <span class="post-detail__cat">
                    [%breadcrumbs%]
                </span>
                <h2 class="page-title__title">{{ name }}</h2>

                <div class="page-title__divider"></div>
            </div><!-- End / page-title -->

        </div>
    </section>
    <section class="awe-section bg-gray">
        <div class="container">
            <div>
                <div class="post-detail__entry row">
                    <div class="col-lg-4 col-md-6">
                        <img src="{{ photo }}" alt="{{ name }}" class="img-responsive img-thumbnail"/>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <ul class="list-group">
                            {% for track in tracks %}
                                <li class="list-group-item">
                                    <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="btn btn-outline-secondary" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>