<div class="wil-content">
    <section class="awe-section">
        <div class="container">
            <div class="page-title">
                <span class="post-detail__cat">
                    [%breadcrumbs%]
                </span>
                <div class="page-title__divider"></div>
            </div><!-- End / page-title -->

        </div>
    </section>
    <section class="awe-section bg-gray">
        <div class="container">
            <div>
                <div class="post-detail__entry row">
                    <div class="col-lg-4 col-md-6">
                        <h2 class="page-title__title">{{ name }}</h2>
                        <img src="{{ photo }}" alt="{{ name }}" class="img-responsive img-thumbnail"/>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            {% for album in albums %}
                                <div class="grid-item col-lg-4 col-md-6">
                                    <!-- work -->
                                    <div class="work card">
                                        <a href="{{ album.__link }}">
                                            <div class="hoverbox ef-slide-bottom light">
                                                <div class="hb_front">
                                                    <img src="{{ album.photo }}" alt="{{ album.name }}" width="250" height="300"/>
                                                </div>
                                                <div class="hb_back">
                                                    <h2 class="work__title">{{ album.name }}</h2>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="sharebox__module">
                    Всего альбомов {{ totalAlbums }} &nbsp;
                    Всего треков {{ totalSongs }} &nbsp;
                </div>
                <div class="sharing-area">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-default">{{ tag.name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>