<div class="container">
    <div class="row">
        <div class="col-md-9 col">
            <h3>{{ name }}</h3>
        </div>
        <div class="col-md-3 col">
            <img src="{{ photo }}" alt="{{ name }}">
        </div>
    </div>
    <div class="row">
        {% for artist in items %}
            <div class="grid-item col-lg-3 col-md-4">
                <!-- work -->
                <div class="work card">
                    <a href="{{ artist.__link }}">
                        <div class="hoverbox ef-slide-bottom light">
                            <div class="hb_front">
                                <img src="{{ artist.photo }}" alt="{{ artist.name }}" width="250" height="300"/>
                            </div>
                            <div class="hb_back">
                                <h2 class="work__title">{{ artist.name }}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>