<div class="wil-content">
    <section class="awe-section">
        <div class="container">
            <!-- page-title -->
            <div class="page-title">
                <span class="post-detail__cat">
                    [%breadcrumbs%]
                </span>
                <h2 class="page-title__title">{{ name }}</h2>

                <div class="page-title__divider"></div>
            </div><!-- End / page-title -->

        </div>
    </section>
    <section class="awe-section bg-gray">
        <div class="container">
            <div>
                <div class="post-detail__entry row">
                    <div class="col">
                        {{ text | raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>