<div class="container">
    <div class="row">
        <div class="col-lg-6 ">
            <!-- title -->
            <div class="title">
                <h2 class="title__title">Добро пожаловать на {{ domain }}</h2>
            </div><!-- End / title -->
        </div>
    </div>
    [%audio_artists_list%]
    <div class="clearfix"></div>
    [%audio_tracks_list%]

</div>