<div class="wil-content">
    <section class="awe-section">
        <div class="container">
            <!-- page-title -->
            <div class="page-title">
                <span class="post-detail__cat">
                    [%breadcrumbs%]
                </span>
                <h2 class="page-title__title">{{ name }} <small>{{ artistName }}</small></h2>

                <div class="page-title__divider"></div>
            </div><!-- End / page-title -->

        </div>
    </section>
    <section class="awe-section bg-gray">
        <div class="container">
            <div>
                <div class="post-detail__entry row">
                    <div class="col">
                        <audio src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls
                               preload="none"></audio>
                        <a class="btn btn-outline-secondary" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
                    </div>
                </div>
                <div class="sharebox__module">
                    <i class="fa fa-user"></i>Сейчас слушают {{ totalListeners }} человека &nbsp;
                    <i class="fa fa-download"></i>Всего скачали {{ totalDownloads }} раз &nbsp;
                    <i class="fa fa-play"></i>Прослушали {{ totalListening }} раз
                </div>
            </div>
            <div>
                {% if __relations is defined %}
                    {% for relation in __relations %}
                        <a href="{{ relation.__link }}">{{ relation.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</div>