<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
    {% for seria in series %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m uk-animation-slide-top-small">
            <a href="{{ seria.__link }}" ><img data-src="{{ seria.photo }}" width="" height="" alt="{{ seria.titleRu }}" uk-img></a>
            <h3 class="uk-card-title">{{ seria.titleRu }}</h3>
            <div>
                {% if seria.__tags is defined %}
                    {% for tag in seria.__tags %}
                        <a href="{{ tag.__link }}" class="uk-badge">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <p>
                <a href="{{ seria.__link }}" class="uk-button uk-button-default">Перейти</a>
            </p>
        </div>
    {% endfor %}
    {% if pages|length > 0 %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
            <a href="{{ pages[1].url }}">
                <button type="button" class="uk-button uk-button-default">Больше</button>
            </a>
        </div>
    {% endif %}
</div>