<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="[[seo_description]]">
    [[seo_global_meta_tags]]
    [[seo_meta_tags]]
    <title>[[seo_title]]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>
    [[seo_geo]]
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    [[seo_meta_schema]]
    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            min-height: 100vh;
        }

        nav {
            background: linear-gradient(145deg, #bffbd4, #a4fba0);
        }

        .header-row {
            min-height: 50vh;
        }

        .heder-text {
            font-family: 'Press Start 2P', cursive;
            color: #ff668c;
            text-shadow: 15px 0 rgba(138, 163, 255, 0.5);
        }

        .bg-seo-text {
            background-color: rgba(255, 242, 242, 0.8);
            border: 1px solid #484849;
            border-radius: 8px;
            padding: 0 2vh;
            margin-bottom: 2vh;
        }

        .content-box-dark {
            min-height: 40vh;
        }

        img {
            max-width: 200px;
            margin: 10px;
            border: 1px solid #3e3e3e;
        }

        @media (max-width: 991px) {
            .pixelart-to-css {
                box-shadow: 70px 30px 0 0 #000000, 80px 30px 0 0 #000000, 90px 30px 0 0 #000000, 100px 30px 0 0 #000000, 110px 30px 0 0 #000000, 120px 30px 0 0 #000000, 130px 30px 0 0 #000000, 140px 30px 0 0 #000000, 50px 40px 0 0 #000000, 60px 40px 0 0 #000000, 70px 40px 0 0 #ff0000, 80px 40px 0 0 #ff0000, 90px 40px 0 0 #ff0000, 100px 40px 0 0 #ff0000, 110px 40px 0 0 #ff0000, 120px 40px 0 0 #ff0000, 130px 40px 0 0 #ffffff, 140px 40px 0 0 #ffffff, 150px 40px 0 0 #000000, 160px 40px 0 0 #000000, 40px 50px 0 0 #000000, 50px 50px 0 0 #ffffff, 60px 50px 0 0 #ffffff, 70px 50px 0 0 #ff0000, 80px 50px 0 0 #ff0000, 90px 50px 0 0 #ff0000, 100px 50px 0 0 #ff0000, 110px 50px 0 0 #ff0000, 120px 50px 0 0 #ff0000, 130px 50px 0 0 #ffffff, 140px 50px 0 0 #ffffff, 150px 50px 0 0 #ffffff, 160px 50px 0 0 #ffffff, 170px 50px 0 0 #000000, 30px 60px 0 0 #000000, 40px 60px 0 0 #ffffff, 50px 60px 0 0 #ffffff, 60px 60px 0 0 #ff0000, 70px 60px 0 0 #ff0000, 80px 60px 0 0 #ff0000, 90px 60px 0 0 #ff0000, 100px 60px 0 0 #ff0000, 110px 60px 0 0 #ff0000, 120px 60px 0 0 #ff0000, 130px 60px 0 0 #ff0000, 140px 60px 0 0 #ffffff, 150px 60px 0 0 #ffffff, 160px 60px 0 0 #ffffff, 170px 60px 0 0 #ffffff, 180px 60px 0 0 #000000, 30px 70px 0 0 #000000, 40px 70px 0 0 #ffffff, 50px 70px 0 0 #ff0000, 60px 70px 0 0 #ff0000, 70px 70px 0 0 #ffffff, 80px 70px 0 0 #ffffff, 90px 70px 0 0 #ffffff, 100px 70px 0 0 #ffffff, 110px 70px 0 0 #ffffff, 120px 70px 0 0 #ffffff, 130px 70px 0 0 #ff0000, 140px 70px 0 0 #ff0000, 150px 70px 0 0 #ffffff, 160px 70px 0 0 #ffffff, 170px 70px 0 0 #ffffff, 180px 70px 0 0 #000000, 20px 80px 0 0 #000000, 30px 80px 0 0 #ff0000, 40px 80px 0 0 #ff0000, 50px 80px 0 0 #ff0000, 60px 80px 0 0 #ffffff, 70px 80px 0 0 #ffffff, 80px 80px 0 0 #ffffff, 90px 80px 0 0 #ffffff, 100px 80px 0 0 #ffffff, 110px 80px 0 0 #ffffff, 120px 80px 0 0 #ffffff, 130px 80px 0 0 #ffffff, 140px 80px 0 0 #ff0000, 150px 80px 0 0 #ff0000, 160px 80px 0 0 #ff0000, 170px 80px 0 0 #ff0000, 180px 80px 0 0 #ff0000, 190px 80px 0 0 #000000, 20px 90px 0 0 #000000, 30px 90px 0 0 #ff0000, 40px 90px 0 0 #ff0000, 50px 90px 0 0 #ff0000, 60px 90px 0 0 #ffffff, 70px 90px 0 0 #ffffff, 80px 90px 0 0 #ffffff, 90px 90px 0 0 #ffffff, 100px 90px 0 0 #ffffff, 110px 90px 0 0 #ffffff, 120px 90px 0 0 #ffffff, 130px 90px 0 0 #ffffff, 140px 90px 0 0 #ff0000, 150px 90px 0 0 #ff0000, 160px 90px 0 0 #ffffff, 170px 90px 0 0 #ffffff, 180px 90px 0 0 #ff0000, 190px 90px 0 0 #000000, 20px 100px 0 0 #000000, 30px 100px 0 0 #ffffff, 40px 100px 0 0 #ff0000, 50px 100px 0 0 #ff0000, 60px 100px 0 0 #ffffff, 70px 100px 0 0 #ffffff, 80px 100px 0 0 #ffffff, 90px 100px 0 0 #ffffff, 100px 100px 0 0 #ffffff, 110px 100px 0 0 #ffffff, 120px 100px 0 0 #ffffff, 130px 100px 0 0 #ffffff, 140px 100px 0 0 #ff0000, 150px 100px 0 0 #ffffff, 160px 100px 0 0 #ffffff, 170px 100px 0 0 #ffffff, 180px 100px 0 0 #ffffff, 190px 100px 0 0 #000000, 20px 110px 0 0 #000000, 30px 110px 0 0 #ffffff, 40px 110px 0 0 #ffffff, 50px 110px 0 0 #ff0000, 60px 110px 0 0 #ff0000, 70px 110px 0 0 #ffffff, 80px 110px 0 0 #ffffff, 90px 110px 0 0 #ffffff, 100px 110px 0 0 #ffffff, 110px 110px 0 0 #ffffff, 120px 110px 0 0 #ffffff, 130px 110px 0 0 #ff0000, 140px 110px 0 0 #ff0000, 150px 110px 0 0 #ffffff, 160px 110px 0 0 #ffffff, 170px 110px 0 0 #ffffff, 180px 110px 0 0 #ffffff, 190px 110px 0 0 #000000, 20px 120px 0 0 #000000, 30px 120px 0 0 #ffffff, 40px 120px 0 0 #ffffff, 50px 120px 0 0 #ff0000, 60px 120px 0 0 #ff0000, 70px 120px 0 0 #ff0000, 80px 120px 0 0 #ff0000, 90px 120px 0 0 #ff0000, 100px 120px 0 0 #ff0000, 110px 120px 0 0 #ff0000, 120px 120px 0 0 #ff0000, 130px 120px 0 0 #ff0000, 140px 120px 0 0 #ff0000, 150px 120px 0 0 #ff0000, 160px 120px 0 0 #ffffff, 170px 120px 0 0 #ffffff, 180px 120px 0 0 #ff0000, 190px 120px 0 0 #000000, 20px 130px 0 0 #000000, 30px 130px 0 0 #ffffff, 40px 130px 0 0 #ff0000, 50px 130px 0 0 #ff0000, 60px 130px 0 0 #000000, 70px 130px 0 0 #000000, 80px 130px 0 0 #000000, 90px 130px 0 0 #000000, 100px 130px 0 0 #000000, 110px 130px 0 0 #000000, 120px 130px 0 0 #000000, 130px 130px 0 0 #000000, 140px 130px 0 0 #000000, 150px 130px 0 0 #000000, 160px 130px 0 0 #ff0000, 170px 130px 0 0 #ff0000, 180px 130px 0 0 #ff0000, 190px 130px 0 0 #000000, 30px 140px 0 0 #000000, 40px 140px 0 0 #000000, 50px 140px 0 0 #000000, 60px 140px 0 0 #ffffff, 70px 140px 0 0 #ffffff, 80px 140px 0 0 #ffffff, 90px 140px 0 0 #000000, 100px 140px 0 0 #ffffff, 110px 140px 0 0 #ffffff, 120px 140px 0 0 #000000, 130px 140px 0 0 #ffffff, 140px 140px 0 0 #ffffff, 150px 140px 0 0 #ffffff, 160px 140px 0 0 #000000, 170px 140px 0 0 #000000, 180px 140px 0 0 #000000, 40px 150px 0 0 #000000, 50px 150px 0 0 #ffffff, 60px 150px 0 0 #ffffff, 70px 150px 0 0 #ffffff, 80px 150px 0 0 #ffffff, 90px 150px 0 0 #000000, 100px 150px 0 0 #ffffff, 110px 150px 0 0 #ffffff, 120px 150px 0 0 #000000, 130px 150px 0 0 #ffffff, 140px 150px 0 0 #ffffff, 150px 150px 0 0 #ffffff, 160px 150px 0 0 #ffffff, 170px 150px 0 0 #000000, 40px 160px 0 0 #000000, 50px 160px 0 0 #ffffff, 60px 160px 0 0 #ffffff, 70px 160px 0 0 #ffffff, 80px 160px 0 0 #ffffff, 90px 160px 0 0 #ffffff, 100px 160px 0 0 #ffffff, 110px 160px 0 0 #ffffff, 120px 160px 0 0 #ffffff, 130px 160px 0 0 #ffffff, 140px 160px 0 0 #ffffff, 150px 160px 0 0 #ffffff, 160px 160px 0 0 #ffffff, 170px 160px 0 0 #000000, 40px 170px 0 0 #000000, 50px 170px 0 0 #ffffff, 60px 170px 0 0 #ffffff, 70px 170px 0 0 #ffffff, 80px 170px 0 0 #ffffff, 90px 170px 0 0 #ffffff, 100px 170px 0 0 #ffffff, 110px 170px 0 0 #ffffff, 120px 170px 0 0 #ffffff, 130px 170px 0 0 #ffffff, 140px 170px 0 0 #ffffff, 150px 170px 0 0 #ffffff, 160px 170px 0 0 #ffffff, 170px 170px 0 0 #000000, 50px 180px 0 0 #000000, 60px 180px 0 0 #ffffff, 70px 180px 0 0 #ffffff, 80px 180px 0 0 #ffffff, 90px 180px 0 0 #ffffff, 100px 180px 0 0 #ffffff, 110px 180px 0 0 #ffffff, 120px 180px 0 0 #ffffff, 130px 180px 0 0 #ffffff, 140px 180px 0 0 #ffffff, 150px 180px 0 0 #ffffff, 160px 180px 0 0 #000000, 60px 190px 0 0 #000000, 70px 190px 0 0 #000000, 80px 190px 0 0 #000000, 90px 190px 0 0 #000000, 100px 190px 0 0 #000000, 110px 190px 0 0 #000000, 120px 190px 0 0 #000000, 130px 190px 0 0 #000000, 140px 190px 0 0 #000000, 150px 190px 0 0 #000000;
                width: 10px;
                height: 10px;
                position: absolute;
                bottom: 45vh;
                z-index: -1;
            }
        }

        @media (min-width: 992px) {

            .pixelart-to-css {
                box-shadow: 70px 30px 0 0 #000000, 80px 30px 0 0 #000000, 90px 30px 0 0 #000000, 100px 30px 0 0 #000000, 110px 30px 0 0 #000000, 120px 30px 0 0 #000000, 130px 30px 0 0 #000000, 140px 30px 0 0 #000000, 50px 40px 0 0 #000000, 60px 40px 0 0 #000000, 70px 40px 0 0 #ff0000, 80px 40px 0 0 #ff0000, 90px 40px 0 0 #ff0000, 100px 40px 0 0 #ff0000, 110px 40px 0 0 #ff0000, 120px 40px 0 0 #ff0000, 130px 40px 0 0 #ffffff, 140px 40px 0 0 #ffffff, 150px 40px 0 0 #000000, 160px 40px 0 0 #000000, 40px 50px 0 0 #000000, 50px 50px 0 0 #ffffff, 60px 50px 0 0 #ffffff, 70px 50px 0 0 #ff0000, 80px 50px 0 0 #ff0000, 90px 50px 0 0 #ff0000, 100px 50px 0 0 #ff0000, 110px 50px 0 0 #ff0000, 120px 50px 0 0 #ff0000, 130px 50px 0 0 #ffffff, 140px 50px 0 0 #ffffff, 150px 50px 0 0 #ffffff, 160px 50px 0 0 #ffffff, 170px 50px 0 0 #000000, 30px 60px 0 0 #000000, 40px 60px 0 0 #ffffff, 50px 60px 0 0 #ffffff, 60px 60px 0 0 #ff0000, 70px 60px 0 0 #ff0000, 80px 60px 0 0 #ff0000, 90px 60px 0 0 #ff0000, 100px 60px 0 0 #ff0000, 110px 60px 0 0 #ff0000, 120px 60px 0 0 #ff0000, 130px 60px 0 0 #ff0000, 140px 60px 0 0 #ffffff, 150px 60px 0 0 #ffffff, 160px 60px 0 0 #ffffff, 170px 60px 0 0 #ffffff, 180px 60px 0 0 #000000, 30px 70px 0 0 #000000, 40px 70px 0 0 #ffffff, 50px 70px 0 0 #ff0000, 60px 70px 0 0 #ff0000, 70px 70px 0 0 #ffffff, 80px 70px 0 0 #ffffff, 90px 70px 0 0 #ffffff, 100px 70px 0 0 #ffffff, 110px 70px 0 0 #ffffff, 120px 70px 0 0 #ffffff, 130px 70px 0 0 #ff0000, 140px 70px 0 0 #ff0000, 150px 70px 0 0 #ffffff, 160px 70px 0 0 #ffffff, 170px 70px 0 0 #ffffff, 180px 70px 0 0 #000000, 20px 80px 0 0 #000000, 30px 80px 0 0 #ff0000, 40px 80px 0 0 #ff0000, 50px 80px 0 0 #ff0000, 60px 80px 0 0 #ffffff, 70px 80px 0 0 #ffffff, 80px 80px 0 0 #ffffff, 90px 80px 0 0 #ffffff, 100px 80px 0 0 #ffffff, 110px 80px 0 0 #ffffff, 120px 80px 0 0 #ffffff, 130px 80px 0 0 #ffffff, 140px 80px 0 0 #ff0000, 150px 80px 0 0 #ff0000, 160px 80px 0 0 #ff0000, 170px 80px 0 0 #ff0000, 180px 80px 0 0 #ff0000, 190px 80px 0 0 #000000, 20px 90px 0 0 #000000, 30px 90px 0 0 #ff0000, 40px 90px 0 0 #ff0000, 50px 90px 0 0 #ff0000, 60px 90px 0 0 #ffffff, 70px 90px 0 0 #ffffff, 80px 90px 0 0 #ffffff, 90px 90px 0 0 #ffffff, 100px 90px 0 0 #ffffff, 110px 90px 0 0 #ffffff, 120px 90px 0 0 #ffffff, 130px 90px 0 0 #ffffff, 140px 90px 0 0 #ff0000, 150px 90px 0 0 #ff0000, 160px 90px 0 0 #ffffff, 170px 90px 0 0 #ffffff, 180px 90px 0 0 #ff0000, 190px 90px 0 0 #000000, 20px 100px 0 0 #000000, 30px 100px 0 0 #ffffff, 40px 100px 0 0 #ff0000, 50px 100px 0 0 #ff0000, 60px 100px 0 0 #ffffff, 70px 100px 0 0 #ffffff, 80px 100px 0 0 #ffffff, 90px 100px 0 0 #ffffff, 100px 100px 0 0 #ffffff, 110px 100px 0 0 #ffffff, 120px 100px 0 0 #ffffff, 130px 100px 0 0 #ffffff, 140px 100px 0 0 #ff0000, 150px 100px 0 0 #ffffff, 160px 100px 0 0 #ffffff, 170px 100px 0 0 #ffffff, 180px 100px 0 0 #ffffff, 190px 100px 0 0 #000000, 20px 110px 0 0 #000000, 30px 110px 0 0 #ffffff, 40px 110px 0 0 #ffffff, 50px 110px 0 0 #ff0000, 60px 110px 0 0 #ff0000, 70px 110px 0 0 #ffffff, 80px 110px 0 0 #ffffff, 90px 110px 0 0 #ffffff, 100px 110px 0 0 #ffffff, 110px 110px 0 0 #ffffff, 120px 110px 0 0 #ffffff, 130px 110px 0 0 #ff0000, 140px 110px 0 0 #ff0000, 150px 110px 0 0 #ffffff, 160px 110px 0 0 #ffffff, 170px 110px 0 0 #ffffff, 180px 110px 0 0 #ffffff, 190px 110px 0 0 #000000, 20px 120px 0 0 #000000, 30px 120px 0 0 #ffffff, 40px 120px 0 0 #ffffff, 50px 120px 0 0 #ff0000, 60px 120px 0 0 #ff0000, 70px 120px 0 0 #ff0000, 80px 120px 0 0 #ff0000, 90px 120px 0 0 #ff0000, 100px 120px 0 0 #ff0000, 110px 120px 0 0 #ff0000, 120px 120px 0 0 #ff0000, 130px 120px 0 0 #ff0000, 140px 120px 0 0 #ff0000, 150px 120px 0 0 #ff0000, 160px 120px 0 0 #ffffff, 170px 120px 0 0 #ffffff, 180px 120px 0 0 #ff0000, 190px 120px 0 0 #000000, 20px 130px 0 0 #000000, 30px 130px 0 0 #ffffff, 40px 130px 0 0 #ff0000, 50px 130px 0 0 #ff0000, 60px 130px 0 0 #000000, 70px 130px 0 0 #000000, 80px 130px 0 0 #000000, 90px 130px 0 0 #000000, 100px 130px 0 0 #000000, 110px 130px 0 0 #000000, 120px 130px 0 0 #000000, 130px 130px 0 0 #000000, 140px 130px 0 0 #000000, 150px 130px 0 0 #000000, 160px 130px 0 0 #ff0000, 170px 130px 0 0 #ff0000, 180px 130px 0 0 #ff0000, 190px 130px 0 0 #000000, 30px 140px 0 0 #000000, 40px 140px 0 0 #000000, 50px 140px 0 0 #000000, 60px 140px 0 0 #ffffff, 70px 140px 0 0 #ffffff, 80px 140px 0 0 #ffffff, 90px 140px 0 0 #000000, 100px 140px 0 0 #ffffff, 110px 140px 0 0 #ffffff, 120px 140px 0 0 #000000, 130px 140px 0 0 #ffffff, 140px 140px 0 0 #ffffff, 150px 140px 0 0 #ffffff, 160px 140px 0 0 #000000, 170px 140px 0 0 #000000, 180px 140px 0 0 #000000, 40px 150px 0 0 #000000, 50px 150px 0 0 #ffffff, 60px 150px 0 0 #ffffff, 70px 150px 0 0 #ffffff, 80px 150px 0 0 #ffffff, 90px 150px 0 0 #000000, 100px 150px 0 0 #ffffff, 110px 150px 0 0 #ffffff, 120px 150px 0 0 #000000, 130px 150px 0 0 #ffffff, 140px 150px 0 0 #ffffff, 150px 150px 0 0 #ffffff, 160px 150px 0 0 #ffffff, 170px 150px 0 0 #000000, 40px 160px 0 0 #000000, 50px 160px 0 0 #ffffff, 60px 160px 0 0 #ffffff, 70px 160px 0 0 #ffffff, 80px 160px 0 0 #ffffff, 90px 160px 0 0 #ffffff, 100px 160px 0 0 #ffffff, 110px 160px 0 0 #ffffff, 120px 160px 0 0 #ffffff, 130px 160px 0 0 #ffffff, 140px 160px 0 0 #ffffff, 150px 160px 0 0 #ffffff, 160px 160px 0 0 #ffffff, 170px 160px 0 0 #000000, 40px 170px 0 0 #000000, 50px 170px 0 0 #ffffff, 60px 170px 0 0 #ffffff, 70px 170px 0 0 #ffffff, 80px 170px 0 0 #ffffff, 90px 170px 0 0 #ffffff, 100px 170px 0 0 #ffffff, 110px 170px 0 0 #ffffff, 120px 170px 0 0 #ffffff, 130px 170px 0 0 #ffffff, 140px 170px 0 0 #ffffff, 150px 170px 0 0 #ffffff, 160px 170px 0 0 #ffffff, 170px 170px 0 0 #000000, 50px 180px 0 0 #000000, 60px 180px 0 0 #ffffff, 70px 180px 0 0 #ffffff, 80px 180px 0 0 #ffffff, 90px 180px 0 0 #ffffff, 100px 180px 0 0 #ffffff, 110px 180px 0 0 #ffffff, 120px 180px 0 0 #ffffff, 130px 180px 0 0 #ffffff, 140px 180px 0 0 #ffffff, 150px 180px 0 0 #ffffff, 160px 180px 0 0 #000000, 60px 190px 0 0 #000000, 70px 190px 0 0 #000000, 80px 190px 0 0 #000000, 90px 190px 0 0 #000000, 100px 190px 0 0 #000000, 110px 190px 0 0 #000000, 120px 190px 0 0 #000000, 130px 190px 0 0 #000000, 140px 190px 0 0 #000000, 150px 190px 0 0 #000000;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 40vh;
                left: 75vw;
                z-index: -100;
            }
        }

    </style>
</head>

<body>

<!-- Navigation -->
[%nav_links%]

<!-- Page Content -->
[[ad_block_top]]
<div class="container-fluid">
    <div class="row ml-3 mt-5 header-row">
        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <h1 class="heder-text">[[seo_h1]]</h1>
            <div class="text-dark bg-seo-text">
                {% if __text is not empty %}
                    <p class="py-4">{{ __text | raw }}</p>
                {% endif %}
                <p class="py-4">[[seo_text]]</p>
            </div>
        </div>
    </div>
    <div class="pixelart-to-css"></div>
</div>

<div class="container-fluid bg-dark content-box-dark py-5">
    <!-- Blog Post -->
    <div class="row">
        <div class="col-md-12 my-5">
            <div class="bg-dark rounded px-2 py-3 text-light border border-light">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {{ template | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <!-- Categories Widget -->
            <div class="my-4 shadow">
                <h5 class="border rounded py-4 bg-light text-dark border-bottom-0 text-center">
                    {{ domain }}</h5>
                <div class="text-light py-3 text-center">
                    [%cross_links%]
                </div>
            </div>
        </div>
    </div>
</div>
[[ad_block_bottom]]
<!-- /.row -->
<!-- /.container -->
<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
