<section>
    <div>
        <h5>{{ name }}</h5>
        <img src="{{ photo }}" alt="{{ name }}" class="sur_img">
    </div>
</section>
<div style="margin-top: {{ random(  [5,7,9]) }}px; ">
    <ol>
        {% for track in tracks %}
            <li>
                <a href="{{ track.__link }}">
                    {{ track.name }}
                </a>

                <span style="float:right">
                    {{ track.duration | date('i:s', '+00:00 GMT') }}
                </span>
            </li>
        {% endfor %}
    </ol>
</div>
<div>
    <div>
        {% for page in pages %}
            {% if page.isCurrent %}
            {% else %}
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a> |
        {% endfor %}
    </div>
</div>