<div>
    {% if __tags is defined %}
        {% for tag in __tags %}
            <a href="{{ tag.__link }}">
                <span class="btn--flat">{{ tag.name }}</span>
            </a>
        {% endfor %}
    {% endif %}
</div>

<h3>Альбомы {{ name }} </h3>

{% for album in albums %}
    <div class="collapsible-wrap card no-pad">
        <input type="checkbox" id="collapsible-{{ loop.index }}">
        <label for="collapsible-{{ loop.index }}">  {{ album.name }}</label>
        <div class="collapsible-{{ loop.index }}-area">

                <div style="width: 100%">
                    <div class="col-md-2">
                        <img src="{{ album.photo }}" class="sur_img" alt="{{ album.name }}">
                    </div>
                    <div style="margin-top: 5px;font-size: 25px;">
                        <a href="{{ album.__link }}"><button class="btn--raised btn--blue">смотреть альбом</button></a>

                    </div>
                </div>


        </div>
    </div>


{% endfor %}

{% for page in pages %}
    {% if page.isCurrent %}
        <li>
    {% else %}
        <li>
    {% endif %}
    <a href="{{ page.url }}">{{ page.num }}</a>
    </li>
{% endfor %}