<h3>{{ name }}</h3>

{% for artist in items %}
    <div class="card">
        <a href="{{ artist.__link }}"><img  src="{{ artist.photo }}" alt=""
                                            class="sur_img"></a>
        <a href="{{ artist.__link }}">{{ artist.name }}</a>
    </div>

    <br>
{% endfor %}
<div class="card" style="text-align: center">
    {% for page in pages %}
        {% if page.isCurrent %}
        {% else %}
        {% endif %}
        <a href="{{ page.url }}" style="padding: 5px;">{{ page.num }}</a> |
    {% endfor %}
</div>
