<section class="container" style="flex-wrap: wrap">
    {% for item in results %}
        <div class="card container g--4 g-s--12">
            <div class="g--5 g-s--12 __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                <img src="{{ item.src }}" class="sur_img" alt="{{ item.title }}">
            </div>
            <div class="g--7 g-s--12 col-md-10 __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                {{ item.title }}
            </div>
        </div>
    {% endfor %}
</section>