<div class="row">
    <div class="col-lg-12 text-center">
        <h4 class="section-heading text-uppercase">{{ name }}</h4>
    </div>
</div>
<div class="row flex">
    {% for seria in series %}
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <a href="{{ seria.__link }}"><img
                                src="{{ seria.photo }}"
                                alt="{{ seria.titleRu }}">
                        <span class="card-title">{{ seria.titleRu }}</span>
                    </a>
                </div>
                <div class="card-action">
                    <div class="mb1">
                        <a href="{{ seria.__link }}" class="btn yellow darken-3">Подробнее</a>
                    </div>
                    <div class="min-hei">
                        {% if seria.__tags is defined %}
                            {% for tag in seria.__tags %}
                                <a href="{{ tag.__link }}">
                                    <small class="badger">{{ tag.name }}</small>
                                </a>
                            {% endfor %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if pages|length > 0 %}
    <div class="row">
        <div class="col center-align">
            <a href="{{ pages[1].url }}">
                <button type="button" class="waves-effect waves-light btn pulse">Больше</button>
            </a>
        </div>
    </div>
{% endif %}
