[%breadcrumbs%]
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Сезон {{ season }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="card-text">
                [[seo_text]]
            </p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        {% for episode in episodes %}
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="sermon element-animate fadeInUp element-animated">
                    <div class="media-body" style="background-color: ghostwhite;padding: 5px 25px;border-radius: 22px;">
                        <a href="{{ episode.__link }}">
                            <div class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</div>
                            <div>Смотреть</div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
