[%breadcrumbs%]

<div class="row">
    <div class="col-md-12">
        <h2 class="card-title">
            {{ titleRu }}
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="card-text">
            <img class="img-thumbnail float-left" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
        </p>
        <a href="{{ imdbUrl }}">
            <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
        </a>
        <a href="{{ kinopoiskUrl }}">
            <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
        </a>
    </div>
    <section class="col-md-9 row">
        {% for index,season in seasons %}
            <div class="col-md-3 col-sm-6">
                <div class="media custom-media">
                    <div class="media-body" style="background-color: ghostwhite;padding: 5px 25px;border-radius: 22px;">
                        <a href="{{ season.__link }}">
                            <div class="post-meta">Сезон {{ season.season }}</div>
                            <div class="mt-0">Подробнее</div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <div class="row">
        <div class="col">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>