<div class="col-sm-5 mb-2">
    <div class="elegant-wrapper">
        <div class="card-body">
            <span class="card-title">{{ season.name }} // Сезон {{ season.season }}</span>
            <a href="{{ season.__link }}" class="more-info upper-text">Подробнее</a>
        </div>
    </div>
</div>