<section class="container-fluid light-first-box first-block-height-30">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-5 d-flex justify-content-center">
            <div class="head-photo">
                <h4 class="text-light">{{ name }}</h4>
                <img src="{{ photo }}" alt="{{ name }}"/>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 py-5 align-self-center">
                <p class="list-seo pl-2 ml-2">[[seo_text]]</p>
            </div>
        </div>
</section>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        {% for track in tracks %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12
                    order-sm-2 order-xs-2 order-lg-1 order-md-1 my-3">
                <div>
                    <a href="{{ track.__link }}">{{ track.name }}</a>
                    {% if track.artistName == "" %}
                        <p>
                            <small>Unknown</small>
                        </p>
                    {% else %}
                        <p>
                            <small>{{ track.artistName }}</small>
                        </p>
                    {% endif %}
                </div>
                <div>
                    <audio src="{{ track.source_url }}" controls preload="none"
                           class="width-full"></audio>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<section class="container-fluid mt-5">
    <div class="row py-4">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>