<section class="container-fluid light-first-box first-block-height-30">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row d-flex justify-content-center head">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-3 justify-content-center">
            <div class="head-photo">
                <h4 class="text-light">{{ name }}</h4>
                <img src="{{ photo }}" alt="{{ name }}"/>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 py-5 align-self-center">
            <div>
                <ul class="text-light">
                    <li><span>{{ totalAlbums }}</span> альбомов</li>
                    <li><span>{{ totalSongs }}</span> треков</li>
                    <li><span>{{ listeners }}</span> слушают</li>
                    <li>
                        {% if __tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}" class="badge badge-secondary">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </li>
                </ul>
                <p class="list-seo pl-2 ml-2">[[seo_text]]</p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row pt-5 mt-5">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    {% for album in albums %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-2
                                    d-flex justify-content-center">
                            <div>
                                <div class="text-center">
                                    <a href="{{ album.__link }}" class="name text-center">{{ album.name }}</a>
                                </div>
                                <a href="{{ album.__link }}" class="text-light">
                                    <div class="photo">
                                        <img src="{{ album.photo }}" alt="{{ album.name }}"/>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <section class="container-fluid mt-5">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>