<section class="container-fluid light-first-box">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="row d-flex justify-content-center pt-5">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 genre-style">
                <img src="{{ photo }}" alt="{{ name }}"/>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 py-5 ml-2">
                <p class="p-5">[[seo_text]]</p>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% for artist in items %}
            <div class="row col-lg-3 col-md-3 col-sm-6 col-xs-6 pt-1 d-flex py-2">
                <div class="col-12">
                    <a href="{{ artist.__link }}"><h3>{{ artist.name }}</h3></a>
                </div>
                <div class="col-12">
                    <a href="{{ artist.__link }}">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
                </div>
                <div class="col-12">
                    {% if artist.__tags is defined %}
                        {% for tag in artist.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-danger">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <section class="container-fluid mt-5">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>