<section class="container-fluid light-first-box">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            [%audio_tracks_list%]
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
                <p class="mt-2 pt-5">[[seo_text]]</p>
            </div>
            [%audio_artists_list%]
        </div>
    </div>
</section>