<section class="container-fluid light-first-box first-block-height-30">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 py-5 align-self-center">
            <p class="list-seo pl-2 ml-2">[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid hei-75">
    <div class="row pt-5 mt-5">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12
                    order-sm-2 order-xs-2 order-lg-1 order-md-1 my-3">
                        <div>
                            <a href="{{ __link }}">{{ name }}</a>
                            {% if artistName == "" %}
                                <div>
                                    <small>Unknown</small>
                                </div>
                            {% else %}
                                <p>
                                    <small>{{ artistName }}</small>
                                </p>
                            {% endif %}
                        </div>
                        <div>
                            <audio src="{{ source_url }}" controls preload="none" class="width-full"></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-1">
            <a href="{{ url }}" download="{{ name }}">
                <button type="button" class="btn btn-dark my-4 mx-1">Скачать</button>
            </a>
            {% if __relations is defined %}
                {% for relation in __relations %}
                    <a href="{{ relation.__link }}">
                        <button type="button" class="btn btn-light text my-4 mx-1">
                            Текст
                        </button>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>