<div class="uk-container">
    <h2 class="top-list uk-heading-primary">Топ {{ total }} <span>сериалов</span></h2>
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        {% for seria in series %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-4@m uk-animation-slide-top-small">
                <a href="{{ seria.__link }}" ><img data-src="{{ seria.photo }}" width="" height="" alt="{{ seria.titleRu }}" uk-img></a>
                <h3 class="uk-card-title">{{ seria.titleRu }}</h3>
                <div>
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}" class="uk-badge">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <p>
                    <a href="{{ seria.__link }}" class="uk-button uk-button-default">Перейти</a>
                </p>
            </div>
        {% endfor %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
