<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    [[seo_meta_schema]]
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
[[ad_block_top]]
<section class="shadow">
    {{ template | raw }}
</section>
<footer class="container-fluid">
    <div class="container bg-dark">
        [%cross_links%]
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-3 small">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>
[[ad_block_bottom]]
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script>
    jQuery(document).ready(function ($) {

        $(window).on('load', function () {
            $('#preloader').hide('slow', function () {
                $(this).remove();
            });
        });
    });
</script>
</body>