<section>
    <h2>{{ name }}</h2>
    <section class="row">
        {% for artist in artists %}

            <div class="post-preview" style="width: 100%">
                <a href="{{ artist.__link }}">
                    <h5 class="post-title">
                        {{ artist.name }}
                    </h5>
                    <h3 class="post-subtitle">
                        {{ artist.totalAlbums }} альбомов,  {{ artist.listeners }} слушателей
                    </h3>
                </a>
                <div>
                    {% if artist.__tags is defined %}
                        {% for tag in artist.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-success">{{ tag.name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <p class="post-meta">Posted by
                    <a href="#">admin</a>
            </div>
            <hr>

        {% endfor %}
    </section>
    {% if pages|length > 0 %}
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{ pages[1].url }}">Ещe артисты &rarr;</a>
        </div>
    {% endif %}
</section>