<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-dark mx-2 py-5">[[seo_h1]]</h1>
            <h6 class="mx-2 text-secondary">Всего фильмов: <span class="text-info">{{ total }}</span></h6>
        </div>
        {% for seria in series %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="img-box">
                    <a href="{{ seria.__link }}">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                    </a>
                </div>
                <div class="text-center text-light bg-dark">
                    <em><i class="fas fa-star py-1"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                    <a href="{{ seria.__link }}" class="text-light">
                        <p class="py-2 px-1">{{ seria.titleRu }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>