<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        {% for nav in links %}
        <li><a href="{{ nav.__link }}">{{ nav.name }}</a></li>
        {% endfor %}
    </ul>
</div>