<section class="container">
    <div class="row">
        <h3>Топ {{ total }} сериалов</h3>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for seria in series %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ seria.__link }}"> <img class="rounded-circle" width="50px" style="object-fit: cover" src="{{ seria.photo }}"
                             alt=""></a>
                        <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
                        <div>
                            <span class="badge badge-primary badge-success">imdb [{{ seria.imdbRating }}]</span>
                            <span class="badge badge-primary badge-success">kinopoisk [{{ seria.kinopoiskRating }}
                                ]</span>
                        </div>
                        <p>
                            {% if seria.__tags is defined %}
                                {% for tag in seria.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badge badge-success">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}

                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
