{% for artist in artists %}
    <div class="card">
        <a href="{{ artist.__link }}"><img  src="{{ artist.photo }}" alt=""
                                            class="sur_img"></a>
        <a href="{{ artist.__link }}">{{ artist.name }}</a>

        <div>
            {% if artist.__tags is defined %}
                {% for tag in artist.__tags %}
                    <a href="{{ tag.__link }}">
                        <span class="btn--flat">{{ tag.name }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <br>
{% endfor %}
<div class="card" style="text-align: center">
    {% for page in pages %}
        {% if page.isCurrent %}
        {% else %}
        {% endif %}
        <a href="{{ page.url }}" style="padding: 5px;">{{ page.num }}</a> |
    {% endfor %}
</div>
