{% for track in tracks %}

    <div class="card">
        <a href="{{ track.__link }}" >{{ track.name }}</a>
        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
        <br>
        <br>
        <a href="{{ track.url }}" download="{{ track.name }}.mp3" >
        <button class="btn--primary">Скачать</button>
        </a>
    </div>

    <br>
{% endfor %}
        {% for page in pages %}
            {% if page.isCurrent %}
            {% else %}
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a>
        {% endfor %}
