<section class="container">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>{{ name }}</h5>
            <p class="text-muted">
                {{ text | raw }}
            </p>
        </div>
    </div>
</section>