<section class="row">
    {% for seria in series %}
        <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
            <div class="card h-100 elegant-card">
                <a href="{{ seria.__link }}">
                    <img class="card-img-top" src="{{ seria.photo }}" alt="">
                </a>
                <div class="elegant-body">
                    <a href="{{ seria.__link }}" class="elegant-title" style="color: #53555c;">{{ seria.titleRu }}</a>
                    <p>
                        {% if seria.__tags is defined %}
                            {% for tag in seria.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-success">{{ tag.name }}</span>
                                </a>
                            {% endfor %}

                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if pages|length > 0 %}
        <div class="container more-elements">
            <div class="row">
                <div class="button-more" style="margin-top: {{ random([ 1, 3, 5 , 9]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>