<section>
    <div style="margin-top: {{ random(  [5,7,9]) }}px; ">
        <ul class="collection with-header">
            {% for track in tracks %}
            <li class="collection-item">
                {{ loop.index }}.  <a href="{{ track.__link }}">
                    {{ track.name }}

                </a>
                <span style="float:right">
                    {{ track.duration | date('i:s', '+00:00 GMT') }}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if pages %}
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                <li class="active">
                {% else %}
                <li class="waves-effect">
                {% endif %}
                <a href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
<img src="{{ photo }}" alt="" class="img-fluid img-thumbnail">
<section>
    <div class="row">
        <div class="col s12">
            [%youtube_adding%]
        </div>
    </div>
</section>