<div class="row">
    <div class="col s12 m6">
        <h4>Альбомы {{ name }} </h4>
        <div class="row">
            <div class="col">
                <ul class="list-group" style="margin-bottom: 20px">
                    {% for album in albums %}
                        <div class="card horizontal">
                            <div class="card-image">
                                <a href="{{ album.__link }}"><img width="50px" height="70px"
                                                                  class="card-img-top img-responsive"
                                                                  src="{{ album.photo }}" alt="{{ album.name }}"></a>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <a href="{{ album.__link }}">{{ album.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="{{ photo }}" alt="{{ name }}">
                        <span class="card-title"><h5>{{ name }}</h5></span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">plus_one</i></a>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li>Всего альбомов {{ totalAlbums }}</li>
                            <li>Всего треков {{ totalSongs }}</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <ul>
                            {% if __tags is defined %}
                                {% for tag in __tags %}
                                    <li>
                                        <a href="{{ tag.__link }}">
                                            <span class="badge badge-default">{{ tag.name }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        [%youtube_adding%]
    </div>
</div>