<section class="container">
    <div class="row">
        <div class="col-md-3 col">
            <img src="{{ photo }}" class="img-responsive">
        </div>
        <div class="col-md-9 col">
            <h2>{{ name }}</h2>
        </div>
    </div>
</section>
<section class="container-fluid">
    {% for artist in items %}
        <div class="card horizontal">
            <div class="card-image">
                <a href="{{ artist.__link }}"><img width="50px" height="70px" class="card-img-top img-responsive"
                                                   src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a href="{{ artist.__link }}">{{ artist.name }}</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if pages %}
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="active">
                {% else %}
                    <li class="waves-effect">
                {% endif %}
                <a href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>