<section>
    <section class="card">
        <div class="card-body" style="padding: 20px">
            <h5 class="card-title">{{ name }}</h5>
        </div>
        <div class="card-footer text-muted" style="padding: 10px">
            {{ text | raw }}
        </div>
    </section>
</section>