<div class="container" style="margin-top: 125px">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="card-title">
                {{ titleRu }}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p class="card-text">
                <img class="img-thumbnail float-left" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
            </p>
            <a href="{{ imdbUrl }}">
                <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
            </a>
            <a href="{{ kinopoiskUrl }}">
                <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
            </a>
            <p>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-success">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </p>
        </div>
        <section class="col-9 row">
            {% for index,season in seasons %}
                <div class="col-md-3 col-sm-6">
                    <div class="media custom-media">
                        <div class="media-body">
                            <a href="{{ season.__link }}" class="mt-0">Подробнее</a>
                            <p class="post-meta">Сезон {{ season.season }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
