<div class="container-fluid art-style border border-secondary shadow">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            [%breadcrumbs%]
        </div>
    </div>
</div>
<div class="container art-style border border-secondary shadow">
    <div class="row mt-lg-5 mt-md-5">
        <div class="col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center">
            <div class="m-3 mb-5">
                <img src="{{ photo }}" alt="{{ name }}" class="border border-secondary shadow art-img"/>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 m-3">
            <h1>[[seo_h1]]</h1>
            <div>
                <p class="m-0">({{ year }})</p>
                {% if __text is not empty %}
                    <p class="mt-lg-4 mt-md-4">{{ __text | raw }}</p>
                {% endif %}
                <p class="mt-lg-4 mt-md-4">[[seo_text]]</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-3">
        {% for track in tracks %}
            <div class="col-md-8 row border border-secondary rounded my-3 shadow">
                <div class="col-md-10 align-self-center">
                    <a href="{{ track.__link }}" class="h5">
                        {{ track.name }}
                    </a>
                    <span> - {{ track.duration | date('i:s', '+00:00 GMT') }}</span>

                    <div>
                        {% if track.artistName == "" %}
                            <small>Unknown</small>
                        {% else %}
                            <small>{{ track.artistName }}</small>
                        {% endif %}
                    </div>

                    <div>
                        <audio src="{{ track.url }}" controls="controls" preload="none"></audio>
                    </div>
                </div>
                <div class="col-md-2 align-self-end mb-2">
                    <a href="{{ track.url }}" download="{{ track.name }}" class="btn btn-success">
                        Скачать
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>