<div class="container-fluid art-style border border-secondary shadow">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            [%breadcrumbs%]
        </div>
    </div>
</div>
<div class="container">
    <div class="row midbox">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="row border border-secondary rounded shadow">
                <div class="col-md-10">
                    <div class="mt-1">
                        <h4>{{ name }}</h4>
                    </div>
                </div>
                <div class=" col-md-12 card-footer small">
                    <p class="text-center">
                        {{ text | raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>