<div class="container">
    <div class="row align-items-center bigbox text-center">
        <div class="col align-self-center">
            <div>
                <h1 class="text-uppercase text-center">
                    [[seo_h1]]
                </h1>
                {% if __text is not empty %}
                    <p class="small mb-3">{{ __text | raw }}</p>
                {% endif %}

                <p class="small mb-3">
                    [[seo_text]]
                </p>
            </div>
            [%audio_tracks_list#5%]
        </div>
    </div>
</div>
</div>