<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>[[seo_title]]</title>
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <meta name="description" content="[[seo_description]]">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    [[seo_meta_schema]]
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(57deg, #cd2323, #cd8a23, #e9e66e, #53c559, #534dc2, #8e2fc7);
            background-size: 1200% 1200%;

            -webkit-animation: AnimationName 20s ease infinite;
            -moz-animation: AnimationName 20s ease infinite;
            -o-animation: AnimationName 20s ease infinite;
            animation: AnimationName 20s ease infinite;
        }

        @-webkit-keyframes AnimationName {
            0% {
                background-position: 0% 66%
            }
            50% {
                background-position: 100% 35%
            }
            100% {
                background-position: 0% 66%
            }
        }

        @-moz-keyframes AnimationName {
            0% {
                background-position: 0% 66%
            }
            50% {
                background-position: 100% 35%
            }
            100% {
                background-position: 0% 66%
            }
        }

        @-o-keyframes AnimationName {
            0% {
                background-position: 0% 66%
            }
            50% {
                background-position: 100% 35%
            }
            100% {
                background-position: 0% 66%
            }
        }

        @keyframes AnimationName {
            0% {
                background-position: 0% 66%
            }
            50% {
                background-position: 100% 35%
            }
            100% {
                background-position: 0% 66%
            }
        }

        nav {
            min-height: 10vh;
            box-shadow: 5px 5px 10px rgba(32, 22, 36, 0.48);
        }

        .cont-props {
            background-color: rgb(255, 242, 242);
            margin-top: 20vh;
            margin-bottom: 10vh;
            box-shadow: 5px 5px 10px rgba(32, 22, 36, 0.48);
            min-height: 30vh;
        }

        h1 {
            font-size: 5vw;
            background: -webkit-linear-gradient(135deg, #6a5fc5, #892bd7);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }

        .btn-cool {
            background: linear-gradient(135deg, #6a5fc5, #892bd7);
        }

        img {
            max-width: 200px;
            margin: 10px;
            border: 1px solid #3e3e3e;
        }

    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand text-dark" href="/">{{domain}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            [%nav_links%]
        </div>

    </div>
</nav>

[[ad_block_top]]
<!-- Page Content -->
<div class="container-fluid cont-props">
    <h1 class="my-5 py-3 px-5">[[seo_h1]]</h1>

    {{ template | raw }}

</div>

{% if __text is not empty %}
    <section>{{ __text | raw }}</section>
{% endif %}

<section>
    <div class="text-light text-center m-5 border border-light rounded"><p class="p-5">[[seo_text]]</p></div>
</section>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
    </div>
    <div class="container center">
        <div class="row justify-content-center">
            <a class="nav-link js-scroll-trigger" href="/">{{domain}}</a>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
[[ad_block_bottom]]
</body>

</html>
