* {
    margin: 0px auto;
    text-align:center;
    padding: 0px;
    list-style: none;
}

.cont_breadcrumbs_2 {
    position: relative;
    width: 100%;
    float: left;
    margin: 20px 20px;
    text-align: center;
}

.cont_breadcrumbs_2 > ul > li {
    position: relative;
    float: left;
    transform: skewX(-15deg);
    background-color: #fff;
    box-shadow: -2px 0px 20px -6px rgba(0,0,0,0.5);
    z-index: 1;
    transition: all 0.5s;
}

.cont_breadcrumbs_2 > ul > li:hover {
    background-color: #CFD8DC;
}

.cont_breadcrumbs_2 > ul > li  > a {
    display: block;
    padding: 10px;
    font-size: 12px;
    transform: skewX(15deg);
    text-decoration:none;
    color: #444;
    font-weight: 300;
}



