@media (max-width: 768px) {
    /* For mobile phones: */
    [class*="w-"] {
        width: 100%;
    }
}

.img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    height: 50px;
    width: 50px;
}

.img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.list-artists {
    display: flex;
    flex-wrap: wrap;
}

.list-artists div {
    width: 50%;
    display: block;
    text-align: center
}

.list-tracks {
    display: block;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.btn {
    background: #6b2532;
    background-image: -webkit-linear-gradient(top, #6b2532, #a36e55);
    background-image: -moz-linear-gradient(top, #6b2532, #a36e55);
    background-image: -ms-linear-gradient(top, #6b2532, #a36e55);
    background-image: -o-linear-gradient(top, #6b2532, #a36e55);
    background-image: linear-gradient(to bottom, #6b2532, #a36e55);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: #823d4b;
    background-image: -webkit-linear-gradient(top, #823d4b, #6b2532);
    background-image: -moz-linear-gradient(top, #823d4b, #6b2532);
    background-image: -ms-linear-gradient(top, #823d4b, #6b2532);
    background-image: -o-linear-gradient(top, #823d4b, #6b2532);
    background-image: linear-gradient(to bottom, #823d4b, #6b2532);
    text-decoration: none;
}

.mt {
    margin-top: 5px;
}

.collection-artists {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    width: 100%;
}

.collection-artists div {
    padding: 5px;
    width: 250px;
    height: 250px;
    position: relative;
    border: 3px solid #ddd;
    border-radius: 50%;
    background: no-repeat center;
    background-size: cover;
    overflow: hidden;
    margin: 5px auto;
}

.collection-artists .artist-block {
    width: 250px;
    height: 250px;
    text-align: center;
    display: block;
    position: relative;
}

.artist-block .title {
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 21px;
    word-wrap: normal;
    background-color: rgba(46, 52, 54, 0.6);
    color: white;
}

.collection-tracks {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    width: 100%;
}

.collection-tracks div {
    padding: 5px;
    width: 250px;
    height: 120px;
    position: relative;
    border: 3px solid #ddd;
    border-radius: 5px;
    background: no-repeat center;
    background-size: cover;
    overflow: hidden;
    margin: 5px auto;
}

.collection-tracks audio {
    margin-bottom: 20px;
}

.collection-tracks .btn {
    color: white;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.img-rounded {
    border-radius: 10px;
}

.img-auto {
    width: auto !important;
    height: auto !important;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.albums_list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.albums_list div {
    width: 150px;
    height: 150px;
    max-width: 30%;
    margin: 5px;
    border: 3px solid #ddd;
    background: no-repeat center;
    background-size: cover;
    position: relative;
}
.albums_list a{
    display: block;
    width: 100%;
    height: 100%;
}

.albums_list .title {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    word-wrap: normal;
    background-color: rgba(46, 52, 54, 0.6);
    color: white;
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 14px;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 5px 0 5px 35px;
    background: #6b2532; /* fallback color */
    position: relative;
    display: block;
    float: left;
}
.breadcrumb li a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 25px solid transparent;
    border-left: 15px solid hsl(349, 49%, 28%);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid white;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}