<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">

    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            background-color: rgba(214, 211, 209, 0.71);
        }

        .box-color {
            background-color: rgba(218, 216, 218, 0.4);
            border: 3px solid #d6d6d6;
        }

        img {
            max-width: 200px;
            margin: 10px;
            border: 1px solid #3e3e3e;
        }

    </style>
</head>

<body>
[[ad_block_top]]
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand text-primary" href="/">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            [%nav_links%]
        </div>
    </div>
</nav>

<header class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            <h1 class="pl-5">[[seo_h1]]</h1>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container-fluid bg-light my-5">

    {{ template | raw }}

    {% if __text is not empty %}
        <div class="col-md-12 ml-2 mr-2 mt-5 mb-5" style="color: white">{{ __text | raw }}</div>
    {% endif %}


    <div class="col-md-12 ml-2 mr-2 mt-5 mb-5">
        [[seo_text]]
    </div>
</div>

<div class="container-fluid text-dark">
    [%cross_links%]
</div>

<footer class="container-fluid bg-light text-dark">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-1 small text-dark">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
[[ad_block_bottom]]
</body>

</html>