<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pl-5">
            [%breadcrumbs%]
            <h1 class="text-light bg-dark pl-2">[[seo_h1]]</h1>
            <h4>{{ titleEn }}</h4>
            <div>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-dark">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <hr>
            {% if __text is not empty %}
                <p class="text-dark py-5 pl-5">{{ __text | raw }}</p>
                <hr>
            {% endif %}
            <p class="text-dark py-5 pl-5">[[seo_text]]</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                    width="100%" height="700px" allowfullscreen></iframe>
        </div>
    </div>
</section>
