<section>
    <section class="container-fluid root-background py-2">
        <div class="row height-block-100 pl-5 text-secondary">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-left align-self-center bg-dark text-light py-2">
                <h1>[[seo_h1]]</h1>
                <hr>
                <p class="pl-5">[[seo_text]]</p>
            </div>
        </div>
    </section>
    <section class="container-fluid mb-5">
        [%movies_list%]
    </section>
    <section class="container-fluid mt-5">
        [%tv_series_list%]
    </section>
</section>