<div class="container">
    [%breadcrumbs%]
</div>

<section class="container">
    <div class="content">
        <h1 class="card-title">
            {{ titleRu }}
            <small class="card-subtitle mb-2 text-muted">{{ titleEn }}</small>
        </h1>
    </div>
</section>

<section class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #2e3335">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                        width="100%" height="700px" allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</section>
