<section class="container">
    <div class="row">
        <div class="col-3">
            <h5 class="card-title">
                {{ name }}
            </h5>
        </div>
    </div>
    <div class="row">
        {% for seria in items %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ seria.__link }}">
                        <img class="card-img-top" src="{{ seria.photo }}" alt="">
                    </a>
                    <div class="card-body">
                        <a href="{{ seria.__link }}" class="card-title">{{ seria.titleRu }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
