<section class="container">
    [%breadcrumbs%]
</section>
<section class="container">
    <div class="row">
        {% for episode in episodes %}
            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <span class="card-title">{{ episode.titleRu }}</span>
                        <p class="card-text">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                        <a href="{{ episode.__link }}" class="btn btn-primary">Смотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>