<section class="container">
    [%breadcrumbs%]
</section>
<section class="container">
    <div class="row">
        <div class="col-3">
            <h1 class="card-title">
                {{ titleRu }}
            </h1>
            <p class="card-text">
                <img class="img-thumbnail float-left" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
            </p>
            <a href="{{ imdbUrl }}">
                <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
            </a>
            <a href="{{ kinopoiskUrl }}">
                <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
            </a>
            <div class="mt-1">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-success">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
        <section class="col-9 row">
            {% for index,season in seasons %}
                <div class="col-sm-5 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <span class="card-title">Сезон {{ season.season }}</span>
                            <a href="{{ season.__link }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
