<div class="uk-container uk-container-expand">
    <h1>Category {{ name }}</h1>
    [%category_breadcrumbs%]

    <div class="uk-grid uk-child-width-1-3" uk-grid="masonry:true">
        {% for article in news %}
            {% include 'driver/news/1/block/element/article.item.twig' %}
        {% endfor %}
    </div>
</div>
<hr class="uk-divider-icon">
<div class="uk-container uk-container-expand">
    <ul class="uk-pagination">
        {% for page in pages %}
            {% if page.isCurrent %}
                <li class="uk-active"><span>{{ page.num }}</span></li>
            {% else %}
                <li><a href="{{ page.url }}">{{ page.num }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
[%cross_links%]