<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-1@m">
            <h2 class="uk-article-title">{{ titleRu }}
                <small>{{ titleEn }}</small>
            </h2>

        </article>
    </div>
    <hr class="uk-divider-icon">
    <div uk-grid>
        <section class="uk-width-1-1\@m">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                    width="100%" height="700px" allowfullscreen
            ></iframe>
        </section>
        <section class="uk-width-1-1\@l" style="margin-bottom: 15px">
            <div uk-grid>
                <div class="uk-width-expand@m">
                    {% if(__prev) %}
                        <a href="{{ __prev }}">
                            <button class="uk-button uk-button-default uk-text-left">Предыдущая серия</button>
                        </a>
                    {% else %}
                        <button class="uk-button uk-button-default uk-text-left" disabled>Предыдущая серия</button>
                    {% endif %}
                </div>
                <div class="uk-width-expand@m  uk-text-right">
                    {% if(__next) %}
                        <a href="{{ __next }}">
                            <button class="uk-button uk-button-default">Следующая серия</button>
                        </a>
                    {% else %}
                        <button class="uk-button uk-button-default uk-text-right" disabled>Следующая серия</button>
                    {% endif %}
                </div>
            </div>
            [%tree_items%]
        </section>
    </div>

</div>