<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-1@m">
            <h2 class="uk-article-title">{{ titleRu }}
                <small>{{ titleEn }}</small>
            </h2>

        </article>
    </div>
    <hr class="uk-divider-icon">
    <div uk-grid>
        <section class="uk-width-1-1\@m">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                    width="100%" height="700px" allowfullscreen
            ></iframe>
        </section>
    </div>
    <div uk-grid>
        <section class="uk-width-1-1\@m">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="uk-badge">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </section>
    </div>
</div>