<div class="uk-container">
    <div class="uk-column-1-1 uk-column-divider">
        [%tv_series_list%]
    </div>
</div>
<div class="uk-container">
    <div class="uk-column-1-1 uk-column-divider">
        [%movies_list%]
    </div>
</div>