<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-3@m">
            <h2 class="uk-article-title">Сезон {{ season }}</h2>
            <p class="uk-article-meta">
                [[seo_text]]
            </p>
        </article>
        <div class="uk-width-2-3@m">
            <div uk-grid class="uk-text-center">
                {% for episode in episodes %}
                    <a href="{{ episode.__link }}" class="uk-card uk-card-default uk-card-body uk-width-1-3@m">
                        <b>Сезон {{ episode.titleRu }}</b>
                        <i>{{ episode.season }} Сезон / {{ episode.episode }} Епизод</i>
                    </a>
                {% endfor %}
            </div>
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>