<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-3@m">
            <h2 class="uk-article-title">{{ titleRu }}</h2>
            <img class="img-fluid" src="{{ photo }}" alt="{{ titleRu }}">
            <p class="uk-article-meta">
                <a href="{{ imdbUrl }}">
                    <span>Imdb {{ imdbRating }}</span>
                </a>
                <a href="{{ kinopoiskUrl }}">
                    <span>Kinopoisk {{ kinopoiskRating }}</span>
                </a>
            </p>
        </article>
        <div class="uk-width-2-3@m">
            <div uk-grid class="uk-text-center">
                {% for index,season in seasons %}
                    <a href="{{ season.__link }}" class="uk-card uk-card-default uk-card-body uk-width-1-3@m">
                        <b>Сезон {{ season.season }}</b>
                    </a>
                {% endfor %}
            </div>
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div uk-grid>
        <section class="uk-width-1-1\@m">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="uk-badge">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </section>
    </div>
</div>