{% for artist in artists %}
    <div class="col-md-2 col-lg-2 mt-sm-3 mt-xs-3 d-lg-flex d-md-flex mt-lg-1 mt-md-1">
        <a href="{{ artist.__link }}" data-toggle="tooltip" data-placement="top" title="{{ artist.name }}">
            <img src="{{ artist.photo }}" alt="{{ artist.name }}" width="185px"/></a>
    </div>
{% endfor %}
