{% for track in tracks %}
    <div>
        <a href="{{ track.__link }}" class="mt-1">
            {{ track.name }}
        </a>
    </div>
    <span>
        <audio src="{{ track.url }}" controls="controls" preload="none"></audio>
    </span>
{% endfor %}
{% if pages|length > 0 %}
    <div class="row">
        <div class="col-6 d-flex align-self-center justify-content-center">
        <a href="{{ pages[1].url }}">
            <button type="button" class="text-uppercase mt-4"><strong>Больше</strong></button>
        </a>
        </div>
    </div>
{% endif %}