<section class="container">
    <div class="row">
        <h3>Топ {{ total }} исполнителей</h3>
    </div>
    <div class="row">
        {% for artist in artists %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ artist.__link }}"><img class="card-img-top" src="{{ artist.photo }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ artist.__link }}">{{ artist.name }}</a>
                        </h4>
                        <p>
                            {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                                {% endfor %}

                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>