<section class="events" id="events-section">
    <div class="content-wrapper">
        <div class="inner-container container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-md-offset-1">
                    <div class="projects-holder">
                        <div class="event-list">
                            <ul>
                                {% for track in tracks %}
                                    <li class="project-item first-child mix web">
                                        <ul class="event-item web">
                                            <li>
                                                <h4>
                                                    <a href="{{ track.__link }}">
                                                        {{ track.name }}
                                                    </a>
                                                </h4>
                                            </li>
                                            <li class="text-center">
                                                &nbsp;
                                                <audio src="{{ track.url }}" style="width: 300px;" controls
                                                       preload="none"></audio>
                                            </li>
                                            <li>
                                                <div class="white-button">
                                                    <a href="{{ track.url }}"
                                                       download="{{ track.name }}.mp3">Скачать</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>