<section class="section pt-5 pb-2 mt-5">
    <div class="container">
        [%breadcrumbs%]
    </div>
</section>
<section class="section pt-5 pb-2 mt-2">
    <div class="container">
        {% if __tags is defined %}
            {% for tag in __tags %}
                <a href="{{ tag.__link }}">
                    <span class="badge badge-success">{{ tag.name }}</span>
                </a>
            {% endfor %}

        {% endif %}
        <div style="margin-top: {{ random(  [5,7,9]) }}px; ">
            <ol class="list-group" style="list-style: decimal inside !important; ">
                {% for track in tracks %}
                    <li class="list-group-item yi-sermon" style="display: list-item !important">
                        <a href="{{ track.__link }}">
                            {{ track.name }}
                        </a>

                        <i style="float:right">{{ track.duration | date('i:s', '+00:00 GMT') }}</i>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>