<section class="section pt-5 pb-2 mt-5">
    <div class="container">
        [%breadcrumbs%]
    </div>
</section>

<section class="section pt-5 pb-2 mt-5">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h3 class="my-4">{{ name }}</h3>

                <div class="row">

                    <div class="col-md-12">
                        <img class="img-fluid" src="{{ photo }}" alt="">
                    </div>

                    <div class="col-md-12" style="margin-top: 25px">
                        <ul>
                            <li>Всего альбомов {{ totalAlbums }}</li>
                            <li>Всего треков {{ totalSongs }}</li>
                        </ul>
                    </div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-success">{{ tag.name }}</span>
                            </a>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="my-4">Альбомы {{ name }} </h3>
                <div class="row">
                    <div class="col">
                        <ul class="list-group" style="margin-bottom: 20px">
                            {% for album in albums %}
                                <a href="{{ album.__link }}" style="border-top: 1px solid #6b6666;"
                                   class="yi-sermon list-group-item d-flex justify-content-between align-items-center">
                                    <div class="row" style="width: 100%">
                                        <div class="col-md-2">
                                            <img src="{{ album.photo }}" alt="{{ album.name }}" class="rounded-circle">
                                        </div>
                                        <div class="col-md-7 yi-sermon-text">
                                            <h2>{{ album.name }}</h2>
                                        </div>
                                    </div>

                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>