<div class="container">
    <div class="row">
        <div class="col-lg-6 ">
            <!-- title -->
            <div class="title">
                <h2 class="title__title">Добро пожаловать на {{ domain }}</h2>
            </div><!-- End / title -->
        </div>
    </div>
    <h2>Топ Сериалов</h2>
    [%tv_series_list%]
    <div class="clearfix"></div>
    <h2>Топ фильмов</h2>
    [%movies_list%]
    <div class="clearfix"></div>
</div>