<div class="wil-content">
    <section class="awe-section">
        <div class="container">
            <div class="page-title">
                <span class="post-detail__cat">
                    [%breadcrumbs%]
                </span>
                <div class="page-title__divider"></div>
            </div><!-- End / page-title -->

        </div>
    </section>
    <section class="awe-section bg-gray">
        <div class="container">
            <div>
                <div class="post-detail__entry row">
                    <div class="col-lg-4 col-md-6">
                        <h2 class="page-title__title">{{ titleRu }}</h2>
                        <img src="{{ photo }}" alt="{{ titleRu }}" class="img-responsive img-thumbnail"/>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            {% for index,season in seasons %}
                                <div class="grid-item col-lg-4 col-md-6">
                                    <!-- work -->
                                        <a href="{{ season.__link }}">
                                            <div class=" ef-slide-bottom " style="border: 1px solid grey;padding: 0px 12px;border-radius: 10px;">
                                                <div class="">
                                                    <b class="">Сезон {{ season.season }}</b>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                            {% endfor %}
                        </div>
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="sharebox__module">
                    <a href="{{ imdbUrl }}">
                        <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
                    </a>
                    <a href="{{ kinopoiskUrl }}">
                        <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
[%youtube_adding%]