<div class="column is-4">
    <div class="card">
        <div class="card-content">
            <a href="{{ episode.__link }}">Смотреть</a>
            <span>{{ episode.titleRu }}</span>
            <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
        </div>
    </div>
</div>