<div class="column is-3">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <a href="{{ film.__link }}"> <img src="{{ film.photo }}" alt="{{ film.titleRu }}" style="object-fit: cover"></a>
            </figure>
        </div>
        <div class="card-content">
            <a href="{{ film.__link }}">{{ film.titleRu }}</a>
            <p>
                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="tag is-primary">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </p>
        </div>
    </div>
</div>