<a href="{{ season.__link }}"
   class="post" style="margin: 1rem;padding-bottom: 1rem;border-bottom: 1px solid #E6EAEE;display: block">
    <div class="media">
        <div class="media-content">
            <div class="content">
               {{ season.name }} / Сезон {{ season.season }}
            </div>
        </div>
    </div>
</a>