<div class="column is-3">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <a href="{{ seria.__link }}"> <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}" style="object-fit: cover"></a>
            </figure>
        </div>
        <div class="card-content">
            <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
            <p>
                {% if seria.__tags is defined %}
                    {% for tag in seria.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="tag is-primary">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </p>
        </div>
    </div>
</div>