<div class="col-md-4 col-sm-6 mb-2">
    <div class="sermon element-animate fadeInUp element-animated card">
        <div class="card-body">
            <b>{{ episode.titleRu }}</b>
            <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
            <div>
                <a href="{{ episode.__link }}">
                    <button type="button" class="btn btn-raised btn-info">Смотреть</button>
                </a>
            </div>
        </div>
    </div>
</div>