<div class="col-md-3 col-sm-6 portfolio-item">
    <a class="portfolio-link" href="{{ film.__link }}">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-arrow-circle-o-right fa-3x"></i>
            </div>
        </div>
        <img class="img-fluid" src="{{ film.photo }}" alt="{{ film.titleRu }}" style="width: 100%">
    </a>
    <div class="portfolio-caption">
        <h4><a href="{{ film.__link }}">{{ film.titleRu }}</a></h4>
        <p>
            {% if film.__tags is defined %}
                {% for tag in film.__tags %}
                    <a href="{{ tag.__link }}">
                        <span class="new badge red" style="color:red;">{{ tag.name }}</span>
                    </a>
                {% endfor %}

            {% endif %}
        </p>
    </div>
</div>