<div class="col-md-4 col-sm-6">
    <div class="card ">
        <div class="card-body">
            <b>{{ season.name }} | Сезон {{ season.season }}</b>
            <div>
                <a href="{{ season.__link }}">
                    <button type="button" class="btn btn-raised btn-info">Подробнее</button>
                </a>
            </div>
        </div>
    </div>
</div>