body {
    background-color: #0b0a0f;
}

ul li {
    list-style-type: none;
}

.massacre-style > img {
    opacity: 0.25;
    width: inherit;
    height: auto;
    object-fit: cover;
    border: 2px solid #0b0a0f;
}

.massacre-style div {
    position: absolute;
}

.div-content {
    right: 0;
    font-size: 0.9rem;
}

.div-content > a {
    color: #fff2f2;
}

.la-link {
    color: #0b0a0f;
    background-color: #fff2f2;
    padding: 2px;
    border: 1px solid #fff2f2;
    border-radius: 2px;
}

.div-content > a:hover {
    color: #89ffb3;
}

.badge-fadge {
    background-color: rgba(137, 255, 179, 0.71);
    color: #0b0a0f;
    font-weight: bold;
    font-size: 0.63rem;
}

.massacre-style div:last-child img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 1px 1px 3px 1px rgba(11, 11, 11, 0.4);
    transition: 0.3s;
}

.massacre-style div:last-child i:hover + img,
.massacre-style div:last-child img:hover {
    width: 130%;
    height: auto;
    object-fit: cover;
    box-shadow: 1px 1px 3px 1px rgba(11, 11, 11, 0.4);
    border: 1px solid #89ffb3;
    transition: 0.3s;
}

.massacre-style div:last-child i {
    position: absolute;
    z-index: 9999;
    color: #f9fdff;
    background-color: rgba(41, 37, 39, 0.44);
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
}

.massacre-style div:last-child:hover i {
    opacity: 1;
    transition: 0.3s;
}

.massacre-style div:last-child i:hover {
    color: #89ffb3;
}

a:hover {
    color: #484b49;
}

h1 {
    color: #42bf9d;
    background-color: rgba(255, 242, 242, 0.31);
}

.bg-gray {
    background-color: rgba(131, 131, 131, 0.2);
}

.page-item.active .page-link {
    background-color: #484b49;
    border: #484b49;
}

.page-link {
    color: #484b49;
}

.page-link:hover {
    background-color: #89ffb3;
    color: #484b49;
}

small {
    color: #f9fdff;
}

.bg-transer {
    background-color: transparent;
}

.seria-link {
    border: 1px solid #89ffb3;
    border-radius: 10px;
}

.seria-link a p {
    color: #f9fdff;
}

.seria-link a p:hover {
    color: #484b49;
}

.seria-link:hover {
    border: 1px solid #484b49;
    transition: 0.8s;
}