<!--//requested-movies-->
[%breadcrumbs%]

<div class="container">
    <h3 class="agile_w3_title"><span>Сезон {{ season }} Эпизод {{ episode }}</span></h3>
</div>

<div class="container">

    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                        width="100%" height="700px" allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            [%tree_items%]
        </div>
    </div>
    <div class="row mb-2 mt-2">
        <div class="col text-left">
            {% if(__prev) %}
                <a class="btn btn-success" href="{{ __prev }}">Предыдущая серия</a>
            {% endif %}
        </div>
        <div class="col text-right">
            {% if(__next) %}
                <a class="btn btn-success" href="{{ __next }}">Следующая серия</a>
            {% endif %}
        </div>
    </div>

</div>
