<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        [%tv_series_list%]
    </div>
</div>

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        [%movies_list%]
    </div>
</div>