<!--//requested-movies-->
[%breadcrumbs%]
<div class="container">
    <h3 class="agile_w3_title"><span>Сезон {{ season }}</span></h3>
</div>

<div class="container">

    <section class="col-md-12 row">
        {% for episode in episodes %}
            <div class="col-md-4 col-sm-6 mb-2" style="margin: 1.4em 0">
                <div class="sermon element-animate fadeInUp element-animated">
                    <div class="sermon-text">
                        <a href="{{ episode.__link }}">Смотреть</a>
                        <b>{{ episode.titleRu }}</b>
                        <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="blog-pagenat-wthree mb-2">
            <ul>
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li>
                            <a class="page-link" href="{{ page.url }}" style="background: black; color: #fff;">{{ page.num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
            <!--//movies-->
        </div>
    </section>


</div>
