<!--//requested-movies-->
[%breadcrumbs%]

<section class="container">
    <h3 class="agile_w3_title"><span>{{ titleRu }}</span></h3>
    <div class="row">
        <div class="col">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="badge badge-default">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 w3l-movie-gride-agile requested-movies">
            <a href="{{ __link }}" class="hvr-sweep-to-bottom"><img src="{{ photo }}" title="{{ titleRu }}"
                                                                    class="img-responsive" alt=" ">
                <div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
                <div class="mid-2 agile_mid_2_home">
                    <div class="block-stars">
                        <ul class="w3l-ratings">
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <section class="col-md-9 row">
            {% for index,season in seasons %}
                <div class="col-md-3 col-sm-6">
                    <div class="media custom-media">
                        <div class="media-body">
                            <a href="{{ season.__link }}" class="mt-0">Подробнее</a>
                            <p class="post-meta">Сезон {{ season.season }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="blog-pagenat-wthree">
                <ul>
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li>
                                <a class="page-link" href="{{ page.url }}"
                                   style="background: black; color: #fff;">{{ page.num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
                <!--//movies-->
            </div>
        </section>

    </div>
</section>