<section class="section pt-5 pb-2 mt-5">
    <div class="container">
        <div class="row mb-5 justify-content-center element-animate">
            <div class="col-md-12">
                <span class="hub-section-heading">Трэки</span>
                <h2>Топ {{ total }} песен</h2>
            </div>
        </div>
        <div class="row">

            {% for track in tracks %}

                <div class="col-12 col-sm-12 col-lg-12 mb-2">
                    <div class="hub-sermon element-animate">
                        <div class="sermon-text">
                            <h2><a href="{{ track.__link }}">{{ track.name }}</a></h2>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <audio id="player2" preload="none" controls style="max-width: 100%">
                                    <source src="{{ track.url }}" type="audio/mp3">
                                </audio>
                                {% if track.__tags is defined %}
                                    {% for tag in track.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-outline-secondary" style="padding: 5px 20px;" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-2">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
