<section class="container-fluid">
    {% for artist in artists %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="{{ artist.__link }}">
                        <img width="305" height="210"
                             src="{{  artist.photo }}"
                        /> <span class="card-title home">{{ artist.name }}</span>
                    </a>
                </div>
                <div class="card-content">
                    {% if artist.__tags is defined %}
                        {% for tag in artist.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-default">{{ tag.name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>


        </div>


    {% endfor %}


    {% if pages %}
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="active  blue-grey darken-1">
                        {% else %}
                            <li class="waves-effect">
                        {% endif %}
                        <a href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
</section>