<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[[seo_title]]</title>

    <noscript>
        <link rel="stylesheet" type="text/css"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    </noscript>

    [[seo_meta_schema]]
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_geo]]
    [[seo_meta_tags]]
    <link rel="stylesheet" href="/css/index.css">
    [[seo_global_meta_tags]]
</head>

<body>
<script type="text/javascript">
    /* First CSS File */
    var giftofspeed = document.createElement('link');
    giftofspeed.rel = 'stylesheet';
    giftofspeed.href = 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css';
    giftofspeed.type = 'text/css';
    var godefer = document.getElementsByTagName('link')[0];
    godefer.parentNode.insertBefore(giftofspeed, godefer);
</script>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">{{ domain }}</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        [%nav_links%]
    </div>
</nav>
[[ad_block_top]]
<header class="">

</header>
<div class="container" style="margin-top: 60px">
    <section class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {{ template | raw }}
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    [[seo_text]]
                </div>
            </div>
        </div>
    </section>
</div>
[[ad_block_bottom]]
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
    </div>
    <div class="container">
        <span class="text-muted">{{ domain }}</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>