        <div class="row my-5">
            <div class="col-8">
                <h5 class="text-light">Топ артистов</h5>
            </div>
            <div class="col-4 text-right px-5">
                {% if pages|length > 0 %}
                    <a href="{{ pages[1].url }}">
                        Больше
                    </a>
                {% endif %}
            </div>
            {% for artist in artists %}
                <div class="row col-md-12 justify-content-center my-2">
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 my-2">
                        <a href="{{ artist.__link }}">
                            <img class="project-img text-center" src="{{ artist.photo }}" alt="{{ artist.name }}">
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 my-2 bg-light cont-cont text-center">
                        <h5 class="mt-3">{{ artist.name }}</h5>
                        <hr>
                            <div>{% if artist.__tags is defined %}
                                    {% for tag in artist.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-secondary">
                                            {{ tag.name }}
                                        </a>
                                    {% endfor %}
                                {% endif %}</div>
                        <div class="my-2">
                            <a class="btn btn-outline-info">Слушать<i class="far fa-play-circle px-2"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
