<div class="row my-5">
    <div class="col-8">
        <h5 class="text-light">Лучшие песни</h5>
    </div>
    <div class="col-4 text-right px-5">
        {% if pages|length > 0 %}
            <a href="{{ pages[1].url }}">
                Больше
            </a>
        {% endif %}
    </div>
    {% for track in tracks %}
        <div class="col-12">
            <div class="bg-secondary my-2 border border-light p-3 rounded">
                <div class="text-light">
                    <a href="{{ track.__link }}" class="text-light">{{ track.name }}</a>
                    {% if track.artistName == "" %}
                        <p>
                            <small>Unknown</small>
                        </p>
                    {% else %}
                        <p>
                            <small>{{ track.artistName }}</small>
                        </p>
                    {% endif %}
                </div>
                <div>
                    <audio src="{{ track.source_url }}" controls preload="none" class="width-100"></audio>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
