{% if links is defined %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                {% for link in links %}
                    <a href="{{ link.uri }}" class="text-light">{{ link.title }}</a>
                    <span class="text-light"> / </span>
                {% endfor %}
                <b class="text-light">{{ active.title }}</b>
            </div>
        </div>
    </div>
{% endif %}
