<footer class="container-fluid bg-swamp">
    <div class="col-md-12">
        {% if links %}
            <div class="pt-3">
                <ul class="bg-dark text-light">
                    {% for link in links %}
                        <li class="mt-1">
                            <a href="{{ link.link }}" class="text-light">
                                <small>{{ link.name }}</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-3 small bg-light">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>
