<section class="container">
    <div class="row">
        <div class="col">
            <h3 class="card-title">
                {{ name }}
            </h3>
        </div>
    </div>
    <div class="row">
        {% for video in items %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ video.__link }}">
                        <img class="card-img-top" src="{{ video.photo }}" alt="{{ video.titleRu }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ video.__link }}">{{ video.titleRu }}</a>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
