<div class="col-sm-5 mb-2">
    <div class="card">
        <div class="card-body">
            <span class="card-title">{{ season.name }} / Сезон {{ season.season }}</span>
            <a href="{{ season.__link }}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
</div>