<div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
    <div class="card h-100">
        <a href="{{ seria.__link }}">
            <img class="card-img-top" src="{{ seria.photo }}" alt="">
        </a>
        <div class="card-body">
            <a href="{{ seria.__link }}" class="card-title">{{ seria.titleRu }}</a>
            <div class="mt-1">
                {% if seria.__tags is defined %}
                    {% for tag in seria.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-success">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</div>