body {
    background: linear-gradient(135deg, #3e2464, rgba(255, 255, 255, 0.3)), url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

section {
    margin-top: 10vh;
    min-height: 100vh;
}

.img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.img a img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-weight: 900;
    text-decoration: underline;
}

.bg-soft {
    background-color: rgba(12, 13, 13, 0.6);
}

.bg-gaze, h2 {
    background-color: #292953;
}

.page-item.active .page-link {
    color: #fff2f2;
    background-color: #292953;
    border: 1px solid #292953;
}

.page-item .page-link {
    color: #292953;
    background-color: #fff2f2;
}

.page-item .page-link:hover {
    background-color: #a69e9e;
}

.badge-pill {
    padding-right: 2px;
    padding-left: 2px;
}

.badge {
    font-size: 64%;
}