<div class="col-md-3 col-sm-6">
    <div class="media custom-media">
        <div class="media-body">
            <a href="{{ season.__link }}" class="mt-0">Подробнее</a>
            <p class="post-meta">Сезон {{ season.season }}</p>
        </div>
    </div>
</div>