<div class="col-md-6 col-lg-4 mb-4 element-animate">
    <div class="media custom-media">
        <a href="{{ seria.__link }}"><img class="mr-3" width="30" src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
        <div class="media-body">
            <a href="{{ seria.__link }}" class="mt-0">{{ seria.titleRu }}</a>
        </div>
    </div>
    <div class="mt-1">
        {% if seria.__tags is defined %}
            {% for tag in seria.__tags %}
                <a href="{{ tag.__link }}">
                    <span class="badge badge-success">{{ tag.name }}</span>
                </a>
            {% endfor %}

        {% endif %}
    </div>
</div>