<div class="col-md-4 col-sm-6 mb-2">
    <div class="sermon element-animate fadeInUp element-animated">
        <div class="media-body" style="background-color: ghostwhite;padding: 5px 25px;border-radius: 22px;">
            <a href="{{ episode.__link }}">
                <div class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</div>
                <div>Смотреть</div>
            </a>
        </div>
    </div>
</div>