<article class="col-md-6 col-lg-4 et-item illustration">
    <div class="et-banner">
        <figure class="effect-default">
            <a href="{{ film.__link }}" ><img src="{{ film.photo }}" alt="{{ film.titleRu }}" width="450" height="536" /></a>
            <figcaption>
                <a class="banner-link-cover" href="{{ film.__link }}">View More</a>
            </figcaption>
        </figure>
        <h5 class="banner-title mt-20px">{{ film.titleRu }}</h5>
        <div>
            {% if film.__tags is defined %}
                {% for tag in film.__tags %}
                    <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</article>