<div class="col-md-3 col-sm-6">
    <div class="media custom-media">
        <div class="media-body" style="background-color: ghostwhite;padding: 5px 25px;border-radius: 22px;">
            <a href="{{ season.__link }}">
                <div class="post-meta">{{ season.name }} - Сезон {{ season.season }}</div>
                <div class="mt-0">Подробнее</div>
            </a>
        </div>
    </div>
</div>