<article class="col-md-6 col-lg-4 et-item illustration">
    <div class="et-banner">
        <figure class="effect-default">
            <a href="{{ seria.__link }}" ><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}" width="450" height="536" /></a>
            <figcaption>

                <a class="banner-link-cover" href="{{ seria.__link }}">View More</a>
            </figcaption>
        </figure>
        <h5 class="banner-title mt-20px">{{ seria.titleRu }}</h5>
        <div>
            {% if seria.__tags is defined %}
                {% for tag in seria.__tags %}
                    <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</article>