<div class="container bg-dark my-5">
    <div class="row">
        <div class="col-md-12 bg-light p-3 rounded">
            <div class="nav nav-pills justify-content-center" id="v-pills-tab" role="tablist"
                 aria-orientation="horizontal">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                   role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-id-card text-danger"></i></a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                   role="tab" aria-controls="v-pills-profile" aria-selected="false"><i
                            class="fas fa-music text-success"></i></a>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active bg-light p-4 m-2" id="v-pills-home" role="tabpanel"
                aria-labelledby="v-pills-home-tab">
                    [%audio_artists_list%]
                </div>
                <div class="tab-pane fade bg-light p-4 m-2" id="v-pills-profile" role="tabpanel"
                aria-labelledby="v-pills-profile-tab">
                    [%audio_tracks_list%]
                </div>
            </div>
        </div>
    </div>
</div>