<div class="section-heading">
    <div class="filter-categories">
        <ul class="project-filter">
            {% for link in links %}
                <li class="filter" >
                    <a href="{{ link.uri }}">
                        <span>{{ link.title }}</span>
                    </a>
                </li>
            {% endfor %}
            <li class="filter"><span>{{ active.title }}</span></li>
        </ul>
    </div>
</div>