<section class="tree">
    {% for link in links %}
        {% if link.__link == __link %}
            <button type="button" class="btn btn-dark btn-outline-white">{{ link.name }}</button>
        {% else %}
            <a href="{{ link.__link }}" style="margin: 0 1px;padding: 6px 12px" title="{{ link.name }}">
                <button type="button" class="btn btn-dark btn-outline-white">{{ link.name }}</button>
            </a>
        {% endif %}
    {% endfor %}
</section>