<div class="uk-container">
    <h2 class="uk-heading-primary">{{ name }}</h2>
    <div><img data-src="{{ photo }}" width="" height="" alt="{{ name }}" uk-img></div>
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        {% for artist in items %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m uk-animation-slide-top-small">
                <img data-src="{{ artist.photo }}" width="" height="" alt="{{ artist.name }}" uk-img>
                <h3 class="uk-card-title">{{ artist.name }}</h3>
                <p>
                    <a href="{{ artist.__link }}" class="uk-button uk-button-default">Перейти</a>
                </p>
            </div>
        {% endfor %}

        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
