<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-1@m">
            <h2 class="uk-article-title">{{ name }}
            </h2>
            <p>
                {{ text | raw }}
            </p>
        </article>
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-placeholder">
        <h3 class="uk-heading-primary">Слушать больше</h3>
        [%audio_tracks_list%]
    </div>
</div>