<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-1@m">
            <h2 class="uk-article-title">{{ name }}
                <small>{{ artistName }}</small>
            </h2>
            <audio src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls preload="none"></audio>
            <p>
                Сейчас слушают {{ totalListeners }} человека |
                Всего скачали {{ totalDownloads }} раз |
                Прослушали {{ totalListening }} раз
            </p>
        </article>
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-placeholder">
        <h3 class="uk-heading-primary">Слушать больше</h3>
        [%audio_tracks_list%]
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-placeholder">
        {% if __relations is defined %}
            {% for relation in __relations %}
                <a href="{{ relation.__link }}">{{ relation.name }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>