<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-itunes-app" content="app-id=878517979">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    [[seo_meta_tags]]
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    [[seo_geo]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <noscript>
        <link rel="stylesheet" type="text/css"
              href="/css/index.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </noscript>
    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
</head>

<body class="home page-template page-template-page-home page-template-page-home-php page page-id-6146">

{{ lazy_css("/css/index.css")|raw }}
{{ lazy_css("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")|raw }}

{{ lazy_css("https://fonts.googleapis.com/icon?family=Material+Icons")|raw }}
{{ lazy_css("//fonts.googleapis.com/css?family=Abel")|raw }}

<div class="navbar-fixed">
    <nav class="white " role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <div id="logo-container" style="position: absolute">
                    <a href="/" class="brand-logo">{{domain}}</a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    [%nav_links%]
                </ul>

            </div>
        </div>
    </nav>
</div>
[[ad_block_top]]
<ul class="sidenav" id="mobile-demo">
    [%nav_links%]
</ul>

<div class="container">
    <div class="section">
        <div class="row">
            {{template | raw}}
        </div>
        {% if __text is not empty %}
            <div class="row">{{ __text | raw }}</div>
        {% endif %}
        <div class="row">
            [[seo_text]]
        </div>
    </div>
</div>
[[ad_block_bottom]]
<footer class="page-footer abrown-footer">
    <div class="container">
        <div class="row">
            <div class="col-10 l3 s12 m6">
                <article id="categories-2" class="panel widget widget_categories">
                    <h5 class="abrown-text">
                        <ul>
                            [%cross_links%]
                        </ul>
                    </h5>
                </article>
            </div>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });

</script>
</body>
</html>