.height-block-100 {
    min-height: 100vh;
}

.root-background {
    min-height: 90vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7)60%, #fff)40%,
    url(../img/base-bg.jpg);
    background-position: center;
    background-size: cover;
}

.img-create img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 5px inset #64427d;
    transition: 0.5s;
}

h2 {
    background-color: #2B333F;
    color: #fff2f2;
}

.imgeator {
    width: inherit;
    height: 120px;
}

.iconator {
    position: absolute;
    color: #878486;
    text-shadow: 1px 1px 5px #ffffff;
    opacity: 0;
}

.imgeator:hover .iconator {
    opacity: 1;
    transition: 0.5s;
}

.imgeator:hover img {
    border: 5px inset #f9f6ff;
    transition: 0.5s;
}

h3 {
    color: #f9f6ff;
    width: inherit;
}

h3:hover {
    color: #a879ce;
}

a:hover {
    color: #f9f6ff;
    background-color: #64427d;
    text-decoration: #f9f6ff;
    transition: 0.5s;
}

.badge-dark {
    background-color: #a879ce;
}

.page-item a {
    background-color: #2B333F;
    color: #fff2f2;
}

.page-item a:hover {
    background-color: #fff2f2;
    color: #2B333F;
}

.page-item.active .page-link {
    background-color: #64427d;
    border-color: #64427d;
    color: #fff2f2;
}

h5 {
    color: #fff2f2;
}