body {
    text-overflow: ellipsis;
}

audio {
    margin: 0 auto;
    display: inline-block;
}

p, a, h2, h3, h4, h5 {
    font-size: 16px;
    padding: 10px;
}

li {
    list-style: none;
    text-indent: 0;
}

ul {
    padding: 0
}

img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

button {
    border: 1px solid #ccc;
    padding: 10px;
}