<div class="my-2 stylized-border-2 text-light p-3">
    {% for link in links %}
    <span class="text-dark">
        <a href="{{ link.uri }}" class="text-dark">{{ link.title }}</a> /
    </span>
    {% endfor %}
    <span class="text-dark">
        {{ active.title }}
    </span>
</div>