<section id="showcase" class="mb-4">
    <div id="showcase">
        <div class="container">
            <h3 class="centered text-light">{{ name }}</h3>
            <div class="row">
                <div class="col-lg-12 row">
                    {% for film in films %}
                        {% include 'driver/video/pratt/block/element/film.twig' with {'film':film} %}
                    {% endfor %}
                    {% if pages|length > 0 %}
                    <div class="col-12">
                        <a href="{{ pages[1].url }}">
                            <button type="button" class="btn btn-secondary">Больше</button>
                        </a></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /container -->
</section>
