<section id="desc" class="mb-4">
    <!-- INTRO WRAP -->
    <div id="intro">
        <div class="container">
            <h3 class="centered text-dark">{{ name }}</h3>
            <div class="row centered">
                <div class="col-lg-12 row">
                {% for seria in series %}
                    {% include 'driver/video/pratt/block/element/seria.twig' with {'seria':seria} %}
                {% endfor %}
                    {% if pages|length > 0 %}
                    <div class="col-12">
                        <a href="{{ pages[1].url }}">
                            <button type="button" class="btn btn-secondary">Больше</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <!--/ .container -->
    </div>
    <!--/ #introwrap -->
</section>