<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ name }}</h2>
        </div>
    </div>
    <div class="row">
        <ul class="list-group" style="width: 100%">
            {% for track in tracks %}
                <li class="list-group-item">
                    <div>
                        <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                    </div>
                    <div>
                    <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if pages|length > 0 %}

            <div class="container" style="margin-top: 25px">
                <div class="row">
                    <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px"><a
                                href="{{ pages[1].url }}">
                            <button type="button" class="btn btn-secondary">Больше</button>
                        </a></div>
                </div>
            </div>
        {% endif %}
    </div>
</div>