body {
    background: url('/img/texture-background.png');
    font-family: Georgia,serif !important;
}

.elegant-card {
    background: #FFF;
    text-align: center;
    padding: 4px 7px;
    box-shadow: 0 0 3px #999;
}

.elegant-title {
    color: #000000 !important;
    font-size:1.2em;
    margin: 10px 0 10px 0;
}

.navbar-fixed {
    background:#f5f5f5;
}

.serial-top {
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px 10px 5px 0;
    box-shadow: 0 0 3px #999;
    text-align: center;
    text-transform: uppercase;
    margin:0 0 10px 0;
}

.button-more {
    margin:0 auto;
}

.button-more button {
    background: #fafafa;
    color:#333;
}

.button-more button:hover {
    background:#eaeaea;
    color:#333;
}

footer {
    background:#343a40!important;
    margin:10px 0 0 0;
}

.page-item.active .link-page {
    background:#53555c !important;
    color:#fff;
    border:#53555c;
}

.link-page {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #53555c;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.link-page:hover {
    color:#999999;
}

.pagination-block {
    margin:0 auto;
}

.breadcrumb {
    background-color:#343a40 !important;
}

.breadcrumb a {
    color:#fafafa;
}

.breadcrumb a:hover {
    color:#eeeeee !important;
}

.breadcrumb-item.active {
    color: #b9b9b9 !important;
}

.elegant-wrapper {
    background: #FFF;
    margin: 20px 10px;
    text-align: center;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #999;
    -moz-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
}

.more-info {
    border: 1px solid #4f8db3;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-align: center;
    background: none repeat scroll 0 0 #4f8db3;
    text-shadow: none;
    box-shadow: none;
    white-space: nowrap;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img-thumbnail {
    margin:0 !important;
}

.more-info:hover {
    color:#fff;
    text-decoration: underline;
}

.upper-text {
    text-transform: uppercase;
}

.player-button {
    background-color:#5d5d5d;
    color:#fff;
}