.series-item {
    position: relative;
    text-align: center;
}

.series-item h5 {
    position: absolute;
    bottom: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

img {
    margin: 0 auto;
    object-fit: cover;
}

#hero-area img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn-big {
    padding: 12px 15px !important;
    border-radius: 0px;
    background: none;
    color: #FF4F02;
    border: 1px solid #FF4F02;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}
.btn-main{
    background: #FF4F02 !important;
    color: white !important;
}
.blog-img img{
    width: 100% !important;
    height: 300px !important;
}

.mt-2 {
    margin-top: 1.4em;
}

.mb-2 {
    margin-bottom: 1.4em;
}

.season-item {
    margin-right: 10px;
    text-align: center;
}

.season-item h5 {
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.items {
    display: flex;
    overflow-x: scroll;
}