<section class="container-fluid half-page-height best-film-bg">
    <div class="row half-page-height">
        <div class="col-12 align-self-center">
            <h1 class="text-center text-uppercase text-light">
                [[seo_h1]]
            </h1>
            <hr>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="pl-5 pt-3 text-light">Всего фильмов <small>{{ total }}</small></div>
        <div class="row col-12">
            {% for film in films %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pt-4">
                    <a href="{{ film.__link }}">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                    </a>
                    <a href="{{ film.__link }}">
                        <h6 class="text-center text-light pt-3">{{ film.titleRu }}</h6>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row px-3 py-4 d-flex justify-content-center">
        <div class="col-lg-8col-md-8 col-sm-12 col-xs-12 d-flex text-light justify-content-center">
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>