* {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f2f2f2;
}

body {
    background-color: rgba(38, 56, 58, 0.77);
    background: url(../img/main-bg.jpg) fixed no-repeat center;
    background-size: cover;
    height: 100vh;
}

.tag-block {
    margin-top: -15px;
}

.border {
    background-color: rgba(255, 255, 255, .5);
}

.nav-style {
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
}

.bigbox {
    min-height: 100vh;
    margin-bottom: 15px;
}

.midbox {
    min-height: 60vh;
    margin-bottom: 15px;
}

a {
    color: #f2f2f2;
}

a:hover {
    color: #ffbb33;
    -webkit-transition: 1s;
    transition: 1s;
    text-decoration: none;
}

footer {
    background-color: #170b00;
    color: #f2f2f2;
    position: relative;
}

.bc-style {
    background-color: transparent;
}

.main-page {
    min-height: 100vh;
}

.art-style {
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 30px;
}

.artists-img {
    border-radius: 10px;
    transition: 0.5s;
    opacity: 0.7;
}

.art-img {
    border-radius: 10px;
}

.artists-img:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.5s;
}

.navbar-toggler {
    border: 1px solid #6c757d;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.navbar-toggler-icon {
    background-image: url(../img/menu-icon.png);
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgb(20, 24, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}

.eq-loader {
    height: 20px;
    width: 21px;
    margin: 100px auto;
    transform: rotate(180deg);
}

.eq-loader:before, .eq-loader:after, .eq-loader > i {
    float: left;
    width: 5px;
    height: 20px;
    background: #ffbb33;
    margin-left: 3px;
    content: "";
}

.eq-loader:before {
    margin-left: 0;
}

.eq-loader:before {
    animation: bounce-3 1s infinite linear;
}

.eq-loader > i {
    animation: bounce-2 1s infinite linear;
}

.eq-loader:after {
    animation: bounce-1 1s infinite linear;
}

@keyframes bounce-1 {
    0% {
        height: 1px
    }
    16.7% {
        height: 20px
    }
    33.4% {
        height: 20px
    }
    100% {
        height: 1px
    }
}

@keyframes bounce-2 {
    0% {
        height: 1px
    }
    16.7% {
        height: 1px
    }
    33.4% {
        height: 20px
    }
    50% {
        height: 20px
    }
    100% {
        height: 1px
    }
}

@keyframes bounce-3 {
    0% {
        height: 1px
    }
    33.4% {
        height: 1px
    }
    50% {
        height: 20px
    }
    66.7% {
        height: 20px
    }
    100% {
        height: 1px
    }
}

.page-link {
    background-color: transparent;
    color: #f2f2f2;
    border: 1px solid #6c757d;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
