<section class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col">
            <h2 class="card-title">
                {{ name }}
            </h2>
        </div>
    </div>
    <div class="row">
        {% for seria in items %}
            <div class="col-md-6 col-lg-4 mb-4 element-animate">
                <div class="media custom-media">
                    <a href="{{ seria.__link }}"><img class="mr-3" width="30" src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                    <div class="media-body">
                        <a href="{{ seria.__link }}" class="mt-0">{{ seria.titleRu }}</a>
                    </div>
                </div>
                <div class="mt-1">
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge success-badge">{{ tag.name }}</span>
                            </a>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <ul class="block-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
