<section class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col">
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        {% for episode in episodes %}
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="sermon-block element-animate fadeInUp element-animated">
                    <div class="sermon-block-text">
                        <a href="{{ episode.__link }}">Смотреть</a>
                        <b>{{ episode.titleRu }}</b>
                        <p class="sermon-block-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="block-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>