<ul class="breadcrumb bg-dark">
    {% for link in links %}
        <li>
            <a href="{{ link.uri }}">
                <span>{{ link.title }}</span>
                <span class="fui-arrow-right"></span>
            </a>
        </li>
    {% endfor %}
    <li>
        <span class="text-light">{{ active.title }}</span>
    </li>
</ul>