<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="breadcrumb rounded bg-secondary">
                {% for link in links %}
                    <li class="my-1">
                        <a href="{{ link.link }}">
                            <small class="text-light bg-dark p-2 rounded border-light border mx-1">{{ link.name }}</small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
