<section class="bg bg-a container-fluid">
    <div class="row align-items-center" style="height: 100%">
        <div class="col text-center">
            <div class="container">
                <h2>Топ сериалов</h2>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col topbar">
            <div>
                Всего <span>{{ total }}</span> сериалов
            </div>
        </div>
    </div>
    <div class="row  grid">
        {% for seria in series %}
            <div class="col-md-3">
                <div class="grid-item">
                    <a href="{{ seria.__link }}">
                        <div class="item">
                            <img data-src="{{ seria.photo }}" alt="" src="/img/iload.gif">
                            <p>
                                <span>{{ seria.titleRu }}</span>
                                <em><i class="zmdi zmdi-star-circle"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                            </p>
                        </div>
                        <div class="link" data-toggle="tooltip" data-html="true" title="">
                            <i class="zmdi zmdi-play-circle"></i>
                        </div>
                    </a>
                </div>
                <div>
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col topbar bottombar">
            {% include "driver/base/paginate_limit.twig"%}
            <ul class="list-inline paginate">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="list-inline-item active">
                    {% else %}
                        <li class="list-inline-item">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</section>