{% if links is defined %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            {% for link in links %}
                <li class="breadcrumb-item"><strong><a href="{{ link.uri }}" class="text-dark">
                            {{ link.title }}
                        </a></strong></li>
            {% endfor %}
            <li class="breadcrumb-item active">{{ active.title }}</li>
        </ul>
    </nav>
{% endif %}
