<div class="container-fluid">
    <h3 class="text-lg-left text-md-left text-xs-center text-sm-center">Лучшие фильмы</h3>
    <div class="row">
        {% for film in films %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 d-flex justify-content-lg-start
                        justify-content-md-start justify-content-sm-center justify-content-xs-center">
                <a href="{{ film.__link }}" class="img-link">
                    <div class="img-style">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="text-style text-center">
                            <div>
                                <p>
                                    {{ film.titleRu }}
                                </p>
                                <em>
                                    <i class="far fa-star"></i>
                                    <strong>{{ film.imdbRating }}</strong>
                                    /10
                                </em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if pages|length > 0 %}
            <div class="col-12 d-flex justify-content-lg-start pb-2
                        justify-content-md-start justify-content-sm-center justify-content-xs-center">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-dark"><i class=""></i> Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>