<div class="container-fluid">
    <h3 class="text-lg-right text-md-right text-xs-center text-sm-center">Лучшие cериалы</h3>
    <div class="row">
        {% for seria in series %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 d-flex justify-content-lg-end
                        justify-content-md-end justify-content-sm-center justify-content-xs-center">
                <a href="{{ seria.__link }}" class="img-link">
                    <div class="img-style">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                        <div class="text-style text-center">
                            <div>
                                <p>
                                    {{ seria.titleRu }}
                                </p>
                                <em>
                                    <i class="far fa-star"></i>
                                    <strong>{{ seria.imdbRating }}</strong>
                                    /10
                                </em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if pages|length > 0 %}
            <div class="col-12 d-flex justify-content-lg-end pb-2
                        justify-content-md-end justify-content-sm-center justify-content-xs-center">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-dark"><i class=""></i> Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>