<section class="container">
    [%breadcrumbs%]
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="row">
                        <div class="col-12">
                            <span class="entity_title">{{ titleRu }} <small>{{ titleEn }}</small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                                        width="100%" height="700px" allowfullscreen
                                ></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            [%tree_items%]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left">
                            {% if(__prev) %}
                                <a class="btn btn-dark" href="{{ __prev }}">Предыдущая серия</a>
                            {% endif %}
                        </div>
                        <div class="col text-right">
                            {% if(__next) %}
                                <a class="btn btn-dark" href="{{ __next }}">Следующая серия</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
