<section class="container">
    [%breadcrumbs%]
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="row">
                        <div class="col-12">
                            <span class="entity_title">{{ titleRu }}
                                <small>{{ titleEn }}</small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                                        width="100%" height="700px" allowfullscreen
                                ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-default">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
