<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading"><span>{{ name }}</span></h1>
                    <ul>
                        {% for index,film in items %}
                            <li class="wow fadeInLeft" data-wow-duration="{{ (index+3)*100 }}ms"
                                data-wow-delay="{{ (index+3)*100 }}ms">
                                <div class="blog-img">
                                    <a href="{{ film.__link }}" ><img src="{{ film.photo }}" alt="{{ film.titleRu }}"></a>
                                </div>
                                <div class="content-right">
                                    <a href="{{ film.__link }}"><h4>{{ film.titleRu }}</h4></a>
                                    <hr>
                                    <p>
                                        <a href="{{ film.__link }}" class="btn btn-big" >Подробнее</a>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="text-center mt-3">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <a class="btn btn-big wow bounceIn btn-main"
                                   data-wow-duration="500ms" data-wow-delay="500ms" href="#" role="button">
                                    {{ page.num }}
                                </a>
                            {% else %}
                                <a class="btn btn-big wow bounceIn"
                                   data-wow-duration="500ms" data-wow-delay="500ms" href="{{ page.url }}" role="button">
                                    {{ page.num }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div>
    </div><!-- .containe close -->
</section>