<section class="container">
    [%breadcrumbs%]
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        Сезон {{ season }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <ul>
                        {% for index, episode in episodes %}
                            <li class="wow fadeInUp" data-wow-duration="{{ (index+3)*100 }}ms"
                                data-wow-delay="{{ (index+3)*100 }}ms">
                                <a class="item" href="{{ episode.__link }}">
                                    <div class="item-title">
                                        <span>{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</span>
                                        <div class="border-bottom"></div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <a class="btn btn-big wow bounceIn btn-main"
                           data-wow-duration="500ms" data-wow-delay="500ms" href="#" role="button">
                            {{ page.num }}
                        </a>
                    {% else %}
                        <a class="btn btn-big wow bounceIn"
                           data-wow-duration="500ms" data-wow-delay="500ms" href="{{ page.url }}" role="button">
                            {{ page.num }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
