<section class="container">
    [%breadcrumbs%]
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms"
                         src="{{ photo }}" alt="{{ titleRu }}">
                    <h2 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        {{ titleRu }}
                    </h2>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                        <a href="{{ imdbUrl }}">
                            <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
                        </a>
                        <a href="{{ kinopoiskUrl }}">
                            <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-default">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>Сезоны <span>{{ titleRu }}</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        {% for season in seasons %}
                            <div class="season-item">
                                <a href="{{ season.__link }}" class="text-center">
                                    Сезон {{ season.season }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <a class="btn btn-big wow bounceIn btn-main"
                           data-wow-duration="500ms" data-wow-delay="500ms" href="#" role="button">
                            {{ page.num }}
                        </a>
                    {% else %}
                        <a class="btn btn-big wow bounceIn"
                           data-wow-duration="500ms" data-wow-delay="500ms" href="{{ page.url }}" role="button">
                            {{ page.num }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
