<div class="col-md-12">
    <h5 class="title-section" style="margin-top: 50px">{{ name }}</h5>

    <div class="row">
        <ul class="list-group">
            {% for track in tracks %}
                <li class="list-group-item">
                    <div>
                        <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                    </div>
                    <div>
                        <audio class="js-player" controls preload="none">
                            <source src="{{ track.url }}" type="audio/mp3">
                        </audio>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if pages|length > 0 %}

            <div class="container">
                <div class="row">
                    <div class="mx-auto" style="text-align: center; margin-top: {{ random([ 4, 5, 6 , 12]) }}px"><a
                                href="{{ pages[1].url }}">
                            <button type="button" style="color: #000" class="btn btn-secondary">Больше</button>
                        </a></div>
                </div>
            </div>
        {% endif %}
    </div>

</div>