<h5 class="title-section">{{ name }}</h5>

{% for artist in artists %}
    <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
        <figure>
            <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt="{{ artist.name }}" class="img-responsive"></a>
        </figure>
        <h2 class="fh5co-article-title"><a href="{{ artist.__link }}">{{ artist.name }}</a></h2>
        <div>
            {% if artist.__tags is defined %}
                {% for tag in artist.__tags %}
                    <a href="{{ tag.__link }}">
                        <span class="badge badge-default">{{ tag.name }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </article>
{% endfor %}
{% if pages|length > 0 %}


    <div class="col-md-12">
        <div class="mx-auto" style="text-align: center; margin-top: {{ random([ 4, 5, 6 , 12]) }}px"><a
                    href="{{ pages[1].url }}">
                <button type="button" style="color: #000" class="btn btn-secondary">Больше</button>
            </a></div>
    </div>

{% endif %}