{% if __youtube is not empty %}
    <section class="col-md-12 row">
        {% for youtube in __youtube %}
            <div class="col-lg-4 col-md-6">
                <h5>{{ youtube.title }}</h5>
                <img src="{{ youtube.src }}"
                     alt="{{ youtube.title }}"
                     class="img-thumbnail img-fluid __modal_trigger"
                     maestro-youtube-id='{{ youtube.id }}'/>
                <p>{{ youtube.description }}</p>
            </div>
        {% endfor %}
    </section>
{% endif %}