<section>
    <h5>{{ name }}</h5>
    <ul class="collection with-header">
        {% for track in tracks %}
            <li class="collection-item">
                {{ loop.index }}.    <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="right" >
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn  lighten-1">next</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>