{% if links is defined %}
<nav>
    <div class="nav-wrapper yellow">
        <div class="nav-wrapper ">
            {% for link in links %}
                <a href="{{ link.uri }}" class="breadcrumb">{{ link.title }}</a>
            {% endfor %}
            <a href="#" class="breadcrumb"> {{ active.title }}</a>
        </div>
    </div>
</nav>
{% endif %}