<section>
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-8">
                <h1 class="text-light">[[seo_h1]]</h1>
            </div>
            <div class="col-4 text-right text-light px-5 align-self-end">
                <p>Всего сериалов: {{ total }}</p>
            </div>

            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 my-2">
                <div class="row">
                    {% for track in tracks %}
                        <div class="col-12">
                            <div class="bg-secondary my-2 border border-light p-3 rounded">
                                <div class="text-light">
                                    <a href="{{ track.__link }}" class="text-light">{{ track.name }}</a>
                                    {% if track.artistName == "" %}
                                        <p>
                                            <small>Unknown</small>
                                        </p>
                                    {% else %}
                                        <p>
                                            <small>{{ track.artistName }}</small>
                                        </p>
                                    {% endif %}
                                </div>
                                <div>
                                    <audio src="{{ track.source_url }}" controls preload="none" class="width-100"></audio>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 justify-content-center py-3">
                                {% include "driver/base/paginate_limit.twig" %}
                            </div>
                            <div class="col-12 justify-content-center py-3">
                                <ul class="pagination pagination-sm">
                                    {% for page in pages %}
                                        {% if page.isCurrent %}
                                            <li class="page-item active">
                                        {% else %}
                                            <li class="page-item">
                                        {% endif %}
                                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 align-self-center px-4 text-light">
                <p class="border border-secondary rounded px-2 py-2">[[seo_text]]</p>
            </div>
        </div>
    </div>
</section>