<div class="col-md-4 col-sm-6 p-3">
    <div class="bg-light shadow p-2 rounded">
        <div class="media-body">
            <p class="text-dark">Сезон {{ season.season }}</p>
            <a href="{{ season.__link }}" class="mt-0 btn btn-dark">Подробнее</a>
        </div>
    </div>
</div>