<div class="container py-5">
    <section class="container-fluid bg-light ">
        <div class="row mt-lg-5 mt-md-5 py-3">
            <div class="col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center">
                <div class="m-3 mb-5">
                    <h3 class="text-dark">{{ name }}</h3>
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                {% for artist in items %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-center py-3">
                        <a href="{{ artist.__link }}">
                            <div class="rounded bg-light px-2 py-3 shadow">
                                <div class="img-container">
                                    <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                                </div>
                                <span class="ml-2">{{ artist.name }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>