<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <link href="https://fonts.googleapis.com/css?family=Lobster|Shrikhand" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    [[seo_meta_schema]]
</head>
<body>
<!-- Preloader -->

<header>
    <nav class="navbar navbar-expand-lg navbar-light text-danger bg-dark fixed-top text-center">
        <span><a class="navbar-brand text-light my-lg-5 my-md-5 mx-lg-4 mx-md-4" href="#">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            [%nav_links%]
        </div>
        </span>
    </nav>
</header>
[[ad_block_top]]
<section>

    <section class="container-fluid main-screen mt-5">
        <div class="row main-text">
            <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 d-flex justify-content-center align-self-center">
                <div>
                    <h1 class="text-light">[[seo_h1]]</h1>
                    {% if __text is not empty %}
                        <div class="text-light">
                            {{ __text | raw }}
                        </div>
                        <br>
                    {% endif %}
                    <div class="text-light">[[seo_text]]</div>
                </div>
            </div>
        </div>
    </section>
    {{ template | raw }}

</section>
[[ad_block_bottom]]
<footer class="container-fluid bg-dark">
    [%cross_links%]
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-3 small">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script>
    jQuery(document).ready(function ($) {

        $(window).on('load', function () {
            $('#preloader').hide('slow', function () {
                $(this).remove();
            });
        });
    });
</script>

<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>