<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">

    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]

    [[seo_meta_schema]]
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:600|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
    [%nav_links%]
</header>
[[ad_block_top]]
<section>
    {{ template | raw }}
</section>

[%cross_links%]
[[ad_block_bottom]]
<div id="preloader">
    <div class="spinner"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script>
    jQuery(document).ready(function ($) {

        $(window).on('load', function () {
            $('#preloader').hide('slow', function () {
                $(this).remove();
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    });
</script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>