<section>
    <h5>{{ name }}</h5>
    <section class="row">
        {% for artist in artists %}
            <div class="card horizontal">
                <div class="card-image">
                    <a href="{{ artist.__link }}"><img width="50px" height="70px" class="card-img-top img-responsive"
                                                       src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <a href="{{ artist.__link }}">{{ artist.name }}</a>
                        <div>
                            {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badge badge-default">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>