{% if __youtube is not empty %}
    <ul class="list-group" style="margin-bottom: 20px">
        {% for youtube in __youtube %}
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ youtube.src }}"
                         alt="{{ youtube.title }}"
                         style="height: 200px"
                         class="img-thumbnail img-fluid __modal_trigger"
                         maestro-youtube-id='{{ youtube.id }}'/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>{{ youtube.title }}</h5>
                        <p>{{ youtube.description }}</p>
                        <span class="btn btn-outline-secondary __modal_trigger"
                              maestro-youtube-id='{{ youtube.id }}'>
                            Смотреть
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endif %}