<hr/>
<section>
    <h2>{{ titleRu }}
        <small>{{ titleEn }}</small>
    </h2>
</section>

<iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
        width="100%" height="700px" allowfullscreen
></iframe>
<hr>

[%tree_items%]


{% if(__prev) %}
    <p class="left">
        <a class="btn--flat" href="{{ __prev }}">Предыдущая серия</a>
    </p>
{% endif %}
{% if(__next) %}
    <p class="right">
    <a class="btn--flat" href="{{ __next }}">Следующая серия</a>
    </p>
{% endif %}
