<hr/>
<section>
    <h2>{{ titleRu }}
        <small>{{ titleEn }}</small>
    </h2>
</section>

<iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
        width="100%" height="700px" allowfullscreen
></iframe>
<hr>
<section>
    {% if __tags is defined %}
        {% for tag in __tags %}
            <a href="{{ tag.__link }}" class="badge badge-default">
                {{ tag.name }}
            </a>
        {% endfor %}
    {% endif %}
</section>
