<section>
    <h2>{{ name }}</h2>
    <div class="container" style="flex-wrap: wrap">
        {% for film in items %}
            <div class="card g--3 m--1">
                <a href="{{ film.__link }}">
                    <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                    <div class="center text-center">{{ film.titleRu }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        {% for page in pages %}
            <a class="" href="{{ page.url }}">
                {% if page.isCurrent %}
                    <button type="button" class="btn--float btn--green">
                        {{ page.num }}
                    </button>
                {% else %}
                    <button type="button" class="btn--float btn--blue">
                        {{ page.num }}
                    </button>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</section>

