{% for type,collection in items %}
    {% if (type == 21) %}

        <h3>Фильмы</h3>
        <section class="container" style="flex-wrap: wrap">
            {% for film in collection %}
                {% include 'driver/video/surface/block/element/film.twig' with {'film':film} %}
            {% endfor %}
        </section>
    {% elseif(type == 13) %}

        <h3>Сериалы</h3>
        <section class="container" style="flex-wrap: wrap">
            {% for seria in collection %}
                {% include 'driver/video/surface/block/element/seria.twig' with {'seria':seria} %}
            {% endfor %}
        </section>
    {% elseif(type == 12) %}

        <h3>Епизоды</h3>
        <section class="container" style="flex-wrap: wrap">
            <div class="g--12 m--1 g-s--12">
                <div style="flex-wrap: wrap; display: flex">
                    {% for episode in collection %}
                        {% include 'driver/video/surface/block/element/episode.twig' with {'episode':episode} %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% elseif(type == 14) %}

        <h3>Сезоны</h3>
        <section class="container" style="flex-wrap: wrap">
            <div class="g--7 m--1 g-s--12">
                {% for season in collection %}
                    {% include 'driver/video/surface/block/element/season.twig' with {'season':season} %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endfor %}

<h3>Смотрите больше</h3>

<section class="container" style="flex-wrap: wrap">
    {% for item in results %}
        <div class="card container g--4 g-s--12">
            <div class="g--5 g-s--12 __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                <img src="{{ item.src }}" class="sur_img" alt="{{ item.title }}" maestro-youtube-id='{{ item.id }}'>
            </div>
            <div class="g--7 g-s--12 col-md-10 __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                {{ item.title }}
            </div>
        </div>
    {% endfor %}
</section>