<section class="container" style="flex-wrap: wrap">
    <div class="g--12">
        <h2>
            Сезон {{ season }}
        </h2>
        <p>
            [[seo_text]]
        </p>
    </div>
    <div class="g--12 m--1 g-s--12">
        <div style="flex-wrap: wrap; display: flex">
            {% for episode in episodes %}
                <div class="g--3 m--1 g-s-12">
                    <div class="card">
                        <b>{{ episode.season }} Сезон / {{ episode.episode }} Епизод</b>
                        <i>{{ episode.titleRu }}</i>
                        <p><a href="{{ episode.__link }}">Смотреть</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="container">
        {% for page in pages %}
            <a class="" href="{{ page.url }}">
                {% if page.isCurrent %}
                    <button type="button" class="btn--float btn--green">
                        {{ page.num }}
                    </button>
                {% else %}
                    <button type="button" class="btn--float btn--blue">
                        {{ page.num }}
                    </button>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</section>