<section class="container" style="flex-wrap: wrap">
    <div class="g--3 g-s--12">
        <h2>
            {{ titleRu }}
        </h2>
        <p>
            <img src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
        </p>
        <a href="{{ imdbUrl }}">
            <span>Imdb {{ imdbRating }}</span>
        </a>
        <a href="{{ kinopoiskUrl }}">
            <span>Kinopoisk {{ kinopoiskRating }}</span>
        </a>
    </div>
    <div class="g--7 m--1 g-s--12">
        {% for index,season in seasons %}
            <div class="card">
                <div><strong>Сезон {{ season.season }}</strong></div>
                <p><a href="{{ season.__link }}">Подробнее</a></p>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        {% for page in pages %}
            <a class="" href="{{ page.url }}">
                {% if page.isCurrent %}
                    <button type="button" class="btn--float btn--green">
                        {{ page.num }}
                    </button>
                {% else %}
                    <button type="button" class="btn--float btn--blue">
                        {{ page.num }}
                    </button>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</section>
<section>
    {% if __tags is defined %}
        {% for tag in __tags %}
            <a href="{{ tag.__link }}" class="badge badge-default">
                {{ tag.name }}
            </a>
        {% endfor %}
    {% endif %}
</section>