<div class="single_service_area">
    <div class="row">
        <div class="col-sm-6">
            <div class="signle_service_left">
                <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"/></a>
            </div>
        </div>
        <div class="col-sm-5 col-sm-push-1">

            <div class="single_service">
                <h3>{{ seria.titleRu }}</h3>
                <div class="separator2"></div>
                <p>
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-success">{{ tag.name }}</span>
                            </a>
                        {% endfor %}

                    {% endif %}
                </p>
                <a href="{{ seria.__link }}" class="btn btn-primary">Перейти</a>

            </div>
        </div>
    </div>
</div>