<div class="container">
    <div class="row">
        <div class="col">
                {% for link in links %}
                    <a class="badge badge-light" href="{{ link.link }}">{{ link.name }}</a>
                {% endfor %}
        </div>
    </div>
</div>
