<div class="container" id="portfolio" style="margin-top: 75px">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ name }}</h2>
        </div>
    </div>
    <div class="row">
        {% for film in films %}
            <div class="col-md-3 col-sm-6 item-portfolio-block">
                <a class="portfolio-link" href="{{ film.__link }}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ film.photo }}" alt="{{ film.titleRu }}" style="width: 100%">
                </a>
                <div class="portfolio-caption">
                    <a href="{{ film.__link }}">{{ film.titleRu }}</a>
                    <p>
                        {% if film.__tags is defined %}
                            {% for tag in film.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-success">{{ tag.name }}</span>
                                </a>
                            {% endfor %}

                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-info">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</div>