<select onchange="location = this.value;" class="btn btn-info">
    {% for link in links %}
        {% if link.__link == __link %}
            <option value="{{ link.__link }}" selected>
                {{ link.name }}
            </option>
        {% else %}
            <option value="{{ link.__link }}">
                {{ link.name }}
            </option>
        {% endif %}
    {% endfor %}
</select>
