<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
    {% for track in tracks %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-4@m uk-animation-slide-top-small">
            <h3 class="uk-card-title">{{ track.name }}</h3>
            <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
            <p>
                <a href="{{ track.__link }}" class="uk-button uk-button-default">Перейти</a>
            </p>
        </div>
    {% endfor %}
    {% if pages|length > 0 %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
            <a href="{{ pages[1].url }}">
                <button type="button" class="uk-button uk-button-default">Больше</button>
            </a>
        </div>
    {% endif %}
</div>