<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
    {% for artist in artists %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m uk-animation-slide-top-small">
            <img data-src="{{ artist.photo }}" width="" height="" alt="{{ artist.name }}" uk-img>
            <h3 class="uk-card-title">{{ artist.name }}</h3>
            <p>
                <a href="{{ artist.__link }}" class="uk-button uk-button-default">Перейти</a>
            </p>
            <div>
                {% if artist.__tags is defined %}
                    {% for tag in artist.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="uk-label">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if pages|length > 0 %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
            <a href="{{ pages[1].url }}">
                <button type="button" class="uk-button uk-button-default">Больше</button>
            </a>
        </div>
    {% endif %}
</div>