<section>
    <h5>{{ name }}</h5>
    <section class="row">
        {% for artist in artists %}
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top img-raised rounded img-fluid" src="{{ artist.photo }}"
                         alt="{{ artist.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ artist.name }}</h5>
                        <a href="{{ artist.__link }}" class="btn btn-block btn-inverse">Перейти</a>
                        <div>
                            {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badge badge-default">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-block btn-info">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>