<ul class="pager">
    {% for link in links %}
        <li class="next">
            <a href="{{ link.uri }}">
                <span>{{ link.title }}</span>
                <span class="fui-arrow-right"></span>
            </a>
        </li>
    {% endfor %}
    <li class="previous">
        <span>{{ active.title }}</span>
    </li>
</ul>