<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">


        <h3 class="agile_w3_title hor-t">Топ {{ total }} фильмов</h3>


        <div class="wthree_agile-requested-movies tv-movies">

            {% for film in films %}

                <div class="col-md-2 w3l-movie-gride-agile requested-movies">
                    <a href="{{ film.__link }}" class="hvr-sweep-to-bottom"><img src="{{ film.photo }}" title="{{ film.titleRu }}" class="img-responsive" alt=" ">
                        <div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1 agileits_w3layouts_mid_1_home" style="height: 100px;">
                        <div class="w3l-movie-text">
                            <a href="{{ film.__link }}">{{ film.titleRu }}</a>
                        </div>
                        <div class="mid-2 agile_mid_2_home">
                            <div class="block-stars">
                                <div>
                                    {% if film.__tags is defined %}
                                        {% for tag in film.__tags %}
                                            <a href="{{ tag.__link }}" class="badge badge-default">
                                                {{ tag.name }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <ul class="w3l-ratings">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="{{ random(['fa fa-star-o', 'fa fa-star-half-o', 'fa fa-star']) }}" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            <div class="clearfix"></div>
        </div>
        <!--//tv-movies-->

        <div class="blog-pagenat-wthree">
            <ul>
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li>
                            <a class="page-link" href="{{ page.url }}" style="background: black; color: #fff;">{{ page.num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
            <!--//movies-->
        </div>

    </div>
</div>