<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">

    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            background: radial-gradient(#202020 15%, transparent 16%) 0 0,
            radial-gradient(#1d1d1d 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
            background-color: #282828;
            background-size: 16px 16px;
        }

        h1 {
            border-left: 5px solid rgba(245, 241, 63, 0.9);
            border-right: 5px solid rgba(245, 241, 63, 0.9);
            color: #dadada;
            border-radius: 5px;
            text-align: center;
            padding: 5vh 3vw;
            width: 50%;
        }

        h1 + p {
            color: rgb(245, 241, 63);
        }

        .btn-dark {
            background-color: rgb(245, 241, 63);
            color: #282828;
        }

        .item-deco {
            border: 3px solid #dddddd;
            background-color: rgba(255, 242, 242, 0.3);
            border-radius: 5px;
            color: #fff2f2;
        }

        .item-deco-2 {
            border: 3px solid #696969;
            background-color: rgba(93, 88, 88, 0.3);
            border-radius: 5px;
            color: #fff2f2;
        }

        img {
            max-width: 200px;
            margin: 10px;
            border: 1px solid #3e3e3e;
        }

        .cont_breadcrumbs_2 {
            /*position: relative;*/
            /*width: 100%;*/
            /*float: left;*/
            margin: 20px 20px;
            text-align: center;
        }

        .cont_breadcrumbs_2 > ul > li {
            position: relative;
            float: left;
            transform: skewX(-15deg);
            background-color: #fff;
            box-shadow: -2px 0px 20px -6px rgba(0,0,0,0.5);
            z-index: 1;
            transition: all 0.5s;
        }

        .cont_breadcrumbs_2 > ul > li:hover {
            background-color: #CFD8DC;
        }

        .cont_breadcrumbs_2 > ul > li  > a {
            display: block;
            padding: 10px;
            font-size: 12px;
            transform: skewX(15deg);
            text-decoration:none;
            color: #444;
            font-weight: 300;
        }

        .items {
            display: flex;
            overflow-x: scroll;
        }
    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
        <a class="navbar-brand text-center" href="/">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            [%nav_links%]
        </div>
    </div>
</nav>
[[ad_block_top]]
<!-- Page Content -->
<div class="container-fluid head-form mb-5">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-6 align-self-center">
            <h1 class="my-5 py-3 text-light">[[seo_h1]]</h1>
        </div>

    </div>
</div>

<!-- Page Content -->
<div class="container-fluid">

    {{ template | raw }}

    {% if __text is not empty %}
        <div class="col-md-12 ml-2 mr-2 mt-5 mb-5 text-light">{{ __text | raw }}</div>
    {% endif %}


    <div class="col-md-12 ml-2 mr-2 mt-5 mb-5 text-light">
        [[seo_text]]
    </div>
</div>

<footer class="container-fluid bg-light">
    [%cross_links%]
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-1 small">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
