<div class="section pt-5 pb-2 mt-5">
    <div class="container">
        [%breadcrumbs%]
    </div>
</div>

<div class="section pt-5 pb-2 mt-5">
    <div class="container">
        <div class="card-body">
            <h5 class="card-title">{{ name }}
                <small>{{ artistName }}</small>
            </h5>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12 mb-2">
                        <div class="sermon element-animate">
                            <div class="row" style="line-height: 40px; height: 50px;">
                                <div class="col-md-10">
                                    <audio id="player2" preload="none" controls style="max-width: 100%">
                                        <source src="{{ url }}" type="audio/mp3">
                                    </audio>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-outline-secondary" style="padding: 5px 20px;" href="{{ url }}"
                                       download="{{ name }}.mp3">Скачать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-success">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
        <div class="card-footer-block text-muted">
            Сейчас слушают {{ totalListeners }} человека |
            Всего скачали {{ totalDownloads }} раз |
            Прослушали {{ totalListening }} раз
        </div>
        <div>
            {% if __relations is defined %}
                {% for relation in __relations %}
                    <a href="{{ relation.__link }}">{{ relation.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>