{% if links is defined %}
    <div class="container bread">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                {% for link in links %}
                    <a href="{{ link.uri }}">{{ link.title }}</a>
                    <span class="text-light">&#8227</span>
                {% endfor %}
                <p class="text-secondary">{{ active.title }}</p>
            </div>
        </div>
    </div>
{% endif %}
