<section class="container-fluid">
    <div class="row">
        <div class="row col-12">
            {% for seria in series %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pt-4">
                    <a href="{{ seria.__link }}">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                    </a>
                    <a href="{{ seria.__link }}">
                        <h6 class="text-center text-light pt-3">{{ seria.titleRu }}</h6>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        {% if pages|length > 0 %}
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 mt-3">
                <a href="{{ pages[1].url }}" class="text-center btn btn-secondary">
                    больше</a>
            </div>
        {% endif %}
    </div>
</section>