{% for artist in artists %}
    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 p-1 d-flex justify-content-center">
        <a href="{{ artist.__link }}">
            <div class="artist-name">
                <p>{{ artist.name }}</p>
            </div>
            <div class="artist-photo">
                <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
            </div>
        </a>
    </div>
{% endfor %}