<div class="row main-screen mt-5">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 justify-content-center
                    mt-3 order-lg-2 order-md-2 second-screen">
            <h3 class="text-center">Лучшие песни</h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12
                    order-sm-2 order-xs-2 order-lg-1 order-md-1 my-3">
        {% for track in tracks %}
            <div class="col-12">
                <div>
                    <a href="{{ track.__link }}">{{ track.name }}</a>
                    {% if track.artistName == "" %}
                        <p>
                            <small>Unknown</small>
                        </p>
                    {% else %}
                        <p>
                            <small>{{ track.artistName }}</small>
                        </p>
                    {% endif %}
                </div>
                <div>
                    <audio src="{{ track.source_url }}" controls preload="none" class="block-width-30"></audio>
                </div>
            </div>
        {% endfor %}
        {% if pages|length > 0 %}
            <div class="col-12 d-flex justify-content-center mt-1">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn creative-btn my-4">Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>