<section class="container-fluid screen-height">
    <div class="container screen-height block-width-70 third-screen">
        <div class="row pt-5">
            <div class="col-12">
                [%breadcrumbs%]
            </div>
        </div>
        <div class="row description-block d-flex justify-content-center py-3">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center">
                <img src="{{ photo }}" alt="{{ name }}"/>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="h1-style-3 pb-3 pt-3">[[seo_h1]]</h1>
                    <hr>
                    <p class="p-1">[[seo_text]]</p>
                </div>
            </div>
        </div>
        <div class="row pl-lg-5 pl-md-5 pt-3">
            {% for track in tracks %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 py-2">
                    <div class="list-link">
                        <a href="{{ track.__link }}">{{ track.name }}</a>
                    </div>
                    <audio src="{{ track.source_url }}" controls preload="none"></audio>
                </div>
            {% endfor %}
        </div>
    </div>
</section>