<section class="container-fluid screen-height">
    <div class="container screen-height block-width-70 third-screen">
        <div class="row pt-5">
            <div class="col-12">
                [%breadcrumbs%]
            </div>
        </div>
        <div class="row description-block d-flex justify-content-center py-3">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center">
                <img src="{{ photo }}" alt="{{ name }}"/>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="h1-style-3 pb-3 pt-3">[[seo_h1]]</h1>
                    <div>
                        <strong>Всего альбомов {{ totalAlbums }}</strong>
                    </div>
                    <div>
                        <strong>Всего треков {{ totalSongs }}</strong>
                    </div>
                    <div>
                        {% if __tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-light">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                    <p class="p-1">[[seo_text]]</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center pt-5">
            {% for album in albums %}
                <div class="row col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-1 d-flex py-2 border-style">
                    <div class="col-12 list-link">
                        <a href="{{ album.__link }}"><p>{{ album.name }}</p></a>
                    </div>
                    <div class="col-12 artist-img">
                        <a href="{{ album.__link }}">
                            <img src="{{ album.photo }}" alt="{{ album.name }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>