<section class="container-fluid screen-height">
<div class="container screen-height block-width-60 third-screen">
    <div class="row d-flex justify-content-center pt-5">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p>{{ name }}</p>
            <img src="{{ photo }}" alt="{{ name }}"/>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 py-5 ml-2">
            <h1 class="h1-style-3 pb-3">[[seo_h1]]</h1>
            <p class="p-5">[[seo_text]]</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center pt-5">
        {% for artist in items %}
            <div class="row col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-1 d-flex py-2 border-style">
                <div class="col-12 list-link">
                    <a href="{{ artist.__link }}"><h4>{{ artist.name }}</h4></a>
                </div>
                <div class="col-12">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-12 artist-img">
                    <a href="{{ artist.__link }}">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</section>