<section class="container-fluid mt-5 mt-5 pt-5 pt-5 screen-height">
    <div class="container screen-height">
        <div class="row block-height-30 block-width-70 d-flex align-items-center">
            <div class="col-12 d-flex justify-content-center">
                <div class="main-text">
                    <h1 class="display-3">[[seo_h1]]</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container block-width-60 py-5">
        <div class="row block-height-60 d-flex justify-content-center seo-text-bg align-items-center">
            <div class="col-10">
                <div class="border-style"><p class="text-center">[[seo_text]]</p></div>
            </div>
        </div>
    </div>
    <section class="container-fluid py-5">
        <div class="row block-height-60 d-flex justify-content-center align-items-center seo-text-bg">
            <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-2">
                    <h4 class="main-text py-5">Топ песен</h4>
                </div>
                [%audio_tracks_list%]
            </div>
            <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="main-text py-5">Топ исполнителей</h4>
                </div>
                [%audio_artists_list%]
            </div>
        </div>
    </section>
</section>