<section class="container">
    <div class="row">
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12">
                <div>
                    <img src="{{ item.src }}" class="img-fluid __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                    <span class="text-light">{{ item.title }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>