<section class="container-fluid screen-height">
    <div class="container screen-height block-width-70 third-screen">
        <div class="row pt-5">
            <div class="col-12">
                [%breadcrumbs%]
            </div>
        </div>
        <div class="row block-height-30 description-block pb-5">
            <div class="col-12">
                <h3 class="text-light py-2">[[seo_h1]]</h3>
                <ul class="text-secondary">
                    <li><small>Сейчас слушают: {{ totalListeners }}</small></li>
                    <li><small>Всего прослушано: {{ totalListening }}</small></li>
                    <li><small>Скачано: {{ totalDownloads }}</small></li>
                </ul>
                <div>
                    <a href="{{ source_url }}" download="{{ name }}" type="button" class="dwnl-btn">
                        Скачать
                    </a>
                </div>
                <hr>
                <p class="p-5">[[seo_text]]</p>
            </div>
            <div class="row col-8 d-flex align-self-center">
                <div class="col-12">
                    <p>{{ name }}</p>
                </div>
                <div class="col-12">
                    <audio src="{{ source_url }}" controls preload="none" class="audio-width"></audio>
                </div>
            </div>
        </div>
    </div>
</section>