<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
</head>
<body>
[%nav_links%]
[[ad_block_top]]
<div class="uk-section uk-section-primary">
    <div class="uk-container uk-container-small">
        <h1>[[seo_h1]]</h1>
    </div>
</div>
<section>
    {{ template | raw }}
</section>
{% if __text is not empty %}
    <section>{{ __text | raw }}</section>
{% endif %}
<section>
    [[seo_text]]
</section>
[[ad_block_bottom]]
<footer class="uk-background-muted uk-padding uk-panel">
    [%cross_links%]
    <div class="uk-text-center">
        <p class="uk-h4">Copyright &copy; {{ domain }}</p>
    </div>
</footer>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>