<div class="col-md-4 col-sm-6">
    <div class="media media-custom  tile tile-hot">
        <div class="media-body">
            <a href="{{ season.__link }}" class="mt-0">Подробнее</a>
            <p class="post-meta">{{ season.name }} // Сезон {{ season.season }}</p>
        </div>
    </div>
</div>