<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    [[seo_geo]]

    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]

    [[seo_meta_schema]]

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">{{domain}}</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        [%nav_links%]
    </div>
</nav>
<header class="masthead" style="margin-top: 70px">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
    </div>
</header>
[[ad_block_top]]
<div>
    {{ template | raw}}
</div>
{% if __text is not empty %}
    <div>{{ __text | raw }}</div>
{% endif %}
<div>
    [[seo_text]]
</div>
[[ad_block_bottom]]
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
    </div>
    <div class="container center">
        <div class="row justify-content-center">
            <a class="nav-link js-scroll-trigger" href="/">{{domain}}</a>
        </div>
    </div>
</footer>
<script src="/js/index.js"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>