<section>
    <h4 class="title is-4">Топ {{ total }} исполнителей</h4>

    <div class="columns" style="flex-wrap: wrap">
        {% for index,artist in artists %}
            <div class="column is-2">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}" style="object-fit: cover">
                        </figure>
                    </div>
                    <div class="card-content">
                        <a href="{{ artist.__link }}">{{ artist.name }}</a>
                    </div>
                    <div class="content">
                        {% if artist.__tags is defined %}
                            {% for tag in artist.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="tag is-dark">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% for page in pages %}
                <li>
                    <a class="pagination-link {% if page.isCurrent %}is-current{% endif %}" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>