<section>
    <h4 class="title is-4">Топ {{ total }} исполнителей</h4>

    <div class="box content">
    {% for track in tracks %}
        <article class="post" style="margin: 1rem;padding-bottom: 1rem;border-bottom: 1px solid #E6EAEE;">
            <h5 class="title is-5"><a href="{{ track.__link }}">{{ track.name }}</a></h5>
            <div class="media">
                <div class="media-content">
                    <div class="columns">
                        <div class="column is-10" style="padding-top: 30px">
                            <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                        </div>
                        <div class="column is-2">
                            <a class="button is-primary is-outlined" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% for page in pages %}
                <li>
                    <a class="pagination-link {% if page.isCurrent %}is-current{% endif %}" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>