<section class="container-fluid pt-5 mt-5">
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-lg-center text-md-center
                        text-sm-left text-xs-left">
                <h1 class="pb-3">[[seo_h1]]</h1>
                <p class="my-5 p-3">[[seo_text]]</p>
            </div>
        </div>
    </section>
    <section class="container-fluid all-content pt-5">
        <div class="row">
            <div class="col-12">
                <h5 class="text-dark">Всего сериалов <span class="text-danger">{{ total }}</span></h5>
            </div>
            {% for seria in series %}
                <div class="row col-md-6">
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 my-3">
                        <div class="img-cont">
                            <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 my-3">
                        <div class="text-container">
                            <a href="{{ seria.__link }}"><p>{{ seria.titleRu }}</p></a>
                            <em class="mx-3"><i class="fas fa-star"></i> {{ seria.imdbRating }}/10</em>
                            <div class="py-1 mx-3">{% if seria.__tags is defined %}
                                    {% for tag in seria.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-pill badge-danger">
                                            {{ tag.name }}
                                        </a>
                                    {% endfor %}
                                {% endif %}</div>
                            <a href="{{ seria.__link }}" class="btn btn-info btn-sm mt-2 mx-3">
                                Просмотр
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center py-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>