<section style="display: flex; height: 55px; overflow-x: auto; overflow-y: hidden ">
    {% for link in links %}
        {% if link.__link == __link %}
            <button type="button" class="btn btn-dark">{{ link.name }}</button>
        {% else %}
            <a href="{{ link.__link }}" style="margin: 0 1px" title="{{ link.name }}">
                <button type="button" class="btn btn-secondary">{{ link.name }}</button>
            </a>
        {% endif %}
    {% endfor %}
</section>