<section class="row">
    {% for seria in series %}
        <div class="col-lg-4 col-md-4 col-sm-6 films-row" style="margin-bottom: 30px;">
            <a href="{{ seria.__link }}">
                <img class="card-img-top" src="{{ seria.photo }}" alt="">
            </a>
            <div class="card-body">
                <a href="{{ seria.__link }}" class="card-title">{{ seria.titleRu }}</a>
                <div style="height:25px;">
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge red">{{ tag.name }}</span>
                            </a>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>
