<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    [[seo_geo]]

    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    [[seo_meta_tags]]
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">{{ domain }}</h5>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span style="color: white"></span>
    </nav>
</div>
[[ad_block_top]]
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
    </div>
</header>
<div class="container" style="margin-top: 60px">
    <div class="row">
        <div class="col">
            {{ template | raw }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            [[seo_text]]
        </div>
    </div>
</div>
[[ad_block_bottom]]
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{ domain }} 2018</p>
    </div>
    <!-- /.container -->
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>