header.masthead {
    text-align: center;
    color: #000000;
    background: linear-gradient(rgba(56, 60, 67, 0.49), #fff) no-repeat scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}