<div class="col-md-4 col-sm-6 mb-2">
    <div class="bg-light p-1 text-dark shadow rounded">
        <h4 class="">{{ episode.titleRu }}</h4>
        <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
        <a href="{{ episode.__link }}" class="btn btn-block btn-dark">
            Смотреть
        </a>
    </div>
</div>