{% for artist in artists %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-center py-3">
        <a href="{{ artist.__link }}">
            <div class="rounded bg-light px-2 py-3 shadow">
                <div class="img-container">
                    <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                </div>
                <span class="ml-2">{{ artist.name }}</span>
            </div>
        </a>
    </div>
{% endfor %}
{% if pages|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="my-5 p-3 stylized-border text-light" style="margin: 0 auto">
                <a href="{{ pages[1].url }}" class="btn btn-light">Ещё</a></div>
        </div>
    </div>
{% endif %}