<section>
    <div class="row">
        <h5>{{ name }}</h5>
        <ul class="collection">
            {% for track in tracks %}
                <li class="collection-item">
                    <div>
                        <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                    </div>
                    <div>
                    <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if pages|length > 0 %}
        <div class="row">
            <div class="mx-auto center-align" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-secondary">Больше</button>
                </a></div>
        </div>
    {% endif %}
</section>