<section>
    <div class="row">
        <h5>{{ name }}</h5>
        {% for artist in artists %}
        <div class="col s3 m3">
            <div class="card">
                <div class="card-image">
                    <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                    <span class="card-title">{{ artist.name }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ artist.__link }}">Перейти</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div class="row">
            <div class="mx-auto center-align" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-secondary">Больше</button>
                </a></div>
        </div>
    {% endif %}
</section>