<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            {% for link in links %}
                <a href="{{ link.uri }}" class="breadcrumb">{{ link.title }}</a>
            {% endfor %}
            <a href="" class="breadcrumb active">{{ active.title }}</a>
        </div>
    </div>
</nav>