body {
    background-color: #d4d4d4;
}

section {
    min-height: 100vh;
}

.img-bg {
    background: linear-gradient(rgba(34, 35, 35, 0.66), rgba(51, 51, 51, 0.73)), url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.img-box {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.img-box a img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.page-item.active .page-link {
    color: #fff2f2;
    background-color: #292929;
    border: 1px solid #292929;
}

.page-item .page-link {
    color: #292929;
    background-color: #fff2f2;
}

.page-item .page-link:hover {
    background-color: #a69e9e;
}