{% for artist in artists %}
    <div class="col-6 d-flex align-items-center py-3">
    <div class="img-container">
        <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
    </div>
        <span class="ml-2"><a href="{{ artist.__link }}">{{ artist.name }}</a></span>
    </div>
    <hr>
{% endfor %}