{% for track in tracks %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
        <a href="{{ track.__link }}">{{ track.name }}</a>
    <div>
        <audio src="{{ track.source_url }}" controls preload="none" class="audio-width"></audio>
    </div>
    </div>
{% endfor %}
{% if pages|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                <a href="{{ pages[1].url }}">Ещё</a></div>
        </div>
    </div>
{% endif %}