<section class="container-fluid light-first-box">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-12">
            <p class="text-light pl-2 ml-2 mt-5">[[seo_text]]</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% for film in films %}
            <div class="row col-lg-3 col-md-3 col-sm-6 col-xs-6 pt-1 d-flex py-2">
                <div class="col-12">
                    <a href="{{ film.__link }}"><h3>{{ film.titleRu }}</h3></a>
                </div>
                <div class="col-12">
                    <a href="{{ film.__link }}">
                        <div class="imger">
                            <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        </div>
                    </a>
                </div>
                <div class="col-12">
                    {% if film.__tags is defined %}
                        {% for tag in film.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-danger">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>