<div class="uk-grid uk-child-width-1-{{ __rows }}@m uk-child-width-1-1@s" uk-grid="masonry: true; parallax: 150">
    {% for article in news %}
        {% include 'driver/news/1/block/element/article.item.twig' %}
    {% endfor %}
</div>