<div class="col-md-3 col-sm-6 mb-3">
    <div class="bg-dark rounded px-2 py-3 shadow">
        <a href="{{ seria.__link }}">
            <div class="item">
                <img data-src="{{ seria.photo }}"
                     src="{{ seria.photo }}"
                     alt="" width="200" height="300">
                <p class="text-light">
                    <span>{{ seria.titleRu }}</span>
                    <em><i class="zmdi zmdi-star-circle"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                </p>
            </div>
            <div class="link">
                <i class="zmdi zmdi-play-circle"></i>
            </div>
        </a>
        <div>
            {% if seria.__tags is defined %}
                {% for tag in seria.__tags %}
                    <a href="{{ tag.__link }}">
                        <span class="badge badge-light">{{ tag.name }}</span>
                    </a>
                {% endfor %}

            {% endif %}
        </div>
    </div>
</div>