<div class="container">
    <div class="mt-5 offset-lg-2 offset-md-2 offset-sm-0 offset-xs-0 ml-sm-3 ml-xs-3">
        <img src="{{ photo }}" class="artists-img border border-secondary border-rounded mt-2 mb-4 shadow">
        <h1>[[seo_h1]]</h1>
        <strong class="text-warning ml-1">{{ name }}</strong>
        {% if __text is not empty %}
            <p>{{ __text | raw }}</p>
        {% endif %}
        <p>[[seo_text]]</p>
    </div>
    <div class="row mt-5">
        {% for artist in items %}
            <div class="d-flex col-lg-4 col-md-4 col-sm-10 col-xs-12 justify-content-center">
                <div>
                    <a href="{{ artist.__link }}">{{ artist.name }}</a>
                    <div>
                        <a href="{{ artist.__link }}">
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}"
                                 class="artists-img border border-secondary border-rounded mt-2 mb-4 shadow"/></a>
                    </div>
                    <div class="tag-block">
                        {% if artist.__tags is defined %}
                            {% for tag in artist.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>