<div class="container">
    <div class="row align-items-center bigbox text-center">
        <div class="col align-self-center">
            [%audio_tracks_list#5%]
        </div>
    </div>
</div>
</div>