<div class="container-fluid art-style border border-secondary shadow">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            [%breadcrumbs%]
        </div>
    </div>
</div>
<div class="container">
    <div class="row midbox">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="row border border-secondary rounded shadow">
                <div class="col-md-10">
                    <h1>[[seo_h1]]</h1>
                    {% if __text is not empty %}
                        <p class="mt-lg-4 mt-md-4">{{ __text | raw }}</p>
                    {% endif %}
                    <p class="mt-lg-4 mt-md-4">[[seo_text]]</p>
                </div>

            </div>
            <div class="row border border-secondary rounded shadow">
                <div class="col-md-10">
                    <div>
                <span class="mt-1">
                    {{ name }} - {{ duration | date('i:s', '+00:00 GMT') }}
                </span>
                        <p class="small">{{ artistName }}</p>
                    </div>
                    <span>
        <audio src="{{ url }}" controls="controls" preload="none" value="1.0"></audio>
                </span>
                </div>
                <div class="col-md-1 align-self-end mb-2">
                    <a href="{{ url }}" download="{{ name }}" class="btn btn-success">
                        Скачать
                    </a>
                </div>
                <div class=" col-md-12 card-footer text-dark small">
                    Сейчас слушают {{ totalListeners }} |
                    Всего скачали {{ totalDownloads }} раз |
                    Прослушали {{ totalListening }} раз
                </div>
                <div class="col-md-12">
                    {% if __relations is defined %}
                        {% for relation in __relations %}
                            <a href="{{ relation.__link }}">{{ relation.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
[%youtube_adding%]