<section class="container-fluid light-first-box first-block-height-30">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 py-5 align-self-center">
            {% if __text is not empty %}
                <p class="list-seo pl-2 ml-2">{{ __text | raw }}</p>
            {% endif %}
            <p class="list-seo pl-2 ml-2">[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid hei-75">
    <div class="row pt-5 mt-5">
        <div class="col-12">
            <div class="text-center text-light my-2">
                <h5>{{ titleRu }}</h5>
                <small class="text-secondary">{{ titleEn }}</small>
                <div class="col-12 text-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-danger">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                                width="100%" height="700px" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
[%youtube_adding%]