<section class="container-fluid light-first-box">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4 class="text-uppercase text-center text-light bg-dark mt-5">лучшие сериалы</h4>
            [%tv_series_list#6%]
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
                <p class="mt-2 pt-5">[[seo_text]]</p>
            </div>
            <h4 class="text-uppercase text-center text-light bg-dark">лучшие фильмы</h4>
            [%movies_list#6%]
        </div>
    </div>
</section>