<section class="container-fluid light-first-box first-block-height-30">
    <h1 class="display-4 pl-5">[[seo_h1]]</h1>
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row d-flex justify-content-center head">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 align-self-start text-light">
            <ul class="border border-light py-3">
                <li>{% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-danger">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}</li>
            </ul>
            {% if __text is not empty %}
                <p class="list-seo pl-2 ml-2">{{ __text | raw }}</p>
            {% endif %}
            <p class="list-seo pl-2 ml-2">[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row pt-5 mt-5">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row justify-content-start">
                    {% for index,episode in episodes %}
                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 text-center my-1">
                            <a href="{{ episode.__link }}" class="pt-2">
                                <p class="py-3">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</p>
                            </a>
                        </div>
                    {% endfor %}
                    <section class="container">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center py-3">
                                {% include "driver/base/paginate_limit.twig" %}
                            </div>
                            <div class="col-12 d-flex justify-content-center py-3">
                                <ul class="pagination">
                                    {% for page in pages %}
                                        {% if page.isCurrent %}
                                            <li class="page-item active">
                                        {% else %}
                                            <li class="page-item">
                                        {% endif %}
                                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <section class="container-fluid mt-5">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>