{% for film in films %}
    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 p-1 d-flex justify-content-center">
        <a href="{{ film.__link }}">
            <div class="textilla">
                <p>{{ film.titleRu }}</p>
            </div>
            <div class="photozavr">
                <img src="{{ film.photo }}" alt="{{ film.titleRu }}"/>
            </div>
        </a>
    </div>
{% endfor %}