<div class="row main-screen mt-5">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 justify-content-center
                    mt-3 order-lg-2 order-md-2 second-screen">
            <h3 class="text-center">Лучшие сериалы</h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12
                    order-sm-2 order-xs-2 order-lg-1 order-md-1 my-3">
        <section class="container-fluid">
            <div class="row d-flex justify-content-center">
        {% for seria in series %}
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 p-1 d-flex justify-content-center">
                <a href="{{ seria.__link }}">
                    <div class="textilla">
                        <p>{{ seria.titleRu }}</p>
                    </div>
                    <div class="photozavr">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"/>
                    </div>
                </a>
            </div>
        {% endfor %}
            </div>
        </section>
        {% if pages|length > 0 %}
            <div class="col-12 d-flex justify-content-center mt-1">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn creative-btn my-4">Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>