<section>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-top align-self-xs-top">
                <h1 class="text-right">[[seo_h1]]</h1>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-12 mb-4 text-center">
            [%breadcrumbs%]
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 my-2">
            <img src="{{ photo }}" alt="{{ name }}">
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 my-2 bg-light cont-cont text-center">
            <h5 class="mt-3">{{ name }}</h5>
            <hr>
            <div class="text-dark"><span class="text-primary">{{ totalAlbums }}</span> альбомов</div>
            <div class="text-dark"><span class="text-primary">{{ totalSongs }}</span> треков</div>
            <div class="text-dark"><span class="text-primary">{{ listeners }}</span> слушают</div>
            <div>{% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-secondary">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}</div>
        </div>
        <div class="col-12 my-4 text-center">
            <div class="row d-flex justify-content-center">
                {% for album in albums %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-2
                                    d-flex justify-content-center">
                        <div>
                            <div class="text-center">
                                <a href="{{ album.__link }}" class="text-center text-light">{{ album.name }}</a>
                            </div>
                            <a href="{{ album.__link }}">
                                <div class="project-img">
                                    <img src="{{ album.photo }}" alt="{{ album.name }}"/>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 py-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 py-3">
                    <ul class="pagination pagination-sm">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <p class="border border-light my-2 p-3 text-light">[[seo_text]]</p>
    </div>
</section>