<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-top align-self-xs-top">
                <h1 class="mb-4">[[seo_h1]]</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary my-2 border border-light p-3 rounded">
                <div class="text-light">
                    <a href="{{ __link }}" class="text-light">{{ name }}</a>
                    {% if artistName == "" %}
                        <p>
                            <small>Unknown</small>
                        </p>
                    {% else %}
                        <p>
                            <small>{{ artistName }}</small>
                        </p>
                    {% endif %}
                </div>
                <div>
                    <audio src="{{ source_url }}" controls preload="none" class="width-100"></audio>
                </div>
                <a href="{{ url }}" download="{{ name }}" class="btn btn-outline-light my-4 mx-1">
                    Скачать
                </a>
                {% if __relations is defined %}
                    {% for relation in __relations %}
                        <a href="{{ relation.__link }}" class="btn btn-outline-dark text-right my-4 mx-1">
                                Текст
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 mb-4 my-3">
            [%breadcrumbs%]
        </div>
        <div class="col-12 text-center mb-2">
            <h5 class="text-light"><strong>{{ name }}</strong></h5>
            <small class="bg-light p-2">Всего прослушано <span class="text-primary">{{ totalListeners }}</span></small>
            <small class="bg-light p-2">Всего слушают <span class="text-primary">{{ totalListening }}</span></small>
            <small class="bg-light p-2">Всего скачно <span class="text-primary">{{ totalDownloads }}</span></small>
            <div class="my-2">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-secondary">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 text-center">
            <p class="border border-light my-2 p-3 text-light">[[seo_text]]</p>
        </div>
    </div>
</section>