<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-light mx-2 py-5">[[seo_h1]]</h1>
            <h4 class="mx-2 text-secondary">Всего фильмов: <span class="text-light bg-gaze">{{ total }}</span></h4>
        </div>
        {% for film in films %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 my-2">
                <div class="img">
                    <a href="{{ film.__link }}">
                    <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                    </a>
                </div>
                <div class="text-center text-light bg-gaze">
                    <em><i class="fas fa-star py-1"></i> <b>{{ film.imdbRating }}</b>/10</em>
                    <a href="{{ film.__link }}" class="text-light">
                    <p class="py-2 px-1">{{ film.titleRu }}</p>
                    </a>
                    <div class="col-12 text-center pb-2">
                        {% if film.__tags is defined %}
                            {% for tag in film.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-pill badge-secondary">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</section>