<div class="col-md-4 col-sm-6 mb-2">
    <div class="sermon-block element-animate fadeInUp element-animated">
        <div class="sermon-block-text">
            <a href="{{ episode.__link }}">Смотреть</a>
            <h3>{{ episode.titleRu }}</h3>
            <p class="sermon-block-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
        </div>
    </div>
</div>