<div class="col-md-6 col-lg-4 mb-4 element-animate">
    <div class="media custom-media">
        <a href="{{ film.__link }}"><img class="mr-3" width="30" src="{{ film.photo }}" alt="{{ film.titleRu }}"></a>
        <div class="media-body">
            <a href="{{ film.__link }}" class="mt-0">{{ film.titleRu }}</a>
        </div>
    </div>
    <div class="mt-1">
        {% if film.__tags is defined %}
            {% for tag in film.__tags %}
                <a href="{{ tag.__link }}">
                    <span class="badge success-badge">{{ tag.name }}</span>
                </a>
            {% endfor %}

        {% endif %}
    </div>
</div>