audio {
    margin: 0 auto;
    display: inline-block;
}
.items {
    display: flex;
    height: 55px;
    overflow-x: auto;
    overflow-y: hidden;
}

.items::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.items::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
