    <section id="service" class="service sections lightbg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1 class="h4">{{ name }}</h1>
                </div>

                <div class="main_service_area">
                    {% for index,artist in artists %}
                    <div class="single_service_area">
                        <div class="row">
                            {% if index is odd %}<div class="col-sm-6 col-sm-push-6">{% else %}<div class="col-sm-6">{% endif %}
                                    <div class="signle_service_left">
                                        <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                                    </div>
                                </div>
                                {% if index is odd %}<div class="col-sm-5 col-sm-pull-6">{% else %}<div class="col-sm-5 col-sm-push-1">{% endif %}

                                    <div class="single_service">
                                        <h3>{{ artist.name }}</h3>
                                        <div class="separator2"></div>
                                        <a href="{{ artist.__link }}" class="btn btn-primary">Перейти</a>
                                        <div class="separator2"></div>
                                        <div>
                                            {% if artist.__tags is defined %}
                                                {% for tag in artist.__tags %}
                                                    <a href="{{ tag.__link }}">
                                                        <span class="tag is-dark">{{ tag.name }}</span>
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End of single service area -->
                        {% endfor %}
                    </div>
                        {% if pages|length > 0 %}
                            <div class="row">
                                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                                    <a href="{{ pages[1].url }}">
                                        <button type="button" class="btn btn-secondary">Больше</button>
                                    </a></div>
                            </div>
                        {% endif %}
                </div><!-- End of col-sm-12 -->
            </div>
        </div>
</section>