<li class="collection-item">
    <div>
        {{ episode.titleRu }}
        <small>{{ episode.season }} Сезон / {{ episode.episode }} Епизод</small>
        <a href="{{ episode.__link }}" class="secondary-content"><i class="material-icons">send</i></a>
    </div>
</li>