<div class="col s12 m3">
    <div class="card">
        <div class="card-image">
            <a href="{{ film.__link }}" ><img src="{{ film.photo }}" alt="{{ film.titleRu }}"></a>
            <span class="card-title">{{ film.titleRu }}</span>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn" href="{{ film.__link }}">Подробнее</a>
            <div style="margin-top: 5px">

                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge red" >{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</div>