<li class="collection-item">
    <div>
        {{ season.name }} - Сезон {{ season.season }}
        <a href="{{ season.__link }}" class="secondary-content">
            <i class="material-icons">send</i>
        </a>
    </div>
</li>