<div class="col s12 m3">
    <div class="card">
        <div class="card-image">
            <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
            <span class="card-title">{{ seria.titleRu }}</span>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn" href="{{ seria.__link }}">Подробнее</a>
            {% if seria.__tags is defined %}
                {% for tag in seria.__tags %}
                    <a href="{{ tag.__link }}">
                        <span class="badge red">{{ tag.name }}</span>
                    </a>
                {% endfor %}

            {% endif %}
        </div>
    </div>
</div>