<h1>[[seo_h1]]</h1>

<section>
    <div class="row">
        <h5>Топ {{ total }} песен на {{ domain }}</h5>
        <ul class="collection">
            {% for track in tracks %}
                <li class="collection-item">
                    <div>
                        <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col s10 m10">
                                <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                            </div>
                            <div class="col s2 m2">
                                <a class="btn btn-outline-secondary" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>