<div>
    [%breadcrumbs%]
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="entity_title">{{ titleRu }}
                <small>{{ titleEn }}</small></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                        width="100%" height="700px" allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</div>
