<section class="container">
    <div class="row">
        {% for type,collection in items %}
            {% if (type == 21) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Фильмы</h3>
                </div>
                {% for film in collection %}
                    {% include 'driver/video/jackass/block/element/film.twig' with {'film':film} %}
                {% endfor %}
            {% elseif(type == 13) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Сериалы</h3>
                </div>
                {% for seria in collection %}
                    {% include 'driver/video/jackass/block/element/seria.twig' with {'seria':seria} %}
                {% endfor %}
            {% elseif(type == 12) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Епизоды</h3>
                </div>
                {% for episode in collection %}
                    {% include 'driver/video/jackass/block/element/episode.twig' with {'episode':episode} %}
                {% endfor %}
            {% elseif(type == 14) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Сезоны</h3>
                </div>
                {% for season in collection %}
                    {% include 'driver/video/jackass/block/element/season.twig' with {'season':season} %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <h3>Смотрите больше</h3>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12 mb-5">
                <div class="card" style="height: 300px; padding: 5px">
                    <div class="text-white">{{ item.title }}</div>
                    <img src="{{ item.src }}" class="img-fluid __modal_trigger" maestro-youtube-id='{{ item.id }}' height="250">
                </div>
            </div>
        {% endfor %}
    </div>
</section>