<div>
    [%breadcrumbs%]
</div>
<div class="container">
    <div class="row">
        {% for episode in episodes %}
            <div class="col-md-4 col-sm-6">
                <div class="tile tile-hot">
                    <b class="mt-0">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</b>
                    <span>{{ episode.titleRu }}</span>
                    <p class="post-meta">
                        <a href="{{ episode.__link }}">Смотреть</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item gray">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>