<div>
    [%breadcrumbs%]
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="card-title white">
                {{ titleRu }}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p class="card-text">
                <img class="img-thumbnail float-left" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
            </p>
            <a href="{{ imdbUrl }}">
                <span class="badge badge-secondary"><i class="zmdi zmdi-ticket-star"></i> Imdb {{ imdbRating }}</span>
            </a>
            <a href="{{ kinopoiskUrl }}">
                <span class="badge badge-secondary"><i
                            class="zmdi zmdi-ticket-star"></i> Kinopoisk {{ kinopoiskRating }}</span>
            </a>
        </div>
        <section class="col-9 row">
            {% for index,season in seasons %}
                <div class="col-md-4 col-sm-6">
                    <div class="tile tile-hot">
                        <b class="mt-0">Сезон {{ season.season }}</b>
                        <p class="post-meta">
                            <a href="{{ season.__link }}">Подробнее</a></p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item gray">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
