<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    [[seo_geo]]

    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    [[seo_meta_schema]]
</head>
<body>
<header class="ui container">
    <nav class="ui stackable menu">
        <div class="header item">
            {{ domain }}
        </div>
        [%nav_links%]
    </nav>
</header>
    [[ad_block_top]]
<div class="ui container">
    <h1>[[seo_h1]]</h1>

    {{ template | raw }}
</div>


{% if __text is not empty %}
    <div class="ui container">{{ __text | raw }}</div>
{% endif %}
<div class="ui container">
    [[seo_text]]
</div>
<div class="ui divider"></div>

    <div class="ui black inverted vertical footer segment">
        <div class="ui center aligned container">
            [%cross_links%]
            <div class="ui inverted section divider"></div>
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="/">{{ domain }}</a>
            </div>
        </div>
    </div>
    [[ad_block_bottom]]

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>