<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Топ {{ total }} фильмов</h2>
            </div>
        </div>
        <div class="row">
            {% for film in films %}
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ film.__link }}" ><img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                            <span class="card-title">{{ film.titleRu }}</span></a>
                        </div>
                        <div class="card-action">
                            <div class="mb1">
                                <a href="{{ film.__link }}" class="btn yellow darken-3">Подробнее</a>
                            </div>
                            <div class="min-hei">
                                {% if film.__tags is defined %}
                                    {% for tag in film.__tags %}
                                        <a href="{{ tag.__link }}">
                                            <small class="badger">{{ tag.name }}</small>
                                        </a>
                                    {% endfor %}

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
