<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading">Топ {{ total }} <span>Артистов</span></h1>
                    <ul>
                        {% for index,artist in artists %}
                            <li class="wow fadeInLeft" data-wow-duration="{{ (index+3)*100 }}ms"
                                data-wow-delay="{{ (index+3)*100 }}ms">
                                <div class="blog-img">
                                    <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                                </div>
                                <div class="content-right">
                                    <h3>{{ artist.name }}</h3>
                                    <div>
                                        {% if artist.__tags is defined %}
                                            {% for tag in artist.__tags %}
                                                <a href="{{ tag.__link }}">
                                                    <span class="badge badge-default">{{ tag.name }}</span>
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <p>
                                        <a href="{{ artist.__link }}" class="btn btn-big" >Подробнее</a>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="text-center">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <a class="btn btn-big wow bounceIn btn-main"
                                   data-wow-duration="500ms" data-wow-delay="500ms" href="#" role="button">
                                    {{ page.num }}
                                </a>
                            {% else %}
                                <a class="btn btn-big wow bounceIn"
                                   data-wow-duration="500ms" data-wow-delay="500ms" href="{{ page.url }}" role="button">
                                    {{ page.num }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div>
    </div><!-- .containe close -->
</section>