<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="pricing-list">
                        <div class="title">
                            <h3>Топ {{ total }} <span>Треков</span></h3>
                        </div>
                        <ul>
                            {% for index, track in tracks %}
                                <li class="wow fadeInUp" data-wow-duration="{{ (index+3)*100 }}ms"
                                    data-wow-delay="{{ (index+3)*100 }}ms">
                                    <div class="item">
                                        <div class="item-title">
                                            <h2>{{ track.name }}</h2>
                                            <div class="border-bottom"></div>
                                        </div>
                                        <p>
                                            <audio src="{{ track.url }}" style="width: 100%" controls
                                                   preload="none"></audio>
                                        </p>
                                        <span><a class="btn btn-outline-secondary" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a></span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <a class="btn btn-big wow btn-main bounceIn"
                                       data-wow-duration="500ms" data-wow-delay="500ms" href="#" role="button">
                                        {{ page.num }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-big wow bounceIn"
                                       data-wow-duration="500ms" data-wow-delay="500ms" href="{{ page.url }}" role="button">
                                        {{ page.num }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>