<div aria-label="breadcrumb">
    <ol class="arrows">
        {% for link in links %}
            <li class="">
                <a href="{{ link.uri }}">{{ link.title }}</a>
            </li>
        {% endfor %}
        <li class="active" >
            {{ active.title }}
        </li>
    </ol>
</div>