<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% for _cross in links %}
                <a class="mdl-chip" href="{{ _cross.link }}">
                    <span class="mdl-chip__text">{{ _cross.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>