<section class="row">
    {% for film in films %}
        <a href="{{ film.__link }}" class="item">
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ film.__link }}">
                        <img class="card-img-top" src="{{ film.photo }}" alt="">
                    </a>
                    <div class="card-body">
                        <a href="{{ film.__link }}" class="card-title">{{ film.titleRu }}</a>
                        <p>
                            {% if film.__tags is defined %}
                                {% for tag in film.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badge badge-success">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}

                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>