<section style="display: flex; height: 55px; overflow-x: auto; overflow-y: hidden ">
    {% for _rider in __tree_rider %}
        {% if _rider.__link == __link %}
            <button type="button" class="btn btn-dark">{{ _rider.name }}</button>
        {% else %}
            <a href="{{ _rider.__link }}" style="margin: 0 1px" title="{{ _rider.name }}">
                <button type="button" class="btn btn-secondary">{{ _rider.name }}</button>
            </a>
        {% endif %}
    {% endfor %}
</section>