<div class="col-md-3 col-sm-6 img-thumbnail">
    <div class="media-more">
        <div class="media-body">
            <a href="{{ season.__link }}" class="mt-0">Подробнее</a>
            <p class="post-meta">{{ season.name }} / Сезон {{ season.id }}</p>
        </div>
    </div>
</div>