{% for artist in artists %}
<div class="col-lg-2 col-md-2 d-flex justify-content-center trap">
        <div class="artists-block">
            <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
        </div>
    <div class="art-link text-center">
            <a href="{{ artist.__link }}">{{ artist.name }}</a>
    </div>
</div>
{% endfor %}