<div class="row d-flex align-self-center">
    {% for track in tracks %}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-2">
            <div>
                <a href="{{ track.__link }}" class="mt-1">
                    {{ track.name }}
                </a>
            </div>
            <span>
        <audio src="{{ track.url }}" controls="controls" preload="none"></audio></span>
        {% if pages|length > 0 %}
            <div>
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-outline-warning btn-sm text-uppercase mt-4">Больше</button>
                </a>
            </div>
        {% endif %}
        </div>
    {% endfor %}
</div>