<ul style="display: block;" class="nav">
    <hr>
    {% for nav in links %}
        <li class="my-lg-5 my-md-5 mx-lg-4 mx-md-4 my-sm-2 my-xs-2 mx-sm-1 mx-sm-1">
            <a href="{{ nav.__link }}">
                {{ nav.name }}
            </a>
        </li>
        <hr>
    {% endfor %}
</ul>