<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center my-1">
    <a href="{{ episode.__link }}" class="season-link">
        <h3>{{ episode.titleRu }} / {{ episode.season }} Сезон / {{ episode.episode }} Эпизод</h3>
    </a>
</div>