<section>
    <section class="container-fluid head-bg-img">
    </section>
    <section class="container-fluid extra-pd screen-height">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 align-self-start justify-content-center">
                <h1>[[seo_h1]]</h1>
                <small class="text-danger pl-5">{{ titleEn }}</small>
            </div>
            <section class="container py-2">
                [%breadcrumbs%]
            </section>
            <div class="col-12 text-center">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <section class="container">
                <div class="row">
                    <div class="col">
                        <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                                width="100%" height="700px" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
            <div class="row justify-content-center">
                <div class="col-10">
                    {% if __text is not empty %}
                        <p class="text-light">{{ __text | raw }}</p>
                    {% endif %}
                    <p class="text-light">[[seo_text]]</p>
                </div>
            </div>
        </div>
    </section>
</section>
[%youtube_adding%]