<section>
    <section class="container-fluid main-page-bg-img">
        <div class="row p-lg-5 p-md-5 ">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center">
                <h1>[[seo_h1]]</h1>
                <p>[[seo_text]]</p>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="py-4 text-center">Лучшие фильмы</h3>
                <section class="container-fluid">
                    <div class="row justify-content-center">
                        [%movies_list%]
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3 class="py-4 text-center">Лучшие сериалы</h3>
                <section class="container-fluid">
                    <div class="row justify-content-center">
                        [%tv_series_list%]
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>