<h5>{{ name }}</h5>
{% for artist in artists %}
    <div class="card">
        <a href="{{ artist.__link }}" >
            <h4>{{ artist.name }}</h4>
        </a>
        <div>
            {% if artist.__tags is defined %}
                {% for tag in artist.__tags %}
                    <a href="{{ tag.__link }}">
                        <span class="btn--flat">{{ tag.name }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endfor %}

{% if pages|length > 0 %}
    <br>
    <a href="{{ pages[1].url }}">
        <button class="btn--raised btn--primary">Дальше</button>
    </a></div>
{% endif %}
