<section>
    <h5>{{ name }}</h5>
    <ul>
        {% for track in tracks %}
            <li>
                <div>
                    <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                </div>
                <div>
                    <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if pages|length > 0 %}
        <br>
        <a href="{{ pages[1].url }}">
            <button class="btn--raised btn--primary">Дальше</button>
        </a>

    {% endif %}
</section>