body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card.small .card-image {
    max-height: 87%;
}

.breadcrumb {
    color: #000000 !important;
}

.breadcrumb:before {
    color: #000000 !important;
}

.breadcrumb.active {
    color: grey !important;
    pointer-events: none;
}