<div class="movie-block col-lg-3 col-md-4">
    <!-- work -->
    <div class="work card">
        <a href="{{ seria.__link }}">
            <div class="hoverbox slide-ef-bottom light">
                <div class="hb_front">
                    <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}" width="250" height="300"/>
                </div>
                <div class="hb_back">
                    <b class="title_work">{{ seria.titleRu }}</b>
                </div>
            </div>
            <p>
                {% if seria.__tags is defined %}
                    {% for tag in seria.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge badge-success">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </p>
        </a>
    </div>
</div>