<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>[[seo_title]]</title>
    [[seo_geo]]
    [[seo_meta_tags]]
    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <meta content="[[seo_description]]" name="description">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Loading main css file -->
    <link rel="stylesheet" href="/css/style.css">
    [[seo_global_meta_tags]]
    <!--[if lt IE 9]>
    <script src="/js/ie-support/html5.js"></script>
    <script src="/js/ie-support/respond.js"></script>
    <![endif]-->
    [[seo_meta_schema]]
</head>


<body>
[[ad_block_top]]

<div id="site-content">
    <header class="site-header">
        <div class="container">
            <img src="/images/logo.png" alt="" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">[[seo_h1]]</h1>
            </div>

            [%nav_links%]
            <div class="mobile-navigation"></div>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-xs-12">
                        {% if __text is not empty %}
                            <small class="site-description">{{ __text | raw }}</small>
                        {% endif %}
                        <small class="site-description">[[seo_text]]</small>
                    </div>

                    {#<div class="col-md-9">#}
                    {#<div class="slider">#}
                    {#<ul class="slides">#}
                    {#<li><a href="#"><img src="dummy/slide-1.jpg" alt="Slide 1"></a></li>#}
                    {#<li><a href="#"><img src="dummy/slide-2.jpg" alt="Slide 2"></a></li>#}
                    {#<li><a href="#"><img src="dummy/slide-3.jpg" alt="Slide 3"></a></li>#}
                    {#</ul>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-3">#}
                    {#<div class="row">#}
                    {#<div class="col-sm-6 col-md-12">#}
                    {#<div class="latest-movie">#}
                    {#<a href="#"><img src="dummy/thumb-1.jpg" alt="Movie 1"></a>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-sm-6 col-md-12">#}
                    {#<div class="latest-movie">#}
                    {#<a href="#"><img src="dummy/thumb-2.jpg" alt="Movie 2"></a>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                </div> <!-- .row -->
                {#<div class="row">#}
                {#<div class="col-sm-6 col-md-3">#}
                {#<div class="latest-movie">#}
                {#<a href="#"><img src="dummy/thumb-3.jpg" alt="Movie 3"></a>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-sm-6 col-md-3">#}
                {#<div class="latest-movie">#}
                {#<a href="#"><img src="dummy/thumb-4.jpg" alt="Movie 4"></a>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-sm-6 col-md-3">#}
                {#<div class="latest-movie">#}
                {#<a href="#"><img src="dummy/thumb-5.jpg" alt="Movie 5"></a>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-sm-6 col-md-3">#}
                {#<div class="latest-movie">#}
                {#<a href="#"><img src="dummy/thumb-6.jpg" alt="Movie 6"></a>#}
                {#</div>#}
                {#</div>#}
                {#</div> <!-- .row -->#}
                {{ template | raw }}
                {#<div class="row">#}
                {#<div class="col-md-4">#}
                {#<h2 class="section-title">December premiere</h2>#}
                {#<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut#}
                {#labore.</p>#}
                {#<ul class="movie-schedule">#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#</ul> <!-- .movie-schedule -->#}
                {#</div>#}
                {#<div class="col-md-4">#}
                {#<h2 class="section-title">November premiere</h2>#}
                {#<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut#}
                {#labore.</p>#}
                {#<ul class="movie-schedule">#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#</ul> <!-- .movie-schedule -->#}
                {#</div>#}
                {#<div class="col-md-4">#}
                {#<h2 class="section-title">October premiere</h2>#}
                {#<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut#}
                {#labore.</p>#}
                {#<ul class="movie-schedule">#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#<li>#}
                {#<div class="date">16/12</div>#}
                {#<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>#}
                {#</li>#}
                {#</ul> <!-- .movie-schedule -->#}
                {#</div>#}
                {#</div>#}
            </div>
        </div> <!-- .container -->
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="widget">
                        [%cross_links%]
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="colophon">Copyright 2018 {{ domain }}. All rights reserved</div>
        </div> <!-- .container -->

    </footer>
</div>
<!-- Default snippet for navigation -->
[[ad_block_bottom]]


<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/app.js"></script>

</body>

</html>
