<section class="flex">
    <section class="w-100">
        [%breadcrumbs%]
    </section>
    <h3 class="w-100">{{ name }}</h3>
    <div class="block w-30">
        <img class="img img-auto img-rounded" src="{{ photo }}" alt="">
    </div>
    <div class="block w-70">
        <h3 class="my-4">Треки {{ name }} </h3>
        <div class="list-tracks">
            {% for track in tracks %}
                <div class="w-100">
                    <a href="{{ track.__link }}">{{ track.name }}</a>
                    <span style="float:right">{{ track.duration | date('i:s', '+00:00 GMT') }}</span>
                    <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <a class="active" href="{{ page.url }}">{{ page.num }}</a>
                {% else %}
                    <a class="" href="{{ page.url }}">{{ page.num }}</a>
                {% endif %}

            {% endfor %}
        </div>
    </div>
</section>

