<section class="flex">
    <section class="w-100">
        [%breadcrumbs%]
    </section>
    <h3 class="w-100">{{ name }}</h3>
    <div class="block w-30">
        <img class="img img-auto img-rounded" src="{{ photo }}" alt="">
        <div>
            <ul>
                <li>Всего альбомов {{ totalAlbums }}</li>
                <li>Всего треков {{ totalSongs }}</li>
            </ul>
        </div>
        <div>
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}">
                        <span class="badge badge-default">{{ tag.name }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="block w-70">
        <h3 class="my-4">Альбомы {{ name }} </h3>
        <div class="albums_list">
            {% for album in albums %}
                <div class="w-30" style="background-image: url({{ album.photo }})">
                    <a href="{{ album.__link }}">
                        <span class="title">{{ album.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <a class="active" href="{{ page.url }}">{{ page.num }}</a>
                {% else %}
                    <a class="" href="{{ page.url }}">{{ page.num }}</a>
                {% endif %}

            {% endfor %}
        </div>
    </div>
</section>

