<section class="flex">
    <div class="collection-artists">
        {% for item in results %}
            <div class="w-30 __modal_trigger" style="background-image: url({{ item.src }})"
                 maestro-youtube-id='{{ item.id }}'>
                <span class="artist-block">
                    <span class="title">
                        {{ item.title }}
                    </span>
                </span>
            </div>
        {% endfor %}
    </div>
</section>