<section class="flex">
    <section class="w-100">
        [%breadcrumbs%]
    </section>
    <h3 class="w-100">
        {{ name }}
        <small>{{ artistName }}</small>
    </h3>
    <div class="w-100">
        Сейчас слушают {{ totalListeners }} человека |
        Всего скачали {{ totalDownloads }} раз |
        Прослушали {{ totalListening }} раз
    </div>


    <audio src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls preload="none"></audio>

    <a style="color: white" class="btn mt" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>

    <div>
        {% if __relations is defined %}
            {% for relation in __relations %}
                <a href="{{ relation.__link }}">{{ relation.name }}</a>
            {% endfor %}
        {% endif %}
    </div>
</section>
