body {
    background: linear-gradient(to bottom, rgba(83, 83, 86, 0.8), rgba(33, 33, 33, 0.81)),
                url("../img/body-bg.jpg");
}

header {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.44), rgba(66, 66, 66, 0.59)),
                url(../img/header-bg.jpg);
    background-position: left;
    min-height: 15vh;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px rgba(11, 10, 15, 0.4);
}

.container {
    border: 1px solid #c1463e;
    padding: 10px;
    background-color: rgba(255, 242, 242, 0.49);
    min-height: 50vh;
}

.red-line {
    border-left: 3px solid #c1463e;
}

.red-text {
    color: #c1463e;
    font-weight: bold;
    background-color: #fff2f2;
}

header h1 {
    color: #c7cacb;
    font-weight: bold;
    border-left: 7px solid #c1463e;
}

.navbar-brand span {
    color: #c1463e;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #c1463e;
}

.more-link {
    border-left: 3px solid #c1463e;
    width: 300px;
}

.more-link:hover {
    width: 100%;
    background: #c1463e;
    transition: width 0.3s;
}

.rater {
    background-color: #535356;
    color: #fff2f2;
}

.img-container {
    width: 180px;
    height: 210px;
}

.img-container img {
    width: 180px;
    height: 200px;
    object-fit: cover;
}

.img-container > i {
    position: absolute;
    width: inherit;
    height: 200px;
    color: white;
    background: rgb(59, 2, 6);
    mix-blend-mode: multiply;
    opacity: 0;
}

.textator {
    width: 180px;
    height: 90px;
    background-color: #535356;
    color: #fff2f2;
    padding-bottom: 5px;
}

.linkator:hover .textator, .linkator:hover .rater {
    background: #c1463e;
}

.img-container:hover > i {
    opacity: 1;
}

a:hover {
    color: #c1463e;
}

.page-item a {
    background-color: #535356;
    color: #fff2f2;
}

.page-item a:hover {
    background-color: #fff2f2;
    color: #2B333F;
}

.page-item.active .page-link {
    background-color:#c1463e;
    border-color: #c1463e;
    color: #fff2f2;
}

small {
    color: #c1463e;
}

.strange-box {
    min-height: 10px;
    border: 1px solid #c1463e;
    padding: 10px;
    background-color: rgba(255, 242, 242, 0.49);
}

.text-soft {
    color: #fff2f2;
    background: #3a393a;
    padding: 2px 3px;
}