<section class="container-fluid main-bg">
    <section class="container height-20 py-2">
        <div class="row height-30 justify-content-center">
            <div class="col-md-8 root-text text-center align-self-center">
                <h2>{{ titleRu }}</h2>
                <small>{{ titleEn }}</small>
                <hr>
                <div class="col-12 text-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-indigo">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class=" container py-2">
        [%breadcrumbs%]
    </section>
    <section class="container episode">
        <div class="row">
            <div class="col">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                        width="100%" height="700px" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    {% if __text is not empty %}
        <div class="container">
            <div class="row">
                <div class="col">{{ __text | raw }}</div>
            </div>
        </div>
    {% endif %}
</section>
[%youtube_adding%]