<section class="container-fluid main-bg">
    <section class="container height-20 py-2">
        <div class="row height-30 justify-content-center">
            <div class="col-md-8 root-text text-center align-self-center">
                <h1>{{ name }}</h1>
                <hr>
                {% if __text is not empty %}
                    <p>{{ __text | raw }}</p>
                    <hr>
                {% endif %}
                <p>[[seo_text]]</p>
            </div>
        </div>
    </section>
    <section class="height-75">
        <div class="row d-flex justify-content-center">
            {% for item in items %}
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 d-flex justify-content-center
                        border-blue bg-dark py-2">
                    <div>
                        <a href="{{ item.__link }}" class="item p-3">
                            <div class="rating-style">
                                <em><i class="fas fa-star"></i> <b>{{ item.imdbRating }}</b>/10</em>
                            </div>
                            <div class="poster">
                                <img src="{{ item.photo }}" alt="{{ item.titleRu }}">
                                <div class="text text-center">
                                    <p class="py-3">{{ item.titleRu }}</p>
                                </div>
                            </div>
                        </a>
                        {% if item.__tags is defined %}
                            {% for tag in item.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-light text-center">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>