<section class="container-fluid main-bg">
    <section class="container height-20 py-2">
        <div class="row height-30 justify-content-center">
            <div class="col-md-8 root-text text-center align-self-center">
                <h1>[[seo_h1]]</h1>
                <hr>
                <p>[[seo_text]]</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row py-5">
            <div class="col-12">
                [%movies_list#6%]
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row py-4">
            <div class="col-12">
                [%tv_series_list#6%]
            </div>
        </div>
    </section>
</section>