<section class="container-fluid main-bg">
    <section class="container height-20 secondary-bg">
        <div class="row height-20 justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-2 d-flex justify-content-center">
                <div class="poster-2">
                    <img src="{{ photo }}" alt="{{ titleRu }}">
                </div>
            </div>
            <div class="col-ld-6 col-md-6 col-sm-12 col-xs-12 root-text text-center align-self-center">
                <h1>[[seo_h1]]</h1>
                <small>{{ startYear }}</small>
                <small>{{ titleEn }}</small>
                <div>
                    <em class="rate-style">
                        imdbRating
                        <a href="{{ imdbUrl }}">
                            <i class="fas fa-star"></i>
                            <b>{{ imdbRating }}</b>/10</a></em>
                </div>
                <div>
                    <em class="rate-style">
                        Kinopoisk
                        <a href="{{ kinopoiskUrl }}">
                            <i class="fas fa-star"></i> <b>{{ kinopoiskRating }}</b>/10</a></em>
                </div>
                <hr>
                <div class="col-12 text-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-indigo">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid py-2">
        [%breadcrumbs%]
    </section>
    <section class="container height-40">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                {% if __text is not empty %}
                    <p>{{ __text | raw }}</p>
                {% endif %}
                <p>[[seo_text]]</p>
            </div>
            {% for index,season in seasons %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center my-1">
                    <a href="{{ season.__link }}" class="season-link">
                        <h3>Сезон {{ season.season }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>
[%youtube_adding%]