<div>
    [%breadcrumbs%]
</div>
<section class="container">
    <div class="content">
        <h2 class="card-title">
            {{ titleRu }}
        </h2>
        <h3 class="card-subtitle mb-2 text-muted">{{ titleEn }}</h3>
        <div>
            {{ season }} Сезон / {{ episode }} Епизод
        </div>
    </div>
</section>
<iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
        width="100%" height="700px" allowfullscreen
></iframe>
{% if(__prev) %}
    <a class="carousel-control carousel-control-prev" href="{{ __prev }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <i class="material-icons arrow-left">arrow_back</i>
    </a>
{% endif %}
{% if(__next) %}
    <a class="carousel-control carousel-control-next" href="{{ __next }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <i class="material-icons arrow-right">arrow_forward</i>
    </a>
{% endif %}
<section class="tree-container">
    <div class="row">
        <div class="col">
            [%tree_items%]
        </div>
    </div>
</section>