<div>
    [%breadcrumbs%]
</div>
<section class="container">
    <div class="content">
        <h5 class="card-title">
            {{ titleRu }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ titleEn }}</h6>
    </div>
</section>
<iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
        width="100%" height="700px" allowfullscreen
></iframe>
