<section class="section">
    <div class="container">
        <div class="row mb-5 justify-content-center element-animate">
            <div class="col-md-12">
                <h2>{{ name }}</h2>
            </div>
        </div>
        <div class="row">
            {% for seria in items %}
                <div class="col-md-6 col-lg-4 mb-4 element-animate">
                    <div class="media short-story">
                        <a href="{{ seria.__link }}"><img class="mr-4" width="30" src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                        <div class="media-body">
                            <a href="{{ seria.__link }}" class="mt-0">{{ seria.titleRu }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>