<div>
    [%breadcrumbs%]
</div>
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Сезон {{ id }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="card-text">
                [[seo_text]]
            </p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        {% for episode in episodes %}
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="look one-element fadeInUp element-animated">
                    <div class="look-text">
                        <a href="{{ episode.__link }}">Смотреть</a>
                        <span>{{ episode.titleRu }}</span>
                        <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>