<div>
    [%breadcrumbs%]
</div>
<section class="container short-story">
    <div class="row">
        <div class="col-3">
            <h3 class="card-title">
                {{ titleRu }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3 main-image">
            <p>
                <img class="img-thumbnail float-left" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
            </p>
        </div>
        <section class="seasons">
            <div class="row">
                {% for index,season in seasons %}
                    <div class="col-md-3 col-sm-6 img-thumbnail">
                        <div class="media-more">
                            <div class="media-body">
                                <a href="{{ season.__link }}" class="mt-0">Подробнее</a>
                                <p class="post-meta">Сезон {{ season.id }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <div class="clear"></div>
        <div class="rating">
            <a href="{{ imdbUrl }}">
                <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
            </a>
            <a href="{{ kinopoiskUrl }}">
                <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
            </a>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
