{% if links is defined %}
    <div class="container breacrums-style">
        <div class="row">
            <div class="col-12 text-left d-flex pt-3">
                {% for link in links %}
                    <a href="{{ link.uri }}"><p class="cool-link">{{ link.title }}</p></a>
                    <div class="arrow"></div>
                {% endfor %}
                <p class="cool-link-active">{{ active.title }}</p>
            </div>
        </div>
    </div>
{% endif %}
