<footer class="container-fluid bg-dark">
    <div class="col-md-12">
        {% if links %}
            <div class="pt-3">
                <h5 class="text-center ">Смотрите также</h5>
                <ul class="breadcrumb justify-content-lg-center justify-content-md-center
                    justify-content-sm-start justify-content-xs-start cross-link-bar bg-dark">
                    {% for link in links %}
                        <li class="mt-1">
                            <p class="pl-1 text-light">
                                &#9753
                                <a href="{{ link.link }}" class="link-hover">
                                    <small>{{ link.name }}</small>
                                </a>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-3 small bg-light">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>

