<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ domain }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav  mr-auto">
            {% for nav in links %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ nav.__link }}">{{ nav.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
