<section class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center heading-color">
            <h3>Лучшие сериалы</h3>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% for seria in series %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center bg-dark">
                <a href="{{ seria.__link }}" class="item p-3">
                    <div class="rating-style">
                        <em><i class="fas fa-star"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                    </div>
                    <div class="poster">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                        <div class="text text-center">
                            <p class="py-3">{{ seria.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if pages|length > 0 %}
            <a href="{{ pages[1].url }}" class="col-12 d-flex py-2 justify-content-center big-button">
                Больше
            </a>
        {% endif %}
    </div>
</section>