<div class="col-md-12">
    [%breadcrumbs%]
</div>

<div class="col-md-12">

    <div class="row">
        <div class="col-md-4">
            <section class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ name }}</h3>
                    <img src="{{ photo }}" alt="" class="img-fluid img-thumbnail">
                </div>
            </section>
        </div>
        <div class="col-md-8">
            <ol class="list-group" style="list-style: decimal inside !important; ">
                {% for track in tracks %}
                    <li class="list-group-item" style="display: list-item !important">
                        <a href="{{ track.__link }}">
                            {{ track.name }}
                        </a>

                        <span style="float:right">
                    {{ track.duration | date('i:s', '+00:00 GMT') }}
                </span>
                    </li>
                {% endfor %}
            </ol>

            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

[%youtube_adding%]
