<div class="col-md-12">
    [%breadcrumbs%]
</div>

<div class="col-md-12">
    <section class="card">
        <div class="card-body">
            <h2 class="card-title">{{ name }}</h2>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        {{ text | raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>