<div class="row fh5co-post-entry">
    [%audio_artists_list%]
    <div class="clearfix visible-xs-block"></div>
</div>
<div class="row fh5co-post-entry">
    [%audio_tracks_list%]
    <div class="clearfix visible-xs-block"></div>
</div>