<section class="container">
    <div class="row">
        <div class="col py-5 ml-5">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12">
                <div style="box-shadow: 0 0 5px; padding: 5px; margin: 5px;height: 300px; display: block">
                    <div>{{ item.title }}</div>
                    <img src="{{ item.src }}" class="__modal_trigger" maestro-youtube-id='{{ item.id }}'
                         style="width: 100%; height: 200px; object-fit: cover">
                </div>
            </div>
        {% endfor %}
    </div>
</section>