<div class="col-md-12">
    [%breadcrumbs%]
</div>

<div class="col-md-12">
    <section class="card">
        <div class="card-body">
            <h2 class="card-title">{{ name }} <small>{{ artistName }}</small></h2>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <audio class="js-player" controls preload="none">
                            <source src="{{ url }}" type="audio/mp3">
                        </audio>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-outline-secondary" style="margin-top: 5px" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
                    </div>
                    <div class="col-md-12">
                        {% if __relations is defined %}
                            {% for relation in __relations %}
                                <a href="{{ relation.__link }}">{{ relation.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-user"></i>Сейчас слушают {{ totalListeners }} человека |
            <i class="fa fa-download"></i>Всего скачали {{ totalDownloads }} раз |
            <i class="fa fa-play"></i>Прослушали {{ totalListening }} раз
        </div>
    </section>
</div>

[%youtube_adding%]