<div class="uk-container uk-container-expand">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-3-5@m uk-width-1-1@s">
            <article class="uk-article uk-tile uk-tile-default uk-padding-small">
                <h1 class="uk-article-title">{{ header }}</h1>
                <section>
                    [%category_breadcrumbs%]
                </section>
                <p class="uk-article-meta">{{ __text | raw }}</p>
            </article>
        </div>
        <div class="uk-width-2-5@m uk-width-1-1@s">
            {% if relations|length %}
                <section class="uk-card uk-card-small">
                    <div class="uk-card-header">
                        <h4>Related News</h4>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-grid uk-child-width-1-1" uk-grid="parallax">
                            {% for article in relations %}
                                {% include 'driver/news/1/block/element/article.item.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <ul class="uk-pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endif %}
            <section class="uk-card uk-card-small">
                <div class="uk-card-header">
                    <h4>New Articles</h4>
                </div>
                <div class="uk-card-body">
                    [%news#5#r1%]
                </div>
            </section>

        </div>
    </div>
</div>
[%cross_links%]
