<div class="uk-container uk-container-expand">
    <h2>News</h2>

    <div uk-grid class="uk-grid-small">
        <div class="uk-width-4-5@m uk-width-1-1@s">[%news%]</div>
        <div class="uk-width-1-5@m uk-width-1-1@s"><img src="https://webstoria.ru/assets/images/marsel.gif" uk-sticky></div>
    </div>
</div>
