<h3>Топ {{ total }} трэков</h3>
<div class="ui segment" style="margin-bottom: 50px">
    <div class="ui stackable grid">
        <div class="ui relaxed divided list" style="width: 100%">
            {% for track in tracks %}
                <div class="item">
                    <div class="content">
                        <div class="header" >
                            <a href="{{ track.__link }}">
                                {{ track.name }}
                            </a>
                        </div>
                        <p>
                            <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui grid">
        {% if pages|length > 0 %}
            <div class="computer only row">
                <div class="column">
                    <div class="ui pagination menu">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <a class="active item" href="{{ page.url }}">{{ page.num }}</a>
                            {% else %}
                                <a class="item" href="{{ page.url }}">{{ page.num }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mobile only row">
                <div class="column">
                    <div class="ui pagination menu tablet">
                        {% for key,page in pages %}
                            {% if page.isCurrent %}
                                {% if pages[key-1] is defined %}
                                    <a class="item" href="{{ pages[key-1].url }}">Назад</a>
                                {% endif %}

                                <a class="active item" href="{{ page.url }}">{{ page.num }}</a>

                                {% if pages[key+1] is defined %}
                                    <a class="item" href="{{ pages[key+1].url }}">Вперед</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
</div>