<section class="container-fluid bg-light pb-5">
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-start">
                [%breadcrumbs%]
            </div>
        </div>
    </div>
    <div>
        <h1 class="mt-5">[[seo_h1]]</h1>
        <p class="mt-5">[[seo_text]]</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 d-flex justify-content-center">
            <div>
                <img src="{{ photo }}" alt="{{ name }}"/>
            </div>
        </div>
        <div class="row col-lg-8 col-md-8 col-xs-12 col-sm-12 d-flex justify-content-lg-start justify-content-md-start">
            {% for track in tracks %}
                <div class="col-md-10 align-self-center mt-4">
                    <a href="{{ track.__link }}" class="h5">
                        {{ track.name }}
                    </a>

                    <div>
                        {% if track.artistName == "" %}
                            <p>Unknown</p>
                        {% else %}
                            <p>{{ track.artistName }}</p>
                        {% endif %}
                    </div>

                    <div>
                        <audio src="{{ track.url }}" controls="controls" preload="none"></audio>
                    </div>
                </div>
                <div class="col-md-2 align-self-end mb-2">
                    <a href="{{ track.url }}" download="{{ track.name }}" class="btn btn-success">
                        Скачать
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
[%youtube_adding%]