<section class="container-fluid bg-light height-full pb-5">
    <div class="pt-2">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-start">
                [%breadcrumbs%]
            </div>
        </div>
    </div>
    <div>
        <h1 class="mt-5">[[seo_h1]]</h1>
        <p class="mt-5">[[seo_text]]</p>
    </div>
    <div class="col-12 track-bg">
        <h4><a href="{{ __link }}">{{ name }}</a></h4>
        {% if artistName == "" %}
            <p>Unknown</p>
        {% else %}
            <p>{{ artistName }}</p>
        {% endif %}
        <audio src="{{ source_url }}" controls="controls" preload="none" class="large"></audio>
    </div>
</section>
[%youtube_adding%]