<section class="container-fluid">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1>[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p class="bg-dark text-light border border-light rounded py-2 px-4">{{ __text | raw }}</p>
            {% endif %}
            <p class="bg-dark text-light border border-light rounded py-2 px-4">[[seo_text]]</p>
        </div>
    </div>
        <div class="row bg-con border border-light my-2 justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="text-light">{{ titleRu }}</h2>
                <small class="text-dark">{{ titleEn }}</small>
                <hr>
                <div class="col-12 text-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-light">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                [%breadcrumbs%]
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item border border-dark"
                            src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>