<section class="container mt-5">
    <div class="row bg-cover">
        <div class="col-12">
            <h1 class="my-5 text-center">[[seo_h1]]</h1>
            <div class="col-12 bg-dark text-light py-3 mb-3">
                <p class="pl-5 py-3 mb-5 mt-3 bg-light text-dark">[[seo_text]]</p>
            </div>
        </div>
    </div>
    <div class="row content-cover my-5">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            [%movies_list#6%]
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            [%tv_series_list#6%]
        </div>
    </div>
</section>
