<section class="container">
    <div class="row">
        <div class="col py-5 ml-5">
            <h1>[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p class="bg-dark text-light border border-light rounded py-2 px-4">{{ __text | raw }}</p>
            {% endif %}
            <p class="bg-dark text-light border border-light rounded py-2 px-4">[[seo_text]]</p>
        </div>
    </div>
    {#<div class="row">#}
        {#{% for type,collection in items %}#}
            {#{% if (type == 21) %}#}
                {#<div class="col-md-12 col-xs-12">#}
                    {#<h3>Фильмы</h3>#}
                {#</div>#}
                {#{% for film in collection %}#}
                    {#{% include 'driver/video/2/block/element/film.twig' with {'film':film} %}#}
                {#{% endfor %}#}
            {#{% elseif(type == 13) %}#}
                {#<div class="col-md-12 col-xs-12">#}
                    {#<h3>Сериалы</h3>#}
                {#</div>#}
                {#{% for seria in collection %}#}
                    {#{% include 'driver/video/2/block/element/seria.twig' with {'seria':seria} %}#}
                {#{% endfor %}#}
            {#{% elseif(type == 12) %}#}
                {#<div class="col-md-12 col-xs-12">#}
                    {#<h3>Епизоды</h3>#}
                {#</div>#}
                {#{% for episode in collection %}#}
                    {#{% include 'driver/video/2/block/element/episode.twig' with {'episode':episode} %}#}
                {#{% endfor %}#}
            {#{% elseif(type == 14) %}#}
                {#<div class="col-md-12 col-xs-12">#}
                    {#<h3>Сезоны</h3>#}
                {#</div>#}
                {#{% for season in collection %}#}
                    {#{% include 'driver/video/2/block/element/season.twig' with {'season':season} %}#}
                {#{% endfor %}#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#</div>#}
    <div class="row">
        <div class="col">
            <h3>Смотрите больше</h3>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12 mb-5">
                <div style="height: 300px">
                    <img src="{{ item.src }}" class="img-fluid __modal_trigger" maestro-youtube-id='{{ item.id }}'
                         height="250">
                    <div>{{ item.title }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>