<section class="container-h1 container-fluid">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h1 class="pb-1">[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p class="bg-dark text-light border border-light rounded py-2 px-4">{{ __text | raw }}</p>
            {% endif %}
            <p class="bg-dark text-light border border-light rounded py-2 px-4">[[seo_text]]</p>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row bg-con">
            <div class="col-12">
                [%breadcrumbs%]
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2 pl-5 pt-5">
                {% for episode in episodes %}
                    <div class="col-4">
                        <a href="{{ episode.__link }}">
                            <h5 class="text-light bg-bark text-center mt-4 border border-dark back-yolk py-3">
                                <b class="text-dark">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</b></h5>
                        </a>
                    </div>
                {% endfor %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center pb-3">
                            {% include "driver/base/paginate_limit.twig" %}
                        </div>
                        <div class="col-12 d-flex justify-content-center py-3">
                            <ul class="pagination">
                                {% for page in pages %}
                                    {% if page.isCurrent %}
                                        <li class="page-item active">
                                    {% else %}
                                        <li class="page-item">
                                    {% endif %}
                                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>