<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]

    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                {{ domain }}
            </a>
        </div>
        [%nav_links%]
    </div><!-- end of /.container -->
</nav>
[[ad_block_top]]
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>[[seo_h1]]</h1>
            </div>
            {{ template | raw }}
        </div>
    </div> <!-- end of /.container -->
    <div class="container">
        <div class="row">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div> <!-- end of /.container -->
</main>
[[ad_block_bottom]]
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                copyright &copy; 2018 {{ domain }}
            </div>
        </div>
    </div>
</footer>

<!--  Necessary scripts  -->

<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jQuery.scrollSpeed.js"></script>

<!-- smooth-scroll -->

<script>
    $(function () {
        jQuery.scrollSpeed(100, 1000);
    });
</script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>