<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>[[seo_title]]</title>
    [[seo_geo]]
    [[seo_meta_tags]]
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <!--Google fonts links-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">


    <link rel="stylesheet" href="/css/fonticons.css">
    <link rel="stylesheet" href="/css/slider-pro.css">
    <!--<link rel="stylesheet" href="/css/stylesheet.css">-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <!--For Plugins external css-->
    <link rel="stylesheet" href="/css/plugins.css"/>

    <!--Theme custom css -->
    <link rel="stylesheet" href="/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/css/responsive.css"/>

    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class='preloader'>
    <div class='loaded'>&nbsp;</div>
</div>
[[ad_block_top]]
<header id="main_menu" class="header navbar-fixed-top">
    <div class="main_menu_bg">
        <div class="container">
            <div class="row">
                <div class="nave_menu">
                    <nav class="navbar navbar-default" id="navmenu">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">
                                    {{ domain }}
                                </a>
                            </div>
                            [%nav_links%]
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header> <!--End of header -->

<main class="container-fluid m5">
    {{ template | raw }}
</main>
<section class="container">
    {% if __text is not empty %}
        <div>{{ __text | raw }}</div>
    {% endif %}
    <div>
        [[seo_text]]
    </div>
</section>

<!-- footer Section -->
<footer id="footer" class="footer">
    <div class="container-fluid">
        [%cross_links%]
    </div>
    <div class="container">
        <div class="main_footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright_text text-center">
                        <p class="wow fadeInRight" data-wow-duration="1s">&copy; {{ domain }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End of container -->
</footer><!-- End of footer -->
[[ad_block_bottom]]

<!-- START SCROLL TO TOP  -->

<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<script src="/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/masonry/masonry.min.js"></script>
<script type="text/javascript">
    $('.mixcontent').masonry();
</script>

<script src="/js/jquery.sliderPro.min.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        $('#example3').sliderPro({
            width: 960,
            height: 200,
            fade: true,
            arrows: false,
            buttons: true,
            fullScreen: false,
            shuffle: true,
            smallSize: 500,
            mediumSize: 1000,
            largeSize: 3000,
            thumbnailArrows: true,
            autoplay: false,
            thumbnailsContainerSize: 960

        });
    });
</script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>
