<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div>
    [%nav_links%]
    [%breadcrumbs%]
</div>
[[ad_block_top]]
<header style="text-align: center">
    <h1>[[seo_h1]]</h1>
</header>
{{ template | raw }}
<hr>

{% if __text is not empty %}
    <div>{{ __text | raw }}</div>
{% endif %}

<div>
    [[seo_text]]
</div>
<footer>
    [%cross_links%]
</footer>
[[ad_block_bottom]]
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>