<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">

    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:800" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="container-fluid p-0 bg-dark">
        [%nav_links%]
</header>
[[ad_block_top]]
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5 mb-1 ml-3">[[seo_h1]]</h1>
        </div>
    </div>
    {{ template | raw }}
    <div class="row">
        <div class="col-12">
            <div class="p-3 my-2">
                {% if __text is not empty %}
                    <div>{{ __text | raw }}</div>
                {% endif %}
                <div>
                    [[seo_text]]
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="container-fluid bg-dark p-5">
    [%cross_links%]
    <small class="text-light">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | {{ domain }}</small>
</footer>
[[ad_block_bottom]]
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>