<h3>{{ name }}</h3>
<div class="ui segment" style="margin-bottom: 50px">
    <div class="ui inverted segment">
        <div class="ui inverted relaxed divided list">
            {% for track in tracks %}
            <div class="item">
                <div class="content">
                    <div class="header">
                        <a href="{{ track.__link }}">
                            {{ track.name }}
                        </a>
                    </div>
                    <p>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    {% if pages|length > 0 %}
        <a href="{{ pages[1].url }}">
            <button class="ui primary basic button">Больше</button>
        </a>
    {% endif %}
</div>