<h3>{{ name }}</h3>
<div class="ui segment" style="margin-bottom: 50px">
    <div class="ui three column  stackable grid">
        {% for artist in artists %}
            <div class="column">
                <div class="ui card">
                    <a class="image" href="{{ artist.__link }}">
                        <img src="{{ artist.photo }}">
                    </a>
                    <div class="content">
                        <a class="ui dark header" href="{{ artist.__link }}">{{ artist.name }}</a>
                        <div>
                            {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}" class="ui teal horizontal label">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<div class="ui inverted section divider"></div>
{% if pages|length > 0 %}
    <a href="{{ pages[1].url }}">
        <button class="ui primary basic button">Больше</button>
    </a>
{% endif %}
</div>