<div class="ui breadcrumb">
    {% for link in links %}
        <a class="section" href="{{ link.uri }}">{{ link.title }}</a>
        <span class="divider">/</span>
    {% endfor %}

    <div class="active section">{{ active.title }}</div>
</div>