audio {
    margin: 0 auto;
    display: inline-block;
}
.image-in-card{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.gray{
    background-color: #939393;
}

