html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}
.col {
    margin: 10px 0;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    color: grey;
    border: 1px solid grey;
}

.btn:hover {
    color: black;
    border: 1px solid black;
}

.brcrmb {
    background-color: #e2e2e7;
    padding: 10px;
}

.brcrmb > a {
    color: #323332;
}

.btn1 {
    margin: 10px 0;
    padding: 15px 10px;
    border: 1px solid #d8d8d8;
    box-shadow: 1px 1px 2px rgba(149, 149, 149, 0.46);
    color: #555755;
}

.crosslink {
    background-color: #c9cacb;
    color: #4091df;
    padding: 5px 3px;
}