<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="card">
    <div class="card-body">
        <h5 class="card-title">Сезон {{ season }}</h5>
    </div>
</section>
<div class="my-2">
    <ul class="list-group">
        {% for episode in episodes %}
            <li class="list-group-item">
                <a href="{{ episode.__link }}">
                    {{ episode.season }} Сезон / {{ episode.episode }} Эпизод
                </a>

            </li>
        {% endfor %}
    </ul>
</div>
<section class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <nav>
                <ul class="pagination pagination-sm">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</section>