<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3 class="my-4">{{ titleRu }}</h3>
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid"
                     src="{{ photo }}"
                     alt="{{ titleRu }}">
            </div>
            <div class="col-md-4">[[seo_text]]</div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-secondary">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h3 class="my-4">Сезоны {{ titleRu }} </h3>
    <div class="row">
        <div class="col-12">
            <ul class="list-group mb-3">
                {% for season in seasons %}
                    <a href="{{ season.__link }}"
                       class="list-group-item align-items-center">
                        <div class="row">
                            <div class="col-md-7 mt-2">
                                Сезон {{ season.season }}
                            </div>
                        </div>

                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
[%youtube_adding%]
