<section class="container-fluid first-page">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h1>[[seo_h1]]</h1>
            <p>[[seo_text]]</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 row justify-content-center">
            {% for seria in series %}
                <div class="col-lg-3 col-md-3 col-xs-4 col-sm-4 py-3">
                    <a href="{{ seria.__link }}">
                        <div class="posterizator">
                            <img src="{{ seria.photo }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-7 col-sm-7 py-3">
                    <a href="{{ seria.__link }}">
                        <h5>{{ seria.titleRu }}</h5>
                    </a>
                    <ul>
                        <li>
                            <small>{{ seria.titleEn }}</small>
                        </li>
                        <li><em>imdb: <i class="fas fa-star"></i> <b>{{ seria.imdbRating }}</b>/10</em></li>
                        <li>{% if seria.__tags is defined %}
                                {% for tag in seria.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-pill badge-style">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}</li>
                        <li class="mt-3"><a href="{{ seria.__link }}" class="btn btn-funny mb-3">
                                Просмотр
                            </a></li>
                    </ul>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>