<div class="row bg-light">
    <div class="col-md-12">
        {% if links %}
            <div class="row pt-3">
                <div class="col-12">
                    <h5 class="text-left text-dark">Смотрите также:</h5>
                </div>
                {% for link in links %}
                    <div class="col-6">
                        <ul class="justify-content-lg-center justify-content-md-center
                    justify-content-sm-start justify-content-xs-start cross-link-bar bg-light">
                            <li class="mt-1">
                                <p class="pl-1">
                                    <a href="{{ link.link }}">
                                        <small class="text-dark">{{ link.name }}</small>
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 text-center my-3 small bg-light">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | {{ domain }}</p>
    </div>
</div>
