<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h5 class="col-bg py-1 pl-1">Лучшие фильмы</h5>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row justify-content-center">
        {% for film in films %}
            <div class="col-12">
                <a href="{{ film.__link }}" class="item">
                    <div class="round-image">
                        <img src="{{ film.photo }}" alt="{{ film.photo }}">
                    </div>
                    <p class="text-center text-light">{{ film.titleRu }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<section>
    <div class="row justify-content-center">
        <div class="col-6 py-3">
            {% if pages|length > 0 %}
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-dark text-center"><i class="zmdi zmdi-more"></i> Больше
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
</section>