<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h5 class="py-lg-5 py-md-5 py-sm-1 py-xs-1 text-light">Лучшие сериалы</h5>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row justify-content-center">
        {% for seria in series %}
            <div class="col-12">
                <a href="{{ seria.__link }}" class="item">
                    <div class="round-image">
                        <img src="{{ seria.photo }}" alt="{{ seria.photo }}">
                    </div>
                    <p class="text-center text-light">{{ seria.titleRu }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<section>
    <div class="row justify-content-center">
        <div class="col-6 py-3">
            {% if pages|length > 0 %}
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-dark text-center"><i class="zmdi zmdi-more"></i> Больше
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
</section>