<section>
    <section class="container-fluid extra-pd screen-height">
        <div class="row">
            <section class="container py-2">
                [%breadcrumbs%]
            </section>
            <div class="col-12 text-center">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <section class="container">
                <div class="row">
                    <div class="col">
                        <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                                width="100%" height="700px" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>