<section class="container-fluid screen-height lists-bg">
    <div class="row">
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12">
                <div class="card search_youtube" >
                    <div class="card-header">
                        <span>{{ item.title }}</span>
                    </div>
                    <div class="card-body">
                        <img src="{{ item.src }}" class="__modal_trigger" maestro-youtube-id='{{ item.id }}'>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>