<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 first-page text-center">
            <h1 class="py-1 my-2">[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container episode">
    <section class=" container py-2">
        [%breadcrumbs%]
    </section>
    <div class="text-center text-secondary border border-secondary bg-light my-2">
        <h5>{{ titleRu }}</h5>
        <small>{{ titleEn }}</small>
        <div class="col-12 text-center">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="badge badge-pill badge-color">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                    width="100%" height="700px" allowfullscreen></iframe>
        </div>
    </div>
</section>
[%youtube_adding%]