<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 first-page text-center">
            <h1 class="py-1 my-2">[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        {% for item in items %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 my-3 py-2 gray-filter">
                    <div>
                        <a href="{{ item.__link }}" class="text-center">
                            <h4 class="text-light">{{ item.titleRu }}</h4>
                        </a>
                        <div>{% if item.__tags is defined %}
                                {% for tag in item.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-small badge-color">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}</div>
                        <div class="py-1">
                            <small class="text-light">IMdb: <em class="text-light">
                                    <i class="fas fa-star"></i> <b>{{ item.imdbRating }}</b>/10</em>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 d-flex justify-content-center my-3">
                    <a href="{{ item.__link }}" class="text-center">
                        <div class="img-box rounder">
                            <img src="{{ item.photo }}" alt="{{ item.titleRu }}">
                            <div class="filter-box"></div>
                            <div class="content-box text-center text-light">
                                <i class="fas fa-play-circle fa-3x"></i>
                            </div>
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>