<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 first-page text-center">
            <h1 class="py-1 my-2">[[seo_h1]]</h1>
            <p class="px-3">[[seo_text]]</p>
        </div>
    </div>
</section>

[%movies_list%]

[%tv_series_list%]