<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 first-page text-center">
            <h1 class="py-1 my-2">[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <section class=" container py-2">
                [%breadcrumbs%]
            </section>
        </div>
    </div>
    <div class="row justify-content-center my-5 py-2">
        <div class="col-12">
            <h3 class="text-light text-center box-seria px-3 py-2">{{ name }}</h3>
        </div>
        {% for episode in episodes %}
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 text-center justify-content-center c2">
                <a href="{{ episode.__link }}" class="box-content-style pt-2">
                    <p class="py-5 border-around">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>