<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 first-page text-center">
            <h1 class="py-1 my-2">[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid my-2">
    <div class="row justify-content-center">
        <div class="col-12">
            <section class=" container py-2">
                [%breadcrumbs%]
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center box-seria py-5">
            <img src="{{ photo }}"/>
            <h2 class="text-light">{{ titleRu }}</h2>
            <small class="text-light">{{ titleEn }}</small>
            {% if __tags is defined %}
                <div>
                    {% for tag in __tags %}

                        <a href="{{ tag.__link }}" class="badge badge-pill badge-color">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% for index,season in seasons %}
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 text-center c2">
                <a href="{{ season.__link }}" class="box-content-style pt-2">
                    <p class="py-5 border-around">{{ season.season }} Сезон</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
[%youtube_adding%]