<section>
    <h5>{{ name }}</h5>
    <section class="row">
        {% for film in films %}
            <div class="card col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin: {{ random([ 4, 5, 6]) }}px">
                <a href="{{ film.__link }}"><img class="card-img-top img-responsive" src="{{ film.photo }}" alt="{{ film.titleRu }}"></a>
                <div class="card-body">
                    <a href="{{ film.__link }}" class="text-dark"><h3 class="card-title">{{ film.titleRu }}</h3></a>
                    <a href="{{ film.__link }}" class="btn btn-primary">Перейти</a>
                    <div>
                        {% if film.__tags is defined %}
                            {% for tag in film.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-warning">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-12 my-3 text-center">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</section>