{% if links is defined %}
        <ul class="breadcrumb">
            {% for link in links %}
                <li class="breadcrumb-item"><small><a href="{{ link.uri }}" class="text-light text-underline">
                            {{ link.title }}
                        </a></small></li>
            {% endfor %}
            <li class="breadcrumb-item active text-light"><small>{{ active.title }}</small></li>
        </ul>
{% endif %}
