<div class="col-md-12">
    {% if links %}
        <div class="container pt-3">
            <h5 class="text-left text-light">Смотрите также</h5>
            <div class="row justify-content-start cross-link-bar bg-element">
                {% for link in links %}
                    <div class="col-6 mt-1">
                        <p class="pl-1">
                            <a href="{{ link.link }}" class="link-hover text-light">
                                <small class="border-bottom border-light">{{ link.name }}</small>
                            </a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 text-center my-3 small bg-light">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | {{ domain }}</p>
    </div>
</div>