<section class="container-fluid list-styling">
    <div class="row d-flex justify-content-center">
        {% if pages|length > 0 %}
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 d-flex justify-content-center py-1">
                <a href="{{ pages[1].url }}" class="block-inset">
                    <div class="lynch-style">
                        <p class="text-center">все лучшие фильмы</p>
                    </div>
                </a>
            </div>
        {% endif %}
        {% for film in films %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center py-1 del">
                <a href="{{ film.__link }}">
                    <div class="img-box">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="filter-box"></div>
                        <div class="content-box text-center">
                            <p>{{ film.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>