<section class="container-fluid list-styling">
    <div class="row d-flex justify-content-center">
        {% if pages|length > 0 %}
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 d-flex justify-content-center
                        py-1 order-lg-2 order-md-2 order-xs-1 order-sm-1">
                <a href="{{ pages[1].url }}" class="block-inset">
                    <div class="lynch-style-red">
                        <p class="text-center">все лучшие сериалы</p>
                    </div>
                </a>
            </div>
        {% endif %}
        {% for seria in series %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center py-1 del">
                <a href="{{ seria.__link }}">
                    <div class="img-box">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                        <div class="filter-box"></div>
                        <div class="content-box text-center">
                                <p>{{ seria.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>