<section class="container-fluid py-5 bg-bark">
    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <h3 class="text-uppercase text-light text-left"><strong>Лучшие фильмы</strong></h3>
        </div>
    </div>
    <div class="row d-flex justify-content-center no-gutters bg-light py-3 px-5 container-border">
        {% for film in films %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 d-flex justify-content-center">
                <a href="{{ film.__link }}" class="all-container p-3">
                    <div class="rat">
                        <em><i class="fas fa-star"></i> <b>{{ film.imdbRating }}</b>/10</em>
                    </div>
                    <div class="img-container">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="text text-center">
                            <p class="py-3">{{ film.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if pages|length > 0 %}
            <a href="{{ pages[1].url }}" class="col-12 py-2 text-dark text-center">
                Больше
            </a>
        {% endif %}
    </div>
</section>