<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <!-- Fonts for icons -->
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/aos.css" rel="stylesheet">
    <link href="/css/spacing-and-height.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="/css/theme-modules.css" rel="stylesheet">
</head>

<body>
<div id="main-content">
    <!-- Header -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light sidebar-nav align-items-start bg-color-gray py-40px py-md-80 px-40px px-md-35">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                {{ domain }}
            </a>
            <button class="navbar-toggler hamburger-menu-btn" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span>toggle menu</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    [%nav_links%]
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Header -->
    [[ad_block_top]]
    <!-- main -->
    <div class="container-for-sidebar-menu page-container scene-main scene-main--fade_In mt-60px ">
        <!-- Work  -->
        <div class="bg-img-7">
            <div class="container">
                <h1>[[seo_h1]]</h1>
            </div>
            <div class="container">
                {{ template | raw }}
            </div>
            {% if __text is not empty %}
                <div class="container">{{ __text | raw }}</div>
            {% endif %}
            <div class="container">
                [[seo_text]]
            </div>
        </div>
    </div>
    <!-- End main -->
    <div class="footer-container-for-sidebar-menu">
        <footer class="web-footer footer footer-top-border py-50px">
            <div class="container">
                <div class="row">
                    [%cross_links%]
                </div>
                <div class="row large-gutters">
                    <div class="col-md-6">
                        <div class="footer-widget">
                            <p class="m-0">© 2018 {{ domain }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
[[ad_block_bottom]]
<!-- ================================================== -->
<!-- Placed js files at the end of the document so the pages load faster -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/aos.js"></script>
<script type="text/javascript" src="/js/imageloaded.js"></script>
<script type="text/javascript" src="/js/isotope.js"></script>
<script type="text/javascript" src="/js/jquery.countTo.js"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>