<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/extra.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cl.css"/>
    [[seo_global_meta_tags]]
    [[seo_meta_tags]]
    [[seo_meta_schema]]
</head>
<body>
[[ad_block_top]]
<div id="container">
    <div id="header">
        <h1>[[seo_h1]]</h1>
        {% if __text is not empty %}
            <p>{{ __text | raw }}</p>
        {% endif %}
        <p>[[seo_text]]</p>
    </div>
    <div id="linkbar">
        [%nav_links%]
    </div>
    <div id="left">
        <div id="sub_left">
            [%audio_tracks_list%]
        </div>
        <div id="sub_content">
            {{ template | raw }}
        </div>
        <div id="footer">
            [%cross_links%]
            Copyright {{ domain }} &copy; 2018
        </div>
    </div>
    <div id="right">
        [%audio_artists_list%]
    </div>
</div>
[[ad_block_bottom]]
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>
