<!-- Start facilities Area -->
<section class="facilities-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-80 header-text">
                <h3>Топ {{ total }} исполнителей</h3>
            </div>
        </div>
        <div class="row">
            {% for artist in artists %}
                <!-- post -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="post post-thumb">
                        <a class="post-img" href="{{ artist.__link }}">
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                        </a>
                        <div class="post-body">
                            <h3 class="post-title"><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                            {% if artist.__tags is defined %}
                                <ul class="post-meta">
                                    {% for tag in artist.__tags %}
                                        <li>
                                            <a href="{{ tag.__link }}">
                                                <span class="badge badge-default">{{ tag.name }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /post -->
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item disabled">
                        {% else %}
                            <li class="page-item active">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End facilities Area -->
