<h4 class="text-center">{{ name }}</h4>
<div class="list-tracks">
    {% for track in tracks %}
        <div>
            <div>
                <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
            </div>
            <div>
                    <span>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </span>
                {#  <span>
                      <a class="btn btn-outline-secondary" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>
                  </span>#}
            </div>
        </div>
    {% endfor %}
    {% if pages|length > 0 %}
        <div class="text-center mt">
            <a href="{{ pages[1].url }}">
                <button type="button" class="btn btn-secondary">Больше</button>
            </a>
        </div>
    {% endif %}
</div>

