<h4 class="text-center">Топ Артистов</h4>
<div class="list-artists">
    {% for artist in artists %}
        <div>
            <a href="{{ artist.__link }}">
                <img class="img" src="{{ artist.photo }}" alt="{{ artist.name }}">
                <br/>
                {{ artist.name }}
            </a>
        </div>
    {% endfor %}
</div>
{% if pages|length > 0 %}
    <div class="text-center mt">
        <a href="{{ pages[1].url }}">
            <button type="button" class="btn btn-secondary">Больше</button>
        </a>
    </div>
{% endif %}

