<ol class="breadcrumb">
    {% for link in links %}
        <li class="breadcrumb-item active">
            <a href="{{ link.uri }}">{{ link.title }}</a>
            <i class="right chevron icon divider"></i>
        </li>
    {% endfor %}
    <li aria-current="page">
        <a>{{ active.title }}</a>
    </li>
</ol>