<section class="container-fluid artist-screen py-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>[[seo_h1]]</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p>[[seo_text]]</p>
        </div>
        {% for artist in artists %}
            <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <div class="artist-photo">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <h3><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                    <hr>
                    <div><small>Всего альбомов: {{ artist.totalAlbums }}</small></div>
                    <div><small>Всего треков: {{ artist.totalSongs }}</small></div>
                    <div>
                        {% if artist.__tags is defined %}
                            {% for tag in artist.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>