<section class="container-fluid tracks-bg">
    <ul class="pl-lg-5 pl-md-5 pl-sm-2 pl-xs-2 py-5">
        {% for track in tracks %}
            <li>
                <a href="{{ track.__link }}">{{ track.name }}</a>
                {% if track.artistName == "" %}
                    <p>Unknown</p>
                {% else %}
                    <p>{{ track.artistName }}</p>
                {% endif %}
                <audio src="{{ track.source_url }}" controls="controls" preload="none" class="large"></audio>
            </li>
        {% endfor %}
    </ul>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>