header, footer {
    background-color: #2b2b2b;
}

.cross-link-bar {
    background: linear-gradient(rgba(19, 203, 252, 0.51), rgba(60, 255, 158, 0.51));
}

.nav-items, a {
    color: rgb(59, 166, 169);
}

.nav-items:hover {
    color: #f1f5f6;
    transition: 0.5s;
    text-decoration: overline;
}

.main-screen {
    min-height: 80vh;
    background-color: #3b3b3b;
}

.second-screen {
    background: linear-gradient(150deg, #3b3b3b 70%, rgba(82, 242, 255, 0.5) 30%),
    url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.main-screen h1, h3 {
    background: linear-gradient(#13cbfc, #29ffbb, #46ff53);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    font-weight: bold;
    font-size: 4vw;
    height: 60vh;
    margin-left: 10px;
    margin-right: 15px;
}

h3 {
    writing-mode: horizontal-tb;
    font-size: 4vw;
}

.block-height-60 {
    min-height: 80vh;
}

.main-seo {
    color: #f9ff3d;
    border-top: 1px solid #f9ff3d;
}

.artist-photo {
    height: 180px;
    width: 180px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.artist-photo img {
    height: auto;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.artist-name {
    position: absolute;
    z-index: 9999;
    height: 180px;
    width: 180px;
    color: rgb(59, 166, 169);
    text-align: center;
    background: linear-gradient(35deg, rgba(255, 255, 255, 0) 45%,
    #30ff7f 55%, #66ffb9 60%, rgba(255, 255, 255, 0) 73%, rgba(255, 255, 255, 0) 100%);
    background-size: 400% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.artist-name:hover {
    border: 4px solid #66ffb9;
    cursor: pointer;
    background-position: 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.artist-name:focus {
    outline: none;
}

.artist-name p {
    height: 180px;
    width: 180px;
    margin-top: 80px;
    opacity: 1;
    font-weight: bold;
    transition: 0.3s 0.1s;
}

.artist-name:hover p {
    opacity: 0;
    transition: 0.3s 0.1s;
}

.artist-name:hover + .artist-photo > img {
    opacity: 0.8;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.4s 0.25s;
}

audio {
    width: 100%;
}

small, li > p {
    color: #d8faff;
}

.creative-btn {
    background-color: #f9ff3d;
    border: 2px solid #f9ff3d;
    color: #3b3b3b;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
}

.creative-btn:hover {
    background-color: #3b3b3b;
    color: #f9ff3d;
    transition: 0.3s;
}

.creative-btn-text {
    background-color: #3b3b3b;
    border: 2px solid #66ffb9;
    color: #66ffb9;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
}

.creative-btn-text:hover {
    background-color: #66ffb9;
    color: #3b3b3b;
    transition: 0.3s;
}

.photo {
    height: 180px;
    width: 180px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.photo img {
    height: auto;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.photo:hover {
    border: 4px solid #66ffb9;
    cursor: pointer;
    transition: .6s;
}

.photo img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.4s 0.25s;
}

.list-screen {
    min-height: 80vh;
    background-color: #3b3b3b;
    background: linear-gradient(140deg, #3b3b3b 80%, rgba(82, 242, 255, 0.5) 20%),
    url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.list-screen h1 {
    background: linear-gradient(55deg, #13cbfc, #29ffbb, #46ff53);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 15px;
}

.list-seo {
    color: #f9ff3d;
    border-left: 1px solid #f9ff3d;
}

.name {
    color: #3b3b3b;
    background-color: #f9ff3d;
    font-weight: bold;
    padding: 2px 3px 2px 1px;
    margin-bottom: 5vh;
}

.num {
    font-size: 20px;
    color: #29ffbb;
}

li {
    list-style: none;
}

.head {
    border: 10px solid rgba(82, 242, 255, 0.5);
    background: linear-gradient(140deg, #3b3b3b 80%, rgba(82, 242, 255, 0.5) 20%);
    margin: 0 10px;
}

.bc-bg {
    background-color: transparent;
}

.small {
    rgb(59, 166, 169);
}

.small a:hover {
    color: #f1f5f6;
    transition: 0.5s;
    text-decoration: overline;
}

a:hover {
    color: #5ea2f6;
    transition: 0.5s;
    text-decoration: overline;
}