<nav aria-label="breadcrumb">
    <ul class="breadcrumb justify-content-center">
        {% for link in links %}
            <li class="breadcrumb-item small">
                <a href="{{ link.uri }}" class="text-dark">{{ link.title }}</a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active text-dark small" aria-current="page">
            {{ active.title }}
        </li>
    </ul>
</nav>
