<section class="container-fluid py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-light">Лучшие фильмы</h3>
            {% if pages|length > 0 %}
                <a href="{{ pages[1].url }}" class="text-light">
                    все лучшие фильмы
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center bg-con text-center text-dark">
        {% for film in films %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 bg-secondary justify-content-center border border-dark">
                <a href="{{ film.__link }}" class="text-dark hov p-3">
                    <div>
                        <em><i class="fas fa-star"></i><b>{{ film.imdbRating }}</b>/10</em>
                    </div>
                    <div class="img-con">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="text text-center name-con">
                            <p class="py-3">{{ film.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>