<section class="container-fluid">
    [%breadcrumbs%]
</section>
<section>
    <div class="container">
        <h3 class="my-4">{{ name }}</h3>
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid" src="{{ photo }}" alt="">
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Всего альбомов {{ totalAlbums }}</li>
                    <li>Всего треков {{ totalSongs }}</li>
                </ul>
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-default">{{ tag.name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h3 class="my-4">Альбомы {{ name }} </h3>
    <div class="row">
        <div class="col">
            <ul class="list-group" style="margin-bottom: 20px">
                {% for album in albums %}
                    <a href="{{ album.__link }}"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="row" style="width: 100%">
                            <div class="col-md-2">
                                <img src="{{ album.photo }}" alt="{{ album.name }}" class="rounded-circle"
                                     style="display: block; height: 125px; width: 125px">
                            </div>
                            <div class="col-md-7" style="margin-top: 5px;font-size: 25px;">
                                {{ album.name }}
                            </div>
                        </div>

                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
