<section class="container-fluid">
    [%breadcrumbs%]
</section>
<section class="card">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
    </div>
    <div class="card-footer text-muted">
        {{ text | raw }}
    </div>
</section>