<section class="section pt-5 pb-2 mt-5">
    <div class="container">
        [%breadcrumbs%]
    </div>
</section>

<section class="section pt-5 pb-2 mt-5">
    <div class="container">
        <div class="card-body">
            <h5 class="card-title text-center">
                {{ name }}
            </h5>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12 mb-2 text-center">
                       {{ text | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>