.item {
    display: block;
    position: relative;
}

.item p {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
    background-color: rgba(0,0,0,.7);
}

.item p span {
    font-size: 1.1em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    display: block;
    text-shadow: black 2px 1px 1px;
}

.item p em {
    background-color: rgba(0, 0, 0, .5);
    width: auto;
    padding: 5px;
    margin-top: 5px;
    color: white;
}

.item p em i {
    color: yellow;
    font-size: 1.3em;
}

.item p em b {
    font-size: 1.2em;
}