<div class="row">
    <div class="col">
        [%breadcrumbs%]
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="entity_title">{{ titleRu }}
            <small>{{ titleEn }}</small>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                    width="100%" height="700px" allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-left">
        {% if(__prev) %}
            <a class="btn btn-light" href="{{ __prev }}">Предыдущая серия</a>
        {% endif %}
    </div>
    <div class="col">
        [%tree_items%]
    </div>
    <div class="col text-right">
        {% if(__next) %}
            <a class="btn btn-light" href="{{ __next }}">Следующая серия</a>
        {% endif %}
    </div>
</div>
