<div class="row">
    <div class="col">
        [%breadcrumbs%]
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="entity_title">{{ titleRu }}
            <small>{{ titleEn }}</small>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                    width="100%" height="700px" allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
