<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ name }}</h2>
    </div>
</div>
<div class="row">
    {% for film in items %}
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="bg-light rounded px-2 py-3 shadow">
                <a href="{{ film.__link }}">
                    <div class="item">
                        <img data-src="{{ film.photo }}"
                             src="{{ film.photo }}"
                             alt="" width="200" height="300">
                        <p>
                            <span>{{ film.titleRu }}</span>
                            <em><i class="zmdi zmdi-star-circle"></i> <b>{{ film.imdbRating }}</b>/10</em>
                        </p>
                    </div>
                    <div class="link">
                        <i class="zmdi zmdi-play-circle"></i>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row mt-4">
    <div class="col">
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="gray page-item">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>