<div class="row">
    <div class="col">
        [%breadcrumbs%]
    </div>
</div>
<div class="row">
    {% for episode in episodes %}
        {% include 'driver/video/games2/block/element/episode.twig' with {'episode':episode} %}
    {% endfor %}
</div>
<div class="row">
    <div class="col">
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item gray">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
