<div class="row">
    <div class="col">
        [%breadcrumbs%]
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="card-title">
            {{ titleRu }}
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p class="card-text">
            <img class="img-thumbnail float-left"
                 src="{{ photo }}"
                 alt="{{ titleRu }}" style="margin: 10px">
        </p>
        <a href="{{ imdbUrl }}">
            <span class="badge badge-light">Imdb {{ imdbRating }}</span>
        </a>
        <a href="{{ kinopoiskUrl }}">
            <span class="badge badge-dark">Kinopoisk {{ kinopoiskRating }}</span>
        </a>
    </div>
    <section class="col-9 row">
        {% for index,season in seasons %}
            {% include 'driver/video/games2/block/element/season.twig' with {'season':season} %}
        {% endfor %}
    </section>
</div>

<div class="row">
    <div class="col">
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item gray">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
