<section class="container-fluid list-screen">
    <div>
        [%breadcrumbs%]
    </div>
    <div class="row d-flex justify-content-center head">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-5 d-flex justify-content-center">
            <div class="head-photo">
                <img src="{{ photo }}" alt="{{ name }}"/>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 py-5 d-flex justify-content-center">
            <div>
                <h1 class="text-center">[[seo_h1]]</h1>
                <hr>

                {% if __text is not empty %}
                    <p class="list-seo pl-2 ml-2">{{ __text | raw }}</p>
                {% endif %}

                <p class="list-seo pl-2 ml-2">[[seo_text]]</p>
            </div>
        </div>
    </div>
    <div class="row pt-5 mt-5">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    {% for artist in items %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-2
                                    d-flex justify-content-center">
                            <div>
                                <div class="text-center">
                                    <a href="{{ artist.__link }}" class="name text-center">{{ artist.name }}</a>
                                </div>
                                <a href="{{ artist.__link }}" class="text-light">
                                    <div class="photo">
                                        <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <section class="container-fluid mt-5">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>