<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <style>
        .sur_img {
            height: 100px;
            width: 100px;
            object-fit: cover;
        }

        body {
            width: 100%;
            overflow-x: hidden;
        }

        main {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
{% verbatim %}
<style>{{ raw_include("templates/driver/audio/surface/css/index.css")|raw }}</style>
{% endverbatim %}

<input type="checkbox" id="nav--super-vertical-responsive">
<label for="nav--super-vertical-responsive">Меню</label>
<aside class="nav--super-vertical g--2 g-m--3 g-s--6 g-t--12 no-margin-vertical">
    <div class="g--12 logo-area no-margin-vertical">
        <h5 class="color--pink no-margin-vertical">Меню</h5>
    </div>
    <nav class="g--12 no-margin-vertical">
        [%nav_links%]
    </nav>
</aside>
[[ad_block_top]]
<main class="g--10 g-m--12 m--2 m-m--0 no-margin-vertical">
    <header>
        <a href="/"><h2 class="m--1 g--4 g-s--11 docsHeader">{{ domain }}</h2></a>


    </header>
    <div class="g--10 m--1">
        <div class="g--12">
            [%breadcrumbs%]
            <h1>[[seo_h1]]</h1>

            {{ template | raw }}

        </div>
    </div>
    {% if __text is not empty %}
        <p>{{ __text | raw }}</p>
    {% endif %}
    <p>[[seo_text]]</p>
    <footer>
        [%cross_links%]
    </footer>
    [[ad_block_bottom]]
</main>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>
