body {
    background-color: #1d2124;
}

.full-page-height {
    min-height: 100vh;
}

.half-page-height {
    min-height: 50vh;
}

.page-90-height {
    min-height: 90vh;
}

.main-promo {
    background: linear-gradient(rgba(160, 160, 160, 0.5), rgba(0, 0, 0, 0.5)),
                url("../img/first-p-bg.jpg") center no-repeat fixed;
    background-size: cover;
    color: #fff2f2;
}

.best-film-bg {
    background: linear-gradient(rgba(41, 41, 40, 0.7), rgba(0, 0, 0, 0.7)),
                url(../img/best-film-bg.jpg) center no-repeat fixed;
    background-size: cover;
}

.best-ser-bg {
    background:  linear-gradient(rgba(41, 41, 40, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/best-ser-bg.jpg) center no-repeat fixed;
    background-size: cover;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

img:hover {
    transition: 0.5s;
    transform: scale(1.1);
    border: 1px solid #fff2f2;
}

a {
    color: #fff2f2;
}

a:hover {
    color: #9b9e9c;
}

small {
    color: #00a1e1;
}

.page-item .page-link {
    background-color: #0b0a0f;
    color: #fff2f2;
}

.page-item .page-link:hover {
    background-color: #00a1e1;
}