{% for film in films %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 py-1 bg-secondary pt-4 m-1">
        <div>
            <div class="text-block">
                <a href="{{ film.__link }}" class="text-left">
                    <strong>{{ film.titleRu }}</strong>
                </a>
                <div>
                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}" class="badge badge-danger"><small class="text-light">
                                {{ tag.name }}</small></a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="album-photo">
                <a href="{{ film.__link }}">
                    <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                </a>
            </div>
        </div>
    </div>
{% endfor %}