<div class="row col-md-10 col-lg-10 col-xs-12 col-sm-12 d-flex justify-content-center">
    <ul class="nav">
        {% for nav in links %}
            <li class="mx-lg-5 mx-md-5 mx-xs-1 mx-sm-1">
                <a class="nav-style text-center text-uppercase" href="{{ nav.__link }}"><div class="p-2">
                        {{ nav.name }}
                    </div></a>
            </li>
        {% endfor %}
    </ul>
</div>