{% for seria in series %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 py-1 bg-secondary pt-4 m-1">
        <div>
            <div class="text-block">
                <a href="{{ seria.__link }}" class="text-left">
                    <strong>{{ seria.titleRu }}</strong>
                </a>
                <div>
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-danger"><small class="text-light">
                                    {{ tag.name }}</small></a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="album-photo">
                <a href="{{ seria.__link }}">
                    <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                </a>
            </div>
        </div>
    </div>
{% endfor %}