<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            [%breadcrumbs%]
        </div>
    </div>
</div>
<section class="container-fluid artist-bg">
    <div class="row my-5">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1>[[seo_h1]]</h1>
            <img src="{{ photo }}" alt="{{ name }}" class="shadow"/>
            <div class="row">
                <div class="col-md-6">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <span href="{{ tag.__link }}" class="badge badge-pill badge-dark">{{ tag.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-self-center">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
                <br>
            {% endif %}

            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid tracks-bg my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
            <ul>
                {% for track in tracks %}
                    <li>
                        <a href="{{ track.__link }}" class="track-link">{{ track.name }}</a>
                        <div>
                            <audio src="{{ track.source_url }}" controls preload="none"></audio>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>