<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            [%breadcrumbs%]
        </div>
    </div>
</div>
<section class="container-fluid artist-bg">
    <div class="row my-5">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1>[[seo_h1]]</h1>
            <img src="{{ photo }}" alt="{{ name }}" class="shadow"/>
            <div class="row">
                <div class="col-md-6">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <span>
                                <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">{{ tag.name }}</a>
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-self-center">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
                <br>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<div class="dropdown-divider"></div>
<section class="container-fluid">
    <div class="row">
        {% for album in albums %}
            <div class="col-md-3 d-flex justify-content-center">
                <div class="card card-size">
                    <a href="{{ album.__link }}">
                        <img class="card-img-top" src="{{ album.photo }}" alt="{{ album.name }}" height="350px">
                    </a>
                    <div class="card-body">
                        <div class="mb-1 card-body-size">
                            <p class="card-title">{{ album.name }}</p>
                        </div>
                        <a href="{{ album.__link }}" role="button" class="artists-button">БОЛЬШЕ</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>