<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<section class="container-fluid artist-bg">
    <div class="row my-5">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1>[[seo_h1]]</h1>
            <img src="{{ photo }}" alt="{{ name }}" class="shadow"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-self-center">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
                <br>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<div class="dropdown-divider"></div>
<section class="container-fluid">
    <div class="row">
        {% for artist in items %}
            <div class="col-md-3 d-flex justify-content-center">
                <div class="card card-size">
                    <img class="card-img-top" src="{{ artist.photo }}" alt="{{ artist.name }}" height="350px">
                    <div class="card-body">
                        <div class="mb-1 card-body-size">
                            <p class="card-title">{{ artist.name }}</p>
                            {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <a href="{{ artist.__link }}" role="button" class="artists-button">БОЛЬШЕ</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>