<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col py-5 ml-5">
            <h1>[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
                <br>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col-lg-4 col-md-6 col-xs-12 col-12">
                <div>
                    <img src="{{ item.src }}" class="img-fluid __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                    <small>{{ item.title }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
</section>