<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            [%breadcrumbs%]
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="row my-5">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1>[[seo_h1]]</h1>
            <img src="{{ photo }}" alt="{{ name }}" class="shadow"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-self-center">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
                <br>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>

<section class="track-bg">
    <div class="row d-flex justify-content-center pt-5 pb-5 pl-2">

        <div class="col-md-10">
                <span class="mt-1">
                    {{ name }} - {{ duration | date('i:s', '+00:00 GMT') }}
                </span>
                <p class="small">{{ artistName }}</p>
            <span>
        <audio src="{{ url }}" controls="controls" preload="none" value="1.0" style="width: 80%;"></audio>
                </span>
        </div>
        <div class="col-md-1 align-self-end mb-2">
            <a href="{{ url }}" download="{{ name }}" class="btn btn-success">
                Скачать
            </a>
        </div>
        <div class=" col-md-12 card-footer text-dark small mt-5">
            Сейчас слушают {{ totalListeners }} |
            Всего скачали {{ totalDownloads }} раз |
            Прослушали {{ totalListening }} раз
        </div>
        </div>
    </div>
</section>
