{% if links is defined %}
        <ul class="breadcrumb bg-none">
            {% for link in links %}
                <li class="breadcrumb-item"><strong><a href="{{ link.uri }}" class="text-light">
                            {{ link.title }}
                        </a></strong></li>
            {% endfor %}
            <li class="breadcrumb-item active text-light">{{ active.title }}</li>
        </ul>
{% endif %}