<div class="form-group">
    <select class="form-control btn btn-dark" onchange="location = this.value;">
        {% for link in links %}
            {% if link.__link == __link %}
                <option value="{{ link.__link }}" selected>{{ link.name }}</option>
            {% else %}
                <option value="{{ link.__link }}">{{ link.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>