<div class="col-md-4 col-sm-6 mb-2">
    <div class="sermon element-animate fadeInUp element-animated">
        <div class="sermon-text">
            <a href="{{ episode.__link }}">Смотреть</a>
            <b>{{ episode.titleRu }}</b>
            <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
        </div>
    </div>
</div>