<div class="col-md-3 mb-3">
    <div class="movie-image">
        <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="" /></a>
    </div>
    <div class="name"><a href="{{ seria.__link }}" >{{ seria.titleRu }}</a></div>
    <div class="rating">
        <p>Оценка</p>
        <div class="stars">
            <div class="stars-in"> </div>
        </div>
    </div>
    <p>
        {% if seria.__tags is defined %}
            {% for tag in seria.__tags %}
                <a href="{{ tag.__link }}">
                    <span class="badge badge-success">{{ tag.name }}</span>
                </a>
            {% endfor %}

        {% endif %}
    </p>
</div>