<section class="container-fluid">
    <div class="row justify-content-center my-2">
        <div class="col-12">
            <h1 class="text-dark mx-2 py-5">[[seo_h1]]</h1>
            <hr>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <hr>
            <p>[[seo_text]]</p>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-md-8 text-center">
            <h2>{{ titleRu }}</h2>
            <small>{{ titleEn }}</small>
            <hr>
            <div class="col-12 text-center">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-pill badge-info">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class=" container py-2">
        [%breadcrumbs%]
    </div>
    <div class="embed-responsive embed-responsive-16by9 my-2">
        <iframe class="embed-responsive-item border border-dark"
                src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                allowfullscreen></iframe>
    </div>
</section>