<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-dark mx-2 py-5">[[seo_h1]]</h1>
            <hr>
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <hr>
            <p>[[seo_text]]</p>
        </div>
        {% for item in items %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="img-box">
                    <a href="{{ item.__link }}">
                        <img src="{{ item.photo }}" alt="{{ item.titleRu }}">
                    </a>
                </div>
                <div class="text-center text-light bg-dark">
                    <em><i class="fas fa-star py-1"></i> <b>{{ item.imdbRating }}</b>/10</em>
                    <a href="{{ item.__link }}" class="text-light">
                        <p class="py-2 px-1">{{ item.titleRu }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>