<section class="container-fluid">
    <div class="row d-flex">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 my-5">
            [%movies_list#8%]
            <div class="img-bg">
                <h1 class="text-light mx-2 py-5">[[seo_h1]]</h1>
            </div>
            [%tv_series_list#8%]
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-dark my-5">
            <p class="px-3 text-dark">[[seo_text]]</p>
        </div>
    </div>
</section>