body {
    background-color: #eee9df;
}

.img-block {
    height: 300px;
    width: inherit;
}

.img-block img {
    height: 300px;
    width: inherit;
    object-fit: cover;
}

.hi-100 {
    min-height: 80vh;
}

header {
    box-shadow: 0 0 2px 1px #a8591a;
}

small {
    color: #c98020;
}