body {
    background: linear-gradient(rgba(14, 8, 3, 0.88), rgba(6, 3, 2, 0.91)), url(../img/bg-main-page.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.page {
    min-height: 75vh;
}

ul {
    list-style: none;
}

.content-box {
    margin-top: 5vh;
    color: #767676;
    z-index: -1;
    min-height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    color: #d3d3d3;
    text-transform: uppercase;
}

h2 {
    color: #ffff81;
    margin-top: 5vh;
}

h1 + p {
    background-color: #d3d3d3;
    border: 5px solid rgba(255, 255, 129, 0.6);
    padding: 10px 5px;
}

.films-content {
    background-color: #f2e8da;
    border: 5px solid rgb(169, 164, 115);
    box-shadow: 1px 1px 2px 2px rgba(51, 51, 35, 0.8);
    width: 99%;
    margin-top: 90vh;
}

.all-content {
    background-color: #f2e8da;
    border: 5px solid rgb(169, 164, 115);
    box-shadow: 1px 1px 2px 2px rgba(51, 51, 35, 0.8);
    width: 99%;
}

.text-container {
    background-color: rgba(130, 120, 100, 0.3);
    min-height: 250px;
}

.text-container p {
    background-color: #635a45;
    color: lightgrey;
    padding: 8px 3vw;
    border-bottom-right-radius: 100px;
    border-right: 5px solid rgb(169, 164, 115);
}

.img-prop {
    width: inherit;
    height: auto;
}

.back-khaki {
    background-color: #f2e8da;
    box-shadow: 1px 1px 2px 2px rgba(51, 51, 35, 0.8);
    padding: 7px;
}

.text-khaki {
    background-color: #f2e8da;
    color: #464031;
    padding: 10px;
    margin-left: 20px;
    border: 2px solid #828266;
}
.container-3d {
    height: 300px;
    margin: 0 auto;
    position: relative;
    width: inherit;
    overflow:hidden;

}

.img-prop {
    width: inherit;
    height: auto;
}

.img-cont {
    width: inherit;
    height: 250px;
    object-fit: cover;
}

.img-cont > a > img {
    width: inherit;
    height: 250px;
    object-fit: cover;
}

.front {
    position: absolute;
    transform: rotateY(0deg);
    z-index: 1;
    transition: all 1s ease 0.3s;
    transform-style: preserve-3d;
    backface-visibility:hidden;
    width: inherit;
    height: auto;
    object-fit: cover;
}

.front a img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid rgba(6, 3, 2, 0.91);
}

.container-3d:hover .front {
    position: absolute;
    transform: rotateY(-180deg);
}

.back {
    background: rgba(6, 3, 2, 0.91);
    backface-visibility:hidden;
    color: #fff2f2;
    width: inherit;
    height: 300px;
    position: absolute;
    transform: rotateY(180deg);
    z-index: 0;
    transition: all 1s ease 0.3s;
    transform-style: preserve-3d;
}

.back-wrap {
    transform: translateZ(60px);
}

.container-3d:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

a:hover {
    text-decoration-color: #d6d6d6;
}

.page-item.active .page-link {
    background-color: rgba(51, 51, 35, 0.8);
    border: 1px solid #8b7e61;
}

.page-item.active .page-link:focus {
    box-shadow: 0 0 2px #897761;
}

.page-item .page-link {
    color: #0c121f;
}

.page-item .page-link:hover {
    background-color: #86878b;
    border: 1px solid #3e3f40;
}

@media (max-width: 992px) {
    .content-box {
        margin-top: 5vh;
        position: static;
    }

    .films-content {
        width: 100%;
        position: static;
        margin: 0;
    }
}