audio {
    margin: 0 auto;
    display: inline-block;
}

.image-in-card {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.gray:first-child {
    border-radius: 5px 0 0 5px;
}

.gray {
    background-color: #939393;
}

.gray:last-child {
    border-radius: 0 5px 5px 0;
}



