<section class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col">
            <h2 class="card-title">
                {{ name }}
            </h2>
        </div>
    </div>
    <div class="row">
        <ul class="list-group">
            {% for seria in items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ seria.__link }}"> <img class="rounded-circle" width="50px" style="object-fit: cover" src="{{ seria.photo }}"
                                                       alt=""></a>
                    <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
                    <div>
                        <span class="badge badge-primary badge-success">imdb [{{ seria.imdbRating }}]</span>
                        <span class="badge badge-primary badge-success">kinopoisk [{{ seria.kinopoiskRating }}
                            ]</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
