<section>
    <div class="container jumbotron">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for track in tracks %}
                        <li class="list-group-item">
                            <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10">
                                        <audio src="{{ track.url }}" style="width: 100%" controls
                                               preload="none"></audio>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-outline-secondary" href="{{ track.url }}"
                                           download="{{ track.name }}.mp3">Скачать</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>