<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>
    [[seo_meta_schema]]
    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            background-color: rgba(214, 211, 209, 0.71);
        }

        .box-cyan {
            background-color: #9acae1;
            box-shadow: 6px 6px 10px rgba(67, 78, 83, 0.65);
        }

        img {
            max-width: 200px;
            margin: 10px;
            border: 1px solid #3e3e3e;
        }

    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark box-cyan fixed-top">
    <div class="container">
        <a class="navbar-brand text-info" href="/">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            [%nav_links%]
        </div>
    </div>
</nav>

[[ad_block_top]]

<!-- Page Content -->
<div class="container">

    <div class="row py-5">

        <!-- Blog Entries Column -->
        <div class="col-md-8 align-self-center">

            <h1 class="mb-5 py-3 text-dark text-center rounded">[[seo_h1]]</h1>

        </div>

    </div>

    {{ template|raw }}


    {% if __text is not empty %}
        <div class="col-md-12 ml-2 mr-2 mt-5 mb-5">{{ __text | raw }}</div>
    {% endif %}


    <div class="col-md-12 ml-2 mr-2 mt-5 mb-5">
        [[seo_text]]
    </div>
</div>

<footer class="container-fluid foo-bar">
    [%cross_links%]
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-1 small">
            <p class="text-light">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->

<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
[[ad_block_bottom]]
</body>

</html>