<section class="bg bg-a container-fluid">
    <div class="row align-items-center" style="height: 100%">
        <div class="col text-center">
            <div class="container">
                <h1>{{ titleRu }}
                    <small>{{ titleEn }}</small>
                </h1>
            </div>
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="container episode">
    <div class="row">
        <div class="col">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                    width="100%" height="700px" allowfullscreen
            ></iframe>
        </div>
    </div>
    <div class="row">
            {% if(__prev) %}
        <div class="col-md-3 order-md-1 order-1">
                <a href="{{ __prev }}" class="btn btn-dark">Предыдущая серия</a>
        </div>
            {% endif %}
        <div class="col-md-6 order-md-2 order-3 text-center align-content-center">
            [%tree_items%]
        </div>
        <div class="col-md-3 order-md-3 order-2 text-right">
            {% if(__next) %}
                <a href="{{ __next }}" class="btn btn-dark">Следующая серия</a>
            {% endif %}
        </div>
    </div>
</section>






