<section class="bg bg-a container-fluid">
    <div class="row align-items-center" style="height: 100%">
        <div class="col text-center">
            <div class="container">
                <h1>{{ titleRu }}
                    <small>{{ titleEn }}</small>
                </h1>
            </div>
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="container episode">
    <div class="row">
        <div class="col">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                    width="100%" height="700px" allowfullscreen
            ></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>






