<section class="bg bg-a container-fluid">
    <div class="row align-items-center" style="height: 100%">
        <div class="col text-center">
            <div class="container">
                <h2>{{ name }}</h2>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row  grid">
        {% for item in items %}
            <div class="col">
                <div class="grid-item">
                    <a href="{{ item.__link }}">
                        <div class="item">
                            <img src="{{ item.photo }}" alt="" width="200" height="300">
                            <p>
                                <span>{{ item.titleRu }}</span>
                                <em><i class="zmdi zmdi-star-circle"></i> <b>{{ item.imdbRating }}</b>/10</em>
                            </p>
                        </div>
                        <div class="link">
                            <i class="zmdi zmdi-play-circle"></i>
                        </div>
                    </a>
                </div>
                {% if item.__tags is defined %}
                    {% for tag in item.__tags %}
                        <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col topbar bottombar">
            {% include "driver/base/paginate_limit.twig"%}
            <ul class="list-inline paginate">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="list-inline-item active">
                    {% else %}
                        <li class="list-inline-item">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</section>