<section class="bg bg-a container-fluid">
    <div class="row align-items-center" style="height: 100%">
        <div class="col text-center">
            <div class="container">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
    </div>
</section>

<section class="bg container-fluid">
    <div class="row align-items-center" style="min-height: 50vh">
        <div class="col text-center">
            <div class="container">
                [%tv_series_list#12%]
            </div>
        </div>
    </div>
</section>
<section class="bg container-fluid">
    <div class="row align-items-center" style="min-height: 50vh">
        <div class="col text-center">
            <div class="container">
                [%movies_list#12%]
            </div>
        </div>
    </div>
</section>


