<section class="bg bg-a container-fluid">
    <div class="row align-items-center" style="height: 100%">
        <div class="col text-center">
            <div class="container">
                <h1>{{ season }} сезон {{ name }}</h1>
            </div>
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="container season">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="false">Информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="true">Серии</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h1>[[seo_h1]]</h1>
                    <p>[[seo_text]]</p>
                </div>
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col row seasons">
                            {% for episode in episodes %}
                                <div class="col-md-4">
                                    <div class="card card-season">
                                        <h3>{{ episode.season }} Сезон / {{ episode.episode }} Епизод</h3>
                                        <h5>{{ episode.titleRu }}</h5>
                                        <a class="btn btn-dark" href="{{ episode.__link }}">Смотреть</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-12 topbar bottombar">
                                {% include "driver/base/paginate_limit.twig"%}
                                <ul class="list-inline paginate">
                                    {% for page in pages %}
                                        {% if page.isCurrent %}
                                            <li class="list-inline-item active">
                                        {% else %}
                                            <li class="list-inline-item">
                                        {% endif %}
                                        <a href="{{ page.url }}">{{ page.num }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>