<section class="bg bg-a container-fluid">
    <div class="row align-items-center" style="height: 100%">
        <div class="col text-center">
            <div class="container">
                <h1>{{ titleRu }}
                    <small>{{ startYear }}</small>
                </h1>
            </div>
            [%breadcrumbs%]
        </div>
    </div>
</section>
<section class="container seria-block">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ photo }}" alt="{{ titleRu }}" class="seria-image">
        </div>
        <div class="col-md-9">
            <div class="topbar">
                <div class="rating">
                    <i class="zmdi zmdi-star-circle"></i>

                    <em>
                        imdbRating
                        <a href="{{ imdbUrl }}">
                            <b>{{ imdbRating }}</b>/10
                        </a>
                    </em>
                </div>
                <div class="rating">
                    <i class="zmdi zmdi-star-circle"></i>
                    <em>
                        Kinopoisk
                        <a href="{{ kinopoiskUrl }}">
                            <b>{{ kinopoiskRating }}</b>/10
                        </a>
                    </em>
                </div>
            </div>
            <div>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>

            <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="false">Информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="true">Сезоны</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h1>[[seo_h1]]</h1>
                    <p>{{ __text | raw }}</p>
                </div>
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col row seasons">
                            {% for index,season in seasons %}
                                <div class="col-md-4">
                                    <div class="card card-season">
                                        <h3>Сезон {{ season.season }}</h3>
                                        <a class="btn btn-dark" href="{{ season.__link }}">Подробнее</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-12 topbar bottombar">
                                {% include "driver/base/paginate_limit.twig"%}
                                <ul class="list-inline paginate">
                                    {% for page in pages %}
                                        {% if page.isCurrent %}
                                            <li class="list-inline-item active">
                                        {% else %}
                                            <li class="list-inline-item">
                                        {% endif %}
                                        <a href="{{ page.url }}">{{ page.num }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>