<section class="container-fluid main-text py-5 bg-dark">
    <div class="row">
    {% for film in films %}
        <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                <div class="artist-photo paral">
                <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                <h3><a href="{{ film.__link }}">{{ film.titleRu }}</a></h3>
                <em class="text-light">IMdb: <i class="far fa-star"></i> {{ film.imdbRating }}/10</em>
                <hr>
                <div>
                    {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>
