<style>
    .entity_title {
        font-size: 16px;
        font-weight: bold;
        color: #2e3436;
    }
</style>
<div class="container">
    [%breadcrumbs%]
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <span class="entity_title">{{ titleRu }} <small>{{ titleEn }}</small></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                        width="100%" height="700px" allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</div>
[%youtube_adding%]