<div class="container">
    <div class="row">
        <div class="col">
            <h3>Топ Сериалов</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            [%tv_series_list%]
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Топ Фильмов</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            [%movies_list%]
        </div>
    </div>
</div>