<section class="container">
    <div class="row">
        <div class="col-12">
            <h2>Топ {{ total }} сериалов</h2>
        </div>
    </div>
    <div class="row">
        {% for seria in series %}
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <div class="card h-100">
                    <a href="{{ seria.__link }}">
                        <img class="card-img-top" src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                    <div class="card-body">
                        <a href="{{ seria.__link }}" class="card-title text-dark">{{ seria.titleRu }}</a>
                        <div>
                            {% if seria.__tags is defined %}
                                {% for tag in seria.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-secondary">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <nav>
                    <ul class="pagination pagination-sm">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</section>