body {
    background: linear-gradient(#25466f, #eee), url(../img/back-main.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

h5 {
    color: #1dd2af;
    font-size: large;
}

.round-image {
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 10px solid #bb84ff;
    transition: 0.5s;
}

.first-page {
    min-height: 100vh;
}

.round-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.round-image + p:hover {
    color: #6d2b27;
}

.round-image:hover {
    transform: rotate(20deg);
    border: 1px solid #25466f;
    transition: 0.5s;
}

a {
    color: #fff2f2;
}

a small:hover {
    background: #fbff6f;
}

a:hover {
    text-decoration: none;
}

.raterer {
    color: #fbff6f;
    background-color: #6a6d6b;
    padding: 0.5vh 1vw;
    border-radius: 25px;
}

.badge-edge {
    border: 1px solid #ff32f8;
    color: #fff2f2;
}

.badge-edge:hover {
    background-color: #ff32f8;
    color: #292828;
    transition: 0.3s;
}

.bg-none {
    background-color: transparent;
}

.super-link p {
    padding: 5px 5px;
    background-color: #276d6d;
}

.super-link:hover {
    color: #0b0a0f;
}

.super-link p:hover {
    background-color: #fbff6f;
}