<section class="container">
    [%breadcrumbs%]
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <h5 class="card-title">
                {{ titleRu }}
            </h5>
            <a href="{{ imdbUrl }}">
                <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
            </a>
            <a href="{{ kinopoiskUrl }}">
                <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
            </a>
        </div>
        <div class="col-12">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                    width="100%" height="700px" allowfullscreen
            ></iframe>
        </div>
    </div>
</section>