<section class="container-fluid half-page-height best-film-bg">
    <div class="row half-page-height">
        <div class="col-12 align-self-center">
            <h1 class="text-center text-uppercase text-light">
                [[seo_h1]]
            </h1>
            <hr>
        </div>
    </div>
</section>
<section class="container">
    <section class="container py-2 justify-content-center">
        [%breadcrumbs%]
    </section>
    <div class="text-center text-secondary border border-secondary bg-light my-2">
        <h5>{{ titleRu }}</h5>
        <small>{{ titleEn }}</small>
        <div class="col-12 text-center">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                    width="100%" height="700px" allowfullscreen></iframe>
        </div>
    </div>
</section>
<section class="container">
    <div class="row px-3 py-4 d-flex justify-content-center">
        <div class="col-lg-8col-md-8 col-sm-12 col-xs-12 d-flex text-light justify-content-center">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>