<section class="container-fluid main-promo half-page-height">
    <div class="row justify-content-end">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center pt-5">
            <h1 class="text-center text-uppercase">[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="row col-12">
            {% for item in items %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pt-4">
                    <a href="{{ item.__link }}">
                        <img src="{{ item.photo }}" alt="{{ item.titleRu }}">
                    </a>
                    <a href="{{ item.__link }}">
                        <h6 class="text-center text-light pt-3">{{ item.titleRu }}</h6>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row px-3 py-4 d-flex justify-content-center">
        <div class="col-lg-8col-md-8 col-sm-12 col-xs-12 d-flex text-light justify-content-center">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>