<section class="container-fluid main-promo">
    <div class="row justify-content-end page-90-height">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center pt-5">
            <h1 class="text-center text-uppercase">[[seo_h1]]</h1>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row py-5 px-3">
        <div class="col-12 text-center text-light border border-light py-4">
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid half-page-height best-film-bg">
    <div class="row half-page-height">
        <div class="col-12 align-self-center">
            <h3 class="text-center text-uppercase text-light">
                лучшие фильмы
            </h3>
            <hr>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row py-5">
        <div class="col-12">
            [%movies_list%]
        </div>
    </div>
</section>
<section class="container-fluid half-page-height best-ser-bg">
    <div class="row half-page-height">
        <div class="col-12 align-self-center">
            <h3 class="text-center text-uppercase text-light">
                лучшие сериалы
            </h3>
            <hr>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row py-5">
        <div class="col-12">
            [%tv_series_list%]
        </div>
    </div>
</section>