<section class="container-fluid half-page-height best-ser-bg">
    <div class="row half-page-height">
        <div class="col-12 align-self-center">
            <h1 class="text-center text-uppercase text-light">
                [[seo_h1]]
            </h1>
            <hr>
        </div>
    </div>
</section>
<section class="container">
    <section class="container py-2 justify-content-center">
        [%breadcrumbs%]
    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center justify-content-center">
                {% if __tags is defined %}
                    <div>
                        {% for tag in __tags %}

                            <a href="{{ tag.__link }}" class="badge badge-pill badge-light">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row col-12 pt-5 justify-content-center">
                    {% for episode in episodes %}
                        <div class="col-4 border-left border-right border-light">
                            <a href="{{ episode.__link }}">
                                <div>
                                    <p class="py-2">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row px-3 py-4 d-flex justify-content-center">
        <div class="col-lg-8col-md-8 col-sm-12 col-xs-12 d-flex text-light justify-content-center">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>