@media (min-width: 992px)  {
    header > nav {
        height: 100vh;
        width: 15vw;
    }

    body {
        background: url(../img/main-block-bg.jpg) no-repeat center fixed;
        background-size: cover;
        min-height: 100vh;
        padding-left: 15vw;
    }
}

body {
    background: url(../img/main-block-bg.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
}

.main-text {
    min-height: 100vh;
}

.artists-block {
    width: 180px;
    height: 300px;
    position: relative;
    content: "";
    display: inline-block;
    overflow: hidden;
}

.artists-block > img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.8s;
}

.artists-block > img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.5s;
}

.artist-block img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.col-lg-2, .col-md-2 {
    padding: 1px;
}

.art-link {
    visibility: visible;
    position: absolute;
    top: 50%;
    font-weight: bold;
    border: solid white 2px;
    padding: 4px;
}

.trap:nth-child(odd) {
    width: 100%;
    -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}

.trap:nth-child(even) {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

.artist-photo {
    width: 200px;
    height: 300px;
    position: relative;
    content: "";
    display: inline-block;
    overflow: hidden;
}

.paral {
    -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

.large  {
    width: 80vh;
}

a, p, h1, h2, h3{
    color: #fff2f2;
}

a:hover {
    color: #fff2f2;
}

small, strong {
    color: #0a7362;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}