{% for track in tracks %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-1 block-bg">
        <div class="name">
            <a href="{{ track.__link }}">{{ track.name }}</a>
            {% if track.artistName == "" %}
                <p>
                    <small>Unknown</small>
                </p>
            {% else %}
                <p>
                    <small>{{ track.artistName }}</small>
                </p>
            {% endif %}
            <audio src="{{ track.source_url }}" controls preload="none"
                   class="full-width"></audio>
        </div>
    </div>
{% endfor %}
{% if pages|length > 0 %}
    <div class="col-12 d-flex justify-content-center mt-1">
        <a href="{{ pages[1].url }}">
            <button type="button" class="btn red-button my-4">Больше</button>
        </a>
    </div>
{% endif %}