{% for artist in artists %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 d-flex justify-content-center">
        <div class="text-center my-1">
            <div class="name">
                <a href="{{ artist.__link }}" class="text-left">
                    <strong>{{ artist.name }}</strong>
                </a>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-danger">{{ tag.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="main-photo">
                <a href="{{ artist.__link }}">
                    <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                </a>
            </div>
        </div>
    </div>
{% endfor %}