<nav aria-label="breadcrumb">
    <ul class="breadcrumb transparent-bg">
        {% for link in links %}
            <li class="breadcrumb-item">
                <a href="{{ link.uri }}" class="text-dark"><small>{{ link.title }}</small></a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active text-secondary" aria-current="page"><small>
            {{ active.title }}
            </small>
        </li>
    </ul>
</nav>