{% if links %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb justify-content-lg-center justify-content-md-center justify-content-sm-start
                    justify-content-xs-start">
            {% for link in links %}
                <li class="breadcrumb-item mt-2">
                    <a href="{{ link.link }}">{{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}