<section class="container-fluid screen-height lists-bg">
    <section class="block-height-80">
        <div class="row">
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex align-self-top">
                <div class="col-10 py-5 ml-5">
                    <div>
                        <h1>[[seo_h1]]</h1>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {% if __text is not empty %}
                            <p class="text-light">{{ __text | raw }}</p>
                        {% endif %}
                        <p class="text-light">[[seo_text]]</p>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                {% for artist in artists %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="artist-photo">
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <h3><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                        <div>
                            <small>Всего альбомов: {{ artist.totalAlbums }}</small>
                        </div>
                        <div>
                            <small>Всего треков: {{ artist.totalSongs }}</small>
                        </div>
                        <div>
                            {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>