<section class="container-fluid screen-height lists-bg">
    <section class="block-height-80">
        <div class="row">
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex align-self-top">
                <div class="col-10 py-5 ml-5">
                    <div>
                        <h1>[[seo_h1]]</h1>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {% if __text is not empty %}
                            <p class="text-light">{{ __text | raw }}</p>
                        {% endif %}
                        <p class="text-light">[[seo_text]]</p>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% for track in tracks %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div>
                            <a href="{{ track.__link }}">{{ track.name }}</a>
                            {% if track.artistName == "" %}
                                <p>
                                    <small>Unknown</small>
                                </p>
                            {% else %}
                                <p>
                                    <small>{{ track.artistName }}</small>
                                </p>
                            {% endif %}
                            <div>
                                <audio src="{{ track.source_url }}" controls preload="none" class="block-width-30">
                                </audio>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row py-4">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>