<header class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            [%nav_links%]
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            <h1 class="pl-5">[[seo_h1]]</h1>
        </div>
    </div>
</header>
<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 strange-box mb-2 pl-5 pt-5">
            [%breadcrumbs%]
            <div class="mt-5 strong red-line pl-5">
                <h2 class="text-light">{{ titleRu }}</h2>
                <strong>{{ titleEn }}</strong>
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr>
            {% if __text is not empty %}
                <p class="text-dark py-5 pl-5">{{ __text | raw }}</p>
            {% endif %}
            <p class="text-dark py-5 pl-5">[[seo_text]]</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                    width="100%" height="700px" allowfullscreen></iframe>
        </div>
    </div>
</section>