<header class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            [%nav_links%]
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            <h1 class="pl-5">[[seo_h1]]</h1>
        </div>
    </div>
</header>

[%movies_list#6%]

[%tv_series_list#6%]

<section class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <p class="py-5 pl-5 text-light red-line">[[seo_text]]</p>
        </div>
    </div>
</section>