<header class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            [%nav_links%]
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            <h1 class="pl-5">[[seo_h1]]</h1>
        </div>
    </div>
</header>

<section class="container-fluid mt-5">
    <div class="row strange-box">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2 pl-5 pt-5">
            [%breadcrumbs%]
        </div>
        {% for index,episode in episodes %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 justify-content-center mb-2 pl-5 pt-5">
                <a href="{{ episode.__link }}">
                    <h5 class="text-dark more-link pl-5 py-3"><b>{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</b>
                    </h5></a>
            </div>
        {% endfor %}
        <section class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center pb-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <div>
            {% if __text is not empty %}
                <p class="py-5 text-dark">{{ __text | raw }}</p>
            {% endif %}
            <p class="py-5 text-dark">[[seo_text]]</p>
        </div>
    </div>
</section>