<header class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            [%nav_links%]
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-center">
            <h1 class="pl-5">[[seo_h1]]</h1>
        </div>
    </div>
</header>

<section class="container-fluid mt-5">
    <div class="row strange-box">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2 pl-5 pt-5">
            [%breadcrumbs%]
            <div>
                <img src="{{ photo }}" alt="{{ titleRu }}">
            </div>
            <div class="strong">
                <h2 class="text-light">{{ titleRu }}</h2>
                <strong>{{ titleEn }}</strong>
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 justify-content-center mb-2 pl-5 pt-5">
            {% for index,season in seasons %}
                <a href="{{ season.__link }}">
                    <h5 class="text-dark more-link pl-5 py-3"><b>Сезон {{ season.season }}</b></h5></a>
            {% endfor %}
            <section class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center pb-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 d-flex justify-content-center py-3">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <div>
                {% if __text is not empty %}
                    <p class="py-5 text-dark">{{ __text | raw }}</p>
                {% endif %}
                <p class="py-5 text-dark">[[seo_text]]</p>
            </div>
        </div>
    </div>
</section>