<div>
    [%breadcrumbs%]
</div>
<hr/>
<section>
    <h2>{{ titleRu }}
        <small>{{ titleEn }}</small>
    </h2>
</section>

<iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
        width="100%" height="700px" allowfullscreen
></iframe>
<hr>

[%tree_items%]


{% if(__prev) %}
    <a href="{{ __prev }}">Предыдущая серия</a>
{% endif %}
{% if(__next) %}
    <a href="{{ __next }}">Следующая серия</a>
{% endif %}
