<div>
    [%breadcrumbs%]
</div>
<hr/>
<section>
    <h2>{{ titleRu }}
        <small>{{ titleEn }}</small>
    </h2>
</section>

<iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
        width="100%" height="700px" allowfullscreen
></iframe>
<hr>