<hr/>

<section>
    <h2>
        {{ name }}
    </h2>

    {% for seria in items %}
        <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt=""></a>
        <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
        <hr>
    {% endfor %}
    <ul>
        {% for page in pages %}
            {% if page.isCurrent %}
                <li>
            {% else %}
                <li>
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a>
            </li>
        {% endfor %}
    </ul>
</section>