{% for type,collection in items %}
    {% if (type == 21) %}
        <h3>Фильмы</h3>
            {% for film in collection %}
                {% include 'driver/video/base_html/block/element/film.twig' with {'film':film} %}
            {% endfor %}
    {% elseif(type == 13) %}
        <h3>Сериалы</h3>
            {% for seria in collection %}
                {% include 'driver/video/base_html/block/element/seria.twig' with {'seria':seria} %}
            {% endfor %}
    {% elseif(type == 12) %}
        <h3>Епизоды</h3>
            {% for episode in collection %}
                {% include 'driver/video/base_html/block/element/episode.twig' with {'episode':episode} %}
            {% endfor %}
    {% elseif(type == 14) %}
        <h3>Сезоны</h3>
            {% for season in collection %}
                {% include 'driver/video/base_html/block/element/season.twig' with {'season':season} %}
            {% endfor %}
    {% endif %}
{% endfor %}
<div class="row">
    <div class="col">
        <h3>Еще</h3>
    </div>
</div>
<ul>
    {% for item in results %}
        <li>
            <a href="{{ item.__link }}" target="_blank">
                <img src="{{ item.src }}">
                <span>{{ item.title }}</span>
            </a>
            <hr/>
        </li>
    {% endfor %}
</ul>