<div>
    [%breadcrumbs%]
</div>
<hr/>
<section>
    <h2>Сезон {{ season }}</h2>

    <p>
        <img src="{{ photo }}" alt="{{ season }}" style="margin: 10px">
        [[seo_text]]
    </p>
</section>
<hr/>
<section>
    {% for episode in episodes %}
        <div>
            <a href="{{ episode.__link }}">Смотреть</a>
            <h3>{{ episode.titleRu }}</h3>
            <p>{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
        </div>
        <hr/>
    {% endfor %}

    <ul>
        {% for page in pages %}
            {% if page.isCurrent %}
                <li>
            {% else %}
                <li>
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a>
            </li>
        {% endfor %}
    </ul>
</section>