<div>
    [%breadcrumbs%]
</div>
<hr/>

<section>
    <h2>
        {{ titleRu }}
    </h2>
    <p>
        <img src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
    </p>
    <a href="{{ imdbUrl }}">
        <span>Imdb {{ imdbRating }}</span>
    </a>
    <a href="{{ kinopoiskUrl }}">
        <span>Kinopoisk {{ kinopoiskRating }}</span>
    </a>
    <hr/>
    {% for index,season in seasons %}
        <div>
            <a href="{{ season.__link }}">Подробнее</a>
            <p>Сезон {{ season.season }}</p>
        </div>
        <hr/>
    {% endfor %}
    <ul>
        {% for page in pages %}
            {% if page.isCurrent %}
                <li>
            {% else %}
                <li>
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a>
            </li>
        {% endfor %}
    </ul>
</section>