<section id="service1" class="service1 margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center margin-top-80">
                    <h1>{{ name }}</h1>
                </div><!-- End of head title -->

                <div class="main_service_area">
                    {% for index,seria in items %}
                    <div class="single_service_area">
                        <div class="row">
                            {% if index is odd %}<div class="col-sm-6 col-sm-push-6">{% else %}<div class="col-sm-6">{% endif %}
                                    <div class="signle_service_left">
                                        <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"/></a>
                                    </div>
                                </div>
                                {% if index is odd %}<div class="col-sm-5 col-sm-pull-6">{% else %}<div class="col-sm-5 col-sm-push-1">{% endif %}

                                        <div class="single_service">
                                            <h3>{{ seria.titleRu }}</h3>
                                            <div class="separator2"></div>
                                            <a href="{{ seria.__link }}" class="btn btn-primary">Перейти</a>

                                        </div>
                                    </div>
                                </div>
                            </div><!-- End of single service area -->
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="pagination">
                                    {% for page in pages %}
                                        {% if page.isCurrent %}
                                            <li class="page-item active">
                                        {% else %}
                                            <li class="page-item">
                                        {% endif %}
                                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div><!-- End of col-sm-12 -->
                </div>


            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
    <hr />
</section>
