<section id="service1" class="service1 margin-top-120">
    <div class="container-fluid">
        [%breadcrumbs%]
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center margin-top-80">
                    <h1>Cезон {{ season }}</h1>
                </div><!-- End of head title -->

                <div class="main_about_area">

                            <div class="single_about">
                                <div class="separator2"></div>
                                <div style="margin-top: {{ random(  [5,7,9]) }}px;" class="row">
                                    {% for episode in episodes %}
                                        <div class="col-md-4 col-sm-6 mb-4" style="margin: 15px 0">
                                            <div class="sermon element-animate fadeInUp element-animated">
                                                <div class="sermon-text">
                                                    <a href="{{ episode.__link }}" >Смотреть</a>
                                                    <h3>{{ episode.titleRu }}</h3>
                                                    <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="pagination">
                                            {% for page in pages %}
                                                {% if page.isCurrent %}
                                                    <li class="page-item active">
                                                {% else %}
                                                    <li class="page-item">
                                                {% endif %}
                                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
    <hr />
</section>
