<div class="col-md-2 w3l-movie-gride-agile requested-movies">
    <a href="{{ seria.__link }}" class="hvr-sweep-to-bottom"><img src="{{ seria.photo }}" title="{{ seria.titleRu }}" class="img-responsive" alt=" ">
        <div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
    </a>
    <div class="mid-1 agileits_w3layouts_mid_1_home" style="height: 100px;">
        <div class="w3l-movie-text">
            <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
        </div>
        <div class="mid-2 agile_mid_2_home">
            <div class="block-stars">
                <div>
                    {% if seria.__tags is defined %}
                        {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-default">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <ul class="w3l-ratings">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="{{ random(['fa fa-star-o', 'fa fa-star-half-o', 'fa fa-star']) }}" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>