<section class="container-fluid">
            {% for artist in artists %}
                <div class="card horizontal">
                    <div class="card-image">
                        <a href="{{ artist.__link }}"><img width="50px" height="70px" class="card-img-top img-responsive"
                                                           src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <a href="{{ artist.__link }}">{{ artist.name }}</a>
                        </div>
                        <div>
                            {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badge badge-default">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if pages %}
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="active">
                        {% else %}
                            <li class="waves-effect">
                        {% endif %}
                        <a href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
</section>