<ul class="collection with-header">
    {% for track in tracks %}
        <li class="collection-item"><a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>


            <div class="row">
                <div class="col-md-10">
                    <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                </div>
                {#<div class="col-md-2">#}
                {#<a class="btn btn-outline-secondary" href="{{ track.url }}" download="{{ track.name }}.mp3">Скачать</a>#}
                {#</div>#}
            </div>
        </li>
    {% endfor %}
</ul>

{% if pages %}
    <ul class="pagination">
        {% for page in pages %}
            {% if page.isCurrent %}
                <li class="active">
            {% else %}
                <li class="waves-effect">
            {% endif %}
            <a href="{{ page.url }}">{{ page.num }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}