<section class="container-fluid py-2">
    <div class="row pl-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-dark text-light py-2">
            <h1 class="small">[[seo_h1]]</h1>
            <hr>
            <p class="pl-5 small">[[seo_text]]</p>
        </div>
    </div>
    <section class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 mb-2">
                <h2 class="pl-5">Лучшие фильмы</h2>
            </div>
        </div>
        <div class="row">
            <div class="row col-12 justify-content-center">
                {% for film in films %}
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 py-2">
                        <a href="{{ film.__link }}" class="imgeator">
                            <i class="fas fa-play fa-3x iconator py-5 px-5"></i>
                            <div class="img-create">
                            <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 my-2 bg-dark text-light">
                        <div>
                            <a href="{{ film.__link }}">
                                <h3 class="pt-2">{{ film.titleRu }}</h3>
                            </a>
                        </div>
                        <div>
                            <em>IMdb: <i class="fas fa-star"></i> <b>{{ film.imdbRating }}</b>/10</em>
                        </div>
                        <div class="py-2">
                            {% if film.__tags is defined %}
                                {% for tag in film.__tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-dark">
                                        {{ tag.name }}
                                    </a>

                                {% endfor %}
                            {% endif %}
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>