<section class="container main-bg">
    <section class="container pt-5">
        <div class="row block-height-60 d-flex justify-content-center bg-light block-height-60">
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 align-self-center justify-content-center my-3">
                <h1 class="main-h1 my-3 text-center">[[seo_h1]]</h1>
                {% if __text is not empty %}
                    <p class="text-center mt-5">{{ __text | raw }}</p>
                {% endif %}
                <p class="text-center mt-5">[[seo_text]]</p>
            </div>
        </div>
    </section>
</section>
<section class="container third-block my-5 py-3 border border-primary">
    <div class="row my-5">
        {% for artist in artists %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 py-2">
                <div class="artist-photo">
                    <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h3><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                <div>
                    <small>Всего альбомов: {{ artist.totalAlbums }}</small>
                </div>
                <div>
                    <small>Всего треков: {{ artist.totalSongs }}</small>
                </div>
                <div>
                    {% if artist.__tags is defined %}
                        {% for tag in artist.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
</section>
<section class="container-fluid pt-5">
    <div class="row py-4">
        <div class="col d-flex justify-content-center">
            <ol class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</section>