<section class="container main-bg">
    <section class="container pt-5">
        <div class="row block-height-60 d-flex justify-content-center bg-light block-height-60">
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 align-self-center justify-content-center my-3">
                <h1 class="main-h1 my-3 text-center">[[seo_h1]]</h1>
                {% if __text is not empty %}
                    <p class="text-center mt-5">{{ __text | raw }}</p>
                {% endif %}
                <p class="text-center mt-5">[[seo_text]]</p>
            </div>
        </div>
    </section>
</section>
<section class="container second-block my-5 py-3">
    <div class="row">
        {% for track in tracks %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 py-4">
                <div>
                    <a href="{{ track.__link }}">{{ track.name }}</a>
                    {% if track.artistName == "" %}
                        <p>
                            <small>Unknown</small>
                        </p>
                    {% else %}
                        <p>
                            <small>{{ track.artistName }}</small>
                        </p>
                    {% endif %}
                    <div>
                        <audio src="{{ track.source_url }}" controls preload="none" class="audio-block">
                        </audio>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<section class="container-fluid pt-5">
    <div class="row py-4">
        <div class="col d-flex justify-content-center">
            <ol class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</section>