<nav aria-label="breadcrumb">
    <ol >
        {% for link in links %}
            <li >
                <a href="{{ link.link }}" >{{ link.name }}</a>
                <i ></i>
            </li>
        {% endfor %}
    </ol>
</nav>