<ul style="margin: 0 auto;">
    {% for nav in links %}
        <li style="float: left;  list-style: none;" >
            <a href="{{ nav.__link }}">{{ nav.name }}</a>
        </li>
    {% endfor %}
</ul>
<br>
