<section>
    {% for link in links %}
        {% if link.__link == __link %}
            <button type="button">{{ link.name }}</button>
        {% else %}
            <a href="{{ link.__link }}" style="margin: 0 1px" title="{{ link.name }}">
                <button type="button">{{ link.name }}</button>
            </a>
        {% endif %}
    {% endfor %}
</section>