<section>
    {% for seria in series %}
        <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt=""></a>
        <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
            <div>
                {% if seria.__tags is defined %}
                    {% for tag in seria.__tags %}
                            <a href="{{ tag.__link }}" style="display:inline-block; background: grey; color: black">
                                    <span>{{ tag.name }}</span>
                            </a>
                    {% endfor %}

                {% endif %}
            </div>
        <hr>
    {% endfor %}

    {% if pages|length > 0 %}
        <a href="{{ pages[1].url }}">
            <button type="button">Больше</button>
        </a>
    {% endif %}
</section>