* {
    font-family: 'Scada', sans-serif;
    color: #fff2f2;
}

.main-page {
    background: url("../img/main-bg.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.main-screen {
    background: url(../img/main-page.jpg);
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    width: 86vw;
    margin-top: 9vh;
}

.main-screen-end {
    background: url(../img/main-page.jpg);
    background-size: cover;
    background-position: bottom;
    width: 86vw;
    min-height: 60vh;
}

.main-screen-artists {
    background: linear-gradient(rgba(24, 24, 24, 0.8), rgba(24, 24, 24, 0.81)), url(../img/main-page.jpg);
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    width: 86vw;
    margin-top: 9vh;
}

.bg-transparent {
    background-color: transparent;
}

header {
    background-color: rgba(69, 69, 69, 0.6);
}

header > nav {
    background-color: transparent;
}

h1 {
    color: #ffd870;
}

h1 + p {
    color: #ffd870;
}

.second-screen {
    background-color: rgba(51, 50, 50, 0.71);
    min-height: 40vh;
}

a {
    color: #ffd870;
    font-weight: bold;
}

a:hover {
    color: #fff2f2;
    text-decoration: none;
}

.navbar-brand {
    color: #fff2f2 !important;
}

.artists-img {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.artist-img a > img {
    width: 100%;
    height: auto;
    position: center;
}

a > img {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
}

a > img:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.breadcrumb {
    background-color: transparent;
}

.artist-border {
    border-top: 1px floralwhite dotted;
    border-bottom: 1px floralwhite dotted;
}

img {
    object-fit: cover;
}

.track-box {
    height: 30vh;
    background-color: rgba(190, 144, 68, 0.8);
}

.this-effect:hover {
    color: #ffd870;
    transition: 5ms;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 50%
}

.bg-half {
    background-color: rgba(29, 29, 29, 0.93);
}