<div class="row mt-2">
    <div class="col-12">
        <a href="{{ pages[1].url }}"><h3 class="pl-2">лучшие фильмы</h3></a>
    </div>
    {% for film in films %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="artist-photo">
                <a href="{{ film.__link }}"><img src="{{ film.photo }}" alt="{{ film.titleRu }}"></a>
            </div>
            <a href="{{ film.__link }}"><p class="text-center">{{ film.titleRu }}</p></a>
        </div>
    {% endfor %}
</div>
{% if pages|length > 0 %}
    <div class="col-12 d-flex justify-content-center">
        <a href="{{ pages[1].url }}">
            <button type="button" class="btn btn-creative btn-gradient btn-lg mb-4">Больше</button>
        </a>
    </div>
{% endif %}
