<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-3@m">
            <h2 class="uk-article-title">{{ name }}</h2>
            <img class="img-fluid" src="{{ photo }}" alt="">
        </article>
        <div class="uk-width-2-3@m">
            <ul class="uk-list uk-list-divider">
                {% for track in tracks %}
                    <li uk-grid>
                        <div>
                            <span class="uk-label">{{ track.duration | date('i:s', '+00:00 GMT') }}</span>
                        </div>
                        <div>
                            <a href="{{ track.__link }}">
                                {{ track.name }}
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

[%youtube_adding%]