<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-3@m">
            <h2 class="uk-article-title">{{ name }}</h2>
            <img class="img-fluid" src="{{ photo }}" alt="">
            <p class="uk-article-meta">Всего альбомов {{ totalAlbums }} Всего треков {{ totalSongs }}</p>
            <div>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}">
                            <span class="uk-label">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </article>
        <div class="uk-width-2-3@m">
            <div uk-grid class="uk-text-center">
                {% for album in albums %}
                    <a href="{{ album.__link }}" class="uk-card uk-card-default uk-card-body uk-width-1-3@m">
                        <img src="{{ album.photo }}" alt="{{ album.name }}" class="rounded-circle">
                        <h5>{{ album.name }}</h5>
                    </a>
                {% endfor %}
            </div>
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

[%youtube_adding%]