<div class="uk-section">
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        {% for item in results %}
            <div class="uk-width-1-3@m">
                <div class="uk-card uk-card-default uk-card-body __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                    <img src="{{ item.src }}" alt="" style="object-fit: cover; width: 300px; height: 250px"
                         maestro-youtube-id='{{ item.id }}'>
                    <p maestro-youtube-id='{{ item.id }}'>
                        {{ item.title }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
