<div class="container-fluid mb-3 border-secondary bg-soft">
    <div class="row justify-content-center py-2">
        {% for film in films %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="img">
                    <a href="{{ film.__link }}">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                    </a>
                </div>
                <div class="text-center text-light bg-gaze">
                    <em><i class="fas fa-star py-1"></i> <b>{{ film.imdbRating }}</b>/10</em>
                    <a href="{{ film.__link }}" class="text-light name">
                        <p class="py-2 px-1">{{ film.titleRu }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>