<div class="container-fluid mb-3 border border-secondary bg-soft">
    <div class="row justify-content-center py-2">
        {% for seria in series %}
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="img">
                    <a href="{{ seria.__link }}">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                    </a>
                </div>
                <div class="text-center text-light bg-gaze">
                    <em><i class="fas fa-star py-1"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                    <a href="{{ seria.__link }}" class="text-light name">
                        <p class="py-2 px-1">{{ seria.titleRu }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>