.main-bg {
    background: linear-gradient(rgba(255, 221, 63, 0.81), rgba(255, 210, 56, 0.81)), url(../img/base-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.root-text {
    background-color: rgba(255, 246, 119, 0.81);
    border: 5px solid rgba(255, 221, 63, 0.81);
}

.root-text h1, h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(212, 174, 25);
    background: radial-gradient(circle, #6b5400 50%, #d0b600 50%);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

h2 {
    font-size: 30px;
}

.height-20 {
    min-height: 10vh;
}

.height-40 {
    min-height: 40vh;
}

.height-75 {
    min-height: 75vh;
}

.rating-style {
    position: absolute;
    z-index: 5;
    background-color: #ffd238;
    color: #343a40;
    text-decoration: none;
    padding: 3px;
}

.poster {
    position: relative;
    width: 180px;
    height: 275px;
    overflow: hidden;
    content: "";
    background: rgba(255, 246, 119, 0.81);
    border: 5px solid rgba(255, 221, 63, 0.81);
    transition: .4s;
}

.poster-2 {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    content: "";
    background: rgba(255, 246, 119, 0.81);
    border: 5px solid rgba(255, 221, 63, 0.81);
    transition: .4s;
}

.poster-2 img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.poster:hover {
    border: 5px solid rgba(123, 126, 255, 0.81);
    transition: .4s;
    background: rgba(123, 126, 255, 0.81);
}

.poster img {
    width: 180px;
    height: 200px;
    object-fit: cover;
}

.text {
    color: #343a40;
    text-decoration: none;
    height: 65px;
}

.big-button {
    background-color: #343a40;
    color: #f1f5f6;
    font-weight: bold;
    transition: .4s;
}

.big-button:hover {
    background-color: #ffd238;
    border: 3px solid rgb(212, 174, 25);
    color: #343a40;
    transition: .4s;
}

.big-button:active {
    background-color: #ffb422;
    border: 3px solid rgb(212, 174, 25);
    color: #343a40;
    transition: .4s;
}

a:hover {
    color: rgba(123, 126, 255, 0.81);
    text-decoration: none;
}

h3 {
    color: rgba(64, 53, 4, 0.69);
    font-weight: bold;
    padding: 0px 3px 0px 3px;
}

.border-blue {
    border: 1px solid #ffd238;
}

h5 {
    color: rgb(212, 174, 25);
}

a {
    color: #fff2f2;
}

.page-link {
    color: #343a40;
    background-color: #ffd238;
    border: #ffb422;
}

.page-item.active .page-link {
    background-color: rgba(123, 126, 255, 0.81);
}

.breacrums-style {
    border: 1px solid #ffd238;
    background-color: #ffdb65;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 13px solid #ffb422;
}

.cool-link {
    background-color: #ffb422;
    padding: 0 5px 0 5px;
    color: #343a40;
}

.cool-link:hover {
    color: rgba(197, 143, 0, 0.81);
}

.cool-link-active {
    background-color: rgba(255, 246, 119, 0.81);
    padding: 0 5px 0 5px;
    color: rgba(160, 98, 20, 0.83);
    margin-left: 2px;
}

.badge-indigo {
    background-color: rgba(123, 126, 255, 0.81);
}

.rate-style a {
    color: rgba(64, 53, 4, 0.69);
}

.secondary-bg {
    background-color: rgba(64, 53, 4, 0.69);
}

.season-link:first-child {
    border: 3px solid rgba(160, 98, 20, 0.83);
    padding: 2px 3px 2px 3px;
    background-color: #ffb422;
}