{% if links %}
    <nav aria-label="breadcrumb bg-dark">
        <ul class="breadcrumb bg-dark">
            {% for link in links %}
                <li class="breadcrumb-item mt-2">
                    <a href="{{ link.link }}">{{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}