{% for film in films %}
    <div class="col-6 d-flex align-items-center py-3">
    <div class="img-container">
        <a href="{{ film.__link }}">
            <img src="{{ film.photo }}" alt="{{ film.titleRu }}"/>
        </a>
    </div>
        <span class="ml-2 counter-yellow"><a href="{{ film.__link }}">{{ film.titleRu }}</a></span>
    </div>
    <hr>
{% endfor %}