{% for seria in series %}
    <div class="col-6 d-flex align-items-center py-3">
        <div class="img-container">
            <a href="{{ seria.__link }}">
                <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"/>
            </a>
        </div>
        <span class="ml-2 counter-green"><a href="{{ seria.__link }}">{{ seria.titleRu }}</a></span>
    </div>
    <hr>
{% endfor %}