<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <h1 class="intro-lead-in">[[seo_h1]]</h1>
        </div>
    </div>
</header>

<section class="bg-light" id="portfolio">
    [%audio_artists_list%]
</section>
<section>
    [%audio_tracks_list%]
</section>