<section class="container-fluid tracks-bg">
    <div class="row">
        {% for track in tracks %}
            <div class="col-lg-6 col-xs-12">
                <div class="mx-4 my-5 p-3 bg-dark text-light">
                    <a href="{{ track.__link }}" style="color:white">{{ track.name }}</a>
                    {% if track.artistName == "" %}
                        <p>Unknown</p>
                    {% else %}
                        <p>{{ track.artistName }}</p>
                    {% endif %}
                    <audio src="{{ track.source_url }}" controls="controls" preload="none" class="large"></audio>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>