{% if __youtube is not empty %}
    <section class="container">
        <div class="row">
            <div class="col mt-5">
                <h3>Смотреть</h3>
            </div>
        </div>
        <div class="row">
            {% for youtube in __youtube %}
                <div class="col-lg-4 col-md-6">
                    <img src="{{ youtube.src }}"
                         alt="{{ youtube.title }}"
                         class="img-thumbnail img-fluid"
                         onclick="window.open('https://www.youtube.com/watch?v={{ youtube.id }}')"/>
                    <h5>{{ youtube.title }}</h5>
                    <p>{{ youtube.description }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}