<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Топ {{ total }} фильмов</h2>
            </div>
        </div>
        <div class="row">
            {% for film in films %}
                <div class="col-md-3 col-sm-6">
                    <a class="card" href="{{ film.__link }}">
                        <img class="card-img-top" src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="card-body">
                            <p class="card-text">{{ film.titleRu }}</p>
                            <p>
                                {% if film.__tags is defined %}
                                    {% for tag in film.__tags %}
                                        <a class="a" href="{{ tag.__link }}">
                                            <span class="badge badge-success">{{ tag.name }}</span>
                                        </a>
                                    {% endfor %}

                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="gray page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
