.right-banner-content .social-icons li a{
    width: auto !important;
    border-radius: 5px !important;
    padding: 5px !important;
    height: auto !important;
}
.content-albums{
    padding: 20px;
    background-image: url("/img/contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.content-tracks{
    padding: 20px;
    background-image: url("/img/piano.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.grid-item{
    margin-top: 20px;
    padding: 10px;
}
.card{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0 auto;
    display: block;
    color: white;
    text-align: center;
}
.card a{
    color: white;
}
.white-button a{
    color: black !important;
}

.tree {
    display: flex !important;
    height: 55px;
    overflow-x: auto;
    overflow-y: hidden;
}

.tree::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.tree::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.tree::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
