<div class="col-md-4 col-sm-6 mb-2">
    <div class="sermon element-animate fadeInUp element-animated">
        <div class="sermon-text">
            <strong>{{ episode.titleRu }}</strong>
            <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
            <a href="{{ episode.__link }}" class="btn btn-block btn-lg btn-inverse">
                Смотреть
            </a>
        </div>
    </div>
</div>