<div class="col-md-3 col-sm-6 portfolio-item">
    <a class="portfolio-link" href="{{ seria.__link }}">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-arrow-circle-o-right fa-3x"></i>
            </div>
        </div>
        <img class="img-fluid" src="{{ seria.photo }}" alt="{{ seria.titleRu }}" style="width: 100%">
    </a>
    <div class="portfolio-caption">
        <h4><a href="{{ seria.__link }}">{{ seria.titleRu }}</a></h4>
        <p>
            {% if seria.__tags is defined %}
                {% for tag in seria.__tags %}
                    <a href="{{ tag.__link }}">
                        <span class="badge badge-success">{{ tag.name }}</span>
                    </a>
                {% endfor %}

            {% endif %}
        </p>
    </div>
</div>