{% for track in tracks %}
    <div class="col-12">
        <div>
            <a href="{{ track.__link }}">{{ track.name }}</a>
            {% if track.artistName == "" %}
                <p><small>Unknown</small></p>
            {% else %}
            <p><small>{{ track.artistName }}</small></p>
            {% endif %}
        </div>
        <div>
            <audio src="{{ track.source_url }}" controls preload="none" class="block-width-30"></audio>
        </div>
    </div>
{% endfor %}
{% if pages|length > 0 %}
    <div class="col-12 d-flex justify-content-center mt-1">
        <a href="{{ pages[1].url }}">
            <button type="button" class="btn btn-creative btn-gradient btn-lg mt-4">Больше</button>
        </a>
    </div>
{% endif %}