<ul class="p-2 nav justify-content-end">
    {% for nav in links %}
        <li class="mx-3">
            <a class="nav-style text-center text-uppercase" href="{{ nav.__link }}">
                <strong>
                {{ nav.name }}
                </strong>
            </a>
        </li>
    {% endfor %}
</ul>