<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 mb-2">
            <h1 class="pl-5">[[seo_h1]]</h1>
            <p class="pl-5 pb-3">[[seo_text]]</p>
        </div>
        <div>
            <h6 class="pl-3">Всего сериалов: {{ total }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="row col-12 justify-content-center">
            {% for seria in series %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 py-2">
                    <a href="{{ seria.__link }}">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 my-2 text-dark">
                    <div>
                        <a href="{{ seria.__link }}">
                            <h3 class="pt-2 text-dark">{{ seria.titleRu }}</h3>
                        </a>
                    </div>
                    <div>
                        <em>IMdb: <i class="fas fa-star"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                    </div>
                    <div class="py-2">
                        {% if seria.__tags is defined %}
                            {% for tag in seria.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-warning">
                                    {{ tag.name }}
                                </a>

                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>