{% for film in films %}
    <a href="{{ film.__link }}">{{ film.titleRu }}</a>
{% endfor %}

<section class="container">
    <div class="row">
        <h3>Топ {{ total }} фильмов</h3>
    </div>
    <div class="row">
        {% for film in films %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ film.__link }}">{{ film.titleRu }}</a>
                        </h4>
                    </div>
+                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>