<section class="container-fluid bg-dark height-full pb-5">
    <div class="row pt-2">
        <div class="col-md-12 d-flex justify-content-center">
            [%breadcrumbs%]
        </div>
    </div>
    <div>
        <h1 class="mt-5 text-secondary">[[seo_h1]]</h1>
        {% if __text is not empty %}
            <p class="mt-5 text-light">{{ __text | raw }}</p>
        {% endif %}
        <p class="mt-5 text-light">[[seo_text]]</p>
    </div>
    <div class="py-2 text-center">
        {% if __tags is defined %}
            {% for tag in __tags %}
                <a href="{{ tag.__link }}" class="badge badge-warning">
                    {{ tag.name }}
                </a>

            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                    width="100%" height="700px" allowfullscreen></iframe>
        </div>
    </div>
</section>
[%youtube_adding%]