<section class="container-fluid artist-screen py-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="text-light">[[seo_h1]]</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            {% if __text is not empty %}
                <p class="text-light">{{ __text | raw }}</p>
            {% endif %}
            <p class="text-light">[[seo_text]]</p>
        </div>
        {% for item in items %}
            <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <a href="{{ item.__link }}"><div class="artist-photo">
                            <img src="{{ item.photo }}" alt="{{ item.titleRu }}">
                        </div></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <div>
                        <a href="{{ item.__link }}">
                            <h3 class="pt-2">{{ item.titleRu }}</h3>
                        </a>
                    </div>
                    <div>
                        <em class="text-light">IMdb: <i class="fas fa-star"></i> <b>{{ item.imdbRating }}</b>/10</em>
                    </div>
                    <div class="py-2">
                        {% if item.__tags is defined %}
                            {% for tag in item.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-warning">
                                    {{ tag.name }}
                                </a>

                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                </div>
            </div>
        {% endfor %}
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>