<section class="container-fluid screen-fit">
    <div class="row screen-fit-50 d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center align-self-center">
            <h1 class="text-uppercase main-h1">[[seo_h1]]</h1>
        </div>
        <div class="col-md-10 justify-content-center text-light">
            <p class="text-light">[[seo_text]]</p>
        </div>
    </div>
    <section class="container-fluid bg-dark">
        <div class="row py-3">
            <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-2">
                    <h4 class="text-light">Топ фильмов</h4>
                </div>
                [%movies_list%]
            </div>
            <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center border-left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="text-light">Топ сериалов</h4>
                </div>
                [%tv_series_list%]
            </div>
        </div>
    </section>
</section>