<section class="container-fluid bg-dark pb-5 full-screen-height">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                [%breadcrumbs%]
            </div>
        </div>
    </div>
    <div class="row mt-lg-5 mt-md-5">
        <div class="col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center">
            <div class="m-3 mb-5">
                <img src="{{ photo }}" alt="{{ titleRu }}"/>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 m-3">
            <h1 class="text-secondary">[[seo_h1]]</h1>
            <small class="text-light">{{ startYear }}</small>
            <small class="text-light">{{ titleEn }}</small>
            <div>
                <em class="rate-style text-light">
                    imdbRating
                    <a href="{{ imdbUrl }}">
                        <i class="fas fa-star"></i>
                        <b>{{ imdbRating }}</b>/10</a></em>
            </div>
            <div>
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-warning">{{ tag.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row mt-5">
                {% for index,season in seasons %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center my-1">
                        <a href="{{ season.__link }}" class="season-link">
                            <h3>Сезон {{ season.season }}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <section class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center py-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 d-flex justify-content-center py-3">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                {% if __text is not empty %}
                    <p class="text-light pl-5">{{ __text | raw }}</p>
                {% endif %}
                <p class="text-light pl-5">[[seo_text]]</p>
            </div>
            <hr>
        </div>
    </div>
</section>
[%youtube_adding%]