{% for film in films %}
    <div class="col-md-2 col-lg-2 mt-sm-3 mt-xs-3 mt-lg-1 mt-md-1 bg-1 pt-4">
        <a href="{{ film.__link }}" data-toggle="tooltip" data-placement="top" title="{{ film.titleRu }}">
            <img src="{{ film.photo }}" alt="{{ film.titleRu }}" width="185px"/></a>
        <a href="{{ film.__link }}"><h6 class="">{{ film.titleRu }}</h6></a>
    </div>
{% endfor %}
