<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 mb-2">
            <h2>Лучшие сериалы</h2>
        </div>
    </div>
    <div class="row">
        <div class="row col-12 justify-content-center">
            {% for seria in series %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 py-2">
                    <a href="{{ seria.__link }}">
                        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 my-2 text-light">
                    <div>
                        <a href="{{ seria.__link }}">
                            <h3 class="pt-2">{{ seria.titleRu }}</h3>
                        </a>
                    </div>
                    <div>
                        <em>IMdb: <i class="fas fa-star"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                    </div>
                    <div class="py-2">
                        {% if seria.__tags is defined %}
                            {% for tag in seria.__tags %}
                                <a href="{{ tag.__link }}" class="badge badge-warning">
                                    {{ tag.name }}
                                </a>

                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</section>