{% for artist in artists %}
    <div class="col-lg-4 col-md-6 col-12 d-flex align-items-center py-3">
        <div class="my-5 p-3 stylized-border text-light">
            <div class="img-container">
                <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
            </div>
            <span class="ml-2"><a href="{{ artist.__link }}">{{ artist.name }}</a></span>
        </div>
    </div>
{% endfor %}
{% if pages|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="my-5 p-3 stylized-border text-light" style="margin: 0 auto">
                <a href="{{ pages[1].url }}">Ещё</a></div>
        </div>
    </div>
{% endif %}