{% for track in tracks %}
    <div class="col-lg-6 col-md-12 col-xs-12 col">
        <div class="my-5 p-3 stylized-border text-light">
            <a href="{{ track.__link }}" style="color:white">{{ track.name }}</a>
            {% if track.artistName == "" %}
                <p>Unknown</p>
            {% else %}
                <p>{{ track.artistName }}</p>
            {% endif %}
            <audio src="{{ track.source_url }}" controls="controls" preload="none"></audio>
        </div>
    </div>
{% endfor %}


{% if pages|length > 0 %}
    <div class="container">
        <div class="row text-center">
            <div class="my-5 p-3 stylized-border text-light" style="margin: 0 auto">
                <a href="{{ pages[1].url }}">Ещё</a></div>
        </div>
    </div>
{% endif %}