<ul class="p-2 nav justify-content-start">
    {% for nav in links %}
        <li class="mx-3 p-lg-2 p-md-2">
            <a class="nav-style text-center text-uppercase" href="{{ nav.__link }}"><div class="p-lg-2 p-md-2">
                    {{ nav.name }}</div>
            </a>
        </li>
    {% endfor %}
</ul>