
<section class="h-on-page">
    <div style="margin-top: {{ random(  [5,7,9]) }}px; ">
            {% for track in tracks %}
                {{ loop.index }}.  <a href="{{ track.__link }}">
                {{ track.name }}

            </a>
                <span style="float:right">
                    {{ track.duration | date('i:s', '+00:00 GMT') }}
                </span>
                <br>
            {% endfor %}
    </div>
    {% if pages %}
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="active  blue-grey darken-1">
                {% else %}
                    <li class="waves-effect">
                {% endif %}
                <a href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>