@media (max-width: 575.98px) {

    .head-bg-img {
        background-image: linear-gradient(rgba(220, 220, 220, 0.41), rgba(184, 178, 178, 0.65)),
        url("../img/head-bg.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 150px;
    }
}

@media (min-width: 576px) {

    .head-bg-img {
        background-image: linear-gradient(rgba(220, 220, 220, 0.41), rgba(184, 178, 178, 0.65)),
        url("../img/head-bg.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 150px;
    }
}

@media (min-width: 768px) {
    .head-bg-img {
        background-image: linear-gradient(rgba(220, 220, 220, 0.41), rgba(184, 178, 178, 0.65)),
        url("../img/head-bg.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 300px;
    }
}

.screen-height {
    min-height: 70vh;
}

.head-img {
    height: 200px;
    width: inherit;
    content: "";
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 3px solid #d7d7d7;
}

.head-img img {
    width: inherit;
    height: auto;
    object-fit: cover;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.transparent-bg {
    background-color: transparent;
}

.extra-pd {
    margin-top: -50px;
}

.album-photo {
    height: 200px;
    width: 150px;
    content: "";
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 3px solid #d7d7d7;
    object-fit: cover;
}

.album-photo .album-photo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.block-bg {
    background-color: rgba(0, 0, 0, 0.31);
}

h1 {
    font-weight: bold;
    color: #413e3e;
    font-size: 2.5rem;
}

.full-width {
    width: 100%;
}

a {
    color: #7b0c32;
    text-decoration: none;
}

a:hover {
    color: #c86e6d;
}

small {
    color: #211e1f;
}

.main-page-bg-img {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 1%, rgba(184, 178, 178, 0.65) 99%),
    url("../img/head-bg.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100px;
}

.red-button {
    background-color: #7b0c32;
    color: #fff2f2;
    font-weight: bold;
    border: 1px solid #fff2f2;
}

.l-bg {
    background: linear-gradient(to bottom, rgba(220, 220, 220, 0.41) 10%, rgba(184, 178, 178, 0.65) 90%);
}

.foo-bg {
    background-color: #7b0c32;
}

.text-block {
    min-height: 100px;
}