<div class="my-2 stylized-border-2 text-light p-3">
    {% for link in links %}
    <span class="text-light">
        <a href="{{ link.uri }}" class="text-light">{{ link.title }}</a> /
    </span>
    {% endfor %}
    <span class="text-light">
        {{ active.title }}
    </span>
</div>