<div class="container" id="portfolio" style="margin-top: 75px">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ name }}</h2>
        </div>
    </div>
    <div class="row">
        {% for film in films %}
            {% include 'driver/video/games1/block/element/film.twig' with {'film':film} %}
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                    <a href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a></div>
            </div>
        </div>
    {% endif %}
</div>