<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container">
        <a class="navbar-brand text-secondary" href="/">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                {% for nav in links %}
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="{{ nav.__link }}">{{ nav.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>