
<div class="accordion" id="accordionExample">
    {% for track in tracks %}

        <div class="card">
            <div class="card-header" id="{{ loop.index }}_headingOne">
                <h5 class="mb-0" style="overflow-x: hidden;">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ loop.index }}_collapseOne"
                            aria-expanded="true" aria-controls="{{ loop.index }}_collapseOne">
                        {{ track.name }} - {{ track.artistName }}
                    </button>
                </h5>
            </div>

            <div id="{{ loop.index }}_collapseOne" class="collapse" aria-labelledby="{{ loop.index }}_headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="{{ track.__link }}" style="color: #000;">{{ track.name }}</a>
                    <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    <a class="btn btn-outline-secondary" href="{{ track.__link  }}">Скачать</a>
                </div>
            </div>

        </div>

    {% endfor %}
</div>

<div class="row ">
    <div class="col">
        <ul class="pagination " style="float:right; margin-top: 10px;">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>