<section class="container-fluid">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
<div class="container-fluid py-5 bg-bark">
    <div class="row">
        <div class="col-12 justify-content-start">
            <h5 class="text-uppercase text-light text-left"><strong>Всего фильмов: <span>{{ total }}</span></strong></h5>
        </div>
    </div>
    <div class="row justify-content-center bg-con py-3 px-5">
        {% for film in films %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 d-flex justify-content-center back-yolk border border-dark">
                <a href="{{ film.__link }}" class="text-dark p-3">
                    <div>
                        <em><i class="fas fa-star"></i><b>{{ film.imdbRating }}</b>/10</em>
                    </div>
                    <div class="img-con">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        <div class="text text-center name-con">
                            <p class="py-3">{{ film.titleRu }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center py-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12 align-self-lg-center align-self-md-center align-self-sm-start align-self-xs-start">
            <p class="pl-5 py-3 mb-5 bg-light text-dark">[[seo_text]]</p>
        </div>
    </div>
</div>
</section>