<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    [[seo_geo]]

    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

<header>
    <nav>
        <div class="nav-wrapper green accent-3">
            <a href="/" class="brand-logo center grey-text text-darken-3">{{ domain }}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons grey-text text-darken-3">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                [%nav_links%]
            </ul>
        </div>
    </nav>

    <ul class="sidenav green accent-2" id="mobile-demo">
        [%nav_links%]
    </ul>
</header>

[[ad_block_top]]

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <h1>[[seo_h1]]</h1>
        </div>
    </div>
</div>
{{ template | raw }}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            {% if __text is not empty %}
                <div>{{ __text | raw }}</div>
            {% endif %}
            <div>
                [[seo_text]]
            </div>
        </div>
    </div>
</div>
[[ad_block_bottom]]
<footer class="page-footer green accent-3">
    <div class="container">
        [%cross_links%]
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright {{ domain }}
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });
</script>
</body>
</html>