<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        {% for artist in artists %}
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 d-flex stilizator py-2 mt-2 justify-content-center">
                <a href="{{ artist.__link }}">
                    <p class="text-center">{{ artist.name }}</p>
                    <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                </a>
            </div>
        {% endfor %}
    </div>
</div>