<div class="row mt-5">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
        {% for track in tracks %}
                <div>
                    <a href="{{ track.__link }}">{{ track.name }}</a>
                    {% if track.artistName == "" %}
                        <div>
                            <small>Unknown</small>
                        </div>
                    {% else %}
                        <p>
                            <small>{{ track.artistName }}</small>
                        </p>
                    {% endif %}
                </div>
                <div>
                    <audio src="{{ track.source_url }}" controls preload="none" class="width-full"></audio>
                </div>
        {% endfor %}
        {% if pages|length > 0 %}
            <div class="col-12 d-flex justify-content-center mt-1">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn mad-btn my-4">Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>