<section>
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-8">
                <h1 class="text-light">[[seo_h1]]</h1>
            </div>
            <div class="col-4 text-right text-light px-5 align-self-end">
                <p>Всего сериалов: {{ total }}</p>
            </div>

            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 my-2">
                <div class="row">
                    {% for seria in series %}
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 my-2">
                            <a href="{{ seria.__link }}">
                                <img class="project-img text-center" src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                            </a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 my-2 bg-light cont-cont text-center">
                            <h5 class="mt-3">{{ seria.titleRu }}</h5>
                            <hr>
                            <div><em>IMdb: <i class="fa fa-star text-info"></i> {{ seria.imdbRating }}/10</em></div>
                            <div><em>Kinopoisk: <i class="fa fa-star text-info"></i> {{ seria.kinopoiskRating }}/10</em>
                            </div>
                            <div>{% if seria.__tags is defined %}
                                    {% for tag in seria.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-secondary">
                                            {{ tag.name }}
                                        </a>
                                    {% endfor %}
                                {% endif %}</div>
                            <div class="my-2">
                                <a href="{{ seria.__link }}" class="btn btn-outline-info">В кинозал<i class="far fa-play-circle px-2"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 justify-content-center py-3">
                                {% include "driver/base/paginate_limit.twig" %}
                            </div>
                            <div class="col-12 justify-content-center py-3">
                                <ul class="pagination pagination-sm">
                                    {% for page in pages %}
                                        {% if page.isCurrent %}
                                            <li class="page-item active">
                                        {% else %}
                                            <li class="page-item">
                                        {% endif %}
                                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 align-self-center px-4 text-light">
                <p class="border border-secondary rounded px-2 py-2">[[seo_text]]</p>
            </div>
        </div>
    </div>
</section>