<div class="col-md-12">
    <div class="mx-4 my-5 p-3 bg-dark text-light">
        Топ {{ total }} артистов
    </div>
</div>
<div class="col-md-12">
    <div class="mx-4 my-5 p-3 borderator row">
        {% for artist in artists %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-center py-3">
                <a href="{{ artist.__link }}">
                    <div class="rounded bg-light px-2 py-3 shadow">
                        <div class="img-container">
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                        </div>
                        <span class="ml-2">{{ artist.name }}</span>
                    </div>
                </a>
                <div class="ml-2">
                    {% if artist.__tags is defined %}
                        {% for tag in artist.__tags %}
                            <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-12">
    <ul class="pagination">
        {% for page in pages %}
            {% if page.isCurrent %}
                <li class="page-item active">
            {% else %}
                <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
            </li>
        {% endfor %}
    </ul>
</div>