<div class="container-fluid">
    <div class="">
        <div class="head mb-4">
            <h2 class="text-left float-left">{{ name }}</h2>
            {% if pages|length > 0 %}
                <p class="text-right float-right"><a href="{{ pages[1].url }}" class="btn btn-outline-warning">Больше</a></p>
            {% endif %}
            <div class="clearfix"></div>
        </div>

        <div class="row">
            {% for film in films %}
                <div class="col-md-3 mb-3">
                    <div class="movie-image">
                        <a href="{{ film.__link }}"><img src="{{ film.photo }}" alt="" /></a>
                    </div>
                    <div class="name"><a href="{{ film.__link }}" >{{ film.titleRu }}</a></div>
                    <div class="rating">
                        <p>Оценка</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                    </div>
                    <p>
                        {% if film.__tags is defined %}
                            {% for tag in film.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-success">{{ tag.name }}</span>
                                </a>
                            {% endfor %}

                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="cl">&nbsp;</div>
    </div>
</div>