<aside class="col-md-4 col-sm-8 col-xs-8">
    <div class="row">
        <div class="col">
            Топ Артистов
        </div>
    </div>
    <div class="row">
        {% for artist in artists %}
            <div class="col-md-6">
                <a href="{{ artist.__link }}">
                    <h5>{{ artist.name }}</h5>
                    <img src="{{ artist.photo }}" alt="{{ artist.name }}"
                         class="img-thumbnail center-block">
                </a>
                <div>
                    {% if artist.__tags is defined %}
                        {% for tag in artist.__tags %}
                            <a href="{{ tag.__link }}">
                                <span class="badge badge-default">{{ tag.name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% if pages|length > 0 %}
            <div class="page-turn">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <a href="{{ pages[1].url }}">
                            <button type="button" class="btn btn-secondary">Больше</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</aside>