<section class="col-md-8">
    <h3>Топ артистов</h3>
    {% for track in tracks %}
        <article class="blog-item">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ track.__link }}">
                        {{ track.name }}
                    </a>
                </div>
                <div class="col-md-9">
                    <p>
                        <audio src="{{ track.url }}" style="width: 100%" controls preload="none"></audio>
                    </p>
                </div>
            </div>
        </article> <!-- /.blog-item -->
    {% endfor %}
    {% if pages|length > 0 %}
        <div class="page-turn">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a
                            href="{{ pages[1].url }}">
                        <button type="button" class="btn btn-secondary">Больше</button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</section>