<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(145deg, #b7e4ce, #dadada, #dea2a2);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            padding: 0;
        }

        .head-form {
            min-height: 30vh;
            background-color: rgba(136, 170, 151, 0.3);
            border: 2px solid #bebebe;
            box-shadow: 4px 4px 10px rgba(85, 85, 85, 0.74);
        }

        nav {
            background: linear-gradient(145deg, rgba(148, 185, 164, 0.6), rgba(204, 204, 204, 0.6), rgba(206, 162, 153, 0.6));
            border: 2px solid #828282;
        }

        img {
            max-width: 200px;
            margin: 10px;
            border: 1px solid #3e3e3e;
        }

    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container flex-column">
        <a class="navbar-brand text-dark" href="/">{{ domain }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            [%nav_links%]
        </div>
    </div>

</nav>
[[ad_block_top]]
<!-- Page Content -->
<div class="container-fluid head-form mb-5">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-6 align-self-center">
            <h1 class="my-5 py-3 text-dark">[[seo_h1]]</h1>
        </div>

    </div>
</div>


<div class="container-fluid">

    {{ template | raw }}

    {% if __text is not empty %}
        <div class="col-md-12 ml-2 mr-2 mt-5 mb-5">{{ __text | raw }}</div>
    {% endif %}


    <div class="col-md-12 ml-2 mr-2 mt-5 mb-5">
        [[seo_text]]
    </div>
</div>

<footer class="container-fluid bg-light">
    [%cross_links%]
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center my-1 small">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | {{ domain }}</p>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
[[ad_block_bottom]]
</body>

</html>
