<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">{{domain}}</a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        [%nav_links%]
    </div>
</nav>
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
    </div>
</header>
<section>
    {{ template | raw }}
</section>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
    </div>
    <div class="container">
        <span class="text-muted">{{ domain }}</span>
    </div>
</footer>
<script src="js/index.js"></script>
</body>
</html>