<section>
    <section class="container-fluid head-bg-img mt-5 pt-3">
    </section>
    <section class="container-fluid screen-height">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 align-self-start justify-content-center">
                <h1>[[seo_h1]]</h1>
                <small class="text-danger pl-5">{{ titleEn }}</small>
            </div>
            [%breadcrumbs%]
            <div class="col-12 text-center">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-pill badge-dark">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-12 my-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item border border-dark"
                            src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                            width="100%" height="auto" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12">
                {% if __text is not empty %}
                    <div class="text-light text-center mt-5">{{ __text | raw }}</div>{% endif %}
                <div class="colored-text text-center my-5">[[seo_text]]</div>
            </div>
        </div>
    </section>
</section>