<div class="row mt-5 justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 py-5">
        <h1 class="heading-text">[[seo_h1]]</h1>
        {% if __text is not empty %}
            <div class="text-light">{{ __text | raw }}</div>{% endif %}
        <div class="colored-text my-5">[[seo_text]]</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 list-style py-5 pt-5 shadow">
        [%movies_list#6%]
        [%tv_series_list#6%]
    </div>
</div>