<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        [[seo_geo]]

        <title>[[seo_title]]</title>
        <meta name="description" content="[[seo_description]]">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        [[seo_meta_tags]]

        [[seo_global_meta_tags]]
        <noscript>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        </noscript>

        <link rel="stylesheet" href="/css/index.css">
        [[seo_meta_schema]]
    </head>
    <body>
        <script type="text/javascript">
            /* First CSS File */
            var giftofspeed = document.createElement('link');
            giftofspeed.rel = 'stylesheet';
            giftofspeed.href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
            giftofspeed.type = 'text/css';
            var godefer = document.getElementsByTagName('link')[0];
            godefer.parentNode.insertBefore(giftofspeed, godefer);
        </script>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">{{domain}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            [%nav_links%]
        </nav>
        [[ad_block_top]]
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">
                        <h1>[[seo_h1]]</h1>
                    </div>
                </div>
            </div>
        </header>




        <div class="container-fluid" style="margin-top: 60px">
            <div class="row">
                <div class="col">
                    {% if __text is not empty %}
                        <section>
                            <p >{{ __text | raw }}</p>
                        </section>
                    {% endif %}

                    {{template | raw}}
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        [%cross_links%]
                    </div>
                </div>
            </div>
            <div class="container center">
                <div class="row justify-content-center">
                    <a class="nav-link js-scroll-trigger" href="/">{{domain}}</a>
                </div>
            </div>
        </footer>
        [[ad_block_bottom]]
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>