<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cover.css">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/pusher.css">
    [[seo_meta_schema]]
</head>
<body>
<header>
    [%nav_links%]
</header>
[[ad_block_top]]
<main role="main">
    {{ template | raw }}
</main>

<div class="container">
    {% if __text is not empty %}
        <div class="row">
            <div class="col">
                {{ __text | raw }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            [[seo_text]]
        </div>
    </div>
</div>
[%cross_links%]
[[ad_block_bottom]]
<div id="preloader">
    <div class="spinner"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="/js/owl.carousel.min.js"></script>
<script>
    $(window).on('load', function () {
        $('#preloader').hide('slow', function () {
            $(this).remove();
        });
        loadPictures();
    });

    $(document).ready(function ($) {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    });

    function loadPictures() {
        $.each($('img'), function (index, element) {
            let $element = $(element);
            if ($element.attr('data-src')) {
                $element.attr('src', $element.attr('data-src'))
            }
        })
    }

    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        smartSpeed: 450,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>