<div class="container">
    <div class="row">
        <div class="col">
            <h2>Топ {{ total }} фильмов</h2>
        </div>
    </div>
    <div class="row">
        {% for film in films %}
            <div class="movie-block col-lg-3 col-md-4">
                <!-- work -->
                <div class="work card">
                    <a href="{{ film.__link }}">
                        <div class="hoverbox slide-ef-bottom light">
                            <div class="hb_front">
                                <img src="{{ film.photo }}" alt="{{ film.titleRu }}" width="250" height="300"/>
                            </div>
                            <div class="hb_back">
                                <b class="title_work">{{ film.titleRu }}</b>
                            </div>
                        </div>
                        <p>
                            {% if film.__tags is defined %}
                                {% for tag in film.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badge badge-success">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}

                            {% endif %}
                        </p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination mt-3 mb-3">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="link_page_nav" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>