body {
    background-color: #ff9c29;
}

header {
    height: 15vh;
    background-color: #291808;
    box-shadow: 1px 1px 3px #291808;
}

.page-full-height {
    background: url(../img/main-page-bg.jpg) bottom no-repeat;
    background-size: cover;
    margin-top: 1vh;
    min-height: 40vh;
    box-shadow: 1px 1px 3px #291808;
}

.page-half-height {
    min-height: 50vh;
}

.container-h1 h1 {
    font-size: 4vw;
    font-weight: bolder;
    text-transform: uppercase;
    color: #f6f3f3;
}

.navbar-brand span {
    color: #fff2f2;
    background-color: #137123;
    border-radius: 5px;
    padding: 5px;
}

.all-container {
    background-color: #ff9c29;
    color: #fff2f2;
    width: inherit;
    border: 1px solid #0b0a0f;
    border-radius: 5px;
}

.all-container:hover {
    background-color: #0b0a0f;
    color: #fff2f2;
}

.img-container img {
    opacity: 0.95;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-container img:hover {
    opacity: 1;
}

.container-border {
    box-shadow: 1px 1px 5px 1px  #291808;
}

.bg-bark {
    background-color: #291808;
}

small {
    color: #ff9c29;
}

.page-item.active .page-link {
    background-color: #ff9c29;
    border: 1px solid #ff9c29;
    color: #291808;
}

.page-item .page-link {
    color: #291808;
}

