<div class="container">
    [%breadcrumbs%]
</div>
<section class="container">
    <div class="content">
        <h2 class="card-title-element">
            {{ titleRu }}
        </h2>
        <h3 class="card-subtitle mb-2 text-muted">{{ titleEn }}</h3>
        <div>
            {{ season }} Сезон / {{ episode }} Епизод
        </div>
    </div>
</section>
<section class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #2e3335">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                        width="100%" height="700px" allowfullscreen
                ></iframe>
            </div>
        </div>
        {% if(__prev) %}
            <a class="carousel-control carousel-control-prev" href="{{ __prev }}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        {% endif %}
        {% if(__next) %}
            <a class="carousel-control carousel-control-next" href="{{ __next }}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            [%tree_items%]
        </div>
    </div>
</section>