<section class="container-fluid">
    <div class="row">
        <h3>{{ name }}</h3>
    </div>
    <div class="row">
        {% for seria in items %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ seria.__link }}">
                        <img width="50px" height="70px" class="card-img-top img-responsive" src="{{ seria.photo }}">
                    </a>
                    <div class="card-body">
                        <a href="{{ seria.__link }}" class="element-title">{{ seria.titleRu }}</a>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% if pages %}
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="active  blue-grey darken-1">
                    {% else %}
                        <li class="waves-effect">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>