<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="top-serial-text">Топ Сериалов</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            [%tv_series_list%]
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="top-serial-text">Топ Фильмов</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            [%movies_list#9%]
        </div>
    </div>
</div>