<section class="container-fluid">
    <div class="row">
        {% for type,collection in items %}
            {% if (type == 21) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Фильмы</h3>
                </div>
                {% for film in collection %}
                    {% include 'driver/video/material_2/block/element/film.twig' with {'film':film} %}
                {% endfor %}
            {% elseif(type == 13) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Сериалы</h3>
                </div>
                {% for seria in collection %}
                    {% include 'driver/video/material_2/block/element/seria.twig' with {'seria':seria} %}
                {% endfor %}
            {% elseif(type == 12) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Епизоды</h3>
                </div>
                {% for episode in collection %}
                    {% include 'driver/video/material_2/block/element/episode.twig' with {'episode':episode} %}
                {% endfor %}
            {% elseif(type == 14) %}
                <div class="col-md-12 col-xs-12">
                    <h3>Сезоны</h3>
                </div>
                {% for season in collection %}
                    {% include 'driver/video/material_2/block/element/season.twig' with {'season':season} %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <h3>Смотрите больше</h3>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card">
                    <img width="70px" height="70px" class="card-img-top img-responsive __modal_trigger"
                         src="{{ item.src }}" maestro-youtube-id='{{ item.id }}' style="object-fit: cover">
                    <div class="card-body">
                        <small class="element-title __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                            {{ item.title }}
                        </small>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</section>