<section class="container">
    [%breadcrumbs%]
</section>
<section class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <h2>Сезон {{ season }}</h2>
            </div>
            <div>
                <p class="card-text">
                    {{ description |raw }}
                </p>
            </div>
        </div>
        <div class="col-6">
            <div style="margin-top: {{ random(  [5,7,9]) }}px; ">
                <div class="row">
                {% for episode in episodes %}
                    <div class="col-sm-6 mb-2">
                        <div class="card horizontal  blue-grey darken-1">
                            <div class="card-body">
                                <h5 class="card-title">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</h5>
                                <a href="{{ episode.__link }}" class="btn btn-primary">Смотреть</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row pagination-section">
    {% if pages %}
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="active  blue-grey darken-1">
                {% else %}
                    <li class="waves-effect">
                {% endif %}
                <a href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
