<section class="container">
    [%breadcrumbs%]
</section>
<section class="container">
    <div class="row">
        <div class="col-3">
            <div class="card-title-element">
                {{ titleRu }}
            </div>
            <div class="card">
                <div class="card-image">
                    <img class="activator" src="{{ photo }}" alt="{{ titleRu }}">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">plus_one</i></a>
                </div>
            </div>
            <a href="{{ imdbUrl }}">
                <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
            </a>
            <a href="{{ kinopoiskUrl }}">
                <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
            </a>
        </div>
        <div class="col-9 row">
            <div class="row">
                <div class="col">
                    <ul class="list-group" style="margin-bottom: 20px">
                        {% for index,season in seasons %}
                            <div class="card horizontal  blue-grey darken-1">
                                <div class="card-body">
                                    <div style="min-width:150px;">
                                        <h5 class="card-title">Сезон {{ season.season }}</h5>
                                    </div>
                                    <a href="{{ season.__link }}" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="row" style="margin:0;">
    <div class="col">
        <ul class="pagination  blue-grey darken-1">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item">
                {% endif %}
                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
