[%breadcrumbs%]

<div class="container">
    <div class="row">
        <div class="col s12">
            <span class="entity_title">{{ titleRu }}
                <small>{{ titleEn }}</small></span>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="video-container">
                <iframe width="auto" height="auto"
                        src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m3 s12 left-align">
            {% if(__prev) %}
                <a class="btn btn-dark" href="{{ __prev }}">Предыдущая серия</a>
            {% endif %}
        </div>
        <div class="col m6 s12 center-align">
            [%tree_items%]
        </div>
        <div class="col m3 s12 right-align">
            {% if(__next) %}
                <a class="btn btn-dark" href="{{ __next }}">Следующая серия</a>
            {% endif %}
        </div>
    </div>
</div>
