[%breadcrumbs%]


<div class="container">
    <div class="row">
        <div class="col s12">
            <span class="entity_title">{{ titleRu }}
                <small>{{ titleEn }}</small></span>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="video-container">
                <iframe width="auto" height="auto"
                        src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
