<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ name }}</h2>
            </div>
        </div>
        <div class="row">
            {% for seria in items %}
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ seria.__link }}" ><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                            <span class="card-title">{{ seria.titleRu }}</span></a>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn" href="{{ seria.__link }}">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
