<section class="container">
    <div class="row">
        {% for type,collection in items %}
            {% if (type == 21) %}
                <div class="col s12">
                    <h3>Фильмы</h3>
                </div>
                {% for film in collection %}
                    {% include 'driver/video/materialize-v2/block/element/film.twig' with {'film':film} %}
                {% endfor %}
            {% elseif(type == 13) %}
                <div class="col s12">
                    <h3>Сериалы</h3>
                </div>
                {% for seria in collection %}
                    {% include 'driver/video/materialize-v2/block/element/seria.twig' with {'seria':seria} %}
                {% endfor %}
            {% elseif(type == 12) %}
                <div class="col s12">
                    <h3>Епизоды</h3>
                </div>
                <div class="col s12">
                    <ul class="collection with-header">
                        {% for episode in collection %}
                            {% include 'driver/video/materialize-v2/block/element/episode.twig' with {'episode':episode} %}
                        {% endfor %}
                    </ul>
                </div>
            {% elseif(type == 14) %}
                <div class="col s12">
                    <h3>Сезоны</h3>
                </div>
                <div class="col s12">
                    <ul class="collection">
                        {% for season in collection %}
                            {% include 'driver/video/materialize-v2/block/element/season.twig' with {'season':season} %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <h3>Смотрите больше</h3>
        </div>
    </div>
    <div class="row">
        {% for item in results %}
            <div class="col s12 m6">
                <div class="card ">
                    <div class="card-image __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                        <img src="{{ item.src }}" maestro-youtube-id='{{ item.id }}'>
                        <span class="card-title" style="text-shadow: 0 0 5px black"
                              maestro-youtube-id='{{ item.id }}'>{{ item.title }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>