[%breadcrumbs%]

<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header">
                    <div>
                        <h4>Сезон {{ season }}</h4>
                        <p>[[seo_text]]</p>
                    </div>
                </li>
                {% for episode in episodes %}
                        <a href="{{ episode.__link }}" class="collection-item">
                            <div>
                                {{ episode.titleRu }}
                                <small>{{ episode.season }} Сезон / {{ episode.episode }} Епизод</small>
                                <i class="material-icons secondary-content hide-on-small-only">play_arrow</i>
                            </div>
                        </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>