[%breadcrumbs%]


<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>
                {{ titleRu }}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div>
                <a href="{{ imdbUrl }}">
                    <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
                </a>
                <a href="{{ kinopoiskUrl }}">
                    <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
                </a>
                <img class="img-thumbnail float-left" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
            </div>
        </div>
        <section class="col s12 m8">
            <ul class="collection">
                {% for index,season in seasons %}
                    <li class="collection-item">
                        <a href="{{ season.__link }}" class="hover">
                            <div>
                                Сезон {{ season.season }}
                                <i class="material-icons secondary-content">play_arrow</i>
                            </div>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </section>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
