<div class="g--3 m--1 g-s-12">
    <div class="card">
        <b>{{ episode.season }} Сезон / {{ episode.episode }} Епизод</b>
        <i>{{ episode.titleRu }}</i>
        <p><a href="{{ episode.__link }}">Смотреть</a></p>
    </div>
</div>