<div class="card g--3 m--1">
    <a href="{{ seria.__link }}">
        <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
        <div class="center text-center">{{ seria.titleRu }}</div>
        <div>
            {% if seria.__tags is defined %}
                {% for tag in seria.__tags %}
                    <a href="{{ tag.__link }}" class="badge badge-default">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </a>
</div>