<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            {% for nav in links %}
                <li class="uk-parent"><a href="{{ nav.__link }}">{{ nav.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>