<section style="display: flex; overflow: scroll">
    {% for link in links %}
        {% if link.__link == __link %}
            <i type="button" class="uk-label uk-label-success">{{ link.name }}</i>
        {% else %}
            <a href="{{ link.__link }}" style="margin: 0 1px" title="{{ link.name }}">
                <i type="button" class="uk-label">{{ link.name }}</i>
            </a>
        {% endif %}
    {% endfor %}
</section>