<div class="uk-section">
    <div class="uk-container">
        <h2 class="top-list">Топ <span>сериалов</span></h2>
        <div class="uk-position-relative uk-visible-toggle uk-light"
             uk-slider="center: true; autoplay: true;sets: true">
            <ul class="uk-slider-items uk-child-width-1-3 uk-child-width-1-4@s uk-child-width-1-5@m">
                {% for seria in series %}
                    <li>
                        <a href="{{ seria.__link }}">
                            <a href="{{ seria.__link }}" ><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                            <div class="uk-position-bottom-right">
                                <span class="uk-label uk-label-success">{{ seria.titleRu }}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if pages|length > 0 %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="uk-button uk-button-default">Больше</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>