<section class="container-fluid list-screen">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pt-5">
            <h1>[[seo_h1]]</h1>
            {% if __text is not empty %}
                <p class="list-seo pl-2 ml-2 mt-5">{{ __text | raw }}</p>
            {% endif %}
            <p class="list-seo pl-2 ml-2 mt-5">[[seo_text]]</p>
        </div>
    </div>
    <div class="row pt-5 mt-5">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    {% for item in items %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-2
                                    d-flex justify-content-xs-center justify-content-sm-center
                                    justify-content-md-start justify-content-lg-start">
                            <div>
                                <a href="{{ item.__link }}" class="name">{{ item.titleRu }}</a>
                                <div class="text-light"><em><i class="far fa-star"></i> {{ item.imdbRating }}/10</em></div>
                                <div>
                                    {% if item.__tags is defined %}
                                        {% for tag in item.__tags %}
                                            <a href="{{ item.__link }}" class="badge badge-secondary">{{ tag.name }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <a href="{{ item.__link }}" class="text-light">
                                    <div class="photo">
                                        <img src="{{ item.photo }}" alt="{{ item.titleRu }}"/>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>