<section class="container-fluid main-screen">
    <div class="row block-height-60">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 align-self-start pt-5">
            <h1>[[seo_h1]]</h1>
            <p class="main-seo pt-2">[[seo_text]]</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 d-flex align-self-center py-2">
            <section class="container-fluid">
                <div class="row d-flex justify-content-center">
                    [%movies_list#9%]
                </div>
            </section>
        </div>
    </div>
    [%tv_series_list#9%]
</section>