<section class="container-fluid list-screen">
    <div class="row pt-3">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-8 border border-secondary pt-3 text-light">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row my-3 justify-content-center">
        {% for index,episode in episodes %}
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 text-center my-1">
                <a href="{{ episode.__link }}" class="pt-2">
                    <p class="name py-3">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center pb-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>