<section class="container-fluid list-screen">
    <div class="row pt-3">
        <div class="col-12">
            <h1 class="text-center">[[seo_h1]]</h1>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-8 border border-secondary pt-3 text-light">
            {% if __text is not empty %}
                <p>{{ __text | raw }}</p>
            {% endif %}
            <p>[[seo_text]]</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
        <div class="col-8 text-light text-center">
            <h5>{{ titleRu }}</h5>
            <div><small>{{ titleEn }}</small></div>
            <img src="{{ photo }}"/>
            <ul>
                <li><em>IMdb: <i class="far fa-star"></i> {{ imdbRating }}/10</em>
                <li><em>Kinopoisk: <i class="far fa-star"></i> {{ kinopoiskRating }}/10</em>
                <li>{% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}</li>
            </ul>
        </div>
    </div>
    <div class="row my-3 justify-content-center">
        {% for index,season in seasons %}
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 text-center my-1">
                <a href="{{ season.__link }}" class="pt-2">
                    <p class="name py-5">{{ season.season }} Сезон</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>