<section class="container">
    <div class="row">
        <div class="col">
            <div class="filml-top">
                <h3>{{ name }}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        {% for film in items %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ film.__link }}">
                        <img class="card-img-top" src="{{ film.photo }}" alt="">
                    </a>
                    <div class="card-body">
                        <a href="{{ film.__link }}" class="elegant-title" style="color: #53555c;">{{ film.titleRu }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="pagination-block">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="link-page" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>