<div class="ui segment">
    [%breadcrumbs%]
</div>

<div class="ui grid" style="margin: 10vh 0; min-height: 50vh;">
    <div class="sixteen wide column">
        <div class="ui relaxed divided list">
            <div class="ui divided items">
            {% for track in tracks %}

                <a href="{{ track.__link }}" class="item">
                    <div class="ui tiny image">
                        <img src="{{ photo }}" style="width:45px;height: 45px;">
                    </div>
                    <div class="middle aligned content">
                        {{ track.name }}
                    </div>
                    <span style="float: right;color: black;margin-top: 20px;font-size: 16px;">
                    {{ track.duration | date('i:s', '+00:00 GMT') }}
                </span>
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui grid">
            {% if pages|length > 0 %}
                <div class="computer only row">
                    <div class="column">
                        <div class="ui pagination menu">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <a class="active item" href="{{ page.url }}">{{ page.num }}</a>
                                {% else %}
                                    <a class="item" href="{{ page.url }}">{{ page.num }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="mobile only row">
                    <div class="column">
                        <div class="ui pagination menu tablet">
                            {% for key,page in pages %}
                                {% if page.isCurrent %}
                                    {% if pages[key-1] is defined %}
                                        <a class="item" href="{{ pages[key-1].url }}">Назад</a>
                                    {% endif %}

                                    <a class="active item" href="{{ page.url }}">{{ page.num }}</a>

                                    {% if pages[key+1] is defined %}
                                        <a class="item" href="{{ pages[key+1].url }}">Вперед</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</div>