<div class="ui segment">
    [%breadcrumbs%]
</div>

<div class="ui stackable grid" style="margin-bottom: 50px">
    <div class="six wide column">
        <div class="ui link cards">
            <div class="card">
                <div class="image">
                    <img src="{{ photo }}">
                </div>
                <div class="content">
                    <div class="header">{{ name }}</div>
                </div>
                <div class="extra content">
                    <p>[[seo_text]]</p>
                    <ul>
                        <li>Всего альбомов {{ totalAlbums }}</li>
                        <li>Всего треков {{ totalSongs }}</li>
                    </ul>
                    <div>
                        {% if __tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="ui teal horizontal label">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ten wide column">
        <h3 class="my-4">Альбомы {{ name }} </h3>
        <div class="ui stackable grid">
            <div class="ui three column grid">
                {% for album in albums %}
                    <div class="column">
                        <div class="ui card">
                            <a class="image" href="{{ album.__link }}">
                                <img src="{{ album.photo }}">
                            </a>
                            <div class="content">
                                <a class="header" href="{{ album.__link }}">{{ album.name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="ui inverted section divider"></div>

        {% if pages|length > 0 %}

            <div class="ui pagination menu">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <a class="active item" href="{{ page.url }}">{{ page.num }}</a>
                    {% else %}
                        <a class="item" href="{{ page.url }}">{{ page.num }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>