<h3>{{ name }}</h3>
<div class="ui segment" style="margin-bottom: 50px">
    <div class="ui  six column grid">
        {% for artist in items %}
            <div class="five wide tablet three wide computer column">
                <div class="ui card">
                    <a class="image" href="{{ artist.__link }}">
                        <img src="{{ artist.photo }}">
                    </a>
                    <div class="content">
                        <a class="header" href="{{ artist.__link }}">{{ artist.name }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui grid">
        {% if pages|length > 0 %}
            <div class="computer only row">
                <div class="column">
                    <div class="ui pagination menu">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <a class="active item" href="{{ page.url }}">{{ page.num }}</a>
                            {% else %}
                                <a class="item" href="{{ page.url }}">{{ page.num }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mobile only row">
                <div class="column">
                    <div class="ui pagination menu tablet">
                        {% for key,page in pages %}
                            {% if page.isCurrent %}
                                {% if pages[key-1] is defined %}
                                    <a class="item" href="{{ pages[key-1].url }}">Назад</a>
                                {% endif %}

                                <a class="active item" href="{{ page.url }}">{{ page.num }}</a>

                                {% if pages[key+1] is defined %}
                                    <a class="item" href="{{ pages[key+1].url }}">Вперед</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
</div>