<div class="ui segment">
    [%breadcrumbs%]
</div>

<div class="ui stackable grid" style="margin: 50px 0;">
    <div class="ui segment" style=" width: 100%">
        <div class="item">
            <div class="content">
                <div class="header" >
                    <h3>{{ name }}</h3>
                </div>
                <div class="ui divider"></div>
                <div class="ui stackable grid" style="margin: 20px">
                    {{ text | raw }}
                </div>
            </div>
        </div>
    </div>
</div>