<div class="ui items">
    {% for item in results %}
        <div class="item">
            <div class="ui tiny image">
                <img src="{{ item.src }}">
            </div>
            <div class="middle aligned content">
                <a class="header __modal_trigger" maestro-youtube-id='{{ item.id }}'>{{ item.title }}</a>
            </div>
        </div>
    {% endfor %}
</div>
