<div class="ui segment">
    [%breadcrumbs%]
</div>

<div class="ui stackable grid" style="margin: 10vh 0; min-height: 50vh;">
    <div class="ui segment" style=" width: 100%">
        <div class="item">
            <div class="content">
                <div class="header">
                    <h3>{{ name }}</h3>
                </div>
                <div class="ui stackable grid" style="margin: 20px 0">
                    <div class="fourteen wide column">
                        <audio src="{{ url }}" style="width: 100%" controls preload="none"></audio>
                    </div>
                    <div class="two wide column">
                        <a class="ui positive basic button" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui stackable grid" style="margin: 20px">
                    <a class="ui tag label">Сейчас слушают {{ totalListeners }} человека</a>
                    <a class="ui tag label">Всего скачали {{ totalDownloads }} раз</a>
                    <a class="ui tag label">Прослушали {{ totalListening }} раз</a>
                </div>
                <div class="ui divider"></div>
                <div class="ui stackable grid">
                    {% if __relations is defined %}
                        {% for relation in __relations %}
                            <a href="{{ relation.__link }}">{{ relation.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>