<section class="container">
    [%breadcrumbs%]
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms"
                         src="{{ photo }}" alt="{{ name }}">
                    <h2 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        {{ name }}
                    </h2>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                    <ul>
                        <li>Всего альбомов {{ totalAlbums }}</li>
                        <li>Всего треков {{ totalSongs }}</li>
                    </ul>
                    </p>
                    <div>
                        {% if __tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-default">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>Альбомы <span>{{ name }}</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        {% for album in albums %}
                            <div class="artist-item">
                                <a href="{{ album.__link }}">
                                    <h5 class="text-center">{{ album.name }}</h5>
                                    <img class="img-responsive" src="{{ album.photo }}" alt="{{ album.name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <a class="btn btn-big wow bounceIn btn-main"
                           data-wow-duration="500ms" data-wow-delay="500ms" href="#" role="button">
                            {{ page.num }}
                        </a>
                    {% else %}
                        <a class="btn btn-big wow bounceIn"
                           data-wow-duration="500ms" data-wow-delay="500ms" href="{{ page.url }}" role="button">
                            {{ page.num }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
