<section class="container">
    [%breadcrumbs%]
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        {{ name }}
                    </h2>
                    <div>
                        {{ text | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
