<section class="container">
    [%breadcrumbs%]
</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        {{ name }} <small>{{ artistName }}</small>
                    </h2>
                    <p>
                        <i class="fa fa-user"></i> Сейчас слушают {{ totalListeners }} человека |
                        <i class="fa fa-download"></i> Всего скачали {{ totalDownloads }} раз |
                        <i class="fa fa-play"></i> Прослушали {{ totalListening }} раз
                    </p>
                    <div>
                        <audio  src="{{ url }}" style=" width: {{ random([90,92,96,100]) }}%;" controls preload="none"></audio>
                        <a class="btn btn-big" href="{{ url }}" download="{{ name }}.mp3">Скачать</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {% if __relations is defined %}
                    {% for relation in __relations %}
                        <a href="{{ relation.__link }}">{{ relation.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
