<section class="container screen-height">
    <div>
        [%breadcrumbs%]
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-start py-3">
            <div>
                <h1>[[seo_h1]]</h1>
                <div class="artist-photo">
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-primary">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <ul class="text-center py-3">
                        <li>
                            <strong>{{ year }}</strong>
                            <p>год</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 half-screen">
            <div class="container-fluid">
                <div class="row">
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    <p>[[seo_text]]</p>
                    {% for track in tracks %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-3">
                            <div>
                                <a href="{{ track.__link }}">{{ track.name }}</a>
                                {% if track.artistName == "" %}
                                    <p>
                                        <small>Unknown</small>
                                    </p>
                                {% else %}
                                    <p>
                                        <small>{{ track.artistName }}</small>
                                    </p>
                                {% endif %}
                                <div>
                                    <audio src="{{ track.source_url }}" controls preload="none"
                                           class="audio-block">
                                    </audio>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>