<section class="container screen-height">
    <div>
        [%breadcrumbs%]
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center py-3">
            <div>
                <h1>[[seo_h1]]</h1>
                <div class="artist-photo">
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-primary">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <ul class="text-center py-3">
                        <li>
                            <strong>{{ totalSongs }}</strong>
                            <p>треков</p>
                        </li>
                        <li>
                            <strong>{{ totalAlbums }}</strong>
                            <p>альбомов</p>
                        </li>
                        <li>
                            <strong>{{ listeners }}</strong>
                            <p>слушают</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 half-screen py-3">
            <div class="container-fluid">
                <div class="row">
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    <p>[[seo_text]]</p>
                    {% for album in albums %}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-2">
                            <h3><a href="{{ album.__link }}">{{ album.name }}</a></h3>
                            <div>
                                <small>{{ album.year }}</small>
                            </div>
                            {% if __tags is defined %}
                                {% for tag in __tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                                {% endfor %}
                            {% endif %}
                            <div class="photo">
                                <a href="{{ album.__link }}">
                                    <img src="{{ album.photo }}" alt="{{ album.name }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>