<section class="container screen-height">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-start py-3">
            <div>
                <h1>[[seo_h1]]</h1>
                <div class="artist-photo">
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-primary">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 half-screen py-3">
            <div class="container-fluid">
                <div class="row">
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    <p>[[seo_text]]</p>
                    {% for artist in items %}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-2">
                            <h3><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                            {% if __tags is defined %}
                                {% for tag in __tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                                {% endfor %}
                            {% endif %}
                            <div class="photo">
                                <a href="{{ artist.__link }}">
                                    <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-5">
    <div class="row py-4">
        <div class="col d-flex justify-content-center">
            <ol class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</section>