<section class="container screen-height">
    <div>
        [%breadcrumbs%]
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-start py-3">
            <div>
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 half-screen py-3">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% if __text is not empty %}
                            <p>{{ __text | raw }}</p>
                        {% endif %}
                        <p>[[seo_text]]</p>
                    </div>
                    <div class="col-12">
                        {{ name }}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-3">
                        {{ text | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>