<section class="container-fluid main-bg">
    <section class="container pt-5">
        <div class="row block-height-60 d-flex justify-content-center block-height-60">
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 align-self-center justify-content-center my-3">
                <h1 class="main-h1 my-3 text-center">[[seo_h1]]</h1>
                {% if __text is not empty %}
                    <p>{{ __text | raw }}</p>
                {% endif %}
                <p class="text-center mt-5">[[seo_text]]</p>
            </div>
        </div>
    </section>
</section>
<section class="container-fluid second-block py-3">
    <h2 class="text-center">Лучшие треки</h2>
    <div class="row">
        [%audio_tracks_list#6%]
    </div>
</section>
<section class="container-fluid third-block py-3 border border-primary">
    <h2 class="text-center">Лучшие исполнители</h2>
    <div class="row my-5">
        [%audio_artists_list#6%]
    </div>
</section>