<section class="container mb-5">
    <div>
        [%breadcrumbs%]
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-start py-3">
            <div>
                <h1>[[seo_h1]]</h1>
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-primary">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <ul class="text-center py-3">
                        <li>
                            <strong>{{ totalListeners }}</strong>
                            <p>слышали</p>
                        </li>
                        <li>
                            <strong>{{ totalListening }}</strong>
                            <p>слушают</p>
                        </li>
                        <li>
                            <strong>{{ totalDownloads }}</strong>
                            <p>скачано</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 half-screen py-3">
            <div class="container">
                <div class="row">
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    <p>[[seo_text]]</p>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-3">
                        <div>
                            <a href="{{ __link }}">{{ name }}</a>
                            {% if artistName == "" %}
                                <p>
                                    <small>Unknown</small>
                                </p>
                            {% else %}
                                <p>
                                    <small>{{ artistName }}</small>
                                </p>
                            {% endif %}
                            <div>
                                <audio src="{{ source_url }}" controls preload="none"
                                       class="audio-block">
                                </audio>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 align-self-end
                                                            justify-content-center mb-2">
                                <a href="{{ url }}" download="{{ name }}">
                                    <button type="button" class="btn btn-primary text-light">
                                        Скачать
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
[%youtube_adding%]