<div aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
        {% for link in links %}
            <li class="breadcrumb-item active">
                <a href="{{ link.uri }}" class="text-dark">{{ link.title }}</a>
                <i class="right chevron icon divider"></i>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">
            {{ active.title }}
        </li>
    </ol>
</div>