{% if links %}
<nav aria-label="breadcrumb bg-light">
    <ol class="breadcrumb">
        {% for link in links %}
            <li class="breadcrumb-item">
                <a href="{{ link.link }}"><small>{{ link.name }}</small></a>
            </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}