<div class="container-fluid hi-100">
    <div class="row">
        <div class="col-12">
            <h5>Топ Сериалов</h5>
        </div>
        {% for seria in series %}
            <div class="col-md-4 my-2">
                <a href="{{ seria.__link }}" class="text-dark">
                    <b>{{ seria.titleRu }}</b>
                    <div class="img-block">
                        <img src="{{ seria.photo }}"
                             alt="{{ seria.titleRu }}" class="img-thumbnail">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% if pages|length > 0 %}
            <div class="container-fluid my-4">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <a href="{{ pages[1].url }}" class="text-center">
                            <button type="button" class="btn btn-secondary">Больше</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>