{% if __youtube is not empty %}
    <section class="container-fluid">
        <div class="row">
            {% for youtube in __youtube %}
                <div class="col-lg-4 col-md-6">
                    <img src="{{ youtube.src }}"
                         alt="{{ youtube.title }}"
                         class="img-thumbnail img-fluid"
                         onclick="window.open('https://www.youtube.com/watch?v={{ youtube.id }}')"/>
                    <h5 class="text-white">{{ youtube.title }}</h5>
                    <p class="text-white">{{ youtube.description }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}