<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>[[seo_title]]</title>
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Playfair+Display:,300, 400, 700"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>

<style>
    body{
        background-color: #f5f6fa;
    }
</style>
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]

    [[seo_meta_schema]]
</head>
<body>
[[ad_block_top]]
[%nav_links#c%]
<section>
    {{ template | raw }}
</section>
<section class="container">
    <div>
        [[seo_text]]
    </div>
</section>

[[ad_block_bottom]]

</body>
</html>