<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <div class="col-12">
            <h4 class="entity_title uk-margin-top">{{ titleRu }}</h4>
            <small>{{ titleEn }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ resource }}?illegal=1"
                        width="100%" height="700px" allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
    <div uk-grid>
        <section class="uk-width-1-1\@m">
            {% if __tags is defined %}
                {% for tag in __tags %}
                    <a href="{{ tag.__link }}" class="uk-badge">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </section>
    </div>
</div>