<div class="uk-container">
    <h2 class="top-list uk-heading-primary"><span>{{ name }}</span></h2>
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        {% for film in items %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-4@m uk-animation-slide-top-small">
                <a href="{{ film.__link }}" ><img data-src="{{ film.photo }}" width="" height="" alt="{{ film.titleRu }}" uk-img></a>
                <h3 class="uk-card-title">{{ film.titleRu }}</h3>
                <p>
                    <a href="{{ film.__link }}" class="uk-button uk-button-default">Перейти</a>
                </p>
            </div>
        {% endfor %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-animation-slide-top-small">
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
