<div class="uk-container">
    {% for type,collection in items %}
        {% if (type == 21) %}
            <div class="col-md-12 col-xs-12">
                <h3>Фильмы</h3>
            </div>
            <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                {% for film in collection %}
                    {% include 'driver/video/uikit3/block/element/film.twig' with {'film':film} %}
                {% endfor %}
            </div>
        {% elseif(type == 13) %}
            <div class="col-md-12 col-xs-12">
                <h3>Сериалы</h3>
            </div>
            <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                {% for seria in collection %}
                    {% include 'driver/video/uikit3/block/element/seria.twig' with {'seria':seria} %}
                {% endfor %}
            </div>
        {% elseif(type == 12) %}
            <div class="col-md-12 col-xs-12">
                <h3>Епизоды</h3>
            </div>
            <ul class="uk-list uk-list-divider">
                {% for episode in collection %}
                    {% include 'driver/video/uikit3/block/element/episode.twig' with {'episode':episode} %}
                {% endfor %}
            </ul>
        {% elseif(type == 14) %}
            <div class="col-md-12 col-xs-12">
                <h3>Сезоны</h3>
            </div>
            <div uk-grid class="uk-text-center">
                {% for season in collection %}
                    {% include 'driver/video/uikit3/block/element/season.twig' with {'season':season} %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    <h3 class="uk-heading-bullet">Смотрите больше</h3>

    <div class="uk-section">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            {% for item in results %}
                <div class="uk-width-1-3@m">
                    <div class="uk-card uk-card-default uk-card-body __modal_trigger"
                         maestro-youtube-id='{{ item.id }}'>
                        <img src="{{ item.src }}" alt="" style="object-fit: cover; width: 300px; height: 250px"
                             maestro-youtube-id='{{ item.id }}'>
                        <p maestro-youtube-id='{{ item.id }}'>
                            {{ item.title }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

