<div class="uk-container">
    [%breadcrumbs%]
    <div uk-grid>
        <article class="uk-article uk-width-1-3@m">
            <h2 class="uk-article-title">Сезон {{ season }}</h2>
        </article>
        <div class="uk-width-2-3@m">
            <ul class="uk-list uk-list-divider">
                {% for episode in episodes %}
                    <li uk-grid>
                        <div>
                            <a href="{{ episode.__link }}">
                                {{ episode.season }} Сезон/ {{ episode.episode }} Эпизод
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <ul class="uk-pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="uk-disabled">
                    {% else %}
                        <li class="uk-active">
                    {% endif %}
                    <a href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>