<div class="row">
    <div class="row col-lg-6 col-md-6 col-xs-12 col-sm-12 bg-half">
        {% for track in tracks %}
            <div class="col-md-8 justify-content-start">
                <div class="mt-2">
                    <a href="{{ track.__link }}">
                        {{ track.name }}
                    </a>
                </div>
                <span><audio src="{{ track.url }}" controls="controls" preload="none"></audio></span>
            </div>
        {% endfor %}
        {% if pages|length > 0 %}
            <div class="col-8 d-flex justify-content-start mb-3">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-success text-uppercase mt-4">
                        <strong>Больше</strong>
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>