<div class="row">
        <div class="col-md-12 col-lg-12 mt-sm-12 mt-xs-12 d-lg-flex d-md-flex mt-lg-1 mt-md-1">
{% for artist in artists %}
    <div class="mx-3">
    <div class="artists-img">
            <a href="{{ artist.__link }}" data-toggle="tooltip" data-placement="top" title="{{ artist.name }}"><img
                    src="{{ artist.photo }}" alt="{{ artist.name }}"/></a>
        </div>
    </div>
{% endfor %}
        </div>
    </div>
{% if pages|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-self-center justify-content-center">
                <a href="{{ pages[1].url }}">
                    <button type="button" class="btn btn-success text-uppercase mt-4">
                        <strong>Больше</strong>
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endif %}


