<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        {% for link in links %}
            <li class="small bg-warning px-1 mx-1">
                <a href="{{ link.uri }}" class="text-dark">{{ link.title }}</a>
            </li>
        {% endfor %}
        <li class="active bg-dark text-warning small px-1 mx-1 border-bottom border-bottom border-warning" aria-current="page">
            {{ active.title }}
        </li>
    </ul>
</nav>