<ul class="p-2 nav">
    {% for nav in links %}
        <li class="mx-3">
            <a class="nav-style text-center text-uppercase" href="{{ nav.__link }}">
                {{ nav.name }}
            </a>
        </li>
    {% endfor %}
</ul>