<select onchange="addParameterToURL(this.value)" class="btn btn-dark">
    {% for value in limitless %}
        {% if app.request.get('limit') == value or (not app.request.get('limit') and value == 12 )%})
            <option value="{{ value }}" selected>{{ value }}</option>
        {% else %}
            <option value="{{ value }}">{{ value }}</option>
        {% endif %}
    {% endfor %}
</select>

<script>
    function addParameterToURL(param) {
        var url = new URL(window.location.href);
        url.searchParams.append('limit', param);
        url.searchParams.set('limit', param);
        window.location = url.href;
    }
</script>