<section>
    <section class="container-fluid head-bg-img">
    </section>
    <section class="container-fluid extra-pd screen-height">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 d-flex justify-content-center">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 d-flex justify-content-center">
            {% if __text is not empty %}
                <div>{{ __text | raw }}</div>
            {% endif %}
            <div>[[seo_text]]</div>
        </div>
        <div class="row">
            {% for artist in artists %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 d-flex justify-content-center">
                        <div class="text-center my-1">
                            <div class="name">
                                <a href="{{ artist.__link }}" class="text-left">
                                    <strong>{{ artist.name }}</strong>
                                </a>
                                {% if __tags is defined %}
                                    {% for tag in __tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-danger">{{ tag.name }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="main-photo">
                                <a href="{{ artist.__link }}">
                                    <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                                </a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination pagination-sm">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>