<section>
    <section class="container-fluid head-bg-img">
    </section>
    <section class="container-fluid extra-pd screen-height">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 d-flex justify-content-center">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 d-flex justify-content-center">
            {% if __text is not empty %}
                <div>{{ __text | raw }}</div>
            {% endif %}
            <div>[[seo_text]]</div>
        </div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                {% for track in tracks %}
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 py-1 block-bg">
                        <div class="name">
                            <a href="{{ track.__link }}">{{ track.name }}</a>
                            {% if track.artistName == "" %}
                                <p>
                                    <small>Unknown</small>
                                </p>
                            {% else %}
                                <p>
                                    <small>{{ track.artistName }}</small>
                                </p>
                            {% endif %}
                            <audio src="{{ track.source_url }}" controls preload="none"
                                   class="full-width"></audio>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center py-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination pagination-sm">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</section>