<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>[[seo_title]]</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        [[seo_global_meta_tags]]
        <meta name="description" content="[[seo_description]]" />

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Animate -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Icomoon -->
        <link rel="stylesheet" href="/css/icomoon.css">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="/css/bootstrap.css">

        <link rel="stylesheet" href="/css/style.css">

        <link rel="stylesheet" href="https://cdn.plyr.io/3.3.7/plyr.css">
        [[seo_meta_schema]]

        <!-- Modernizr JS -->
        <script src="/js/modernizr-2.6.2.min.js"></script>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="/js/respond.min.js"></script>
        <![endif]-->
        [[seo_meta_tags]]

    </head>
    <body>
        <div id="fh5co-offcanvas">
            <a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>

            <div class="fh5co-menu">
                <div class="fh5co-box">
                    [%nav_links%]
                </div>
            </div>
        </div>
        <!-- END #fh5co-offcanvas -->
        <header id="fh5co-header">

            <div class="container-fluid">

                <div class="row">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

                    <div class="col-lg-12 col-md-12 text-center">
                        <h1 id="fh5co-logo"><a href="/">{{ domain }}</a></h1>
                    </div>

                </div>

            </div>

        </header>
        [[ad_block_top]]
        <!-- END #fh5co-header -->
        <div class="container">
            {{ template | raw }}
        </div>

        <div class="container">
            {% if __text is not empty %}
                {{ __text | raw }}
            {% endif %}
        </div>
        <div class="container">
            [[seo_text]]
        </div>

        <footer id="fh5co-footer">
            <div class="container-fluid">
                [%cross_links%]
            </div>

            <p><small>&copy; 2018. {{ domain }}. All Rights Reserverd. </small></p>
        </footer>
        [[ad_block_bottom]]

        <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="/js/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="/js/jquery.waypoints.min.js"></script>
        <!-- Main JS -->
        <script src="/js/main.js"></script>

        <script src="https://cdn.plyr.io/3.3.7/plyr.js"></script>
        <script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
        <script type="text/ecmascript-6">
            const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p));
        </script>
    </body>
</html>
