<section class="container-fluid mt-5">
    <div class="row justify-content-center my-2">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="embed-responsive embed-responsive-16by9 my-2">
                <iframe class="embed-responsive-item border border-dark"
                        src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 text-light">
            [%breadcrumbs%]
            <h1 class="text-light my-2">[[seo_h1]]</h1>
            <h2 class="my-2">{{ titleRu }}</h2>
            <small>{{ titleEn }}</small>
            <div class="text-center">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-pill badge-secondary">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>