<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 my-5">
            [%movies_list#6%]
            <div class="img-bg">
                <h1 class="text-light my-5 py-5 text-center">[[seo_h1]]</h1>
            </div>
            [%tv_series_list#6%]
        </div>
        <div class="col-12 my-5 text-light">
            <p class="p-3 text-light border border-light">[[seo_text]]</p>
        </div>
    </div>
</section>