<section class="container-fluid main-bg">
    <section class="container height-20 py-2">
        <div class="row height-30 justify-content-center">
            <div class="col-md-8 root-text text-center align-self-center">
                <h1>Результаты поиска: "{{ query }}"</h1>
                <hr>
                <p>[[seo_text]]</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            {% for type,collection in items %}
                {% if (type == 21) %}
                    <div class="col-md-12 col-xs-12">
                        <h3>Фильмы</h3>
                    </div>
                    {% for film in collection %}
                        {% include 'driver/video/anderson/block/element/film.twig' with {'film':film} %}
                    {% endfor %}
                {% elseif(type == 13) %}
                    <div class="col-md-12 col-xs-12">
                        <h3>Сериалы</h3>
                    </div>
                    {% for seria in collection %}
                        {% include 'driver/video/anderson/block/element/seria.twig' with {'seria':seria} %}
                    {% endfor %}
                {% elseif(type == 12) %}
                    <div class="col-md-12 col-xs-12">
                        <h3>Епизоды</h3>
                    </div>
                    {% for episode in collection %}
                        {% include 'driver/video/anderson/block/element/episode.twig' with {'episode':episode} %}
                    {% endfor %}
                {% elseif(type == 14) %}
                    <div class="col-md-12 col-xs-12">
                        <h3>Сезоны</h3>
                    </div>
                    {% for season in collection %}
                        {% include 'driver/video/anderson/block/element/season.twig' with {'season':season} %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <h3>Еще</h3>
            </div>
        </div>
        <div class="row">
            {% for item in results %}
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 d-flex justify-content-center
                        border-blue bg-dark py-2">
                    <div class="item p-3">
                        <div class="poster">
                            <img src="{{ item.src }}" class="img-fluid __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                            <div class="text text-center __modal_trigger" maestro-youtube-id='{{ item.id }}'>
                                <p class="py-3" maestro-youtube-id='{{ item.id }}'>{{ item.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</section>