<section class="container-fluid">
        <div class="row justify-content-center bg-gaze">
            <div class="col-md-12 text-center align-self-center py-2">
                <h1 class="text-light">[[seo_h1]]</h1>
                <div class="col-12 text-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-sacondary">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    <div class="container-fluid py-2">
        [%breadcrumbs%]
    </div>
    <div class="container mb-5">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                    <p class="p-3 text-light border border-light">[[seo_text]]</p>
            </div>
            {% for episode in episodes %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 justify-content-center my-1">
                    <a href="{{ episode.__link }}" class="btn btn-info mx-2 text-center">
                        {{ episode.season }} Сезон / {{ episode.episode }} Эпизод
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center pb-3">
                {% include "driver/base/paginate_limit.twig" %}
            </div>
            <div class="col-12 d-flex justify-content-center py-3">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>