<div class="container rounded">
        <div class="row justify-content-center mt-5 py-3 bg-gaze">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-2 d-flex justify-content-center">
                <div>
                    <img src="{{ photo }}" alt="{{ titleRu }}">
                </div>
            </div>
            <div class="col-ld-12 col-md-12 col-sm-12 col-xs-12 text-light text-center align-self-center">
                <h1 class="text-light">[[seo_h1]]</h1>
                <small>{{ titleEn }}</small>
                <div>
                    <em>
                        imdbRating
                            <i class="fas fa-star"></i>
                            <b>{{ imdbRating }}</b>/10</em>
                </div>
                <div>
                    <em>
                        Kinopoisk
                            <i class="fas fa-star"></i> <b>{{ kinopoiskRating }}</b>/10</em>
                </div>
                <hr>
                <div class="col-12 text-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-pill badge-secondary">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    <div class="container-fluid py-2">
        [%breadcrumbs%]
    </div>
    <div class="container bg-soft py-3">
        <div class="row text-center">
            {% for index,season in seasons %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-center mt-1 mb-4">
                    <a href="{{ season.__link }}" class="btn btn-info text-center">
                        Сезон {{ season.season }}
                    </a>
                </div>
            {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center py-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 d-flex justify-content-center py-3">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>