<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for nav in links %}
        <li class="nav-item">
            <a class="nav-link" href="{{ nav.__link }}">{{ nav.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
