<div class="uk-card uk-card-default uk-card-body uk-width-1-3@m uk-animation-slide-top-small">
    <a href="{{ film.__link }}" ><img data-src="{{ film.photo }}" width="" height="" alt="{{ film.titleRu }}" uk-img></a>
    <h3 class="uk-card-title">{{ film.titleRu }}</h3>
    <div>
        {% if film.__tags is defined %}
            {% for tag in film.__tags %}
                <a href="{{ tag.__link }}" class="uk-badge">
                    {{ tag.name }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <p>
        <a href="{{ film.__link }}" class="uk-button uk-button-default">Перейти</a>
    </p>
</div>