<div class="uk-card uk-card-default uk-card-body uk-width-1-3@m uk-animation-slide-top-small">
    <a href="{{ seria.__link }}" ><img data-src="{{ seria.photo }}" width="" height="" alt="{{ seria.titleRu }}" uk-img></a>
    <b class="uk-card-title">{{ seria.titleRu }}</b>
    <div>
        {% if seria.__tags is defined %}
            {% for tag in seria.__tags %}
                <a href="{{ tag.__link }}" class="uk-badge">
                    {{ tag.name }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <p>
        <a href="{{ seria.__link }}" class="uk-button uk-button-default">Перейти</a>
    </p>
</div>