{% if links %}
<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            {% for link in links %}
                <li>
                    <a href="{{ link.uri }}">{{ link.title }}</a>
                    <i>//</i>
                </li>
            {% endfor %}
            <li>{{ active.title }}</li>
        </ul>
    </div>
</div>
{% endif %}