<section class="section">
    <div class="container">
        <div class="row mb-5 justify-content-center roz-element-animate">
            <div class="col-md-12">
                <h2>{{ name }}</h2>
            </div>
        </div>
        <div class="row row-block;">

            {% for artist in artists %}
                <div class="col-md-6 col-lg-4 mb-4 roz-element-animate">
                    <div class="media roz-custom-media">
                        <img class="mr-3" width="30" src="{{ artist.photo }}" alt="{{ artist.name }}">
                        <div class="media-body">
                            <h3 class="mt-0"><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                            <p>
                                {% if artist.__tags is defined %}
                                    {% for tag in artist.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        {% if pages|length > 0 %}
            <div class="container">
                <div class="row">
                    <div class="mx-auto" style="margin-top: {{ random([ 4, 5, 6 , 12]) }}px">
                        <a href="{{ pages[1].url }}">
                            <button type="button" class="btn btn-info">Больше</button>
                        </a></div>
                </div>
            </div>
        {% endif %}
    </div>
</section>