<ul class="navbar-nav ml-auto pl-lg-5 pl-0">
    {% for nav in links %}
        <li class="nav-item">
            <a class="roz-nav-link active" href="{{ nav.__link }}">{{ nav.name }}</a>
        </li>
    {% endfor %}
</ul>