<div class="container py-5">
    <section class="container-fluid bg-light ">
        <div class="row mt-lg-5 mt-md-5 py-3">
            <div class="col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center">
                <div class="m-3 mb-5">
                    <h3>{{ name }}</h3>
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 m-3">
                <h1>[[seo_h1]]</h1>
                <p class="mt-lg-4 mt-md-4">[[seo_text]]</p>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                {% for artist in items %}
                <div class="d-flex col-lg-4 col-md-4 col-sm-10 col-xs-12 justify-content-center">
                    <div>
                        <a href="{{ artist.__link }}">{{ artist.name }}</a>
                        <div>
                            <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt="{{ artist.name }}"/></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>