<div class="col-md-12">
    <div class="mx-4 my-5 p-3 borderator">
        <section class="container-fluid">
            <div class="row py-3">
                <div class="row col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-2">
                        <h4>Топ песен</h4>
                    </div>
                    [%audio_tracks_list#12%]
                </div>
                <div class="row col-xs-12 d-flex justify-content-center border-left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4>Топ исполнителей</h4>
                    </div>
                    [%audio_artists_list%]
                </div>
            </div>
        </section>
    </div>
</div>