<section class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-5">[[seo_h1]]</h1>
        </div>
        <div class="row col-12">
            {% for film in films %}
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                    <div class="rate-maker">
                        <em><i class="fas fa-star"></i> <b>{{ film.imdbRating }}</b>/10</em>
                    </div>
                    <div class="album-photo">
                        <a href="{{ film.__link }}">
                            <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                        </a>
                    </div>
                    <a href="{{ film.__link }}">
                        <p class="text-start text-light">{{ film.titleRu }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center py-3">
            {% include "driver/base/paginate_limit.twig" %}
        </div>
        <div class="col-12 d-flex justify-content-center py-3">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            {% if __text is not empty %}
                <div class="text-light text-center mt-5">{{ __text | raw }}</div>{% endif %}
            <div class="colored-text text-center my-5">[[seo_text]]</div>
        </div>
    </div>
</section>