<div class="col-md-6 col-lg-4 mb-4 element-animate">
    <div class="media short-story">
        <a href="{{ film.__link }}"><img class="mr-4" width="30" src="{{ film.photo }}" alt="{{ film.titleRu }}"></a>
        <div class="media-body">
            <a href="{{ film.__link }}" class="mt-0">{{ film.titleRu }}</a>
            <div style="height:25px;">
                {% if film.__tags is defined %}
                    {% for tag in film.__tags %}
                        <a href="{{ tag.__link }}">
                            <span class="badge red">{{ tag.name }}</span>
                        </a>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</div>