body {
    background-color: #0b0a0f;
}

.first-page {
    background-color: rgb(255, 242, 242);
    border-radius: 10px;
}

.first-page h1 {
    width: inherit;
    border: 1px solid #0b0a0f;;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px #0b0a0f;
}

h1 + p {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    background-color: #fff2f2;
    z-index: 9999;
    box-shadow: 1px 1px 2px #919191;
}

h1:hover {
    background-color: #767676;
    transition: 0.3s;
}

h1:hover + p {
    opacity: 1;
    height: auto;
    width: 80vh;
    transition: height 0.6s, width 0.6s, opacity 0.5s 0.6s;
}

.extremum-slide {
    border:1px solid;
    padding:50px;
    display:none;
}

.lynch-style {
    width: inherit;
    min-height: 180px;
    border: 1px solid #dcdcdc;
}

.lynch-style-red {
    width: inherit;
    min-height: 180px;
    border: 1px solid #dcdcdc;
}

.lynch-style-red:hover {
    background: #d2686b;
    border: 5px solid #d2686b;
    transition: 0.8s;
    text-decoration: none;
}

.lynch-style:hover {
    background: #6367d2;
    border: 5px solid #6f6fd2;
    transition: 0.8s;
    text-decoration: none;
}

a:hover {
    text-decoration: #dcdcdc overline;
}

.list-styling {
    background-color: #0b0a0f;
}

.list-styling > .row {
    border: 1px outset #c6c6c6;
    border-radius: 5px;
}

.lynch-style > p, .lynch-style-red > p {
    font-size: 2em;
    color: #e1dedc;
    padding-top: 8%;
    text-transform: uppercase;
}

.img-box {
    width: 100%;
    height: 180px;
    display: inline-block;
    position: relative;
}

.img-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background: #0b0a0f;
}

.content-box {
    position: absolute;
    z-index: 9998;
    top: 0;
    padding-top: 30%;
    width: 0;
    height: 0;
    background-color: rgba(103, 24, 25, 0.5);
    opacity: 0;
    transition: height 1s ease, opacity 0.5s ease;
}

.block-inset {
    width: inherit;
}

.content-box > p {
    width: inherit;
    color: #ffffff;
    z-index: 9998;
    padding: 10px 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    opacity: 0;
}

.filter-box {
    position: absolute;
    z-index: 9998;
    top: 0;
    width: 0;
    height: 0;
    background-color: rgba(22, 24, 103, 0.7);
    opacity: 0;
    transition: height 0.8s ease, opacity 0.2s ease;
}

.img-box:hover .content-box {
    opacity: 1;
    width: inherit;
    height: 180px;
    transition: height 0.8s ease, opacity 0.2s ease;
}

.img-box:hover .filter-box {
    opacity: 1;
    width: inherit;
    height: 180px;
    transition: width 0.8s ease, opacity 0.2s ease;
}

.img-box:hover .content-box > p {
    opacity: 1;
    transition: 0.1s 0.6s, opacity 0.1s 0.7s;
}

.content-box > i {
    opacity: 0;
}

.img-box:hover .content-box > i {
    opacity: 1;
    transition: 0.1s 0.6s, opacity 0.1s 0.7s;
}

@media (max-width: 992px) {
    .del:nth-child(odd) {
        display: none !important;
    }
}

a small:hover {
    color: #fff2f2;
}

.badge-color {
    background-color: #7b0c32;
    color: #fff2f2
}

.badge-color:hover {
    text-decoration: none;
    background-color: #cb0c48;
    color: #d6d9d9;
}

h4 {
    width: inherit;
    background-color: #76757b;
    box-shadow: 1px 1px 2px #636361;
}

.gray-filter {
    background-color: #a7a7a7;
}

.page-link {
    color: #343a40;
    background-color: #76757b;
    border: #636361;
}

.page-link:hover {
    color: #400100;
    background-color: #cb0c48;
    border: #636361;
}

.page-item.active .page-link {
    background-color: #7b0c32;
}

.bg-element {
    background-color: #7b0c32;
}

ol li {
    list-style-type: none;
}

.box-seria {
    background-color: #2B333F;
}

.c2:nth-child(2n) {
    background-color: #919191;
}

.c2 {
    border: 1px solid #fff2f2;
}

.box-content-style {
    font-size: large;
    color: #fff2f2;
}

.box-content-style:hover {
    color: #fff2f2;
}

.border-around {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 1px 1px 4px #fff2f2;
    margin: 4px 0;
}

.border-around:hover {
    background-color: #d2686b;
    transition: 0.6s;
}