<section class="section">
    <div class="container">
        <div class="row mb-5 justify-content-center element-animate">
            <div class="col-md-12">
                <span class="section-heading">Артисты</span>
                <h2>Топ {{ total }} исполнителей</h2>
            </div>
        </div>
        <div class="row">
            {% for artist in artists %}
                <div class="col-md-6 col-lg-4 mb-4 element-animate">
                    <div class="media custom-media">
                        <a href="{{ artist.__link }}"><img class="mr-3" width="30" src="{{ artist.photo }}"
                                                           alt="{{ artist.name }}"></a>
                        <div class="media-body">
                            <h3 class="mt-0"><a href="{{ artist.__link }}">{{ artist.name }}</a></h3>
                            <p>
                                {% if artist.__tags is defined %}
                                    {% for tag in artist.__tags %}
                                        <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                                    {% endfor %}

                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>