<section class="container-fluid bg-dark">
    <div class="row">
        [%breadcrumbs%]
        <div class="row col-12 py-4">
            <div class="col-md-4">
                <div>
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h3>{{ name }}</h3>
                    <strong>{{ year }}</strong>
                    <hr>
                </div>
            </div>
        </div>
        <ol class="pl-lg-5 pl-md-5 pl-sm-2 pl-xs-2 py-5">
            {% for track in tracks %}
                <li>
                    <h4><a href="{{ track.__link }}">{{ track.name }}</a></h4>
                    {% if track.artistName == "" %}
                        <p>Unknown</p>
                    {% else %}
                        <p>{{ track.artistName }}</p>
                    {% endif %}
                    <audio src="{{ track.source_url }}" controls="controls" preload="none" class="large"></audio>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>