<section class="container-fluid bg-dark">
    <div class="row">
        [%breadcrumbs%]
        <div class="row col-12 py-4">
            <div class="col-md-4">
                <div>
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h3>{{ name }}</h3>
                    <hr>
                    <strong>Всего альбомов: {{ totalAlbums }} | Всего треков: {{ totalSongs }} </strong>
                </div>
                <div>
                    <small>Слушают: {{ totalListening }}</small>
                </div>
                <div>
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% for album in albums %}
            <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <div class="artist-photo paral">
                        <img src="{{ album.photo }}" alt="{{ album.name }}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <p><a href="{{ album.__link }}">{{ album.name }}</a></p>
                    <strong>{{ album.year }}</strong>
                </div>
            </div>
        {% endfor %}
    </div>
</section>