<section class="container-fluid bg-dark">
    <div class="row">
        <div class="row col-12 py-4">
            <div class="col-md-4">
                <div>
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
            </div>
        </div>
        {% for artist in items %}
            <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <div class="artist-photo paral">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <p><a href="{{ artist.__link }}">{{ artist.name }}</a></p>
                    <div>
                        {% if artist.__tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>