<section class="container-fluid bg-dark">
    <div class="row pt-5">
        <div class="row col-12 d-flex justify-content-center pl-lg-5 pl-md-5">
            [%audio_artists_list%]
        </div>
    </div>
    <section class="container-fluid tracks-screen py-xs-5 py-sm-5">
        <div class="row main-text d-flex justify-content-center">
            [%audio_tracks_list%]
        </div>
    </section>
</section>