<section class="container-fluid bg-dark">
    <div class="row">
        [%breadcrumbs%]
    </div>
    <div class="col">
            <h4><a href="{{ __link }}">{{ name }}</a></h4>
            {% if artistName == "" %}
                <p>Unknown</p>
            {% else %}
                <p>{{ artistName }}</p>
            {% endif %}
            <audio src="{{ source_url }}" controls="controls" preload="none" class="large"></audio>
    </div>
</section>