<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="[[seo_description]]">
    [[seo_meta_schema]]
    <title>[[seo_title]]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>

    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    [[seo_geo]]
    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    [[seo_global_meta_tags]]
    [[seo_meta_tags]]
    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">
    <style>
        body {
            background-color: #302bc9;
        }

        .main-box {
            margin-top: 25vh;
            margin-bottom: 10vh;
        }

        img {
            max-width: 200px;
            margin: 10px;
            border: 1px solid #3e3e3e;
        }

        .box-content-deco {
            background-color: #dedcda;
            margin: 0 5vw;
            padding: 5vh 3vh;
            color: #484849;
            z-index: 1;
        }

        .borderator {
            border: 5px solid #ebe632;
        }

        .borderator-2 {
            border: 5px solid #302bc9;
        }

        .heading-deco {
            transform: rotate(1deg);
            background-color: #ebe632;
            margin: 0 0 0 5vw;
            padding: 5vh 3vw;
            color: #484849;
        }

        .bg-yellow {
            background-color: #ebe632;
        }

        .heading-deco-1 {
            transform: rotate(0deg);
            margin: 20vh 0 0 0;
            padding: 5vh 0;
            color: #484849;
        }

        .heading-deco h1 {
            transform: rotate(-1deg);
        }

        #particles-js {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            min-height: 100vh;
            background-color: #302bc9;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

    </style>
</head>

<body>

<!-- Interactive background -->
<div id="particles-js"></div>

<!-- Navigation -->
[%nav_links%]

[[ad_block_top]]
<div class="container-fluid main-box">
    <div class="row">
        <div class="col-md-7">
            <div class="heading-deco"><h1>[[seo_h1]]</h1></div>
        </div>
    </div>
</div>
<div class="container-fluid heading-deco-1 mb-3">
    <div class="row box-content-deco">
        {{ template | raw }}
        <div class="col-md-12">
            <div class="mx-4 my-5 p-3 borderator-2">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {% if __text is not empty %}
                            <p class="py-4 pl-4 pr-2">{{ __text | raw }}</p>
                        {% endif %}
                        <p class="py-4 pl-4 pr-2">[[seo_text]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-5 mb-5">
    <div class="col-md-12">
        <div class="bg-light">
            <div><h5 class="py-4 text-center">Смотрите еще</h5></div>
            <div class="text-dark text-center pb-4">
                [%cross_links%]
            </div>
        </div>
    </div>
</div>
[[ad_block_bottom]]
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 80,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 5,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 6,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "repulse"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 400,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true,
        "config_demo": {
            "hide_card": false,
            "background_color": "#b61924",
            "background_image": "",
            "background_position": "50% 50%",
            "background_repeat": "no-repeat",
            "background_size": "cover"
        }
    });
</script>
</body>

</html>
