<section class="container-fluid screen-height">
    <div class="row mt-3">
        <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-self-top">
            <div class="col-8 py-5 ml-5">
                <h1>[[seo_h1]]</h1>
                <div class="photo">
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
                <div>
                    <hr/>
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    <p>[[seo_text]]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <section class="container-fluid">
                <div class="row list-block pt-5">
                    <div class="col-12">
                        [%breadcrumbs%]
                    </div>
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% for track in tracks %}
                            <div class="col-10">
                                <div class="name">
                                    <a href="{{ track.__link }}">{{ track.name }}</a>
                                    {% if track.artistName == "" %}
                                        <p><small>Unknown</small></p>
                                    {% else %}
                                        <p><small>{{ track.artistName }}</small></p>
                                    {% endif %}
                                </div>
                                <div>
                                    <audio src="{{ track.source_url }}" controls preload="none"
                                           class="block-width-30"></audio>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>