<section class="container-fluid screen-height">
    <div class="row">
        <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-self-top">
            <div class="col-8 py-5 ml-5">
                <div>
                    <h1>[[seo_h1]]</h1>
                </div>
                <div class="photo">
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
                <div>
                    <div>
                        <small>Всего альбомов: {{ totalAlbums }}</small>
                    </div>
                    <div>
                        <small>Всего треков: {{ totalSongs }}</small>
                    </div>
                    <div>
                        {% if __tags is defined %}
                            {% for tag in __tags %}
                                <a href="{{ tag.__link }}" class="badge badge-light">{{ tag.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <hr/>
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    <p>[[seo_text]]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <section class="container-fluid shadow">
                <div class="row list-block pt-5">
                    <div class="col-12">
                        [%breadcrumbs%]
                    </div>
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-3">
                        {% for album in albums %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 py-2 d-flex
                                                justify-content-center">
                                <div>
                                    <div class="name">
                                        <a href="{{ album.__link }}" class="text-left">
                                            {{ album.name }}
                                        </a>
                                        <p>{{ album.year }}</p>
                                    </div>
                                    <div class="album-photo">
                                        <a href="{{ album.__link }}">
                                            <img src="{{ album.photo }}" alt="{{ album.name }}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row col-lg-12 col-12 pt-3">
                        <ul class="pagination" style="margin: 0 auto;">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>