<section class="container-fluid screen-height">
    <div class="row mt-3">
        <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-self-top">
            <div class="col-8 py-5 ml-5">
                <h1>[[seo_h1]]</h1>
                <div class="photo">
                    <img src="{{ photo }}" alt="{{ name }}"/>
                </div>
                <div>
                    <hr/>
                    {% if __text is not empty %}
                        <p>{{ __text | raw }}</p>
                    {% endif %}
                    <p>[[seo_text]]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <section class="container-fluid shadow">
                <div class="row list-block pt-5">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-3">
                        {% for artist in items %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 py-2 d-flex
                                                justify-content-center">
                                <div>
                                    <div class="name">
                                        <a href="{{ artist.__link }}" class="text-left">
                                            {{ artist.name }}
                                        </a>
                                    </div>
                                    <div class="artist-photo">
                                        <a href="{{ artist.__link }}">
                                            <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>