<section class="container-fluid screen-height lists-bg">
    <div class="row py-5">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex align-self-top">
            <div class="col-10 py-5 ml-5">
                <div>
                    <h1>[[seo_h1]]</h1>
                </div>
                {% if __text is not empty %}
                    <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div>{{ __text | raw }}</div>
                    </section>
                {% endif %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {% if __text is not empty %}
                        <p class="text-light">{{ __text | raw }}</p>
                    {% endif %}
                    <p class="text-light">[[seo_text]]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center list-style py-3 shadow">
        <div class="col-12">
            <h2>
                {{ name }}
            </h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ text | raw }}
        </div>
    </div>
</section>