<section class="container-fluid">
    <div class="row screen-height mx-0 px-0 mt-5 pt-2">
        <div class="row col-lg-8 col-md-8 col-sm-12 col-xs-12 mx-0 px-0 d-flex align-self-top">
            <div class="col-12 py-lg-5 py-md-5 py-sm-3 py-xs-3">
                <h1 class="heading-text">[[seo_h1]]</h1>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left">
                {% if __text is not empty %}
                    <p>{{ __text | raw }}</p>
                {% endif %}
                <p>[[seo_text]]</p>

            </div>
        </div>
        <div class="row col-lg-4 col-md-4 col-sm-12 col-xs-12 list-style py-5 pt-5 shadow mx-0 px-0">
            [%audio_tracks_list#5%]
        </div>
    </div>
</section>