<section class="container-fluid screen-height lists-bg">
    <div class="row py-5">
        <div class="col-12">
            [%breadcrumbs%]
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex align-self-top">
            <div class="col-10 py-5 ml-5">
                <div>
                    <h1>[[seo_h1]]</h1>
                </div>
                <div class="col-md-12">
                    <small>Сейчас слушают {{ totalListeners }} |</small>
                    <small>Всего скачали {{ totalDownloads }} |</small>
                    <small>Прослушали {{ totalListening }} </small>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {% if __text is not empty %}
                        <p class="text-light">{{ __text | raw }}</p>
                    {% endif %}
                    <p class="text-light">[[seo_text]]</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center list-style py-3 shadow">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a href="{{ __link }}">{{ name }}</a>
            {% if artistName == "" %}
                <p>
                    <small>Unknown</small>
                </p>
            {% else %}
                <p>
                    <small>{{ artistName }}</small>
                </p>
            {% endif %}
            <div>
                <audio src="{{ source_url }}" controls preload="none" class="block-width-30">
                </audio>
            </div>
        </div>
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 align-self-end justify-content-center mb-2">
            <a href="{{ url }}" download="{{ name }}">
                <button type="button" class="btn btn-creative-small btn-gradient">
                    Скачать
                </button>
            </a>
        </div>
    </div>
</section>
[%youtube_adding%]