body {
    background-color: #001c23;
}

section {
    min-height: 100vh;
    margin-top: 10vh;
}

.container {
    min-height: 50vh;
    margin-top: 10vh;
    background: linear-gradient(45deg, #001c23, rgba(255, 255, 255, 0.0)), url(../img/bg-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: 100%;
    box-shadow: inset 0 0 100px 10px #001c23;
}

.container .row {
    min-height: inherit;
}

h1 {
    font-weight: 900;
    color: #fffcee;
    padding: 2px 5px;
    mix-blend-mode: normal;
    text-shadow: 0 0 2px #f5faff;
}

.project-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.project-img:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
    border: 2px solid #ffea54;
}

h5::first-letter, h2 {
    color: #00a1cb;
}

.cont-cont {
    border: 1px solid #00a1cb;
    box-shadow: inset 1px 1px 2px 1px #00a1cb;
    border-radius: 10px;
}

.bg-swamp {
    background-color: #001c23;
}