{% if links is defined %}
    <div class="container">
        <div class="row text-center">
            <div class="col-12 py-1">
                {% for link in links %}
                    <a class="text-secondary" href="{{ link.uri }}">{{ link.title }}</a><span> / </span>
                {% endfor %}
                <p class="text-dark">{{ active.title }}</p>
            </div>
        </div>
    </div>
{% endif %}
