<div class="container-fluid mb-3">
    <div class="row d-flex justify-content-center bg-secondary py-2">
        {% for film in films %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="img-box">
                    <a href="{{ film.__link }}">
                        <img src="{{ film.photo }}" alt="{{ film.titleRu }}">
                    </a>
                </div>
                <div class="text-center text-light bg-dark">
                    <em><i class="fas fa-star py-1"></i> <b>{{ film.imdbRating }}</b>/10</em>
                    <a href="{{ film.__link }}" class="text-light">
                        <p class="py-2 px-1">{{ film.titleRu }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>