<div class="container-fluid my-3">
    <div class="row d-flex justify-content-center bg-secondary py-2">
        {% for seria in series %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="img-box">
                    <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="{{ seria.titleRu }}"></a>
                </div>
                <div class="text-center text-light bg-dark">
                    <em><i class="fas fa-star py-1"></i> <b>{{ seria.imdbRating }}</b>/10</em>
                    <a href="{{ seria.__link }}"><p class="py-2 px-1">{{ seria.titleRu }}</p></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>