<section class="container">
        {% for artist in artists %}
                <h4 class="header"><a href="{{ artist.__link }}" class="black-text">{{ artist.name }}</a></h4>
                <div class="card horizontal">
                    <div class="card-image">
                        <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt="{{ artist.name }}"></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                                {% if artist.__tags is defined %}
                                {% for tag in artist.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badgehog">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}

    {% if pages %}
        <ul class="pagination">
            {% for page in pages %}
                {% if page.isCurrent %}
                    <li class="active  blue-grey darken-1">
                {% else %}
                    <li class="waves-effect">
                {% endif %}
                <a href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>