<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>[[seo_title]]</title>
    [[seo_geo]]
    [[seo_meta_tags]]
    <meta name="description" content="[[seo_description]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/fontAwesome.min.css">
    <link rel="stylesheet" href="/css/hero-slider.min.css">
    <link rel="stylesheet" href="/css/owl-carousel.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.min.css">
    <link rel="stylesheet" href="/css/index.min.css">
    <link rel="stylesheet" href="/css/cl.min.css">
    [[seo_global_meta_tags]]
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    [[seo_meta_schema]]
    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
[[ad_block_top]]
<section class="banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="left-banner-content">
                    <div class="text-content">
                        <h1>[[seo_h1]]</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="right-banner-content">
                    <a href="/"><h5>{{ domain }}</h5></a>
                    <span>Добро пожаловать</span>
                    <div class="line-dec"></div>
                    [%nav_links%]
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    {{ template | raw }}
</section>

{% if __text is not empty %}
    <section class="container-fluid">
        <div>{{ __text | raw }}</div>
    </section>
{% endif %}

<section class="container-fluid">
    [[seo_text]]
</section>
<footer>
    <div class="container-fluid">
        [%cross_links%]
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>Copyright &copy; 2018 {{ domain }}</p>
            </div>
        </div>
    </div>
</footer>
[[ad_block_bottom]]
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/datepicker.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // navigation click actions
        $('.scroll-link').on('click', function (event) {
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });

    // scroll function
    function scrollToID(id, speed) {
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop: targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }

    if (typeof console === "undefined") {
        console = {
            log: function () {
            }
        };
    }
</script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>