<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<section class="container-fluid artists-list my-5">
    <h1 class="mt-3">[[seo_h1]]</h1>
    <strong>Топ {{ total }} исполнителей</strong>
    {% if __text is not empty %}
        <p>{{ __text | raw }}</p>
    {% endif %}

    <p>[[seo_text]]</p>
    <div class="row">
        {% for artist in artists %}
            <div class="col-md-3 d-flex justify-content-center">
                <div class="card card-size">
                    <a href="{{ artist.__link }}">
                        <img class="card-img-top" src="{{ artist.photo }}" alt="{{ artist.name }}" height="350px">
                    </a>
                    <div class="card-body">
                        <p class="card-title">{{ artist.name }}</p>
                        <a href="{{ artist.__link }}" role="button" class="artists-button">БОЛЬШЕ</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>