<section class="secondary-screen">
    <header class="container-fluid">
        <div class="row">
            <nav class="col-md-12 col-lg-12 navbar navbar-expand-lg navbar-light bg-dark text-light main-bg">
                <a class="h3 domain-style" href="#"><strong>{{ domain }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end mr-0 pr-0"
                     id="navbarSupportedContent">
                    [%nav_links%]
                </div>
            </nav>
        </div>
    </header>
    <div class="secondary-bg-img">
        <div class="secondary-block-bg"></div>
    </div>
</section>
<section class="container-fluid tracks-bg my-5">
    <div class="py-4">
        <h1>[[seo_h1]]</h1>
        <strong>Всего треков: {{ total }}</strong>
        {% if __text is not empty %}
            <p>{{ __text | raw }}</p>
        {% endif %}

        <p>[[seo_text]]</p>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-7 col-lg-7 col-sm-10 col-12">
            <ol>
                {% for track in tracks %}
                    <li>
                        <a href="{{ track.__link }}">{{ track.name }}</a> -
                        <span>
                            {% if track.artistName == "" %}
                                <small>Unknown</small>
                            {% else %}
                                <small>{{ track.artistName }}</small>
                            {% endif %}
                        </span>
                        <div>
                            <audio src="{{ track.source_url }}" controls preload="none"></audio>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>