<div class="container-fluid">
    <div class="">
        <div class="head mb-4">
            <h2 class="text-left float-left">Лучшие {{ total }} сериалы</h2>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            {% for seria in series %}
                <div class="col-md-3 mb-3">
                    <div class="movie-image">
                        <a href="{{ seria.__link }}"><img src="{{ seria.photo }}" alt="" /></a>
                    </div>
                    <div class="name"><a href="{{ seria.__link }}" >{{ seria.titleRu }}</a></div>
                    <div class="rating">
                        <p>Оценка</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                    </div>
                    <p>
                        {% if seria.__tags is defined %}
                            {% for tag in seria.__tags %}
                                <a href="{{ tag.__link }}">
                                    <span class="badge badge-success">{{ tag.name }}</span>
                                </a>
                            {% endfor %}

                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="cl">&nbsp;</div>
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link btn btn-dark" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>