<section>
    [%breadcrumbs%]
</section>

<section style="margin-top: 25px">
    <div class="row">
        <div class="col-12">
            <span class="entity_title">{{ titleRu }} <small>{{ titleEn }}</small></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                        width="100%" height="700px" allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            [%tree_items%]
        </div>
    </div>

    <div class="row">
        <div class="buttons has-addons is-left" style="float: left">
            {% if(__prev) %}
                <a class="button" href="{{ __prev }}">Предыдущая серия</a>
            {% endif %}
        </div>
        <div class="buttons has-addons is-right">
            {% if(__next) %}
                <a class="button" href="{{ __next }}">Следующая серия</a>
            {% endif %}
        </div>
    </div>
</section>