<section style="margin-top: 25px">
    <div class="columns">
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns" style="flex-wrap: wrap">
        {% for seria in items %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="{{ seria.__link }}"> <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}" style="object-fit: cover"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <a href="{{ seria.__link }}">{{ seria.titleRu }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="columns">
        <nav class="pagination" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% for page in pages %}
                    <li>
                        <a class="pagination-link {% if page.isCurrent %}is-current{% endif %}" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    </div>
</section>