<section>
    <div class="columns" style="flex-wrap: wrap">
        {% for type,collection in items %}
            {% if (type == 21) %}
                <div class="column is-12">
                    <h3>Фильмы</h3>
                </div>
                {% for film in collection %}
                    {% include 'driver/video/bulma/block/element/film.twig' with {'film':film} %}
                {% endfor %}
            {% elseif(type == 13) %}
                <div class="column is-12"><h3>Сериалы</h3></div>
                {% for seria in collection %}
                    {% include 'driver/video/bulma/block/element/seria.twig' with {'seria':seria} %}
                {% endfor %}
            {% elseif(type == 12) %}
                <div class="column is-12"><h3>Епизоды</h3></div>
                {% for episode in collection %}
                    {% include 'driver/video/bulma/block/element/episode.twig' with {'episode':episode} %}
                {% endfor %}
            {% elseif(type == 14) %}
                <div class="column is-12"><h3>Сезоны</h3></div>
                {% for season in collection %}
                    {% include 'driver/video/bulma/block/element/season.twig' with {'season':season} %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="title is-4">
        <h3>Смотрите больше</h3>
    </div>
    <div class="columns" style="flex-wrap: wrap">
        {% for item in results %}
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ item.src }}" class="__modal_trigger" alt="{{ item.title }}"
                                 style="object-fit: cover" maestro-youtube-id='{{ item.id }}'>
                        </figure>
                    </div>
                    <div class="card-content">
                        {{ item.title }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>