<section>
    [%breadcrumbs%]
</section>
<section style="margin-top: 25px">
    <div class="columns" style="flex-wrap: wrap">
        {% for episode in episodes %}
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">
                        <a href="{{ episode.__link }}">Смотреть</a>
                        <span>{{ episode.titleRu }}</span>
                        <p class="sermon-meta">{{ episode.season }} Сезон / {{ episode.episode }} Епизод</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% for page in pages %}
                <li>
                    <a class="pagination-link {% if page.isCurrent %}is-current{% endif %}" href="{{ page.url }}">{{ page.num }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>