<section>
    [%breadcrumbs%]
</section>

<section style="margin-top: 25px">
    <div class="columns">
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ photo }}" alt="{{ titleRu }}" style="object-fit: cover">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ titleRu }}</p>

                            <a href="{{ imdbUrl }}">
                                <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
                            </a>
                            <a href="{{ kinopoiskUrl }}">
                                <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
                            </a>
                        </div>
                        <p>
                            {% if seria.__tags is defined %}
                                {% for tag in seria.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="tag is-primary">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}

                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-9">
            <div class="box content">
                {% for index,season in seasons %}
                    <a href="{{ season.__link }}"
                       class="post" style="margin: 1rem;padding-bottom: 1rem;border-bottom: 1px solid #E6EAEE;display: block">
                        <div class="media">
                            <div class="media-content">
                                <div class="content">
                                    Сезон {{ season.season }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    {% for page in pages %}
                        <li>
                            <a class="pagination-link {% if page.isCurrent %}is-current{% endif %}" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

    </div>
</section>