<div class="container">
    <div class="row">
        {% for seria in series %}
            <div class="grid-item col-lg-3 col-md-4">
                <!-- work -->
                <div class="work card">
                    <a href="{{ seria.__link }}">
                        <div class="hoverbox ef-slide-bottom light">
                            <div class="hb_front">
                                <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}" width="250" height="300"/>
                            </div>
                            <div class="hb_back">
                                <b class="work__title">{{ seria.titleRu }}</b>
                            </div>
                        </div>
                        <p>
                            {% if seria.__tags is defined %}
                                {% for tag in seria.__tags %}
                                    <a href="{{ tag.__link }}">
                                        <span class="badge badge-success">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}

                            {% endif %}
                        </p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pages|length > 0 %}
        <div content="row">
            <div class="awe-text-center mt-50">
                <a class="md-btn md-btn--outline-primary" href="{{ pages[1].url }}">Больше</a>
            </div>
        </div>
    {% endif %}

</div>