<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[seo_title]]</title>
    [[seo_geo]]
    [[seo_meta_tags]]
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]

    <meta name="description" content="[[seo_description]]">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<section>
    <nav class="navbar is-transparent is-danger">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                {{ domain }}
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-end">
                [%nav_links%]
            </div>
        </div>
    </nav>
</section>
[[ad_block_top]]
<section class="section">
    <div class="container">
        <h1 class="title">
            [[seo_h1]]
        </h1>

        {{ template | raw }}

    </div>
    {% if __text is not empty %}
        <div>{{ __text | raw }}</div>
    {% endif %}
    <div>
        [[seo_text]]
    </div>
</section>
[[ad_block_bottom]]
<section>
    <footer class="footer">
        <div class="container">
            <section>
                [%cross_links%]
            </section>
            <div class="content has-text-centered" style="margin-top: 35px">
                <p>
                    {{ domain }}
                </p>
            </div>
        </div>
    </footer>
</section>

<script src="/js/index.js"></script>
<script src="https://selmarinel.github.io/maestro.youtube/dist/maestro.youtube.min.js"></script>
</body>
</html>