<section class="container main-screen-artists pb-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center artist-border py-2">
               <div>
                   <h1 class="mt-3 h4">[[seo_h1]]</h1>
                    <img src="{{ photo }}" alt="{{ name }}" width="200" class="mt-2"/>
                    <div class="col-6 justify-content-center">
                    {% if __tags is defined %}
                        {% for tag in __tags %}
                            <span>
                                <a href="{{ tag.__link }}" class="badge badge-pill badge-light">
                {{ tag.name }}
                                </a>
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>
                    </div>
            <p class="mt-5 text-center">[[seo_text]]</p>
        </div>

        {% for artist in items %}
            <div class="row col-lg-6 col-md-6 col-xs-12 col-sm-12 d-flex justify-content-center text-center">
                <div class="col-12 mt-4">
                    <a href="">{{ artist.name }}</a>
                </div>
                <div class="col-12">
                    <div class="artists-img shadow">
                        <a href="{{ artist.__link }}"><img src="{{ artist.photo }}" alt="{{ artist.name }}"/>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>