<section class="container main-screen">
    <div class="row pt-5">
        <div class="col-md-12 d-flex justify-content-center pt-5">
            <h1 class="text-uppercase">[[seo_h1]]</h1>
            <p>[[seo_text]]</p>
        </div>
    </div>
</section>
<section class="container-fluid second-screen py-5">
        [%audio_artists_list#5%]

    <hr class="mt-5">

    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
        <p>[[seo_text]]</p>
            </div>
        </div>
    </div>
</section>
<section class="container main-screen-end mb-1">
        [%audio_tracks_list#5%]
</section>