<section class="container main-screen-artists pb-5">
    [%breadcrumbs%]
    <div>
        <h1 class="mt-5">[[seo_h1]]</h1>
        <p class="mt-5">[[seo_text]]</p>
    </div>
    <div class="row d-flex justify-content-center pt-5 pb-5 pl-2 track-box align-items-center">
        <div class="col-md-10">
                <span class="mt-1">
                    {{ name }} - {{ duration | date('i:s', '+00:00 GMT') }}
                </span>
            <p class="small">{{ artistName }}</p>
            <span>
        <audio src="{{ url }}" controls="controls" preload="none" value="1.0" style="width: 80%;"></audio>
                </span>
        </div>
        <div class="col-md-1 align-self-end mb-2">
            <a href="{{ url }}" download="{{ name }}" class="btn btn-success">
                Скачать
            </a>
        </div>
        <div class=" col-md-12 card-footer text-light small mt-5">
            Сейчас слушают {{ totalListeners }} |
            Всего скачали {{ totalDownloads }} раз |
            Прослушали {{ totalListening }} раз
        </div>
    </div>
</section>