<div class="row">
    <div class="cont_breadcrumbs_2">
        <ul>
            {% for link in links %}
                <li><a href="{{ link.link }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
