<!-- menu-ovarlay -->
<nav class="menu-ovarlay">
    <!--  -->
    <ul class="wil-menu-list">
        {% for nav in links %}
        <li><a href="{{ nav.__link }}">{{ nav.name }}</a></li>
        {% endfor %}
    </ul><!--  -->

</nav><!-- End / menu-ovarlay -->