audio {
    margin: 0 auto;
    display: inline-block;
}

.image-in-card {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.white:first-child {
    border-radius: 5px 0 0 5px;
}

.white {
    background-color: #fff;
}

.white:last-child {
    border-radius: 0 5px 5px 0;
}

.pagination li>a, .pagination li>span {
    color:#000;
}

.all-content {
    border-top:1px solid #0b0a0f;
}

.cool-text {
    padding:0 10px;
}

.media-custom {
    border:1px solid #c6e2ff;
}

.sermon-meta {
    text-align:center;
}

.sermon-text h4 {
    text-align:center;
}

