<section class="container">
    <div class="row serials-top">
        <h3>{{ name }}</h3>
    </div>
    <div class="row">
        {% for seria in items %}
            <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="{{ seria.__link }}">
                        <img class="card-img-top" src="{{ seria.photo }}" alt="">
                    </a>
                    <div class="card-body">
                        <a href="{{ seria.__link }}" class="serial-elegant-title">{{ seria.titleRu }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="pagination-block">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="elegant-page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>