<section class="container">
    [%breadcrumbs%]
</section>
<section class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <h2 class="card-title">
                {{ titleRu }}
            </h2>
            <p class="card-text">
                <img class="elegant-img-thumbnail float-left" src="{{ photo }}" alt="{{ titleRu }}" style="margin: 10px">
            </p>
            <a href="{{ imdbUrl }}">
                <span class="badge badge-secondary">Imdb {{ imdbRating }}</span>
            </a>
            <a href="{{ kinopoiskUrl }}">
                <span class="badge badge-secondary">Kinopoisk {{ kinopoiskRating }}</span>
            </a>
        </div>
        <section class="col-lg-9 col-md-8 col-sm-6 row">
            {% for index,season in seasons %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="elegant-card-2">
                        <div class="elegant-card-body-2">
                            <h3 class="elegant-card-title-2">Сезон {{ season.season }}</h3>
                            <a href="{{ season.__link }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="pagination-block">
            <ul class="pagination">
                {% for page in pages %}
                    {% if page.isCurrent %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                    <a class="elegant-page-link" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
