<section class="container-fluid py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-light">Лучшие песни</h3>
            {% if pages|length > 0 %}
                <a href="{{ pages[1].url }}" class="text-light">
                    больше
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center bg-con text-center text-dark">
        <div class="col-12 my-2">
            {% for track in tracks %}
                <div class="text-center mt-2">
                    <a href="{{ track.__link }}" class="text-light">{{ track.name }}</a>
                    {% if track.artistName == "" %}
                        <div>
                            <small class="my-1">Unknown</small>
                        </div>
                    {% else %}
                        <p>
                            <small class="my-1">{{ track.artistName }}</small>
                        </p>
                    {% endif %}
                </div>
                <div>
                    <audio src="{{ track.source_url }}" controls preload="none" class="width-full"></audio>
                </div>
            {% endfor %}
        </div>
    </div>
</section>