<section class="container-fluid py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-light">Лучшие исполнители</h3>
            {% if pages|length > 0 %}
                <a href="{{ pages[1].url }}" class="text-light">
                    больше
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center bg-con text-center text-dark">
        {% for artist in artists %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 bg-secondary justify-content-center border border-dark">
                <a href="{{ artist.__link }}" class="text-dark hov p-3">
                    <div class="img-con">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}">
                        <div class="text text-center name-con">
                            <p class="py-3 text-light bg-con">{{ artist.name }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>