img {
    width:200px;
}

.short-story {
    padding:10px;
    margin:0 0 25px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.short-story a {
    text-decoration: underline;
}

.short-story a:hover {
    text-decoration: none;
}

.look-text h2 {
    font-size: 1.56rem;
}

.look-text {
    padding:10px;
    border-bottom:1px dotted black;
    border-radius:5px;
}

.look-text:hover {
    background:#fafafa;
}

.main-image {
    width:50%;
    float:left;
}

.media-more {
    float:right;
    margin:0 10% 0 0;
}

.clear {
    clear:both;
}

.card-title {
    padding:0 0 0 10px;
}

.rating {
    margin:0 7% 0 0;
}

.tree {
    display: flex;
    height: 55px;
    overflow-x: auto;
    overflow-y: hidden;
}

.breadcrumb {
    box-sizing: border-box;
    overflow:visible;
}

nav .nav-wrapper {
    position: relative;
}

.tree a button{
    overflow:visible !important;
    width:100% !important;
}

.row .col {
    max-width:100%;
}

.arrow-left {
    font-size:40px;
    float:left;
}

.arrow-right {
    font-size:40px;
    float:right;
}

button {
    width:100% !important;
}

.more-series {
    margin:0 0 0 10px;
}
