<a href="{{ film.__link }}"><img src="{{ film.photo }}" alt=""></a>
<a href="{{ film.__link }}">{{ film.titleRu }}</a>
<div>
    {% if film.__tags is defined %}
        {% for tag in film.__tags %}
            <a href="{{ tag.__link }}" style="display:inline-block; background: grey; color: black">
                <span>{{ tag.name }}</span>
            </a>
        {% endfor %}

    {% endif %}
</div>
<hr>