body {
    background: url("../img/main-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.screen-fit {
    min-height: 50vh;
}

.screen-fit-50 {
    min-height: 40vh;
}

.full-screen-height {
    min-height: 100vh;
}

.main-h1 {
    color: rgba(255, 0, 0, 0.4);
    text-shadow: 6px 0px 0px rgba(0, 0, 255, 0.4);
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
}

.nav > :nth-child(1):hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.nav > :nth-child(2):hover {
    background-color: rgba(0, 255, 0, 0.4);
}

.nav > :nth-child(3):hover {
    background-color: rgba(0, 0, 255, 0.4);
}

small, p {
    color: #383527;
}

.img-container {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
}

.img-container .img-container > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.audio-width {
    width: 40vw;
}

.artist-photo {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: rgba(241, 236, 233, 0.3) 4mm ridge;
}

.artist-photo .artist-photo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.artist-screen {
    background: #383527;
    min-height: 100vh;
}

.tracks-bg {
    background: url("../img/main-bg.jpg") no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
}

.track-bg {
    background-color: rgba(10, 58, 122, 0.18);
}

.large {
    width: 50vw;
}

.height-full {
    height: 100vh;
}

a {
    color: #fff2f2;
}

a:hover {
    color: #d1f1ff;
}

.counter-yellow:hover {
    box-shadow: 0 0 2px 1px #c1c100;
}

.counter-green:hover {
    box-shadow: 0 0 2px 1px #25c120;
}

.page-item.active .page-link {
    color: #fff2f2;
    background-color: rgb(109, 108, 79);
    border: rgb(109, 108, 79);
}

.page-item .page-link {
    color: rgb(56, 53, 39);
}

.btn-dark {
    background-color: rgb(109, 108, 79);
}

.bg-transparent {
    background-color: transparent;
}