<div class="container">
    <div class="mt-5 offset-lg-2 offset-md-2 offset-sm-0 offset-xs-0 ml-sm-3 ml-xs-3">
        <h1>[[seo_h1]]</h1>
        <strong class="text-warning ml-1">Топ {{ total }} песен</strong>
        {% if __text is not empty %}
            <p >{{ __text | raw }}</p>
        {% endif %}
        <p>[[seo_text]]</p>
        <div class="row justify-content-center mt-3">
            {% for track in tracks %}
                <div class="col-md-8 row border border-secondary rounded my-3 shadow">
                    <div class="col-md-10 align-self-center">
                        <a href="{{ track.__link }}" class="h5">
                            {{ track.name }}
                        </a>

                        <div>
                            {% if track.artistName == "" %}
                                <p>Unknown</p>
                            {% else %}
                                <p>{{ track.artistName }}</p>
                            {% endif %}
                        </div>

                        <div>
                            <audio src="{{ track.url }}" controls="controls" preload="none"></audio>
                        </div>
                    </div>
                    <div class="col-md-2 align-self-end mb-2">
                        <a href="{{ track.url }}" download="{{ track.name }}" class="btn btn-success">
                            Скачать
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-2">
            <div class="col d-flex justify-content-center">
                <ul class="pagination">
                    {% for page in pages %}
                        {% if page.isCurrent %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                        <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>