<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 d-flex justify-content-center
                        border-blue bg-dark py-2">
    <div>
        <a href="{{ seria.__link }}" class="item p-3">
            <div class="rating-style">
                <em><i class="fas fa-star"></i> <b>{{ seria.imdbRating }}</b>/10</em>
            </div>
            <div class="poster">
                <img src="{{ seria.photo }}" alt="{{ seria.titleRu }}">
                <div class="text text-center">
                    <p class="py-3">{{ seria.titleRu }}</p>
                </div>
            </div>
        </a>
        {% if seria.__tags is defined %}
            {% for tag in seria.__tags %}
                <a href="{{ tag.__link }}" class="badge badge-light text-center">
                    {{ tag.name }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>