<section class="container-fluid pt-5 mt-5 page">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-lg-center text-md-center
                        text-sm-left text-xs-left">
            <h1 class="pb-3">[[seo_h1]]</h1>
        </div>
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item border border-dark"
                src="//player{{ 'now'|date('U') }}.dzenkinos.kz/service/commercial/{{ videoId }}?illegal=1"
                allowfullscreen></iframe>
    </div>
    <div class="row my-4">
        <div class="col-12 text-light">
            <h5><strong>{{ titleRu }}</strong></h5>
            <small>{{ titleEn }}</small>
            <div class="my-2">
                {% if __tags is defined %}
                    {% for tag in __tags %}
                        <a href="{{ tag.__link }}" class="badge badge-danger">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <p class="my-5 p-3 text-khaki">[[seo_text]]</p>
        </div>
    </div>
</section>