<section class="container-fluid pt-5 mt-5 page">
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-lg-center text-md-center
                        text-sm-left text-xs-left">
                <h1 class="pb-3">[[seo_h1]]</h1>
                <p class="my-5 p-3">[[seo_text]]</p>
            </div>
        </div>
    </section>
    <section class="container-fluid all-content pt-5">
        <div class="row">
            {% for item in items %}
                <div class="row col-md-6">
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 my-3">
                        <div class="img-cont">
                            <a href="{{ item.__link }}"><img src="{{ item.photo }}" alt="{{ item.titleRu }}"></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 my-3">
                        <div class="text-container">
                            <a href="{{ item.__link }}"><p>{{ item.titleRu }}</p></a>
                            <em class="mx-3"><i class="fas fa-star"></i> {{ item.imdbRating }}/10</em>
                            <div>
                            <a href="{{ item.__link }}" class="btn btn-info btn-sm mt-2 mx-3">
                                Просмотр
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center py-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>