<section class="container-fluid">
    <section class="container-fluid content-box">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-lg-center text-md-center
                        text-sm-left text-xs-left">
                <h1 class="pb-3 pt-5">[[seo_h1]]</h1>
                <p>[[seo_text]]</p>
            </div>
        </div>
    </section>
    <section class="container-fluid films-content">
        <div class="row pt-5">
            <div class="col-12">
                [%movies_list%]
                [%tv_series_list%]
            </div>
        </div>
    </section>
</section>