<section class="container-fluid mt-5 page">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-lg-center text-md-center
                        text-sm-left text-xs-left">
            <h1 class="pb-3 pt-5">[[seo_h1]]</h1>
        </div>
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 px-5 text-center">
            <div class="bg-secondary pb-3">
                <h5 class="bg-dark text-light py-1 px-2">Cезоны:</h5>
                {% for index,episode in episodes %}
                    <a href="{{ episode.__link }}" class="pt-2 btn btn-info mx-1 my-2">{{ episode.season }} Сезон / {{ episode.episode }} Эпизод
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center py-3">
                    {% include "driver/base/paginate_limit.twig" %}
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <ul class="pagination">
                        {% for page in pages %}
                            {% if page.isCurrent %}
                                <li class="page-item active">
                            {% else %}
                                <li class="page-item">
                            {% endif %}
                            <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="my-5 p-3 text-khaki">[[seo_text]]</p>
        </div>
    </div>
</section>