<section class="container-fluid mt-5 page">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-lg-center text-md-center
                        text-sm-left text-xs-left">
            <h1 class="pb-3 pt-5">[[seo_h1]]</h1>
        </div>
        <div class="col-12">
            [%breadcrumbs%]
        </div>
    </div>
    <div class="row my-3">
        <div class="col-2">
            <img class="img-prop" src="{{ photo }}" alt="{{ titleRu }}">
        </div>
        <div class="col-6">
            <div class="text-container text-light">
                <p>{{ titleRu }}</p>
                <div class="px-3">
                    <small>{{ titleEn }}</small>
                    <ul class="my-1">
                        <li><em>IMdb: <i class="far fa-star"></i> {{ imdbRating }}/10</em>
                        <li><em>Kinopoisk: <i class="far fa-star"></i> {{ kinopoiskRating }}/10</em>
                        <li>{% if __tags is defined %}
                                {% for tag in __tags %}
                                    <a href="{{ tag.__link }}" class="badge badge-danger">
                                        {{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-secondary">
            <h5 class="bg-dark text-light py-1 px-2">Cезоны:</h5>
            {% for index,season in seasons %}
                <a href="{{ season.__link }}" class="mb-2 mx-1 btn btn-info">{{ season.season }} Сезон</a>
            {% endfor %}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center py-3">
                        {% include "driver/base/paginate_limit.twig" %}
                    </div>
                    <div class="col-12 d-flex justify-content-center py-3">
                        <ul class="pagination">
                            {% for page in pages %}
                                {% if page.isCurrent %}
                                    <li class="page-item active">
                                {% else %}
                                    <li class="page-item">
                                {% endif %}
                                <a class="page-link" href="{{ page.url }}">{{ page.num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="my-5 p-3 text-khaki">[[seo_text]]</p>
        </div>
    </div>
</section>