<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[seo_title]]</title>
    <meta content="[[seo_description]]" name="description">
    [[seo_geo]]
    [[seo_meta_tags]]
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    [[seo_global_meta_tags]]
    [[seo_meta_schema]]
    <link rel="stylesheet" href="https://cdn.plyr.io/3.3.7/plyr.css">
    <link rel="stylesheet" href="/css/flat-ui.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">{{ domain }}</a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        [%nav_links%]
    </div>
</nav>
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <h1>[[seo_h1]]</h1>
            </div>
        </div>
    </div>
</header>
[[ad_block_top]]
<section class="all-content">
    {{ template | raw }}
</section>
{% if __text is not empty %}
    <div>{{ __text | raw }}</div>
{% endif %}
<div class="cool-text">
    [[seo_text]]
</div>
[[ad_block_bottom]]
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                [%cross_links%]
            </div>
        </div>
    </div>
    <div class="container">
        <span class="text-muted">{{ domain }}</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="/js/flat-ui.min.js"></script>
<script src="https://cdn.plyr.io/3.3.7/plyr.js"></script>
<script>
    $.each($('audio'), function () {
        let e = new Plyr($(this));
    });
</script>
</body>
</html>